
        <div class="col-md-offset-1 col-md-9">
          <div class="row">
            <div class="col-md-6">
                <div class="news-blocks blank-card blank-card-twitter newsCard" style="padding: 15px;min-height:initial !important;padding-top: 5px;">
                <h3 style="margin-top:0px;font-size:20px"><i class="fa fa fa-cogs" style="font-size:18px"></i>{{ _(' Custom Fields Builder') }}</h3>
                    <form class="">
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">{{_("Field label")}}</label>
                                        <div class="col-md-9">
                                            <input type="text"  placeholder="{{_('Label')}}" class="form-control" ng-model="accounts.customfield.label">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">{{_("Field type")}}</label>

                                        <div class="col-md-9">
                                            <select class="form-control" ng-model="accounts.customfield.type">
                                                <option value="" disabled selected>Select Type</option>
                                                <option value="text">{{_("Text")}}</option>
                                                <option value="paragraph">{{_("Paragraph Text")}}</option>
                                                <option value="radio">{{_("Multiple choice")}}</option>
                                                <option value="checkbox">{{_("Checkboxes")}}</option>
                                                <option value="list">{{_("Choose from a list")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="accounts.customfield.type=='multiple_choice'||accounts.customfield.type=='list'||accounts.customfield.type=='radio'||accounts.customfield.type=='checkbox'">
                                <div class="form-group">
                                    <div class="row">
                                       <!--  <label class="control-label col-md-4">{{_("Field options")}}</label> -->
                                        <div class="col-md-offset-3 col-md-9">
                                             <ul style="padding-left: 0px;padding-top: 5px;list-style: none;" sv-root sv-part="accounts.customfield.options">
                                                <li ng-repeat='option in accounts.customfield.options' style="padding: 0px;margin-bottom: 5px;" sv-element="opts">
                                                    <span sv-handle style="width: 14%;float: left;line-height: 32px;font-size: 14px;color: gray;" ng-class="{'optionSpace':accounts.customfield.options.length<2}">
                                                        <i  ng-show="accounts.customfield.options.length>1" class="fa fa-reorder" style="font-size:12px;cursor:move;"></i>
                                                        <span ng-show="accounts.customfield.type=='list'"><%=$index+1%>.</span> 
                                                        <span ng-show="accounts.customfield.type=='radio'"><input type="radio" disabled style="cursor:pointer"></span>
                                                         <span ng-show="accounts.customfield.type=='checkbox'"><input type="checkbox" disabled style="cursor:pointer"></span> 

                                                    </span>
                                                    <input type="text"  id="option-<%=$index%>" placeholder="{{_('Title')}}" class="form-control" style="width: 80%;float: left;display: inline-block;" value="<%=option%>" ng-blur="udpateOption($index,accounts.customfield)">
                                                    <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" style="opacity: 1; top: 14px;  float: left; margin-top: 12px;margin-left: 5px;width: 10px;line-height: 32px;" ng-click="removeOption(accounts.customfield.options,accounts.customfield.option)"></button>
                                                    <div class="clearfix"></div>
                                                    </li>
                                            </ul>
                                            <div>
                                                <span ng-show="accounts.customfield.type=='list'" style="width: 14%;float: left;line-height: 32px;font-size: 14px;color: gray;padding-left: 18px;">
                                                <%=accounts.customfield.options.length+1%>.</span>
                                                <span ng-show="accounts.customfield.type=='radio'" style="width: 14%;float: left;line-height: 32px;font-size: 14px;color: gray;padding-left: 18px;"><input type="radio" disabled style="cursor:pointer"></span>
                                                <span ng-show="accounts.customfield.type=='checkbox'" style="width: 14%;float: left;line-height: 32px;font-size: 14px;color: gray;padding-left: 18px;"><input type="checkbox" disabled style="cursor:pointer"></span> 
                                                <input type="text" placeholder="Add new option.." class="form-control" ng-model="accounts.customfield.newOption" ng-click="addOption(accounts.customfield.options,accounts.customfield)" style="width: 80%;float: left;display: inline-block;cursor: pointer;background-color: #F4F4F4!important;">    
                                            </div>       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <input ng-click="" type="submit" class="btn btn-default" value="Clear" style="margin-right: 5px;">
                                    <input ng-click="" type="submit" class="btn blue" value="Add">
                                </div>
                            </div>
                        </div>
                    </form>
               </div>
            </div>
            <div class="col-md-6">
                 <div class="news-blocks blank-card blank-card-gray newsCard">
                                    <h3 style="margin-top:0px;font-size:20px"><i class="fa fa fa-list-alt" style="font-size:18px"></i>{{ _(' Custom Fields Preview') }}</h3>
                                    <div class="col-md-12" ng-show="accounts.customfield.type">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="control-label col-md-12"><%=accounts.customfield.label%></label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" id="elementContainer" >
                                                    <select class="form-control" ng-show="accounts.customfield.type=='list'">
                                                        <option id="elementOptions" value="<%=option%>" ng-repeat="option in accounts.customfield.options"><%=option%></option>
                                                    </select>
                                                    <div ng-show="accounts.customfield.type=='radio'" role="radiogroup" ng-repeat="option in accounts.customfield.options">
                                                        <input type="radio"  ng-value="option" value="<%=option%>">
                                                        <label for="<%=option%>"> <%=option%></label>
                                                        <br>        
                                                    </div>
                                                    <div ng-show="accounts.customfield.type=='checkbox'" role="radiogroup" ng-repeat="option in accounts.customfield.options">
                                                        <input type="checkbox" value="<%=option%>">
                                                        <label for="<%=option%>"> <%=option%></label>
                                                        <br>        
                                                    </div>
                                                    <input type="text" class="form-control" ng-show="accounts.customfield.type=='text'">
                                                    <textarea class="form-control" ng-show="accounts.customfield.type=='paragraph'"></textarea>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
            </div>
               
         </div>
     </div>