<div class="row subHeader">
    <div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{_(active_app.label)}}
            <i class="icon-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>
  <div class=" subHeaderContent">
   
 <div class="col-md-9">
            <h2 class="page-title">
                <a href="/#/billing" data-toggle="tooltip" data-placement="bottom" title="Back to contacts">
                    <img onload="this.__gwtLastUnhandledEvent = & quot;
                            load & quot;
                            ;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false">
                </a>
                {{_("Billing")}} >
                <!-- 
                <a editable-text="contact.firstname" onbeforesave="inlinePatch('Contact','', 'firstname',contact.entityKey,$data)">
                    <%= contact.firstname %>
                </a>
                <a editable-text="contact.lastname" onbeforesave="inlinePatch('Contact','', 'lastname',contact.entityKey,$data)" >
                    <%= contact.lastname %>
                </a>-->
            </h2>
           
        </div>
  </div>
</div>

<div  class="page-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                Loading...
            </div>
        </div>
    </div>
    <div class="" ng-show="immediateFailed">
        <div class="col-md-12">
            <h1>Sign-in Button;</h1>
            <span id="signin">
                <span id="myGsignin"></span>
            </span>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-9">
            <div class="row">
                
                <div class="showPage slimForm col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-9">
                                   
                                        <div class="row">
                                            <div class="col-md-9">
                                            <div class="pic">

                                            <a href="/#/admin/users/show/<%= user.google_user_id %>" class="">
                                                <img alt="<%= user.google_display_name%>" src="<%=user.google_public_profile_photo_url%>" class="img-responsive profile-photo-large-billing-show" >

                                                <span>
                                                  <%=user.google_display_name%>
                                                </span>
                                             </a>

                                                
                                            </div>
                                         
                                            </div>

                                 
                                        </div>
                                       
                                </div>
                            </div>
                            <div class="col-md-12">
                                 <span class=" pull-right"  >
               <button id="customButton" class="btn red newBtn" ng-disabled="isLicensed">Purchase</button>                                      <!-- 
                                              <form action="/paying" method="POST" id="BillingForm">
                                      <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_4Xa35zhZDqvXz1OzGRWaW4mX"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form>   -->
                                            </span>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>

  <!-- be careful her where the charges will appear -->
  <!-- begin -->
        <div class="row">
            <div class="col-md-12">
                                <ul class="list-charge-group">
                              
                                    <!-- here all the charges will appear -->
                                    <!-- here -->
                             <li  ng-repeat="subscription in user.subscriptions" class="taskCard list-group-item" droppable ng-drop="dropTag(task)" id="task_<%=$index%>" title="<%= task.status_label %>" style="border-left: 3px solid <%= task.status_color%>;"  ng-mouseover="deletetask=true" ng-init="deletetask=false" ng-mouseleave="deletetask=false">

                                     <div class="row">
   
                                       <h4   class="col-md-6 col-xs-10 list-group-item-heading"
                                       >
                                          <a href="/#/tasks/show/<%= task.id %>"> <%= subscription.plan %></a>
                                      <br/> 
                                      <span> Starts at : 
                                        <%= subscription.current_period_start %>
                                      </span>
                                      <br/>
                                      <span>
                                        Ends at : 
                                        <%= subscription.current_period_end %>
                                      </span>
                                       </h4>


 
                                    </div>
 
                                  </li>
                                  <li class="taskCard list-group-item cardElement loaderCard" ng-show="loadCharges">
                                            <div   data-span="all">
                                      <div class="loaderCardContent">
                                      <img class="img-responsive " src="/static/src/img/gloader.gif">
                                       <span>  Loading...</span>
                                         </div>
                                            </div>
                                  </li>
                                    <!-- end -->
       

                                </ul>
                              </div>

        </div>
 <!-- end -->
           
        </div>
        
   
    </div>
</div>
<script type="text/javascript">
    $("#BiilingForm").submit(function() {

    // var url = "path/to/your/script.php"; // the script where you handle the form input.

    // $.ajax({
    //        type: "POST",
    //        url: url,
    //        data: $("#idForm").serialize(), // serializes the form's elements.
    //        success: function(data)
    //        {
    //            alert(data); // show response from the php script.
    //        }
    //      });

    // return false; // avoid to execute the actual submit of the form.
});
</script>


<script type="text/javascript">
    $(function() {
        $('#datetimepicker2').datetimepicker({
            language: 'fr',
            pickTime: false
        });
    });
</script>
