<div class="row subHeader action-bar">
    <div class="currentApp">
        <a class="filterItem" href="#" data-toggle="dropdown">
            <span class="active-app"><i class="fa fa-cog"></i> {{ _(active_app.label) }} </span> <!---->
            <i class="icon-angle-down fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            {% for application in apps %}
                <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{ _(application.label) }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="subHeaderContent" style="border-right-width: 0;">
        <div class="col-md-4 active-app"><i class="fa fa-building section-icon"></i>
            {{ _('Company Profile') }}
        </div>
        <a class="btn red save-btn pull-right" id="customButton" ng-click="submit()">
            <i class="fa fa-floppy-o"></i> {{ _('Save') }}
        </a>
    </div>
</div>
<!-- end Header bar -->

<!-- Main content -->
<div class="page-content admin-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Loading...') }}
            </div>
        </div>
    </div>

    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Loading...') }}
            </div>
        </div>
    </div>
    <div ng-show="immediateFailed">
        <div class="col-md-12">
          <span id="signin">
            <span id="myGsignin"></span>
          </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="billing-card">
            <h3 class="billingTitle">
                <i class="fa fa-building" style="font-size: 21px;"></i>{{ _('Details') }}</h3>

            <div class="news-block-tags relatedBlock purchaseLicenses">
                <form id="billing-form">
                    <div id="gmap_canvas" style="width:100%;height:300px; display:none"></div>
                    <div class="form-inline newLeadForm margin-bottom-10" role="form">
                        <div class="input-icon">
                            <i class="fa fa-building"></i>
                            <input type="text" class="form-control" ng-model="billing.company_name"
                                   placeholder="{{ _('company name') }}" required>
                        </div>
                    </div>
                    <div class="row  margin-bottom-10">
                        <div class="col-md-6 firstNameLeft">
                            <input ng-model="billing.contact_firstname" type="text" id="firstName"
                                   class="form-control sm-margin-bottom-10" placeholder="{{ _('First Name') }}">
                        </div>
                        <div class="col-md-6 lastNameRight">
                            <input type="text" id="lastName" ng-model="billing.contact_lastname"
                                   class="form-control" placeholder="{{ _('Last Name') }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-icon  margin-bottom-10"
                                 ng-class="{ 'has-error': billingError.address }">
                                <i class="fa fa-map-marker"></i>
                                <input id="pac-input" ng-model="billing.address"
                                       class="form-control address-input" type="text"
                                       placeholder="{{ _('Billing address') }}" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-inline newLeadForm margin-bottom-10" role="form">
                        <div class="input-icon" ng-class="{ 'has-error': billingError.email }">
                            <i class="fa fa-envelope"></i>
                            <input class="form-control" ng-model="billing.email" placeholder="{{ _('Email address') }}"
                                   pattern="[A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4}" type="email">
                        </div>
                    </div>
                    <div class="form-inline newLeadForm  margin-bottom-10" role="form">
                        <div class="input-icon" ng-class="{ 'has-error': billingError.phone_number }">
                            <i class="fa fa-phone"></i>
                            <input type="text" class="form-control" ng-model="billing.phone_number"
                                   placeholder="{{ _('Phone number') }}" pattern="^([0|\+[0-9]{1,5})?([1-9][0-9]{9})$">
                        </div>
                    </div>
                </form>
            </div>
            <!--  <h3 class="billingTitle">
                 <i class="fa fa-sitemap" style="font-size: 21px;"></i>{{ _('Organization') }}
             </h3> -->
            <div class="news-block-tags relatedBlock purchaseLicenses">
                <!--  <a class="btn blue"  ng-click="submit()" style="margin-right: 15px;">
                     <i class="fa fa-chain"></i> Join new organization
                 </a> -->
                <!-- <a class="btn red  "  ng-click="beforedeleteOrganization()">
                    <i class="fa fa-trash-o"></i> Delete organization
                </a> -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="billing-card logo-box showPage" ng-controller="SearchFormController">
            <h3 class="billingTitle">
                <i class="fa fa-camera" style="font-size: 21px;"></i>{{ _('Header Logo') }}
            </h3>
            <div style="padding-left: 15px; border: none;">
                <div>
                    <div class="form-group">
                        <div class="radio-list">
                            <label>
                                <input type="radio" value="default" ng-model="logo.type" ng-click="switchLogo()">
                                {{ _('Default Logo') }}
                            </label>
                            <img src="/static/src/img/iogrow-logo-app.png" alt="logo"
                                 style="border:solid #E2E2D7 1px;margin-left: 75px;margin-bottom: 15px;"/>
                            <label>
                                <input type="radio" value="custom" ng-model="logo.type"
                                       ng-click="switchLogo()">
                                {{ _('Custom Logo') }}
                            </label>

                            <div ng-click="logo.type='custom'; createPickerUploader();">

                                <img ng-src="<%= customLogo %>" alt="logo" height="34px"
                                     style="border:solid #E2E2D7 1px;margin-left: 75px;" ng-show="customLogo"/>
                                    <span style="border:solid #E2E2D7 1px;margin-left: 75px;padding: 7px;"
                                          ng-hide="customLogo">
                                        {{ _('Your logo here') }} ... </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="font-size: 12px"><b>{{ _('Upload a custom image') }} </b> <br>
                {{ _('Your custom logo will be displayed for all services in the header') }}. <br/>
                {{ _('The image file should be in PNG or GIF format, up to 144 x 32 pixels') }}. <br/>
                {{ _('Uploading a new logo will replace your current one across all iogrow products and for all users') }}.
            </div>
            <a class="btn default margin-top-10 col-md-offset-4" ng-click="createPickerUploader()">
                {{ _('Choose a file') }} </a>
        </div>
    </div>
</div>
<div id="beforedeleteOrganization" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">Delete Organization </h3>
            </div>
            <div class="modal-body">
                <form id="seletesho" name="deletesho" class="form-horizontal">
                    <fieldset>
                        <p>{{ _("By deleting your organization, all your data will be deleted and you will be automatically logging out!") }}.</p>
                    </fieldset>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _("Cancel") }}</button>

                <input ng-click="deleteOrganization()" type="submit" class="btn red" value="Delete">
                <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
            </div>
            </form>
        </div>
    </div>
</div>
<!-- end Main content