

<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
        <ul class="page-sidebar-menu">
        
        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{tab.url}}"><i class="icon-cogs"></i><span class="title">{{tab.label}}</span></a></li>
          {% endfor %}
        </ul>
     
     
      <!-- END SIDEBAR MENU -->
</div>
    
<div  class="page-content">
    

   <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <div id="portlet-config" class="modal hide">
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button"></button>
          <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
          <p>Here will be a configuration form</p>
        </div>
      </div>
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE CONTAINER-->
      <div class="container-fluid" ng-show="immediateFailed">
         <div class="span12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
      <div id="addGroupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
         <div class="modal-content">
              <div class="modal-header">
                
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h3 id="myModalLabel">{{_("New Group")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addAccount" name="addaccount" ng-submit="addGroup(group)" class="form-horizontal"> 
                  <fieldset>
                  
                   

                    <div class="form-group">
                        <!--label  class="required control-label">{{_("Group Name")}} *</label-->
                       
                    <input type="text" class="form-control" placeholder="{{ _('Group Name') }}" required required id="id_name" ng-model="group.name" >
                          
                       
                    </div>
                    
                    </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn green addContactNow">{{_("Add this group")}}</button>
              </div>
               </form>
        </div>
        </div>
       </div>
      <div class="container-fluid" ng-show="isSignedIn">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
      <div class="row">  
        <div class="col-md-12">
            <h2>{{ _("Groups") }} </h2>
        </div>
      </div>
        <div class="row">
            <div class="col-md-12">
            
                    <button  ng-click="showModal()" id="sample_editable_1_new" class="btn red">
                    {{ _("New Group") }} <i class="icon-plus"></i>
                    </button>
            </div>
        </div>
         <hr/>
            
            <div class="row cards-container">
             <div class="col-md-12">
            <div class="inner-cards-container">
            
              <div ng-repeat="group in groups" class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat cards-small">
                  
                  <div class="details">
                    <div class="inner-small-card">
                    <a href="/#/admin/groups/show/<%= group.id %>">
                    
                    <p class="card-small-title" >
                      <%= group.name %>
                    </p>
                   
                    </a>
                  </div>
                    
                  </div>
                                  
                </div>
              </div>
              <div class="row">
              <div class="col-md-12">
            <div class="pagination pull-right" ng-hide="isLoading">
                  
                  <ul>
                    <li ng-show="pagination.prev"><button ng-click="listPrevPageItems()" id="sample_editable_1_new" class="btn">
                    {{_("Prev")}} 
                    </button></li>
                    <li ng-repeat="page in pagination.pages" ng-class='{active: page.isCurrent}'><a  href="#/accounts/p/<%= page.id %>"><%= page.id %></a></li>
                    <li  ng-show="pagination.next"><button ng-click="listNextPageItems()"  class="btn">
                    {{_("Next")}} 
                    </button></li>
                  </ul>
                </div>
                <h3 class="pagination pull-right" ng-show="isLoading">Loading...</h3>
          </div>
          </div>
              </div>
             </div> 
            </div>
          
            
          
        
        <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE CONTAINER--> 
</div>