<div class="row subHeader">
    <div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{active_app.label}}
            <i class="icon-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{application.label}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>
  <div class=" subHeaderContent">
    <div class="pull-right sharebuttonDiv" ng-show="!blankStateaccount">


    </div>
    <h2 class="page-title">{{ _("Groups") }} </h2>
  </div>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
          <div class="loader-content">
            Loading...
          </div>
        </div>

  </div>
  <div ng-show="immediateFailed">
    <div class="col-md-12">

      <span id="signin">
        <span id="myGsignin"></span>
      </span>
    </div>
  </div>
  <div class="row" ng-show="isSignedIn">
    <div class="col-md-9">
      <button  ng-click="showModal()" id="sample_editable_1_new" class="btn red newBtn">
        {{ _("New Group") }}
      </button>
    </div>
    <div class="col-md-9">
     <div class="row">
      <div class="tab-pane">
      <div class="row">
        <div class="col-md-12 waterfall" ng-hide="blankStateaccount">
          <div ng-repeat="group in groups" ng-class="{rightcards: getPosition($index)==4}" droppable data-column="<%=getPosition($index)%>" id="card_<%=$index%>"class="cardElement" ng-drop="dropTag(contact,$index)">
            <div class="detailsSection">
              <div class="head">
                <!-- <div class="pic">
                  <a href="<%= user.google_public_profile_url %>" class="startup-link" title="user.google_display_name">
                    <img ng-show="user.google_public_profile_photo_url" class="google-avatar" ng-src="<%= user.google_public_profile_photo_url %>">
                  </a>
                </div> -->
                <div class="text">
                  <div class="name">
                    <a href="/#/admin/groups/show/<%= group.id %>" class="profile-link">
                       <%= group.name %>
                    </a>
                  </div>
                  <div class="pitch">


                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div><!--innercardcontaine-->
      </div>
    </div>
    </div>
  </div>
<div id="addGroupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
         <div class="modal-content">
              <div class="modal-header">

              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h3 id="myModalLabel">{{_("New Group")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addAccount" name="addaccount"  class="form-horizontal">
                  <fieldset>



                    <div class="form-group">
                        <!--label  class="required control-label">{{_("Group Name")}} *</label-->

                    <input type="text" class="form-control" placeholder="{{ _('Group Name') }}" required required id="id_name" ng-model="group.name" >


                    </div>

                    </fieldset>

              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn green addContactNow" ng-click="addGroup(group)">{{_("Add this group")}}</button>
              </div>
               </form>
        </div>
        </div>
       </div>

<script type="text/javascript">
 $('#slimtest1').slimScroll({
                    height: '20px'
  });
  $("#select2_sample2").select2({
        placeholder: "Click to Select a label",
        allowClear: false
  });
  var handleUniform = function () {
        if (!jQuery().uniform) {
            return;
        }
        var test = $("input[type=radio]:not(.toggle, .star)");
        if (test.size() > 0) {
            test.each(function () {
                if ($(this).parents(".checker").size() == 0) {
                    $(this).show();
                    $(this).uniform();
                }
            });
        }
    }
    handleUniform();
   $('.waterfall').waterfall({
        colMinWidth: 210,
        defaultContainerWidth: 800,
        autoresize: true
  });
</script>
