<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
        <ul class="page-sidebar-menu">
        
        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{tab.url}}"><i class="icon-cogs"></i><span class="title">{{tab.label}}</span></a></li>
          {% endfor %}
        </ul>
     
     
      <!-- END SIDEBAR MENU -->
</div>
    
<div  class="page-content">
    

   <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <div id="portlet-config" class="modal hide">
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button"></button>
          <h3>{{ _('portlet Settings')}}</h3>
        </div>
        <div class="modal-body">
          <p>{{ _('Here will be a configuration form')}}</p>
        </div>
      </div>
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE CONTAINER-->
      <div ng-show="immediateFailed">
         <div class="col-md-12">  
           
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
      <div id="addMemberModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
         <div class="modal-content">

              <div class="modal-header">
              
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h3 id="myModalLabel">{{_("Add a new member")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addMember" name="addaccount" ng-submit="addNewMember(slected_memeber,role)" class="form-horizontal"> 
                  <fieldset>
                  
                   
                   
                    <div class='container-fluid'>
                    <div class="invitation" ng-show="slected_memeber">
                      <img class="google-avatar" src="<%= slected_memeber.google_public_profile_photo_url%>"/>
                        <strong> <%= slected_memeber.google_display_name %> < <%=slected_memeber.email%> ></strong>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Add people to this group:</label>
                      <input type="text" class="form-control"  ng-model="user" typeahead="user as user.google_display_name + ' <' + user.email + '>' for user in users | filter:$viewValue | limitTo:8" typeahead-on-select="selectMember()" class="input-block-level" placeholder="Enter name or email addresse to add people to this group">
                    </div>
                    <div class="form-group">
                          <label class="control-label">{{ _('Add member as:')}}</label>
                           <select class="form-control" ng-model="role">
                              <option value="member">{{ _('Member')}}</option>
                              <option value="owner">{{ _('Owner')}}</option>
                              
                            </select>
                       
                    </div>
                      </div>
                    
                    </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn green addContactNow">{{_("Add this member")}}</button>
              </div>
               </form>
        
        </div>
        </div>        
       </div>
      <div  ng-show="isSignedIn">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
          
          <div class="col-md-12">
            <h2>
            <a href="/#/admin/groups" data-toggle="tooltip" data-placement="bottom" title="Back to Accounts">
            <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false"></a>     {{_("Groups")}} > <%= group.name%> > Members</h2>            
                       
          </div>
        </div>
        <div class="row">
           <div class="col-md-12">
                
            
                    <button  ng-click="showModal()" id="sample_editable_1_new" class="btn red">
                    {{ _("New Member") }} <i class="icon-plus"></i>
                    </button>
            
           </div>
        </div>
        <hr/>
            
          <div class="row cards-container">
            <div class="col-md-12">
            <div class="inner-cards-container">
            
            <div ng-repeat="member in group.members" class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat cards-small">
                                  
                  <div class="details">
                    <div class="desc">
                    <a href="<%= member.google_public_profile_url %>">
                    <center><img class="google-avatar" ng-src="<%=member.photo%>"></center>
                    <p class="card-small-title" >
                      <%= member.display_name %> 
                    </p>
                    
                    </a>
                  </div>
                    
                  </div>
                                  
                </div>
             
              </div>
          <div class="row">
            <div class="col-md-12">
            <div class="pagination pull-right" ng-hide="isLoading">
                  
                  <ul>
                    <li ng-show="pagination.prev"><button ng-click="listPrevPageItems()" id="sample_editable_1_new" class="btn">
                    {{_("Prev")}} 
                    </button></li>
                    <li ng-repeat="page in pagination.pages" ng-class='{active: page.isCurrent}'><a  href="#/accounts/p/<%= page.id %>"><%= page.id %></a></li>
                    <li  ng-show="pagination.next"><button ng-click="listNextPageItems()"  class="btn">
                    {{_("Next")}} 
                    </button></li>
                  </ul>
                </div>
           
                <h3 class="pagination pull-right" ng-show="isLoading">{{ _('Loading...')}}</h3>
            </div>
          </div>

          </div>
          
          </div>
          
            
          
        
        <!-- END PAGE CONTENT-->
     
      </div>
      <!-- END PAGE CONTAINER--> 
</div>
