<div class="row subHeader action-bar">
    <div class="currentApp">
        <a class="filterItem" href="#" data-toggle="dropdown">
            <span class="active-app"><i class="fa fa-cog"></i> {{_(active_app.label)}}</span>
            <i class="icon-angle-down fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            {% for application in apps %}
            <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{ _(application.label) }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="subHeaderContent" style="border-right-width: 0px;">
        <a class="btn" ng-show="nbrSelected > 1" ng-click="deleteSelected()">
            <i class="fa fa-trash-o"></i>
        </a>
        <div class="col-md-4 active-app"><i class="fa fa-credit-card section-icon"></i>
            {{ _('Billing & Subscription Settings') }}
        </div>
        <!-- <a class="btn red save-btn pull-right" href="" ng-click="addCasestatustModal()">
            <i class="fa fa-plus"></i> {{ _('New') }}
        </a> -->
    </div>
</div>
<!-- Main content -->
<div class="page-content admin-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Loading...') }}
            </div>
        </div>
    </div>
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Loading...') }}
            </div>
        </div>
    </div>
    <div ng-show="immediateFailed">
        <div class="col-md-12">
          <span id="signin">
            <span id="myGsignin"></span>
          </span>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="billing-card">
            <div class="row" style="padding: 0px 7%;margin-bottom: 40px">
                <h3 class="billingTitle">
                    <i class="fa fa-building" style="font-size: 21px;"></i>{{ _('Subscription') }}</h3>
                <hr>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="text-align: left">Subscription type:</label>
                        <div class="col-sm-6">
                            <p class="form-control-static"> <%= subscription.plan.name
                                || 'Freemium' %></p>
                        </div>
                    </div>
                    <div class="form-group" ng-show="subscription.expiration_date">
                        <label class="col-sm-4 control-label" style="text-align: left">Expiration date:</label>
                        <div class="col-sm-6">
                            <p class="form-control-static"> <%= subscription.expiration_date| date:'MMM dd, yyyy'%></p>
                        </div>
                    </div>
                    <a ng-show="subscription.plan.name == 'freemium'" class="btn btn-default"
                       ng-href="<%= subscription_url %>">
                        Upgrade
                    </a>
                </form>
            </div>
            <div class="row" style="padding: 0px 7%;margin-bottom: 40px;" ng-show="subscription.plan.name == 'premium'">
                <h3 class="billingTitle">
                    <i class="fa fa-building" style="font-size: 21px;"></i>{{ _('Payment information.') }}</h3>
                <hr>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="text-align: left">Auto renew:</label>
                        <div class="col-sm-6">
                            <p class="form-control-static"><%= subscription.is_auto_renew ? 'Disabled':'Enabled' %></p>
                        </div>
                    </div>
                    <button class="btn btn-default" ng-click="changeAutoRenew(subscription.is_auto_renew)">
                        <%=  subscription.is_auto_renew ? 'Disabled':'Enabled'  %> Auto renew
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="disable_auto_renew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do you want to disable Auto renew for your subscription</h4>
            </div>
            <div class="modal-body">
                <p>Your subscription wont be activated automatically for the next <%= subscription.plan.interval %>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="disableAutoRenew()">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>