<div class="row subHeader">
    <div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{_(active_app.label)}}
            <i class="icon-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>
  <div class=" subHeaderContent">
    <div class="pull-right sharebuttonDiv" ng-show="!blankStateaccount">


    </div>
    <h2 class="page-title"><i class="fa  fa-building "></i> <%=organization.name%> / {{ _("Licenses and Users management") }} </h2>
  </div>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
          <div class="loader-content">
            {{ _('Loading...')}}
          </div>
        </div>

  </div>
  <div ng-show="immediateFailed">
    <div class="col-md-12">

      <span id="signin">
        <span id="myGsignin"></span>
      </span>
    </div>
  </div>
  <div class="row" ng-show="isSignedIn">
     <div class="showPage margin-bottom-15 col-md-12" style="padding-top:10px; padding-bottom:10px;">
       <div class="col-sm">
        <i class="fa  fa-group "></i>
         <%=organization.nb_users%> {{ _(' Users')}} <!--nb users>-->
       </div>
       <div class="col-lg">
        <i class="fa  fa-key "></i>
         <%=organization.nb_licenses%> {{ _(' licenses')}}  <i class="fa  fa-user "></i>     <%=organization.nb_used_licenses%>  {{ _(' assigned')}}  <!--nb licenses>-->
       </div>
       <div class="col-sm">
       <i class="fa  fa-ticket "></i>
         <%=organization.nb_licenses - organization.nb_used_licenses%> available <!--nb active licenses>-->
       </div>
       <div class="col-sm">
        <i class="fa  fa-check "></i>
         {{ _(' Licence type')}}: <%=organization.license.name%> <!-- licenses type>-->
       </div>       
       <div class="col-lg">
        <i class="fa  fa-calendar "></i>
          {{ _(' Expire')}}  : <%=organization.expires_on | date:'yyyy-MM-dd '%> <!--ex date>-->
       </div>
       <button  title='{{ _("Purchase")}}' class="btn btn-sm blue task_action pull-right"  ng-click="reopenTask()" >
             <i class="fa fa-shopping-cart"></i>
              <span class="btn-text">
                {{ _('Purchase')}}
              </span>
        </button>
        <div class="clearfix"></div>
     </div>
     <div class="showPage margin-bottom-15 col-md-12 task-actions" style="padding-top:10px; padding-bottom:10px;">
        <div class="col-md-12" style="/* margin-bottom:15px; */">
          <button title="Add new user" class="btn btn-sm blue task_action" ng-click="reopenTask()">
              +            
             <i class="fa fa-user"></i><span class="btn-text">  {{ _('Add new user')}}</span>
               
           </button>
           <button ng-class="{disabled: selected_users.length==0}" title="Remove user" class="btn btn-sm btn-default task_action" ng-click="reopenTask()" style="/* font-weight: bold; */">
              -           
            <i class="fa fa-user"></i><span class="btn-text"> {{ _('Remove user')}}</span>
               
          </button>
          <button style="" ng-class="{disabled: selected_users.length==0}" title="Assign licenses" class="btn btn-sm green task_action" ng-click="assignLicenses()">
            <i class="fa fa-mail-forward"></i>
            <span class="btn-text">
               {{ _('Assign licenses')}}
            </span>
          </button>
          <button ng-class="{disabled: selected_users.length==0}" title="Unassign licenses" class="btn btn-sm btn-default task_action" ng-click="unassignLicenses()">
                <span class="btn-text">
                   {{ _('Unassign licenses')}}
                </span>
                 <i class="fa fa-mail-forward"></i>
          </button>
          <div class="clearfix"></div>
       </div>
      </div>
    <div class="showPage custom-show margin-bottom-15 col-md-12">    
      <div class="table-responsive">
                <table class="table">
                <thead>
                <tr>
                  <th>
                    <input title='{{ _("Select all Users")}}' type="checkbox" ng-checked="isSelectedAll" ng-click="select_all_users($event)">

                  </th>
                  <th>
                    <a href="" ng-click="filterByName()"> {{ _('Name')}}</a>
                    <i class="fa fa-caret-up" ng-show="predicate == '-google_display_name'"></i>
                    <i class="fa fa-caret-down" ng-show="predicate == 'google_display_name'"></i>
                  </th>
                  <th>
                    <a href="" ng-click="predicate = 'email'; reverse=false"> {{ _('Email')}}</a>
                  </th>
                  <th>
                    <a href="" ng-click="predicate = 'license_status'; reverse=false"> {{ _('License status')}}</a>
                    
                  </th>
                  <th>
                    <a href="" ng-click="predicate = 'is_admin'; reverse=false"> {{ _('is_admin')}}</a>
                   
                  </th>
                  
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users  | orderBy:predicate:reverse" >
                  <td>
                     <input type="checkbox" ng-click="select_user(user,$index,$event)" ng-checked="isSelected()">
                  </td>
                  <td>
                    <%= user.google_display_name %>
                  </td>
                  <td>
                     <%= user.email %>
                  </td>
                  <td>
                   <%= user.license_status %>
                  </td>
                  <td>
                     <%= user.is_admin %>
                  </td>
                </tr>                
                </tbody>
                </table>
              </div>
       </div>
           <div class="showPage custom-show margin-bottom-15 col-md-12" ng-show="invitees">    
              <button ng-class="{disabled: selected_invitees.length==0}" title=" Delete invitee " class="btn btn-sm btn-default task_action pull-right" ng-click="reopenTask()">
                  <i class="fa fa-trash-o"></i>
                  <span class="btn-text">
                      Delete invitee
                  </span>
              </button>
              <h3>Invitees : </h3>
              <div class="table-responsive">
                    <table class="table">
                    <thead>
                    <tr>
                      <th>
                        <input title='{{ _("Select all Invitees")}}' type="checkbox" ng-checked="allInvitees" ng-click="select_all_invitees($event)">

                      </th>
                      <th>
                        <a href="" ng-click="predicateInvitees = 'updated_at'; reversein=false"> {{ _('Email')}}</a>
                      </th>
                      <th>
                        <a href="" ng-click="predicateInvitees = 'invited_by'; reversein=false"> {{ _('Invited by')}}</a>
                      </th>
                      <th>
                        <a href="" ng-click="predicateInvitees = 'updated_at'; reversein=false"> {{ _('Invited at')}}</a>
                       
                      </th>
                    </tr>
                    </thead>
                    <tbody>

                      <tr ng-repeat="invitee in invitees | orderBy:predicateInvitees:reversein" >
                        <td>
                           <input type="checkbox" ng-click="select_invitee(invitee,$index,$event)" ng-checked="isSelectedInvitee()">
                        </td>
                        <td>
                           <%= invitee.invited_mail %>
                        </td>
                        <td>
                           <%= invitee.invited_by %>
                        </td>
                        <td>
                          <%= invitee.updated_at %>
                        </td>
                      </tr>                
                    </tbody>
                    </table>
                </div>
       </div>
<div id="addAccountModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
   <div class="modal-content">
      <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("New User")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addAccount" name="addaccount"  class="form-horizontal">


                    <p>{{ _('Invite people from your team and start working together in seconds. Everyone you invite will receive a welcome email.')}}</p>

                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Email")}} *</label>

                        <div class="col-md-9">
                          <input class="form-control" type="email" required id="id_name" ng-model="user.email">

                        </div>
                    </div>



              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn blue addContactNow" ng-click="addNewUser(user)">{{_("Add this user")}}</button>
              </div>
               </form>
              </div>
              </div>
       </div>
<script type="text/javascript">
$("[name='my-checkbox']").bootstrapSwitch();
 $('#slimtest1').slimScroll({
                    height: '20px'
  });
  $("#select2_sample2").select2({
        placeholder: "{{ _('Click to Select a label')}}",
        allowClear: false
  });
  var handleUniform = function () {
        if (!jQuery().uniform) {
            return;
        }
        var test = $("input[type=radio]:not(.toggle, .star)");
        if (test.size() > 0) {
            test.each(function () {
                if ($(this).parents(".checker").size() == 0) {
                    $(this).show();
                    $(this).uniform();
                }
            });
        }
    }
    handleUniform();
</script>
