<div class="row subHeader action-bar">
    <div class="currentApp">
        <a class="filterItem" href="#" data-toggle="dropdown">
            <span class="active-app"><i class="fa fa-cog"></i> {{ _(active_app.label) }} </span>
            <i class="icon-angle-down fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            {% for application in apps %}
                <li>
                    <a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{ _(application.label) }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="subHeaderContent">
        <div class="col-sm-2 active-app"><i class="fa fa-group section-icon"></i> {{ _('Users') }}</div>
        <a class="headerBtn" title="{{ _('Refresh') }}" ng-click="refreshCurrent();">
            <i class="fa fa-repeat"></i>
        </a>
        <a class="headerBtn" title="{{ _('Delete') }}" ng-show="selectedUsers.length" ng-click="deleteUser()">
            <i class="fa fa-trash-o"></i>
        </a>
        <a ng-class="{disabled: selectedUsers.length}" class="headerBtn"
           ng-show="selectedUsers.length && org_subscription.quantity" ng-click="assignLicenses()">
            <i class="fa fa-plus"></i> <i class="fa fa-key"></i>
        </a>
        <a ng-class="{disabled: selectedUsers.length}" class="headerBtn"
           ng-show="selectedUsers.length && org_subscription.quantity" ng-click="unAssignLicenses()">
            <i class="fa fa-minus"></i> <i class="fa fa-key"></i>
        </a>
        <form style="display: inline">
            <div class="col-sm-6 pull-right" ng-show="showInviteForm" ng-class="{ 'has-error':email_empty}">
                <label class="sr-only">{{ _('Email') }}</label>
                <input type="email" ng-model="email.email" placeholder="{{ _('Enter a email') }}" class="form-control"
                       style="width: 58%;display: inline;">
                <button class="btn red" ng-click="inviteNewUser(email)">{{ _('Invite') }}</button>
                <button ng-click="showInviteForm = false" class="btn btn-default">X</button>
            </div>
        <span ng-hide="showInviteForm">
            <button type="submit" title="New user" class="btn red newAccountBtnOnscroll pull-right save-btn"
                    ng-click="showInviteForm=true">
                + <i class="fa fa-user"></i> {{ _('New') }}
            </button>
        </span>
        </form>
    </div>
</div>
<div class="page-content admin-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Loading...') }}
            </div>
        </div>
    </div>
    <div ng-show="immediateFailed">
        <div class="col-md-12">
          <span id="signin">
            <span id="myGsignin"></span>
          </span>
        </div>
    </div>
    <div class="row" ng-show="isSignedIn">
        <div class="custom-show margin-bottom-15 col-md-9">
            <div class="showPage table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        {% if is_admin %}
                            <th>
                                <input title='{{ _("Select all Users") }}' type="checkbox" ng-checked="isSelectedAll"
                                       ng-click="selectAllUsers($event)">
                            </th>
                        {% endif %}
                        <th>
                            <a href="" ng-click="userSortType='google_display_name';userSortReverse=!userSortReverse">
                                {{ _('Name') }}</a>
                            <span ng-show="userSortType == 'google_display_name' && !userSortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="userSortType == 'google_display_name' && userSortReverse"
                                  class="fa fa-caret-up"></span>
                        </th>
                        <th>
                            <a href=""
                               ng-click="userSortType='email';userSortReverse=!userSortReverse"> {{ _('Email') }}</a>
                            <span ng-show="userSortType == 'email' && !userSortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="userSortType == 'email' && userSortReverse" class="fa fa-caret-up"></span>
                        </th>
                        <th ng-show="org_subscription.plan.name==='premium'">
                            <a href="" ng-click="userSortType='license_status';userSortReverse=!userSortReverse">
                                {{ _('License status') }}</a>
                            <span ng-show="userSortType == 'license_status' && !userSortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="userSortType == 'license_status' && userSortReverse"
                                  class="fa fa-caret-up"></span>
                        </th>
                        {% if is_admin %}
                            <th>
                                <a href="" ng-click="userSortType='is_admin';userSortReverse=!userSortReverse">
                                    {{ _('Administrator') }}</a>
                            <span ng-show="userSortType == 'is_admin' && !userSortReverse"
                                  class="fa fa-caret-down"></span>
                                <span ng-show="userSortType == 'is_admin' && userSortReverse"
                                      class="fa fa-caret-up"></span>
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users  | orderBy:userSortType:userSortReverse">
                        {% if is_admin %}
                            <td>
                                <input type="checkbox" ng-click="select_user(user,$index,$event)"
                                       ng-checked="isSelected()"
                                       ng-hide="user.is_super_admin||user.is_admin">
                            </td>
                        {% endif %}
                        <td>
                            <img ng-src="<%= user.google_public_profile_photo_url %>" alt="profile img"
                                 class="profile-img">
                            <%= user.google_display_name %>
                        </td>
                        <td class="table-box">
                            <%= user.email %>
                        </td>
                        <td class="table-box" ng-show="org_subscription.plan.name==='premium'">
                            <%= (usersSubscriptions[user.email].plan.name==='premium') ? 'active' :'' %>
                        </td>
                        {% if is_admin %}
                            <td class="table-box">
                                <input title='{{ _("Select all Users") }}' type="checkbox" ng-checked="user.is_admin"
                                       ng-click="setAdmin(user,$index,$event)" ng-hide="user.is_super_admin">
                                <p ng-show="user.is_super_admin"> super admin </p>
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="showPage margin-bottom-15 col-md-3 user-resume">
            <div class="col-items">
                <i class="fa  fa-key"></i>
                {{ _('License type') }}: <span class="pull-right"><%=org_subscription.plan.name%></span>
            </div>
            <div class="col-items">
                <i class="fa  fa-group "></i>
                {{ _('Users') }} <span class="pull-right"><%=licencesStatus.users_count%></span>
            </div>
            <div class="col-items" ng-class="{'last-item': org_subscription.plan.name !='premium'}">
                <i class="fa  fa-group "></i>
                {{ _('Expiration date') }} <span class="pull-right"><%=org_subscription.expiration_date%></span>
            </div>
            <div ng-show="org_subscription.plan.name==='premium'">
                <div class="col-items">
                    <i class="fa  fa-check "></i>
                    {{ _('licenses bought') }} <span class="pull-right"><%=licencesStatus.licenses_bought %></span>
                </div>
                <div class="col-items">
                    <i class="fa  fa-user"></i>
                    {{ _('assigned licenses') }}
                    <span class="pull-right"><%=licencesStatus.assigned_licenses%> </span>
                </div>
                <div class="col-items last-item">
                    <i class="fa  fa-ticket "></i>
                    {{ _('available licenses') }}
                    <span class="pull-right"><%=licencesStatus.licenses_bought - licencesStatus.assigned_licenses%></span>
                </div>
            </div>

            {% if is_not_a_life_time %}
                {% if is_freemium ==False %}
                    <div class="col-lg">
                        <i class="fa  fa-calendar "></i>
                        {{ _('Expire') }} : <%=org_subscription.expires_on | date:'yyyy-MM-dd'%> <!--ex date>-->
                    </div>
                    <button title='{{ _("Purchase") }}' class="btn btn-sm blue task_action pull-right"
                            ng-click="showPurchase()">
                        <i class="fa fa-shopping-cart"></i>
       <span class="btn-text">
          {{ _('Purchase') }}
       </span>
                    </button>
                {% endif %}
            {% endif %}
            <div class="clearfix"></div>
        </div>
        <div class="showPage custom-show margin-bottom-15 col-md-12" ng-show="invitees">
            {% if is_admin %}
                <button ng-class="{disabled: selected_invitees.length==0}" title=" Delete invitee "
                        class="btn btn-sm btn-default task_action pull-right" ng-click="deleteInvitedUser()"
                        ng-show="true">
                    <i class="fa fa-trash-o"></i>
                    <span class="btn-text"> {{ _("Delete invitee") }} </span>
                </button>
            {% endif %}
            <h3>Invitees : </h3>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <input title='{{ _("Select all Invitees") }}' type="checkbox" ng-checked="allInvitees"
                                   ng-click="select_all_invitees($event)">

                        </th>
                        <th>
                            <a href=""
                               ng-click="inviteeSortType='invited_mail';inviteeSortReverse=!inviteeSortReverse">{{ _('Email') }}</a>
                            <span ng-show="inviteeSortType == 'invited_mail' && !inviteeSortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="inviteeSortType == 'invited_mail' && inviteeSortReverse"
                                  class="fa fa-caret-up"></span>
                        </th>
                        <th>
                            <a href="" ng-click="inviteeSortType='invited_by';inviteeSortReverse=!inviteeSortReverse">{{ _('Invited by') }}</a>
                            <span ng-show="inviteeSortType == 'invited_by' && !inviteeSortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="inviteeSortType == 'invited_by' && inviteeSortReverse"
                                  class="fa fa-caret-up"></span>
                        </th>
                        <th>
                            <a href="" ng-click="inviteeSortType='updated_at';inviteeSortReverse=!inviteeSortReverse">{{ _('Invited at') }}</a>
                            <span ng-show="inviteeSortType == 'updated_at' && !inviteeSortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="inviteeSortType == 'updated_at' && inviteeSortReverse"
                                  class="fa fa-caret-up"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="invitee in invitees | orderBy:inviteeSortType:inviteeSortReverse">
                        <td>
                            <input type="checkbox" ng-click="select_invitee(invitee,$index,$event)"
                                   ng-checked="isSelectedInvitee()">
                        </td>
                        <td>
                            <%= invitee.invited_mail %>
                        </td>
                        <td>
                            <%= invitee.invited_by %>
                        </td>
                        <td>
                            <%= invitee.updated_at | date:'MM/dd/yyyy @ h:mma' %>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>