<div class="page-sidebar nav-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">

        {% for tab in tabs %}
            <li id="id_{{ tab.name }}"><a href="{{ tab.url }}"><i class="icon-cogs"></i><span
                    class="title">{{ tab.label }}</span></a></li>
        {% endfor %}


    </ul>


    <!-- END SIDEBAR MENU -->
</div>

<div class="page-content">

    <div class="container-fluid" ng-show="immediateFailed">
        <div class="span12">
            <h1>{{ _('Sign-in Button;') }}</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
    </div>
    <div class="container-fluid" ng-show="isContentLoaded">

        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">

            <div class="span12">
                <div class="pull-right sharebuttonDiv">
                    <a href="" class="btn blue jfk-button jfk-button-action">
                        <i class="icon-lock"></i> {{ _("Share") }}
                    </a>


                </div>

                <h2>
                    <a href="/#/campaigns/" data-toggle="tooltip" data-placement="bottom" title="Back to Accounts">
                        <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;"
                             src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif"
                             style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;"
                             border="0" class="gwt-Image GI4HA0EPK cbarOpacity"
                             aria-hidden="false"></a> {{ _("Campaigns") }} > <%= campaign.name %></h2>


                <span>{{ _("Status") }}: </span><span><span><a class="tag" href="#">#<%=campaign.status%></a></span>
            <br>
                </br>
                <span class="page-meta"><i class="icon-pencil"><a ng-click="editaccount()"
                                                                  class="btn-link addAnotherPhone"
                                                                  data-toggle="modal"> {{ _("Edit") }} </a></i> |  <i
                        class="icon-trash"><a ng-click="delete(account)"
                                              class="btn-link addAnotherPhone">  {{ _("Delete") }}</a></i></span>

           
            
            <hr/>

            </div>
        </div>


        <div class="row-fluid">
            <div class="span8">
                <!-- BEGIN PORTLET-->
                <div class="portlet paddingless">
                    <div class="portlet-title line">
                        <div class="caption">{{ _("Campaign Feeds") }}</div>

                    </div>
                    <div class="portlet-body">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <ul class="nav nav-tabs">
                                <li class="ng-tab" ng-class="{active: selectedTab == 1}"><a
                                        ng-click="selectedTab = 1;">{{ _('Notes') }}</a></li>
                                <li class="ng-tab" ng-class="{active: selectedTab == 2}"><a
                                        ng-click="selectedTab = 2;">{{ _('About') }}</a></li>
                                <li class="ng-tab" ng-class="{active: selectedTab == 3}"><a
                                        ng-click="selectedTab = 3;">{{ _('Contacts') }}</a></li>
                                <li class="ng-tab" ng-class="{active: selectedTab == 4}"><a ng-click="selectedTab = 4;">
                                    {{ _('Opportunities') }}</a></li>
                                <li class="ng-tab" ng-class="{active: selectedTab == 5}"><a ng-click="selectedTab = 5;">Cases</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1" ng-show="selectedTab == 1">

                                    <div class="row-fluid">
                                        <div class="span12 margin-bottom-10">
                                            <p class⁼"lead"=""><strong>
                                            {{ _('Just add notes to remember what's important :')}}</strong> </p>
                          <form id="addNote" ng-submit="addNote(note)" class="ng-pristine ng-valid">
                                            
                                            <input class="input-block-level ng-pristine ng-valid" autofocus type="text" placeholder="{{ _('Add a new subject')}}" id="messageSubject" ng-model="note.title">

                                         
                                            
                                            <textarea id="noteBody" class="input-block-level ng-pristine ng-valid" rows="3" ng-model="note.content"></textarea>
                                            <input ng-init="note.organization=1" required="" id="id_organization" type="hidden" name="organization" value="1"> 
                                  
                                            <input type="hidden" id="id_related_object" ng-init="note.related_object=1" value="1">
                                          
                                         
                                         <div class="pull-right">
                                         <!-- <input type="submit" class="btn btn-primary" value="Attach file">-->
                                          <input ng-hide="isLoading" type="submit" class="btn green" value="{{ _('Add this note')}}">
                                          <input ng-show="isLoading" type="submit" class="btn green" value="{{ _('Loading...')}}" disabled>
                                          </div>
                                        </form>
                                       </div>
                                      </div>

                                        
                            <ul class="chats">
                              <li class="in" ng-repeat="topic in topics" id="topic_<%=$index%>">
                                <img class="avatar" alt="" src="/static/src/img/avatar.jpg.png" />
                                <div class="message">
                                  <span class="arrow"></span>
                                  <a href="#" class="name"><%= topic.last_updater.google_display_name%></a>
                                  <span class="datetime">at Jul 25, 2012 11:09</span>
                                  <span class="body">
                                  <a href="/#/notes/show/<%=topic.discussionId%>" class="discussion-content"><strong class="ng-binding"><%= topic.title%></strong><span class="excerpt ng-binding"> - <%= topic.excerpt%></span><span class="chat-meta pull-right" ng-show="topic.comments"><i class="icon-comment"></i> <%= topic.comments%> {{ _('comments')}}</span></a>
                                  </span>
                                </div>
                              </li>
                              
                            </ul>
                            <div class="row-fluid">
                                <div class="pagination pull-right" ng-hide="isLoading">
                                      
                                      <ul>
                                        <li ng-show="pagination.prev"><button ng-click="listPrevPageItems()" id="sample_editable_1_new" class="btn">
                                        {{_("Prev")}} 
                                        </button></li>
                                        
                                        <li  ng-show="pagination.next"><button ng-click="listNextPageItems()"  class="btn">
                                        {{_("Next")}} 
                                        </button></li>
                                      </ul>
                                    </div>
                                    <h3 class="pagination pull-right" ng-show="isLoading">{{ _('Loading...')}}</h3>
                              </div>
                            </div>
                      <div class="tab-pane active" id="tab_1_2" ng-show="selectedTab == 2">
                        
                        <div class="row-fluid">
                          <div class="span6">
                            
                                <div class="news-blocks blank-card blank-card-yellow">
                                <h3>{{ _('Account Informations')}}</h3>
                                <div class="news-block-tags">
                                  <strong>{{ _('Phone')}}</strong>
                                 
                                </div>
                                  <ul class="unstyled contact-infos">
                                    <li>(415) 663-4433  <a href="#"><img class="ctodeal" src="/static/src/img/phone-icon.png" /></a></li>
                                    <li>(415) 663-4433 <a href="#"><img class="ctodeal" src="/static/src/img/phone-icon.png" /></a></li>
                                    <li>(415) 663-4433 <a href="#"><img class="ctodeal" src="/static/src/img/phone-icon.png"/></a></li>
                                    <li><a href="#"><i class="icon-plus"></i> {{ _('Add a new phone number')}} </a></li>

                                  </ul>
                                <div class="news-block-tags">
                                  <strong>{{ _('Email')}}</strong>
                                 
                                </div>
                                  <ul class="unstyled contact-infos">
                                    <li>contact@clicandcal.com  </li>
                                    <li>sales@clicandcal.com </li>
                                    <li>support@clicandcal.com </li>
                                    <li><a href="#"><i class="icon-plus"></i>{{ _('Add a new email address')}} </a></li>

                                  </ul>
                                <div class="news-block-tags">
                                  <strong>{{ _('Address')}}</strong>
                                 
                                </div>
                                 <ul class="unstyled contact-infos">
                                    <li>760 Market Street, 11th Floor San Francisco, CA 94102  </li>
                                    
                                    <li><a href="#"><i class="icon-plus"></i> {{ _('Add a new address')}} </a></li>

                                  </ul>

                                                              
                                                          
                              </div>
                              <div class="news-blocks blank-card blank-card-bluep">
                                <h3>{{ _('Links')}}</h3>
                                <div class="news-block-tags">
                                  <strong>{{ _('Website')}}</strong>
                                  
                                </div>
                                <ul class="unstyled contact-infos">
                                    <li><a href="#">www.clicandcal.com</a> </li>
                                </ul> 
                                <div class="news-block-tags">
                                  <strong>{{ _('Social Links')}}</strong>
                                  
                                </div>
                                <ul class="unstyled contact-infos">
                                    <li><a href="#">facebook.com/clicandcal</a> </li>
                                </ul>                       
                              </div>
                          </div>
                          <div class="span6">
                          
                            <div class="news-blocks blank-card blank-card-red">
                                <h3>{{ _('Story')}}</h3>
                                <div class="news-block-tags">
                                  <strong>{{ _('Tagline')}}</strong>
                                  
                                </div>
                                <p>{{ _('Accelerating the Cloud Powered Business')}}</p>
                                <div class="news-block-tags">
                                  <strong>{{ _('Introduction')}}</strong>
                                  
                                </div>
                                <p>{{ _('Appirio is a global technology-enabled services provider, helping companies power their business with cloud, social and mobile technologies from leaders like salesforce.com, Google and Workday. Appirio has worked with more than 400 enterprise customers including organizations like the City of Los Angeles, Facebook, Flextronics, International Hotels Group, Japan Post Network, Ltd., L'Oreal, NetApp, NYU, Starbucks, Thomson Reuters and VMware. Appirio's technology-enabled professional services are supported by a team of 600 cloud experts and CloudSpokes, a more than 70,000 person-strong global cloud developer community. The company's expertise and innovation have been recognized by organizations such as the World Economic Forum, Bloomberg BusinessWeek, The Wall Street Journal, InformationWeek and IDC. Appirio has offices that span the U.S., Europe and Asia Pacific, and is backed by Sequoia Capital, GGV Capital and General Atlantic.')}}</p>
                                        </div>

                                    </div>

                                </div>


                            </div>
                            <div class="tab-pane active" id="tab_1_3" ng-show="selectedTab == 3">

                                <div class="row-fluid cards-container">
                                    <div class="btn-group relbutton">

                                        <button ng-click="showModal()" id="sample_editable_1_new" class="btn red">
                                            {{ _("Add a person to this account") }}<i class="icon-plus"></i>
                                        </button>
                                    </div>
                                    <div class="inner-cards-container">

                                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                                            <div class="dashboard-stat cards">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardTitle">
                                                        {{ _('Ben Belfodhil') }}
                                                    </h3></a>
                                                    <div class="desc">
                                                        <span class="contact-title">{{ _('CEO') }}</span>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                                            <div class="dashboard-stat cards">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardTitle">
                                                        {{ _('Hakim Karriche') }}
                                                    </h3></a>
                                                    <div class="desc">
                                                        <span class="contact-title">{{ _('CTO') }}</span>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                                            <div class="dashboard-stat cards">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardTitle">
                                                        {{ _('Eric Joe') }}
                                                    </h3></a>
                                                    <div class="desc">
                                                        <span class="contact-title">CCO</span>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                                            <div class="dashboard-stat cards">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardTitle">
                                                        {{ _('Ben Belfodhil') }}
                                                    </h3></a>
                                                    <div class="desc">

                                                        <span class="contact-title">CEO</span>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab_1_4" ng-show="selectedTab == 4">

                                <div class="row-fluid cards-container">
                                    <div class="btn-group relbutton">

                                        <button ng-click="showModal()" id="sample_editable_1_new" class="btn red">
                                            {{ _("Add a new opportunity") }} <i class="icon-plus"></i>
                                        </button>
                                    </div>
                                    <div class="inner-cards-container">

                                        <div class="span4 responsive" data-tablet="span6" data-desktop="span4">
                                            <div class="dashboard-stat cards-med">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardOppTitle">
                                                        {{ _('Migration vers Google App Engine') }}
                                                    </h3></a>
                                                    <div class="desc">
                                                        <span class="contact-title">$20.000 - {{ _('Needs Analysis') }}</span>
                                                        <a ng-show="account.industry" class="desc"
                                                           href="/#/accounts/industry/<%=account.industry%>">#<%=account.industry%></a>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="span4 responsive" data-tablet="span6" data-desktop="span4">
                                            <div class="dashboard-stat cards-med">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardOppTitle">
                                                        {{ _('Migration vers Google App Engine') }}
                                                    </h3></a>
                                                    <div class="desc">
                                                        <span class="contact-title">$20.000 - {{ _('Needs Analysis') }}</span>
                                                        <a ng-show="account.industry" class="desc"
                                                           href="/#/accounts/industry/<%=account.industry%>">#<%=account.industry%></a>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="span4 responsive" data-tablet="span6" data-desktop="span4">
                                            <div class="dashboard-stat cards-med">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardOppTitle">
                                                        {{ _('Google App Engine') }}
                                                    </h3></a>
                                                    <div class="desc">
                                                        <span class="contact-title">$20.000 - Needs Analysis</span>
                                                        <a ng-show="account.industry" class="desc"
                                                           href="/#/accounts/industry/<%=account.industry%>">#<%=account.industry%></a>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="span4 responsive" data-tablet="span6" data-desktop="span4">
                                            <div class="dashboard-stat cards-med">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardOppTitle">
                                                        {{ _('Migration') }}
                                                    </h3></a>
                                                    <div class="desc">
                                                        <span class="contact-title">$20.000 - {{ _('Needs Analysis') }}</span>
                                                        <a ng-show="account.industry" class="desc"
                                                           href="/#/accounts/industry/<%=account.industry%>">#<%=account.industry%></a>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab_1_5" ng-show="selectedTab == 5">

                                <div class="row-fluid cards-container">
                                    <div class="btn-group relbutton">

                                        <button ng-click="showModal()" id="sample_editable_1_new" class="btn red">
                                            {{ _("Add a new case") }} <i class="icon-plus"></i>
                                        </button>
                                    </div>
                                    <div class="inner-cards-container">

                                        <div class="span4 responsive" data-tablet="span6" data-desktop="span4">
                                            <div class="dashboard-stat cards-med">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardOppTitle">
                                                        {{ _('Database Isue on Website') }}
                                                    </h3></a>
                                                    <div class="desc">
                                                        <span class="contact-title">status: open</span> <span
                                                            class="updated-on">{{ _('Updated on') }} Oct 05 at 2:33 pm</span>
                                                        <a ng-show="account.industry" class="desc"
                                                           href="/#/accounts/industry/<%=account.industry%>">#database</a>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>


                                        <div class="span4 responsive" data-tablet="span6" data-desktop="span4">
                                            <div class="dashboard-stat cards-med">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardOppTitle">
                                                        {{ _('Database Isue on Website') }}
                                                    </h3></a>
                                                    <div class="desc">
                                                        <span class="contact-title">status: open</span> <span
                                                            class="updated-on">{{ _('Updated on') }} Oct 05 at 2:33 pm</span>
                                                        <a ng-show="account.industry" class="desc"
                                                           href="/#/accounts/industry/<%=account.industry%>">#database</a>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="span4 responsive" data-tablet="span6" data-desktop="span4">
                                            <div class="dashboard-stat cards-med">

                                                <div class="details">
                                                    <a href="/#/accounts/show/<%= account.id %>"><h3
                                                            class="relatedcardOppTitle">
                                                        {{ _('Database Isue on Website') }}
                                                    </h3></a>
                                                    <div class="desc">
                                                        <span class="contact-title">{{ _('status: open') }}</span> <span
                                                            class="updated-on">{{ _('Updated on') }} Oct 05 at 2:33 pm</span>
                                                        <a ng-show="account.industry" class="desc"
                                                           href="/#/accounts/industry/<%=account.industry%>">#database</a>

                                                    </div>
                                                </div>
                                                <a class="more" href="/#/accounts/show/<%= account.id %>">
                                                    {{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END TABS-->
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="span4">
            <!-- BEGIN PORTLET-->
            <div class="portlet">
                <div class="portlet-title line">
                    <div class="caption"><i class="icon-tasks"></i>{{ _('Tasks & Events') }}</div>

                </div>
                <div class="portlet-body" id="chats">
                    <div class="scroller" style="height:200x" data-always-visible="1" data-rail-visible="0">
                        <div id="newTask">
                            <p><strong>{{ _('Tasks:') }}</strong><a href="#"> {{ _('[View all(25)]') }}</a></p>


                            <ul id="tasks" class="unstyled">
                                <li ng-repeat="task in tasks" id="task_<%=$index%>">
                                    <input value="check1" type="checkbox">
                                    <!-- Name -->
                                    <span><a href="/tasks/1" class="discussion-content"><%= task.title%> <span
                                            ng-show="task.due"> [before: <%= task.due | date:'yyyy-MM-dd '%>]</span></a></span>
                                </li>

                                <li><a href="#myModal" class="btn-link addAnotherPhone" data-toggle="modal"><i
                                        class="icon-plus"></i>{{ _('Add a new task') }}</a></li>

                            </ul>

                            <p><strong>{{ _('Events:') }}</strong></p>


                            <ul id="tasks" class="unstyled">
                                <li ng-repeat="event in events" id="event_<%=$index%>">
                                    <input value="check1" type="checkbox">
                                    <!-- Name -->
                                    <span><a href="/tasks/1" class="discussion-content"><%= event.title%> <span
                                            ng-show="event.starts_at"> [<%= event.starts_at | date:'yyyy-MM-dd '%>]</span></a></span>
                                </li>


                                <li><a href="#newEventModal" class="btn-link addAnotherPhone" data-toggle="modal"><i
                                        class="icon-plus"></i>{{ _('Add a new event') }}</a></li>


                            </ul>

                            <!-- Modal -->
                            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                    </button>
                                    <h3 id="myModalLabel">{{ _('Add a new Task') }}</h3>
                                </div>
                                <div class="modal-body pickerin">
                                    <div class="controls controls-row">
                                        <form id="addTask" ng-submit="addTask(task)" class="ng-pristine ng-valid">
                                            <input class="input-block-level" autofocus type="text"
                                                   placeholder="Add a new task" id="taskTitle" ng-model="task.title">

                                            <p><strong>{{ _('When's it due?')}}</strong></p>
                                                  <center>
                                                    <datetimepicker data-ng-model="task.due"
                                                    data-datetimepicker-config="{ startView:'day', minView:'day' }" />
                                                  </center>
                     </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel')}}</button>
              
               <input ng-hide="isLoading" type="submit" class="btn green" value="{{ _('Add this task')}}">
                <input ng-show="isLoading" type="submit" class="btn green" value="{{ _('Loading...')}}" disabled>
                                        
            </form>
            </div>
          </div>

          <!--Event Modal -->
          <div id="newEventModal" class="modal  hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">{{ _('New Event')}}</h3>
            </div>
            <div class="modal-body">
                     <div class="controls controls-row">
                            <form id="addTask" ng-submit="addEvent(ioevent)" class="ng-pristine ng-valid">
                                                  <input class="input-block-level" autofocus type="text" placeholder="Add a new event" id="taskTitle" ng-model="ioevent.title">
                                                  <p><strong>{{ _('When?')}}</strong></p>
                                                <div class="row-fluid">
                                                  <div class="span6">
                                                    <p> <strong>{{ _('Starts')}}</strong>: <%=ioevent.starts_at | date:'MMMM dd, yyyy, HH:mm'%></p>
                                                        <datetimepicker data-ng-model="ioevent.starts_at"
                                                    data-datetimepicker-config="{ startView:'day', minView:'minute' }" />
                                                  </div>
                                                  <div class="span6">
                                                  <p><strong>{{ _('Ends')}}</strong>: <%=ioevent.ends_at | date:'MMMM dd, yyyy, HH:mm'%></p>
                                                        <datetimepicker data-ng-model="ioevent.ends_at"
                                                    data-datetimepicker-config="{ startView:'day', minView:'minute' }" />
                                                  </div>
                                                </div>
                                                    <input class="input-block-level" autofocus="" type="text" placeholder="{{ _('Where?')}}" id="taskTitle" ng-model="ioevent.where">
                                                    
                                                    
                                                    
                                               

                                                  
                  </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel')}}</button>
              
               <input ng-hide="isLoading" type="submit" class="btn green" value="{{ _('Add this event')}}">
                <input ng-show="isLoading" type="submit" class="btn green" value="{{ _('Loading...')}}" disabled>
                                        
            </form>
            </div>
          </div>
                                    

                                </div>
                            </div>
                  
                </div>
              </div>
              
              
              <!-- END PORTLET-->
            </div>
            </div>

          
            
          
        
        <!-- END PAGE CONTENT-->
      </div>
      <!--HKA 11.10.2013 Edit Account -->
             <!--div id="EditAccountModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Edit Account")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editAccount" name="editlead" ng-submit="put(account)" class="form-horizontal"> 
                

                  <div class="control-group">
                        <label  class="required control-label">{{_("Name")}} *</label>
                       
                        <div class="controls">
                          <input type="text" required id="id_lastname" ng-model="account.name">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="required control-label">{{_("Type")}}</label>
                       
                        <div class="controls">
                          <input type="text"  id="id_type" ng-model="account.account_type">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="required control-label">{{_("Industry")}} *</label>
                       
                        <div class="controls">
                          <input type="text"  required id="id_industry" ng-model="account.industry">
                          
                        </div>
                    </div>                      
                  
                     
                    
                  
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
              </div> 
        </div-->
      <!-- END PAGE CONTAINER-->
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker2').datetimepicker({
      language: 'fr',
      pickTime: false
    });
  });
</script>
