<div class="row subHeader action-bar">
    <div class="currentApp">
        <a class="filterItem" href="#" data-toggle="dropdown">
            <span class="active-app"><i class="fa fa-cog"></i> {{ _(active_app.label) }}</span>
            <i class="icon-angle-down fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            {% for application in apps %}
                <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{ _(application.label) }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="subHeaderContent" style="border-right-width: 0;">
        <div class="col-md-4 active-app"><i class="fa fa-user section-icon"></i>
            {{ _('Leads Status Settings') }}
        </div>
        <!--<pre><%= nbrSelected %></pre>-->
        <a class="btn" ng-show="nbrSelected > 1" ng-click="deleteSelected()">
            <i class="fa fa-trash-o"></i>
        </a>
        <a class="btn red save-btn pull-right" href="" ng-click="addLeadsStatusModal()">
            <i class="fa fa-plus"></i> {{ _('New') }}
        </a>
    </div>
</div>
<div class="page-content admin-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Loading...') }}
            </div>
        </div>
    </div>
    <div ng-show="immediateFailed">
        <div class="col-md-12">
          <span id="signin">
            <span id="myGsignin"></span>
          </span>
        </div>
    </div>
    <div class="row" ng-show="isSignedIn">
        <div class="custom-show margin-bottom-15 col-md-9">
            <div class="showPage table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-1">
                            <input type="checkbox" ng-model="isSelectedAll">
                        </th>
                        <th class="col-md-8">
                            <a href="" ng-click="filterByName()"> {{ _('Name') }}</a>
                            <i class="fa fa-caret-up" ng-show="predicate == '-google_display_name'"></i>
                            <i class="fa fa-caret-down" ng-show="predicate == 'google_display_name'"></i>
                        </th>
                        <th class="col-md-3">
                            <a href="" ng-click="predicate = 'email'; reverse=false"> {{ _('Actions') }}</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="leadState in leadstatuses">
                        <td style="padding: 20px 8px;">
                            <input type="checkbox" ng-click="selectStatus(leadState)" ng-checked="leadState.isSelected">
                        </td>
                        <td style="padding: 20px 5px;">
                            <span style="margin-right: 10px">
                                <%= $index %>
                            </span>
                            <%= leadState.status %>
                        </td>
                        <td style="padding: 20px 5px;">
                            <a class="btn" ng-click="editleadstatus(leadState)"><i class="material-icons">mode_edit</i></a>
                            <a class="btn" ng-click="deletleadstatus(leadState)"><i
                                    class="material-icons">delete</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="addLeadsStatusModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>{{ _("New Lead status") }}</h3>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <label class="required control-label">{{ _("Lead Status") }} *</label>
                        <input type="text" class="form-control" required ng-model="lead.status">
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _("Cancel") }}</button>
                <button class="btn green" ng-click="saveLeadStatus(lead)">{{ _("Add Lead Status") }}
                </button>
            </div>
        </div>
    </div>
</div>

<!--End Lead Modal -->
<!-- HKA 19.12.2013 Edit Lead status -->
<div id="EditLeadStatus" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>{{ _("Edit Lead status") }}</h3>
            </div>
            <!--<form name="addleadstatus" class="form-horizontal">-->
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <label class="required control-label">{{ _("Lead Status") }} *</label>
                        <input type="text" class="form-control" required ng-model="leadstat.status">
                    </div>
                </fieldset>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _("Cancel") }}</button>
                <button type="submit" class="btn green" ng-click="updateLeadstatus(leadstat)">{{ _("Save") }}</button>
            </div>
            <!--</form>-->
        </div>
    </div>
</div>