<div  class="page-content">
    
   <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <div id="portlet-config" class="modal">
        <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button"></button>
          <h3 class="modal-title">portlet Settings</h3>
        </div>
        <div class="modal-body">
          <p>Here will be a configuration form</p>
        </div>
        </div>
        </div>
      </div>
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE CONTAINER-->
      <div class="" ng-show="immediateFailed">
         <div class="col-md-12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
      
      <div id="addLeadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title" id="myModalLabel">{{_("New Lead")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addLead" name="addaccount" ng-keyup="addLeadOnKey(lead)" class="form-horizontal"> 
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("First Name")}} *</label>
                       
                       <div class="col-md-9">
                          <input type="text" class="form-control" required id="id_name" ng-model="lead.firstname">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Last Name")}}</label>
                       
                       <div class="col-md-9">
                          <input type="text" class="form-control"  id="id_lastname" ng-model="lead.lastname">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Company")}} </label>
                       
                       <div class="col-md-9">
                          <input type="text" class="form-control"  id="id_company" ng-model="lead.company">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class=" col-md-3 control-label">{{_("Title")}} </label>
                       
                       <div class="col-md-9">
                          <input type="text" class="form-control"  id="id_position" ng-model="lead.title">
                          
                        </div>
                    </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Lead Source")}} </label>
                       
                       <div class="col-md-9">
                          <select ng-model="lead.source" class="form-control"><option value="">--None--</option><option value="ioGrow Live">ioGrow Live</option><option value="Social Media">Social Media</option><option value="Web Source">Web Site</option><option value="Phone Inquiry">Phone Inquiry</option><option value="Partner Referral">Partner Referral</option><option value="Purchased List">Purchased List</option><option value="Other">Other</option></select>
                          
                         
                        </div>
                    </div>
                    

                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Status")}} </label>
                       
                       <div class="col-md-9">
                          <select class="form-control" ng-model="stage_selected" ng-options="leadstat.status for leadstat in leadstatuses | orderBy: 'status':false"  >
                            <option value=""><%=status%></option>
                          
                          </select>
                          
                         
                        </div>
                    </div>

                    <hr/>
                    <p>Who can access?</p>
                     <div class=''>

                     
                          
                            <label class="radio line">
                            <input type="radio" value="public" ng-model="lead.access" />
                            public: Anyone within your organization
                            </label>
                            <label class="radio line">
                            <input type="radio"  value="private" ng-model="lead.access" />
                            private: only you and your collaborators
                            </label>  
                           
                       
                      
                    </div>

                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                
                <input ng-hide="isLoading" ng-click="save(lead)" type="submit" class="btn green" value="Add this lead">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
              </div>
               </form>
               </div>
        </div>

       </div>
      <div class="" ng-show="isSignedIn">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        
            <div class="row ">
                <div class="col-md-12"> <h2 class="page-title">{{ _("Leads") }} </h2></div>
            </div>

        <div class="row">
          
          <div class="col-md-2"> 
                  <button  ng-click="showModal()" id="sample_editable_1_new" class="btn red">
                    {{ _("New Lead") }} <i class="icon-plus"></i>
                    </button>          
          </div>
          <div class="col-md-2" ng-show="leads+isFiltering">
              <div class="btn-group btn-filter">
                  <a class="btn btn-default" href="#" data-toggle="dropdown">
                    {{ _('Filter by') }}
                  <i class="icon-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a  ng-click="filterByOwner()" href="#" data-toggle="modal">{{ _('All leads') }}</a></li>
                    <li><a ng-click="filterByOwner('{{ME}}')" href="#" data-toggle="modal">{{ _('My leads') }}</a></li>
                    <li ng-repeat="status in leadstatuses"><a ng-click="filterByStatus('<%=status.status%>')" href="#" data-toggle="modal"><%= status.status %></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-5" ng-show="leads+isFiltering">   
                    <form class="form-inline ng-pristine ng-valid" ng-submit="executeSearch(searchQuery)">
                      <div class="input-group">

                        <input type="text" ng-model="searchQuery" typeahead="result as result.firstname + ' ' + result.lastname + ' - (' + result.position + ' , ' + result.company +' -'+ result.status + ' )'   for result in results | filter:$viewValue | limitTo:8" typeahead-on-select="selectResult()" class="form-control" placeholder="{{ _('Quick Filtering') }}">
                       <span class="input-group-btn"> 
                         <button class="gbqfb gbqfb-hvr"><i class="icon-filter"></i></button>
                       </span>
                      </div>
                    </form>
            </div>
            <div class="col-md-3" ng-show="leads+isFiltering"> 
              <div class="btn-group btn-sort" >
                                    <a class="btn btn-default" href="#" data-toggle="dropdown">
                                    Sort by
                                    <i class="icon-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a  ng-click="orderBy('-updated_at')" href="#" data-toggle="modal">{{ _('Last modified') }}</a></li>
                                      <li><a ng-click="orderBy('firstname')" href="#" data-toggle="modal">{{ _('First Name') }}</a></li>
                                      <li><a ng-click="orderBy('lastname')" href="#" data-toggle="modal">{{ _('Last Name') }}</a></li>
                                      <li><a ng-click="orderBy('title')" href="#" data-toggle="modal">{{ _('Title') }}</a></li>
                                      <li><a ng-click="orderBy('company')" href="#" data-toggle="modal">{{ _('Company') }}</a></li>
                                      <li><a ng-click="orderBy('status')" href="#" data-toggle="modal">{{ _('Status') }}</a></li>
                                      
                                     
                                    </ul>
              </div>
        </div>
        </div>
          <hr/>
          
            <div class="row cards-container">
            <div class="col-md-9">
            <div class="inner-cards-container">
            
              <div ng-repeat="lead in leads" class="col-lg-4 col-md-3 col-sm-6 col-xs-12" >
                <div class="dashboard-stat cards-small">
                  
                  <div class="details">
                    <a href="/#/leads/show/<%= lead.id %>"><h2 class="cardTitle">
                      <%= lead.firstname %> <%= lead.lastname %>
                    </h2></a>
                    <div class="desc">
                      <span ng-show="lead.status" class="contact-title" >Updated at:  <%=lead.updated_at | date:'yyyy-MM-dd - HH:mm:ss ' %> </span>
                      <span ng-show="lead.status" class="contact-title" >Status: <a class="desc" href="/#/search/type:Lead <%=lead.status%>">#<%=lead.status %></a>  </span>
                      <br>
                      <span ng-show="lead.title"><a  class="desc" href="/#/search/type:Lead <%=lead.title%>">#<%=lead.title%></a></span>
                      <span ng-show="lead.company"> <span ng-show="lead.title" class="contact-title">,</span> <a  class="desc" href="/#/search/type:Lead <%=lead.company%>">#<%=lead.company%></a></span>
                    </div>
                  </div>
                                  
                </div>
              </div>
               <div ng-show="blankStatelead" class="col-md-12 responsive" data-tablet="span6" data-desktop="span12">
                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="thumbnail blank_slate_body">
                      <img class="img-responsive" src="/static/img/leads_blank.png">
                      <p class="lead">You have leads coming in from a wide variety of sources. Some leads come from lists you acquired, others from business cards and still more from the "contact us" form on your website. i/oGrow help you organize informations about leads so they can be followed up on and qualified quickly.</p>
                  </div>
               
                                  
                </div>
              </div>
              <div ng-show="isFiltering * !leads" class="col-md-12 responsive" data-tablet="span6" data-desktop="span12">
                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="thumbnail blank_slate_body">
                      
                      <p class="lead">No results found, try with another filter</p>
                  </div>
               
                                  
                </div>
              </div>
              <div class="clearfix"></div>
              </div>
              <div class="row">
              <div class="col-md-12">
            <div class="pagination pull-right" ng-hide="isLoading">
                  
             
                    <button ng-click="listPrevPageItems()" id="sample_editable_1_new" class="btn" ng-show="leadpagination.prev">
                    {{_("Prev")}} 
                    </button>
                    <li ng-repeat="page in leadpagination.pages" ng-class='{active: page.isCurrent}'><a  href="#/leads/"><%= page.id %></a></li>
                  <button ng-click="listNextPageItems()"  class="btn"  ng-show="leadpagination.next">
                    {{_("Next")}} 
                    </button>
                  
                </div>
                <h3 class="pagination pull-right" ng-show="isLoading">Loading...</h3>
          </div>
       </div> 
              </div>
          <script type="text/javascript">
              $('#slimtest1').slimScroll({
                    height: '20px'
                });
          </script>
              <div class="col-md-3">
              <div class="portlet">
                <div class="portlet-title">
                  <div class="caption">
                    <!-- class="fa fa-reorder"--><i></i>Labels
                  </div>
                  
                </div>
                <div class="portlet-body">
                <ul class="list-group tags-list">
                  <li draggable ng-repeat="tag_item in tags" class="list-group-item tags-list-item" ng-click="selectTag(tag_item,$index,$event)" ng-drag="dragTag(tag_item)" >
                  <div class="row">
                    <div class="tag-color" style="border-left: 4px solid <%=tag_item.color%>;">
                    </div>
                    <span class="with-color" ng-dblclick="editTag(tag_item)" ng-show="(tag_item!=edited_tag)||(!manage_tags)"><%= tag_item.name %></span>
                    <form ng-submit="doneEditTag(tag_item)" ng-show="(tag_item==edited_tag)&&(manage_tags)">
                      <input ng-blur="doneEditTag(tag_item)" type="text" class="col-md-offset-1 col-md-7 form-control inlineEditTag " ng-model="tag_item.name">
                    </form>
                    <button ng-click="deleteTag(tag_item)" class="close_tag close pull-right" ng-show="manage_tags"></button>
                  </li>
                  </div>
                </ul>
                
                <form class="well" role="form">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" ng-model="tag.name" class="form-control" id="tag_name" placeholder="New Label">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                       <input id="tag-col-pick" type="text" class="colorpicker-default form-control" value="#8fff00">
                  </div>
                  <div class="col-md-6">
                    <input type="submit" ng-hide="isLoadingTask" ng-click="addNewtag(tag)" class="btn green pull-right" value="Add">
                    <input type="submit" ng-show="isLoadingTask" class="btn green pull-right" value="{{ _('Loading...') }}">
                  </div>
                  </div>
                </form>
                <div class="form-group" ng-show="tags">
                  <button class="btn btn-default btn-block" ng-click="manage_tags=!manage_tags;manage()"> Manage Tags</button>
                </div>
                  
                </div>
              </div>
            </div>
            
            </div>
            </div>
              
          
        
        <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE CONTAINER--> 
</div>
<script type="text/javascript">
  $("#select2_sample2").select2({
        placeholder: "Click to Select a label",
        allowClear: false
    });
  var handleUniform = function () {
        if (!jQuery().uniform) {
            return;
        }
        var test = $("input[type=radio]:not(.toggle, .star)");
        if (test.size() > 0) {
            test.each(function () {
                if ($(this).parents(".checker").size() == 0) {
                    $(this).show();
                    $(this).uniform();
                }
            });
        }
    }
    handleUniform();
</script>

