

<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
        <ul class="page-sidebar-menu">
        opp
        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{tab.url}}"><i class="icon-cogs"></i><span class="title">{{tab.label}}</span></a></li>
          {% endfor %}
        </ul>
     
     
      <!-- END SIDEBAR MENU -->
</div>
    
<div  class="page-content">
    

   <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <div id="portlet-config" class="modal hide">
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button"></button>
          <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
          <p>Here will be a configuration form</p>
        </div>
      </div>
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE CONTAINER-->
      <div class="container-fluid"ng-show="immediateFailed">
         <div class="col-md-12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
      
      <div id="addOpportunityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabel" class="modal-title">{{_("New Opportunity")}}</h3>
              </div>
              <div class="modal-body">
                <form id="addOpportunity" name="addOpportunity"  ng-keyup="addOpportunityOnKey(opportunity)" class="form-horizontal"> 
                  
                  
                    

                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Name")}}</label>
                       
                       <div class="col-md-9">
                          <input type="text" required id="id_name" class="form-control" ng-model="opportunity.name">
                       </div>
                        
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Account")}} *</label>
                       
                        <div class="col-md-9">
                          <input type="text"  ng-model="searchAccountQuery" typeahead="result as result.name  for result in results | filter:$viewValue | limitTo:10" typeahead-on-select="selectAccount()" class="form-control"placeholder="Search">
                        </div>
                          
                        
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Labels")}} </label>
                       
                       <div class="col-md-9">
                          <input type="text"  id="id_description" class="form-control" ng-model="opportunity.description" placeholder="Add labels to categorize your deals">
                       </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Amount")}} </label>
                       
                        <div class="col-md-9">
                          <input type="text" pattern="\d*"  required id="id_amount" class="form-control" ng-model="opportunity.amount">
                        </div> 
                        
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Stage")}} </label>
                        
                       <div class="col-md-9">
                          <select ng-model="stage_selected" ng-options="opps.name + ' - ( ' + opps.probability + '% )' for opps in opportunitystages | orderBy: 'name':true" class="form-control" >
                            <option value="">-- choose Stage --</option>
                          
                          </select>
                          
                      </div> 
                        

                          
                    </div>
                    <hr/>
                    <p>Who can access?</p>
                     <div class='container-fluid'>

                     
                          
                            <label class="radio line">
                            <input type="radio" value="public" ng-model="opportunity.access" />
                            public: Anyone within your organization
                            </label>
                            <label class="radio line">
                            <input type="radio"  value="private" ng-model="opportunity.access" />
                            private: only you and your collaborators
                            </label>  
                           
                       
                      
                    </div>
                   
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                
                <input ng-hide="isLoading" ng-click="save(opportunity)" type="submit" class="btn green" value="Add this opportunity">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
              </div>
               </form>
                </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
     </div>
      <div class="container-fluid" ng-show="isSignedIn">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
          
          <div class="col-md-12">
            <h2 class="page-title">{{ _("Opportunities") }} </h2>
            
            <div class="btn-group">
            
                    <button  ng-click="showModal()" id="sample_editable_1_new" class="btn red">
                    {{ _("New Opportunity") }} <i class="icon-plus"></i>
                    </button>
            </div>
               
            <hr/>
            
          </div>
        </div>

            <!-- Filtering and sorting -->
          <div class="row filter-row" ng-show="opportunities+isFiltering">
            <div class="col-md-2">
              <div class="btn-group btn-filter">
                                    <a class="btn btn-default" href="#" data-toggle="dropdown">
                                      {{ _('Filter by') }}
                                    <i class="icon-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a  ng-click="filterByOwner()" href="#" data-toggle="modal">{{ _('All opportunities') }}</a></li>
                                      <li><a ng-click="filterByOwner('{{ME}}')" href="#" data-toggle="modal">{{ _('My opportunities') }}</a></li>
                                      <li ng-repeat="stage in opportunitystages"><a ng-click="filterByStage('<%=stage.name%>')" href="#" data-toggle="modal"><%= stage.name %></a></li>
                                    </ul>
                                   
              </div>
            </div>
            <div class="col-md-7">
                  
                    <form class="ng-pristine ng-valid" ng-submit="executeSearch(searchQuery)">
                      <div class="input-group">

                        <input type="text" ng-model="searchQuery" typeahead="result as result.title + ' - (' + result.amount + ' with ' + result.account_name + ' )'   for result in results | filter:$viewValue | limitTo:8" typeahead-on-select="selectResult()" class="form-control" placeholder="{{ _('Quick Filtering') }}">

                       <span class="input-group-btn">
                          <button class="gbqfb gbqfb-hvr" type="button"><i class="icon-filter"></i></button>
                        </span>
                      </div>
                    </form>
                 
            </div>
            <div class="col-md-3">
              <div class="btn-group btn-sort">
                                    <a class="btn btn-default" href="#" data-toggle="dropdown">
                                    {{ _('Sort by') }}
                                    <i class="icon-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a  ng-click="orderBy('-updated_at')" href="#" data-toggle="modal">{{ _('Last modified') }}</a></li>
                                      <li><a ng-click="orderBy('name')" href="#" data-toggle="modal">{{ _('Name') }}</a></li>
                                      <li><a ng-click="orderBy('-amount')" href="#" data-toggle="modal">{{ _('Amount') }}</a></li>
                                      <li><a ng-click="orderBy('account_name')" href="#" data-toggle="modal">{{ _('Company') }}</a></li>
                                      <li><a ng-click="orderBy('-stage_probability')" href="#" data-toggle="modal">{{ _('Stage probability') }}</a></li>
                                    </ul>
              </div>

            </div>
            <br>
              <br>
            
          </div>
            <div class="row cards-container">

            <div class="col-md-12">
              <div class="inner-cards-container">
            
              <div ng-repeat="opp in opportunities" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat cards-small">
                  
                  <div class="details">
                    <a href="/#/opportunities/show/<%= opp.id %>"><h2 class="cardTitle">
                       <%=opp.name %>
                    </h2></a>
                    <div class="desc">                           
                                     <span class="contact-title" ng-show="opp.amount">amount: <%=opp.amount%> </span>
                                    <span ng-show="opp.stage" class="contact-title" ><br>stage: <a class="desc" href="/#/search/type:Opportunity stage:<%=opp.stage%>">#<%=opp.stage%> </a></span><br>
                                    <span ng-show="opp.description">
                                    <a href="/#/search/type:Opportunity <%=opp.description%>"  class="desc">#<%=opp.description%></a>  
                                    </span>
                                    
                    </div>
                  </div>
                                  
                </div>
              </div>
               <div ng-show="blankStateopportunity" class="col-md-12 responsive" data-tablet="col-md-6" data-desktop="col-md-12">
                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="blank_slate_body thumbnail">
                      <img src="/static/img/opportunities_blank.png" class="img-responsive">
                      <p class="lead">Know which proposals/bids are pending, which you’ve won, and which you’ve lost. Enter notes about the opportunities, attach proposals or contracts to the opportunities, and keep a log of any changes.</p>
                  </div>
                </div>
                </div>
                <div ng-show="isFiltering * !opportunities" class="col-md-12 responsive" data-tablet="span6" data-desktop="span12">
                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="thumbnail blank_slate_body">
                      
                      <p class="lead">No results found, try with another filter</p>
                  </div>
               
                                  
                </div>
              </div>

               
                                  
               <div class="clearfix"></div>
              </div><!--/inner-cards-container-->
              </div>
            </div>
          <div class="row">
          <div class="col-md-12">
            <div class="pagination pull-right" ng-hide="isLoading">
                  
                  <!--ul class="list-unstyled list-inline"-->
                    <button ng-click="listPrevPageItems()" id="sample_editable_1_new" class="btn" ng-show="opppagination.prev">
                    {{_("Prev")}} 
                    </button>
                    <li ng-repeat="page in opppagination.pages" ng-class='{active: page.isCurrent}'><a  href="#/accounts/"><%= page.id %></a></li>
                    <button ng-click="listNextPageItems()"  class="btn" ng-show="opppagination.next">
                    {{_("Next")}} 
                    </button>
                  <!--/ul-->
                </div>
                <h3 class="pagination pull-right" ng-show="isLoading">Loading...</h3>
          </div>
            
          </div>
        
        <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE CONTAINER--> 
</div>