<div class="row subHeader">
    <div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{_(active_app.label)}}
            <i class="icon-angle-down fa fa-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>
    <div class=" subHeaderContent">
      <div class="col-md-9">
      <div class="row">
      <div class="col-md-10 col-xs-12 filter-content">
      <div class="filterOptions">
        <span role="button" class="filterItem activeFilter hidden-xs hiddenOnxs" ng-click="filterByOwner();selectedOption ='all'" ng-class="{activeFilter: selectedOption =='all'}">{{_('All')}} <span class="hidden-xs hiddenOnxs">{{_('Opportunities')}}</span> </span>
        <span role="button" class="filterItem hidden-xs hiddenOnxs" ng-class="{activeFilter: selectedOption =='my'}" ng-click="filterByOwner('{{ME}}');selectedOption ='my'">{{_('My')}} <span class="hidden-xs hiddenOnxs">{{_('Opportunities')}}</span></span>
        <div class="btn-group">
            <a class="filterItem" href="#" data-toggle="dropdown">
              <span class="showOnxs">{{_('Filter')}}</span>
              <span class="hidden-xs hiddenOnxs">{{_('Stages')}}</span>
              <i class="icon-angle-down"></i>
            </a>
             <ul class="dropdown-menu drp-dwn-xs-right">
               <li class="visible-xs">
                    <a  ng-click="filterByOwner()" href="#" data-toggle="modal">{{ _('All opportunities') }}</a>
               </li>
               <li class="visible-xs">
                  <a ng-click="filterByOwner('{{ME}}')" href="#" data-toggle="modal">{{ _('My opportunities') }}</a>
               </li>
               <li ng-repeat="stage in opportunitystages">
                  <a ng-click="filterByStage('<%=stage.entityKey%>')" href="#" data-toggle="modal"><%= stage.name %> </a>
               </li>
                <li>
                  <a class="visibleOnPhone" ng-click="showTagFilterCard();selectedOption ='tags'" href="#" data-toggle="modal">{{ _('Tags') }}</a>
                </li>
             </ul>
        </div>
        <div class="btn-group">
            <a class="filterItem" href="#" data-toggle="dropdown">
              {{ _('Sort')}}
              <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu drp-dwn-xs-right">
              <li>
                <a ng-click="orderBy('-updated_at')" href="#" data-toggle="modal">{{ _('Last modified') }}</a>
              </li>
              <li>
                <a ng-click="orderBy('name')" href="#" data-toggle="modal">{{ _('Name') }}</a>
              </li>
            </ul>
      </div>
       <span role="button" class="filterItem hiddenOnPhone hiddenOnmd"  ng-class="{activeFilter: selectedOption =='tags'}" ng-click="showTagFilterCard();selectedOption ='tags'"><i class="fa fa-tags"></i><span class="hidden-xs hiddenOnxs">Filter by </span> Tags</span>
      </div>
      </div>
      <div class="col-md-2 col-xs-2">
      <a href="/#/opportunities/new" class="hidden-xs hidden-sm btn red newAccountBtnOnscroll pull-right hidden afterScrollBtn">
           {{_('New')}} <span class="hidden-xs hiddenOnxs">{{_('Opportunity')}}</span>
         </a>
      </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-1 col-xs-3 litCardSwitcher"> 
        <a class="pull-right" style="font-size: 16px;color: #737373;cursor: pointer;" ng-click="switchShow()"> 
            <i class="fa fa-th-large" style="padding-top: 6px; font-size: 20px;" ng-show="show=='list'"></i>
            <i class="fa fa-list-ul" style="padding-top: 6px; font-size: 20px; display: none;" ng-show="show=='cards'"></i>
        </a>
    </div>
    </div>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoading">
    <div class="loader-dialog col-md-4 col-md-offset-4 ">
      <div class="loader-content">
        {{_('Loading...')}}
      </div>
    </div>
  </div>
  <div class="dropOut"  ng-show="showUntag" >
    <div class="trash">
      <img alt="delete tag" droppable ng-drop="dropOutTag()" class="" src="/static/img/iotrash.png" >
    </div>
</div>
  <div class="container-fluid"ng-show="immediateFailed">
    <div class="col-md-12">
      <h1>{{_('Sign-in Button;')}}</h1>
      <span id="signin">
        <span id="myGsignin"></span>
      </span>
    </div>
  </div>
<div ng-show="isSignedIn" class="listContainer">
  <!-- $cards container -->
  <div class="row ">
   <div class="col-md-12">
    <div class="row subHeaderContainer">
      <div class="task-actions taskCard list-group-item task-actions">
         <div class="row">
         <div class="col-md-12">
           <form id="task_actions" class="form-inline ng-pristine ng-valid" role="form">
           <div class="row">
           <label class="col-xs-1  col-md-1" style=" text-align: center; padding-left: 23px; ">
               <input ng-show="opportunities" title="Select Task" style="padding-top: 4px;" type="checkbox" ng-checked="allCardsSelected" ng-click="selectAll($event)" class="checkbox">
           </label>
           <div class="col-xs-10 col-sm-11 col-md-11 actionsbtnDiv">
               <!-- <button ng-show="opportunities"  title="Reopen Task" class="btn btn-sm btn-default task_action" ng-click="reopenTask()" ng-class="{disabled: selectedCards.length==0}">
                <i class="fa fa-unlock"></i>
                <span class="btn-text">
                  Export
                </span>
                </button>-->
                <button ng-show="opportunities" title="Add Tags" ng-click="showAssigneeTags()" class="btn btn-sm btn-default task_action disabled" ng-class="{disabled: selectedCards.length==0}">
                <i class="fa fa-tags"></i>
                 <span class="btn-text">
                  {{ _(' Tags')}}
                 </span>
                </button>
               <!-- <button title="Assign someone to Task" ng-click="assigneeModal()" class="btn btn-sm btn-default task_action disabled" ng-class="{disabled: selected_tasks.length==0}">
                  <i class="fa fa-mail-forward"></i>
                   <span class="btn-text">
                  Send mail
                   </span>
                </button>-->
                <button ng-show="opportunities" title="Delete opportunity" ng-click="editbeforedeleteselection()" class="btn btn-sm btn-default task_action  disabled" ng-class="{disabled: selectedCards.length==0}">
                  <i class="fa fa-trash-o"></i>
                   <span class="btn-text">
                   {{ _(' Delete')}}
                   </span>
                </button>
                <div class="pull-right newbtnactionsbar">
                     <a href="/#/opportunities/new" class="btn red newBtn" style=" margin-bottom: 0px; ">
                          {{ _(' New Opportunity')}}
                     </a>
                </div>
        </div>
        
      </div>
    </form>
   </div>
 </div>
</div>
</div>
<div class="row">
   <div class="tab-pane">
      <div class="row">
        <div class="col-md-12" ng-show="show=='list'">
            <div class="table-responsive showPage" ng-show="opportunities">
                <table class="table contactstable">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th >                          
                            <a href="" ng-click="filterBy('account.name')"> {{ _(' Name')}}</a>
                        </th>
                        <th >                          
                            <a href="" ng-click="filterBy('name')"> {{ _(' Opportunity')}}</a>
                            <i class="fa fa-caret-up" ng-show="fltby == '-name'"></i>
                            <i class="fa fa-caret-down" ng-show="fltby == 'name'"></i>
                        </th>
                        <th >                          
                            <a href="" ng-click="fltby = 'title'; reverse=false"> {{ _(' Amount')}}</a>
                        </th>
                        

                        <th style="text-align:center">                          
                          <a href=""  ng-click="filterBy('stage')" > {{ _(' Stage')}}</a>
                          <i class="fa fa-caret-up" ng-show="fltby == '-stage'"></i>
                          <i class="fa fa-caret-down" ng-show="fltby == 'stage'"></i>
                        </th>
                          <th style=" width: 100px; ">                          
                            <a href="" ng-click="fltby = 'updated_at'; reverse=false" > {{ _(' Last update')}}</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="opportunity in opportunities | orderBy:fltby:reverse" droppable ng-drop="dropTag(opportunity,$index)" >
                        <td>
                          <input title="Select all Users" type="checkbox" ng-checked="isSelectedCard(opportunity)" ng-click="selectCardwithCheck($event,$index,opportunity)" >
                        </td>
                        <td style="word-wrap: break-word;max-width:200px">
                            <a href="/#/accounts/show/<%= opportunity.account.id %>" style=" font-size: 15px; font-weight: bold; ">
                             <%= opportunity.account.name %>
                                        </a>
                        </td>
                        <td>
                          <div class="nameContainer" style="max-width:210px font-size:15px">
                            <a href="/#/opportunities/show/<%= opportunity.id %>" style=" font-size: 15px; " class="profile-link">
                               <%= opportunity.name %>
                            </a>
                          </div>
                          <div class="tagsContainer" style='margin-top:5px'>
                             <span ng-repeat="tag in opportunity.tags"  draggable  ng-drag="dragTagItem(tag.edgeKey)" class="pull-left task-label task-tag badge" style="background-color: <%=tag.color%>;color:<%=idealTextColor(tag.color)%>;">  <%= tag.name %>  </span>
                             <div class="clearfix"></div>
                          </div>
                        </td>
                        <td>
                            <span style=" font-size: 16px; text-align: center; "><%= opportunity.currency %> <%= opportunity.amount_total | customCurrency:"":",":".":0 %></span><br>
                            <span style=" color: rgb(156, 156, 156); font-size: 13px; " class="amount-details" ng-show="opportunity.duration_unit!='fixed'">
                                <%= opportunity.duration %> × <%= opportunity.amount_per_unit | customCurrency:"":",":".":0 %>/<%= opportunity.duration_unit %>
                            </span>

                        </td>
                        
                        <td>
                          <div easypiechart class="chart chartOnList" options="chartOptionsOnList" percent="opportunity.current_stage.probability"></div>
                          <div class="stage">                            
                              <div style=" text-align: center;">
                                <span style=" font-size: 16px; color: rgb(39, 153, 28); "><%=opportunity.current_stage.probability%> %</span>
                                <span style=" font-size: 15px; "><%=opportunity.current_stage.name%></span>
                                
                              </div>
                           </div>
                        </td>
                        <td style=" font-size: 11px; ">
                          <%=fromNow(opportunity.updated_at)%>
                        </td>
                    </tr>                    
                </tbody>
                </table>
                <div class="loaderCard" ng-show="isMoreItemLoading">
                      <div class="loaderCardContent">
                         <img class="img-responsive " src="/static/img/gloader.gif">
                         <span> {{ _('Loading...')}}</span>
                      </div>
                </div>
            </div>
        </div>
      <div class="col-md-12 waterfall" ng-hide="blankStateopportunity" ng-show="show=='cards'">
         <div class="labelsCardElement cardElement" data-span="all" ng-show="showTagsFilter">
              <button type="button" class="close"  aria-hidden="true" ng-click="hideTagFilterCard()"></button>
              <ul class="list-group tags-list">
              <li ng-repeat="tag_item in tags" class="list-group-item tags-list-item"  >
                <div class="row">
                  <span  ng-drag="dragTag(tag_item)" draggable class="with-color" ng-dblclick="editTag(tag_item)" ng-show="(tag_item!=edited_tag)||(!manage_tags)" style="background-color:<%=tag_item.color%>;color:<%=idealTextColor(tag_item.color)%>;">
                      <%= tag_item.name %>
                  </span>
                   <input type="checkbox" ng-show="!manage_tags" ng-click="selectTag(tag_item,$index,$event)" style="margin-right: 10px;" class="pull-right customCheck" ng-checked="isSelected()">
                  <form ng-submit="doneEditTag(tag_item)" ng-show="(tag_item==edited_tag)&&(manage_tags)">
                    <input ng-blur="doneEditTag(tag_item)" type="text" class="col-md-offset-1 col-md-7 form-control inlineEditTag " ng-model="tag_item.name">
                  </form>
                  <button ng-click="deleteTag(tag_item)" class="close_tag close pull-right" ng-show="manage_tags"></button>
                </div>
              </li>
              <li class="list-group-item tags-list-item" ng-hide="showNewTag" ng-click="showNewTagForm()">
                <a ng-click="" class="btn-link addAnotherPhone">
                  <i class="fa fa-tags"></i>  Add a new label
                </a>
              </li>
            </ul>
            <form class="well newTagForm" role="form" ng-show="showNewTag">
              <button type="button" class="close"  aria-hidden="true" ng-click="hideNewTagForm()"></button>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="text" ng-model="tag.name" class="form-control" id="tag_name" placeholder="New label">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <ul class="color_pallet_menu">
                    <li ng-repeat="color in color_pallet" ng-click="checkColor(color)" class="color-<%=color.name%>" ng-class='{colorChecked: color.name==tag.color.name}' >
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <input type="submit"  ng-click="addNewtag(tag)" class="btn green pull-right" value="Add">
                </div>
              </div>
            </form>
            <div class="form-group btn-manage-tags" ng-show="tags">
              <button class="btn btn-default pull-right" ng-click="manage_tags=!manage_tags;manage()">        Manage Tags
              </button>
            </div>
        </div>
         <div  ng-repeat="opportunity in opportunities" droppable id="card_<%=$index%>"  class=" oppCard cardElement"  ng-drop="dropTag(opportunity,$index)" >
                  <div class="btn-group inCardOptionsBtn">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                     <i class="fa fa-ellipsis-vertical"></i>
                    </button>
                    <ul class="dropdown-menu drp-dwn-right " role="menu">
                      <li>
                       <a href="" ng-click="showAssigneeTags(opportunity)">
                           <i class='fa fa-tags'></i> {{_('Add tags')}} </a>
                      </li>
                      <li>
                       <a href="" ng-click="editbeforedelete(opportunity)">
                           <i class='fa fa-trash-o'></i> {{_('Delete')}} </a>
                      </li>
                    </ul>
                  </div>
                  <div class="detailsSection">
                          <div class="col-md-4 col-xs-4">
                            <input  class="checkboxOnSmallScreen" title="Select Account" style="padding-top: 4px;position: absolute;left: 5px;" type="checkbox" ng-checked="isSelectedCard(opportunity)" ng-click="selectCardwithCheck($event,$index,opportunity)" >
                            <div class="stage">
                                <div easypiechart class="chart" options="chartOptions" percent="opportunity.current_stage.probability"></div>
                                <div class="oppStage">
                                <div class="oppStageContent">
                                  <span><%=opportunity.current_stage.name%></span><br>
                                  <span><%=opportunity.current_stage.probability%> %</span>
                                </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-8 col-xs-8">
                            <div class="oppDescription row">
                                    <a href="/#/opportunities/show/<%= opportunity.id %>" title="<%= opportunity.name %>"><h4 style="height:26px" class="fittext ellipsis" min-font-size="14" max-font-size="22"  text="opportunity.name">
                                      <span class="fittext" max-font-size="18"  text="opportunity.name"></span>
                                    </h4></a>

                            </div>
                            <div class="oppDetails col-md-12">
                                    <div class="oppPrice">
                                      <span><%= opportunity.currency %> <%= opportunity.amount_total | customCurrency:"":",":".":0 %></span>
                                      <div>
                                        <span ng-show="opportunity.account.name" class="withAmount">
                                         {{_('with')}} <a href="/#/accounts/show/<%= opportunity.account.id %>">
                                           <%= opportunity.account.name %>
                                        </a>
                                       </span>
                                      </div>

                                      <p class="amount-details" ng-show="opportunity.duration_unit!='fixed'">
                                          <%= opportunity.duration %> × <%= opportunity.amount_per_unit | customCurrency:"":",":".":0 %>/<%= opportunity.duration_unit %>
                                      </p>
                                    </div>

                                    <div class="oppEstDate">
                                      {{_('Estimated close date:')}} <%=opportunity.closed_date | date:'MMMM dd, yyyy'%>
                                    </div>
                                    <div class="oppEstDate">
                                      {{_('Last updated:')}} <%=fromNow(opportunity.updated_at)%>
                                    </div>
                            </div>
                          </div>

                    </div>
                  <div class="tagsSection" ng-class="{hidden: opportunity.tags==null}">
                      <div class="sectionContent">
                           <a ng-repeat="tag in opportunity.tags" href="/#/search/type:opportunity tags:<%=tag.id%>"> <span draggable  ng-drag="dragTagItem(tag.edgeKey)" class="pull-right task-label task-tag badge ng-scope ng-binding" style="background-color: <%=tag.color%>;color:<%=idealTextColor(tag.color)%>;">  <%= tag.name %></span>
                           </a>
                      </div>
                  </div>
        </div>
        <div ng-show="blankStateopportunity" data-span="3" class="col-md-12 responsive" data-tablet="span6" data-desktop="span12">
          <div class="dashboard-stat cards">
            <div class="blank_slate_arrow"></div>
              <div class="thumbnail blank_slate_body">
                <img class="img-responsive" src="/static/img/opportunities_blank.png">
                  <p class="lead">{{ _('Know which proposals/bids are pending, which you’ve won, and which you’ve lost. Enter notes about the opportunities, attach proposals or contracts to the opportunities, and keep a log of any changes.') }}
                  </p>
              </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!--/inner-cards-container-->
      <!--$Blank state-->
      <div class="col-md-12" ng-show="blankStateopportunity">
        <div  data-span="3" class="dashboard-stat cards" data-tablet="span6" data-desktop="span12">
          <div class="">
            <div class="blank_slate_arrow"></div>
            <div class="thumbnail blank_slate_body">
              <img class="img-responsive" src="/static/img/opportunities_blank.png">
              <p class="lead">
                {{ _('Know which proposals/bids are pending, which you’ve won, and which you’ve lost. Enter notes about the opportunities, attach proposals or contracts to the opportunities, and keep a log of any changes.') }}
              </p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!--/inner-cards-container-->
      <div ng-show="isFiltering * !opportunities"  class="col-md-12 " ng-show="blankStateaccount">
          <div  data-span="3" class="dashboard-stat cards" data-tablet="span6" data-desktop="span12">
            <div class="">
              <div class="blank_slate_arrow"></div>
              <div class="thumbnail blank_slate_body">
                <p class="lead">{{ _('No results found, try with another filter') }}</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div><!--/inner-cards-container-->
          </div>
       </div>
     </div>
    </div>
  </div>
  </div>
      <!-- END PAGE CONTAINER-->
</div>
      <div class="fixed-labelsCard visible-md visible-lg">
      <div class="row">
      <div class="col-md-12">
        <div class="portlet showCard">
          <div class="portlet-title">
            <div class="caption">
                    <!-- class="fa fa-reorder"--><i></i>{{_('Labels')}}
            </div>
          </div>
          <div class="portlet-body">
            <ul class="list-group tags-list" id="slimList">
              <li ng-repeat="tag_item in tags" class="list-group-item tags-list-item"  >
                <div class="row">
                  <span editable-text="tag_item.name" draggable ng-drag="dragTag(tag_item)" class="with-color" ng-click="editTag(tag_item)" ng-show="(tag_item!=edited_tag)||(!manage_tags)" style="background-color:<%=tag_item.color%>;color:<%=idealTextColor(tag_item.color)%>;"
                  ng-model='tag_item.name'  onhide="hideEditable()" onbeforesave="inlinePatch('tag','', 'title',tag_item,$data)">
                      <%= tag_item.name %>
                  </span>
                 <input 
                 type="checkbox" 
                 ng-show="(tag_item!=edited_tag)&&(!manage_tags)"
                 ng-click="selectTag(tag_item,$index,$event)" 
                 style="margin-right: 10px;" 
                 class="pull-right customCheck" 
                 ng-checked="isSelected()">

                  <form ng-submit="doneEditTag(tag_item)" ng-show="(tag_item==edited_tag)&&(manage_tags)">
                    <input ng-blur="doneEditTag(tag_item)" type="text" class="col-md-offset-1 col-md-7 form-control inlineEditTag " ng-model="tag_item.name">
                  </form>
                  <button ng-click="deleteTag(tag_item)" class="close_tag close pull-right" ng-show="manage_tags"></button>
                </div>
              </li>
            </ul>
            <li class="list-group-item tags-list-item" style="border:none;margin-bottom:5px;" ng-hide="showNewTag" ng-click="showNewTag=true">
                <a ng-click="" class="btn-link addAnotherPhone">
                  <i class="fa fa-tags"></i>  {{_('Add a new label')}}
                </a>
           </li>
            <form class="well newTagForm" role="form" ng-show="showNewTag">
              <button type="button" class="close"  aria-hidden="true" ng-click="showNewTag=false"></button>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="text" ng-model="tag.name" class="form-control" id="tag_name" placeholder="{{_('New label')}}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <ul class="color_pallet_menu">
                    <li ng-repeat="color in color_pallet" ng-click="checkColor(color)" class="color-<%=color.name%>" ng-class='{colorChecked: color.name==tag.color.name}' >
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <input type="submit"  ng-click="addNewtag(tag)" class="btn green pull-right" value="{{_('Add')}}">
                </div>
              </div>
            </form>
            <div class="form-group btn-manage-tags" ng-show="tags">
              <button class="btn btn-default btn-block " ng-click="manage_tags=!manage_tags;manage()">{{_('Manage Tags')}}
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
<div id="addOpportunityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabel" class="modal-title">{{_("New Opportunity")}}</h3>
              </div>
              <div class="modal-body">
                <form id="addOpportunity" name="addOpportunity"  ng-keyup="addOpportunityOnKey(opportunity)" class="form-horizontal">




                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Name")}}</label>

                       <div class="col-md-9">
                          <input type="text" required id="id_name" class="form-control" ng-model="opportunity.name">
                       </div>

                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Account")}} *</label>

                        <div class="col-md-9">
                          <input type="text"  ng-model="searchAccountQuery" typeahead="result as result.name  for result in results | filter:$viewValue | limitTo:10" typeahead-on-select="selectAccount()" class="form-control"placeholder="{{_('Search')}}">
                        </div>


                    </div>
                    <!--div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Labels")}} </label>

                       <div class="col-md-9">
                          <input type="text"  id="id_description" class="form-control" ng-model="opportunity.description" placeholder="Add labels to categorize your deals">
                       </div>
                    </div-->
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Amount")}} </label>


                       <div class="col-md-9">
                          <input type="text" required id="id_name" class="form-control" ng-model="opportunity.amount_total">
                       </div>

                        <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-3 inline-div">
                              <select  class="form-control" ng-model="opportunity.currency">
                                <option value="USD">$ - USD</option>
                                <option value="EUR">€ - EUR</option>
                                <option value="CAD">$ - CAD</option>
                                <option value="GBP">£ - GBP</option>
                                <option value="AUD">$ - AUD</option>
                                <option value="">---</option>
                                <option value="AED">د.إ - AED</option>
                                <option value="ANG">ƒ - ANG</option>
                                <option value="AOA">AOA - AOA</option>
                                <option value="ARS">$ - ARS</option>
                                <option value="BAM">KM - BAM</option>
                                <option value="BBD">$ - BBD</option>
                                <option value="BGL">лв - BGL</option>
                                <option value="BHD">BD - BHD</option>
                                <option value="BND">$ - BND</option>
                                <option value="BRL">R$ - BRL</option>
                                <option value="BTC">฿ - BTC</option>
                                <option value="CHF">Fr - CHF</option>
                                <option value="CLF">UF - CLF</option>
                                <option value="CLP">$ - CLP</option>
                                <option value="CNY">¥ - CNY</option>
                                <option value="COP">$ - COP</option>
                                <option value="CRC">₡ - CRC</option>
                                <option value="CZK">Kč - CZK</option>
                                <option value="DKK">kr - DKK</option>
                                <option value="EEK">KR - EEK</option>
                                <option value="EGP">E£ - EGP</option>
                                <option value="FJD">FJ$ - FJD</option>
                                <option value="GTQ">Q - GTQ</option>
                                <option value="HKD">$ - HKD</option>
                                <option value="HRK">kn  - HRK</option>
                                <option value="HUF">Ft - HUF</option>
                                <option value="IDR">Rp - IDR</option>
                                <option value="ILS">₪ - ILS</option>
                                <option value="INR">₨ - INR</option>
                                <option value="IRR">ریال - IRR</option>
                                <option value="ISK">kr - ISK</option>
                                <option value="JOD">د.ا - JOD</option>
                                <option value="JPY">¥ - JPY</option>
                                <option value="KES">KSh - KES</option>
                                <option value="KRW">₩ - KRW</option>
                                <option value="KWD">KD - KWD</option>
                                <option value="KYD">$ - KYD</option>
                                <option value="LTL">Lt - LTL</option>
                                <option value="LVL">Ls - LVL</option>
                                <option value="MAD">د.م. - MAD</option>
                                <option value="MVR">Rf - MVR</option>
                                <option value="MXN">$ - MXN</option>
                                <option value="MYR">RM - MYR</option>
                                <option value="NGN">₦ - NGN</option>
                                <option value="NOK">kr - NOK</option>
                                <option value="NZD">$ - NZD</option>
                                <option value="OMR">ر.ع - OMR</option>
                                <option value="PEN">S/. - PEN</option>
                                <option value="PHP">₱ - PHP</option>
                                <option value="PLN">zł - PLN</option>
                                <option value="QAR">ر.ق - QAR</option>
                                <option value="RON">L - RON</option>
                                <option value="RUB">руб. - RUB</option>
                                <option value="SAR">ر.س - SAR</option>
                                <option value="SEK">kr - SEK</option>
                                <option value="SGD">$ - SGD</option>
                                <option value="THB">฿ - THB</option>
                                <option value="TRY">TL - TRY</option>
                                <option value="TTD">$ - TTD</option>
                                <option value="TWD">$ - TWD</option>
                                <option value="UAH">₴ - UAH</option>
                                <option value="VEF">Bs F - VEF</option>
                                <option value="VND">₫ - VND</option>
                                <option value="XCD">$ - XCD</option>
                                <option value="ZAR">R - ZAR</option>
                                <option value="DZD">د.ج - DZD</option>
                              </select>
                          </div>
                          <div class="col-md-4 inline-div">
                               <input amount type="text" pattern="\d*"  required id="id_amount" class="form-control" ng-model="opportunity.amount">
                          </div>
                          <div class="col-md-3 inline-div">
                            <select   class="form-control" ng-model="opportunity.price_type">
                                <option value="fixed">{{_('Fixed bid')}}</option>
                                <option value="hour">{{_('Per hour')}}</option>
                                <option value="month">{{_('Per month')}}</option>
                                <option value="year">{{_('Per year')}}</option>
                            </select>
                          </div>
                          <div class="col-md-2 inline-div">
                             <input ng-hide="opportunity.price_type=='fixed'" type="text" pattern="\d*"  required id="" class="form-control" ng-model="opportunity.quantity">
                          </div>
                        </div>


                        </div>

                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Stage")}} </label>

                       <div class="col-md-9">
                          <select ng-model="stage_selected" ng-options="opps.name + ' - ( ' + opps.probability + '% )' for opps in opportunitystages | orderBy: 'name':true" class="form-control" >
                            <option value="">-- {{_('choose Stage')}} --</option>

                          </select>

                      </div>



                    </div>
                    <hr/>
                    <p>{{_('Who can access?')}}</p>


                     <div class='radio-list'>

                            <label >
                            <input type="radio" name="optionsRadios"  value="public" ng-model="opportunity.access" checked />
                            {{_('public: Anyone within your organization')}}
                            </label>
                            <label >
                            <input type="radio"  name="optionsRadios" value="private" ng-model="opportunity.access" />
                            {{_('private: only you and your collaborators')}}
                            </label>


                    </div>



              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                <input  ng-click="save(opportunity)" type="submit" class="btn green" value="Add this opportunity">
                <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
              </div>
               </form>
                </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
     </div>
      <div id="BeforedeleteOpportunity" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">Delete Opportunity</h3>
              </div>
              <div class="modal-body">
                 <form id="seletesho" name="deletesho" class="form-horizontal">
                  <fieldset>

                  <p>{{_("Are you sure you want to delete")}} :  <%=opportunity.name %> .</p>



                    </fieldset>

              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                <input  ng-click="deleteopportunity()" type="submit" class="btn red" value="Delete">
                <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
              </div>
               </form>
          </div>
        </div>
       </div>
           <div id="BeforedeleteSelectedOpportunities" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">Delete Opportunity</h3>
              </div>
              <div class="modal-body">
                 <form id="seletesho" name="deletesho" class="form-horizontal">
                  <fieldset>

                   <p ng-show="selectedCards.length > 1">{{_("Are you sure you want to delete")}} :  <%=selectedCards.length %> opportunities .</p>
                    <p ng-show="selectedCards.length==1">{{_("Are you sure you want to delete")}} :  <%=selectedCards[0].name %> .</p>



                    </fieldset>

              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                <input  ng-click="deleteSelection()" type="submit" class="btn red" value="Delete">
                <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
              </div>
               </form>
          </div>
        </div>
       </div>
          <div id="assigneeTagsToOpp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clearTagsModel('select2_sample2')">×</button>
              <h3 id="myModalLabel" class="modal-title">Add Tags </h3>
            </div>
            <div class="modal-body">
               <form id="seletesho" name="deletesho" class="form-horizontal">
               <div class="form-group">
                    <select id="select2_sample2" class="form-control select2" multiple>
                      <option ng-repeat="tag in tags"
                      value='<%=tag.entityKey%>'>
                        <%=tag.name%>
                      </option>
                    </select>
                </div>
            </div>
              <div class="modal-footer">
                   <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="clearTagsModel('select2_sample2')">{{_("Cancel")}}</button>
                <input ng-hide="isLoadingTask" ng-click="addTagstoOpportunities()" type="submit" class="btn green" value="Add">
                <input ng-show="isLoadingTask" type="submit" class="btn green" value="Loading..." disabled>
              </div>
          </form>
        </div>
      </div>
  </div>
<script type="text/javascript">
  $("#select2_sample2").select2({
        placeholder: "{{_('Click to Select a label')}}",
        allowClear: false
    });
  var handleUniform = function () {
        if (!jQuery().uniform) {
            return;
        }
        var test = $("input[type=radio]:not(.toggle, .star)");
        if (test.size() > 0) {
            test.each(function () {
                if ($(this).parents(".checker").size() == 0) {
                    $(this).show();
                    $(this).uniform();
                }
            });
        }
    }
    handleUniform();
    $('.waterfall').waterfall({
        colMinWidth: 315,
        defaultContainerWidth: 800,
        autoresize: true
      });
 $('.textfill').textfill({debug: true, maxFontPixels: 16});
  $('#slimList').slimScroll({});
</script>
