<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->
      <ul class="page-sidebar-menu">

        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{ tab.url }}"><i class="icon-cogs"></i><span class="title">{{_(tab.label)}}</span></a></li>
          {% endfor %}



      </ul>
      <!-- END SIDEBAR MENU -->
</div>
<div class="row subHeader">
<div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{_(active_app.label)}}
            <i class="icon-angle-down fa fa-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>
  <div class=" subHeaderContent">
    <div class="col-md-9">
                  <h2 class="page-title">
            <a href="/#/opportunities" data-toggle="tooltip" data-placement="bottom" title="Back to Accounts">
            <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false"></a>     {{_("Opportunities")}} > <%= opportunity.name %>  </h2>
            <button class="btn red newAccountBtnOnscroll pull-right hidden" ng-click="validateBeforeSave(opportunity)">{{ _('Create')}}</button>
  </div>
  </div>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
          <div class="loader-content">
            {{_('Loading...')}}
          </div>
        </div>

  </div>

  <div class="" ng-show="immediateFailed">
     <div class="col-md-12">
      <h1>{{_('Sign-in Button;')}}</h1>
          <span id="signin">
              <span id="myGsignin"></span>
          </span>
    </div>
  </div>
  <div class="row" >

        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
      <div class="col-md-9">
      <div class="row">
          <div class="showPage col-md-12 newActionsBtn">
          <span>{{_('Create Opportunity')}} </span>
          <button class="btn red newAccountBtn pull-right" ng-click="validateBeforeSave(opportunity)">{{_('Create')}}</button>
          <div class="clearfix"></div>
        </div>
       <div class="showPage slimForm col-md-12 margin-bottom-15">
            <div class="row">
            <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
              <!-- BEGIN PORTLET-->
              <form class="form-horizontal ">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="col-md-12" ng-class="{ 'has-error': oppo_err.name}">
                    <input autofocus ng-model="opportunity.name" placeholder="{{_('Type here the opportunity name...')}}" type="text" class="form-control" required>
                  </div>
                </div>
              </div>
            </div>
              <!-- BEGIN PORTLET-->
              <form class="form-horizontal ">

              <div class="row">
                  <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="col-md-7 sm-margin-bottom-15 " ng-class="{ 'has-error': oppo_err.amount_per_unit}">
                                  <input type="text" required id="id_name" class="form-control" placeholder="{{_('Opportunity amount...')}}" ng-model="opportunity.amount_per_unit ">
                               </div>
                              <div class="col-md-5 ">
                               <select  class="form-control" ng-model="opportunity.currency">
                                <option value="USD" selected>$ - USD</option>
                                <option value="EUR">€ - EUR</option>
                                <option value="CAD">$ - CAD</option>
                                <option value="GBP">£ - GBP</option>
                                <option value="AUD">$ - AUD</option>
                                <option value="">---</option>
                                <option value="AED">د.إ - AED</option>
                                <option value="ANG">ƒ - ANG</option>
                                <option value="AOA">AOA - AOA</option>
                                <option value="ARS">$ - ARS</option>
                                <option value="BAM">KM - BAM</option>
                                <option value="BBD">$ - BBD</option>
                                <option value="BGL">лв - BGL</option>
                                <option value="BHD">BD - BHD</option>
                                <option value="BND">$ - BND</option>
                                <option value="BRL">R$ - BRL</option>
                                <option value="BTC">฿ - BTC</option>
                                <option value="CHF">Fr - CHF</option>
                                <option value="CLF">UF - CLF</option>
                                <option value="CLP">$ - CLP</option>
                                <option value="CNY">¥ - CNY</option>
                                <option value="COP">$ - COP</option>
                                <option value="CRC">₡ - CRC</option>
                                <option value="CZK">Kč - CZK</option>
                                <option value="DKK">kr - DKK</option>
                                <option value="EEK">KR - EEK</option>
                                <option value="EGP">E£ - EGP</option>
                                <option value="FJD">FJ$ - FJD</option>
                                <option value="GTQ">Q - GTQ</option>
                                <option value="HKD">$ - HKD</option>
                                <option value="HRK">kn  - HRK</option>
                                <option value="HUF">Ft - HUF</option>
                                <option value="IDR">Rp - IDR</option>
                                <option value="ILS">₪ - ILS</option>
                                <option value="INR">₨ - INR</option>
                                <option value="IRR">ریال - IRR</option>
                                <option value="ISK">kr - ISK</option>
                                <option value="JOD">د.ا - JOD</option>
                                <option value="JPY">¥ - JPY</option>
                                <option value="KES">KSh - KES</option>
                                <option value="KRW">₩ - KRW</option>
                                <option value="KWD">KD - KWD</option>
                                <option value="KYD">$ - KYD</option>
                                <option value="LTL">Lt - LTL</option>
                                <option value="LVL">Ls - LVL</option>
                                <option value="MAD">د.م. - MAD</option>
                                <option value="MVR">Rf - MVR</option>
                                <option value="MXN">$ - MXN</option>
                                <option value="MYR">RM - MYR</option>
                                <option value="NGN">₦ - NGN</option>
                                <option value="NOK">kr - NOK</option>
                                <option value="NZD">$ - NZD</option>
                                <option value="OMR">ر.ع - OMR</option>
                                <option value="PEN">S/. - PEN</option>
                                <option value="PHP">₱ - PHP</option>
                                <option value="PLN">zł - PLN</option>
                                <option value="QAR">ر.ق - QAR</option>
                                <option value="RON">L - RON</option>
                                <option value="RUB">руб. - RUB</option>
                                <option value="SAR">ر.س - SAR</option>
                                <option value="SEK">kr - SEK</option>
                                <option value="SGD">$ - SGD</option>
                                <option value="THB">฿ - THB</option>
                                <option value="TRY">TL - TRY</option>
                                <option value="TTD">$ - TTD</option>
                                <option value="TWD">$ - TWD</option>
                                <option value="UAH">₴ - UAH</option>
                                <option value="VEF">Bs F - VEF</option>
                                <option value="VND">₫ - VND</option>
                                <option value="XCD">$ - XCD</option>
                                <option value="ZAR">R - ZAR</option>
                                <option value="DZD">د.ج - DZD</option>
                              </select>
                              </div>
                            </div>
                          </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-7 ">
                                    <select   class="form-control" ng-model="opportunity.duration_unit">
                                        <option value="fixed">{{_('Fixed bid')}}</option>
                                        <option value="hour">{{_('Per hour')}}</option>
                                        <option value="month">{{_('Per month')}}</option>
                                        <option value="year">{{_('Per year')}}</option>
                                    </select>
                                </div>
                                <div class="col-md-5 ">
                                   <input ng-hide="opportunity.duration_unit=='fixed'" type="text" pattern="\d*"  required id="" class="form-control" ng-model="opportunity.duration">
                                </div>
                              </div>
                            </div>
                        </div>
                  </div>

                  <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="col-md-12" ng-class="{ 'has-error': oppo_err.account}" >
                                 <input type="text" required  ng-model="searchAccountQuery" typeahead="accountResult as accountResult.name  for accountResult in accountsResults | filter:$viewValue | limitTo:10" typeahead-on-select="selectAccount()" class="form-control" placeholder="{{_('Account')}}">
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="col-md-12">
                                <input type="text" required ng-model="searchContactQuery" typeahead="contactResult as contactResult.firstname + ' '+  contactResult.lastname for contactResult in contactsResults | filter:$viewValue | limitTo:10" typeahead-on-select="selectContact()" class="form-control" placeholder="{{_('Contact')}}">
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>

                  </div>

              </div>
              </div>
              <div class="row">
                         <div class="col-md-6">

                               <div class="news-blocks blank-card blank-card-yellow">
                                <h3>{{ _('Opportunity Stage') }}</h3>
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="form-group">

                                        <div class="">
                                          <select ng-model="initialStage" ng-options="opps as opps.name + ' - ( ' + opps.probability + '% )'   for opps in opportunitystages track by opps.probability" class="form-control selector-margin" >

                                          </select>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <p>{{ _('Estimated closed date') }}:</p>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input cusdatetimepicker data-model="opportunity.closed_date" type="text" class="form-control" placeholder="{{ _('Add a due date')}}" value="" id="leadEventStartsAt">
                                        </div>
                                    </div>
                                  </div>
                                </div>


                              </div>
                              <div class="customField news-blocks blank-card blank-card-bluep">

                               <h3>{{ _('Custom Fields') }}</h3>

                              
                                <ul class="list-unstyled contact-infos showList" >
                                    <li ng-repeat="custom in customfields">
                                    <span>
                                    <%= custom.field%>  : <%= custom.value%> </span>
                                      <button type="button" class="close closeContactForm" tabindex="-1" ng-click="deleteInfos(customfields,$index)" data-dismiss="alert"></button>
                                    </li>
                                </ul>
                                <form class="form-inline customField" role="form">
                                    <div class="form-group sm-group l-sm-inline" style="">
                                      <label class="sr-only" for="exampleInputEmail2">{{_('Field')}}</label>
                                      <input type="text" class="form-control" id="exampleInputEmail2" ng-model="customfield.field" placeholder="{{_('Add field name')}}">
                                    </div>
                                    <div class="form-group sm-group r-sm-inline" style="">
                                      <label class="sr-only" for="exampleInputEmail2">{{_('Value')}}</label>
                                      <input ng-enter="pushElement(customfield,customfields,'customfields')" ng-blur="pushElement(customfield,customfields,'customfields')" type="text" class="form-control" id="exampleInputEmail2" ng-model="customfield.value" placeholder="{{_('Add a value')}}">
                                    </div>
                                    <!-- <button type="submit" class="btn blue jfk-button jfk-button-action" ng-click="pushElement(customfield,customfields,'customfields')">{{_('Add')}}</button>-->
                                </form>
                             </div>


                          </div>

              <div class="col-md-6">
                  <div class="news-blocks blank-card blank-card-red">
                    <h3>{{_('Opportunity Informations')}}</h3>

                    <div class="news-block-tags">
                      <div class="form-group row">
                        <label class="control-label col-md-3">{{_('Description')}}</label>
                        <div class="col-md-9">
                          <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="opportunity.description"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="news-block-tags">
                      <div class="form-group row">
                        <label class="control-label col-md-3">{{_('Competitors')}}</label>
                        <div class="col-md-9">
                          <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="opportunity.competitor"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              </div>

            </div>
            </div>
            </div>
            </div>
       </div>
              <div class="col-md-3 ">
                  <div class="row">
                    <div class="col-md-12">
                      <!-- BEGIN PORTLET-->
                      <div class="portlet showPage rightCardContent">
                        <div class="portlet-title line">
                          <div class="caption"><i class="fa fa-lock"></i>{{_('Who can access ?')}}</div>

                        </div>
                        <div class="portlet-body" id="chats">
                                  <label class="radio line inbox-label">
                                        <input type="radio" value="public" ng-model="opportunity.access"/>
                                        {{_('public: Anyone within your organization can access and find')}}
                                  </label>
                                  <label class="radio line inbox-label">
                                        <input type="radio"  value="private" ng-model="opportunity.access"/>
                                        {{_('private: only you and your collaborators')}}
                                  </label>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

        <!-- END PAGE CONTENT-->
      </div>

      <!--HKA 18.11.2013  Addresse Modal  -->

    <div id="addressmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Add Address")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addAddress" name="addemail"  class="form-horizontal">

                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Street")}} </label>
                        <div class="col-md-9">
                          <input type="text"   class="form-control" id="id_street" ng-model="address.street">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("City")}} </label>
                        <div class="col-md-9">
                          <input type="text"  class="form-control" id="id_city" ng-model="address.city">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("State/Province")}} </label>
                        <div class="col-md-9">
                          <input type="text" class="form-control"  id="id_state" ng-model="address.state">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Postal Code")}} </label>
                        <div class="col-md-9">
                          <input type="text"   class="form-control" id="id_postal" ng-model="address.postal">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Country")}} </label>
                        <div class="col-md-9">
                          <input type="text"  class="form-control"  id="id_country" ng-model="address.country">
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_('Cancel')}}</button>

                  <input  type="submit" ng-click="pushElement(address,addresses)" class="btn green" value="Add this address">
                  <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
              </div>
                </form>
                </div>
          </div>
        </div>

<!--HKA 11.10.2013 Edit Tagline -->
   <div id="EditTagModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel" class="modal-title">{{_("Edit Lead")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updateTagline(lead)" class="form-horizontal">


                  <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Tagline")}} </label>

                        <div class="col-md-9">
                          <!--textarea rows="2" cols="50"  id="id_tagline" ng-model="account.tagline"/-->
                           <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="lead.tagline"></textarea>

                        </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
                </form>
               </div>
      </div>
  </div>

  <!--HKA 11.10.2013 Edit Introduction  -->
    <div id="EditIntroModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

       <div class="modal-dialog">
         <div class="modal-content">
                  <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel" class="modal-title">{{_("Edit Lead")}}</h3>
                  </div>

                  <div class="modal-body">
                       <form id="editTagline" name="edittag" ng-submit="updateintro(lead)" class="form-horizontal">

                        <div class="form-group">
                              <label  class=" col-md-3 control-label">{{_("Introduction")}} </label>

                              <div class="col-md-9">

                                 <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="lead.introduction"></textarea>

                              </div>
                          </div>
                  </div>
                  <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                        <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
                  </div>
                     </form>
                     </div>
            </div>
        </div>

    </div>

      <!-- END PAGE CONTAINER-->
</div>
<script type="text/javascript">
</script>
