/***
light theme
***/

/***
Reset and overrides  
***/
body {
  background-color: #fafafa !important;
}
/***
Page header
***/
.header .navbar-inner {
  filter: none !important;
  background-image: none !important;
  background: #f1f1f1;
  border-bottom: 1px solid #e8e8e8;
}
.header .btn-navbar {
  background-color: #f5f5f5 !important;
}
.header .nav .dropdown-toggle:hover,
.header .nav .dropdown.open .dropdown-toggle {
  background-color: #f5f5f5 !important;
}
.header .nav li.dropdown .dropdown-toggle i {
  color: #808080 !important;
}
/***
Page sidebar
***/
.page-content {
  border-left: 1px solid #e2e2e2 !important;
  border-bottom: 1px solid #e2e2e2 !important;
}
.page-sidebar {
  background-color: #fafafa;
}
.page-sidebar-fixed .page-content {
  border: 0 !important;
}
.page-sidebar-fixed .page-sidebar {
  border-right: 1px solid #e2e2e2 !important;
}


ul.page-sidebar-menu > li > a {
  border-top: 1px solid #e2e2e2 !important;
  color: #000 !important;
  font-weight: 400;
}

ul.page-sidebar-menu > li:first-child > a {
   border-top: 1px solid transparent !important;
}

ul.page-sidebar-menu > li:last-child > a {
   border-bottom: 1px solid transparent !important;
}

ul.page-sidebar-menu > li a i {
  color: #bbb !important;
}
ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
  background: #eee;
  border-top: 1px solid #e8e8e8;

}
ul.page-sidebar-menu > li.active > a .selected {
  right:-7px;
  top:0px;
  width: 7px;
  height: 39px;

}  
ul.page-sidebar-menu > li.active i {
  color: #fff !important;
}
.page-sidebar-fixed ul.page-sidebar-menu > li.active > a .selected {
  display: none;
}
ul.page-sidebar-menu > li.active > a{
  background: #3079f0 !important;
  font-weight: bold;
  border-top-color: transparent !important;
  color:#fff !important;
  
  border-left: 2px solid #427fed;
}  
ul.page-sidebar-menu > li.active > a i {
  color: #fff;
}
ul.page-sidebar-menu > li > a > .arrow:before,
ul.page-sidebar-menu > li > a > .arrow.open:before {
  color: #ccc !important;
}
ul.page-sidebar-menu > li.active > a .arrow:before, 
ul.page-sidebar-menu > li.active > a .arrow.open:before {
  color: #fff !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
  border-top: 0px !important;
}

ul.page-sidebar-menu ul.sub-menu > li > a {
  font-weight: 400 !important;
  color: #333 !important;
}
ul.page-sidebar-menu ul.sub-menu > li.active > a,
ul.page-sidebar-menu ul.sub-menu > li > a:hover {
  color: #818181 !important;
  background: #efefef !important; 
}

ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
  color: #ccc !important;
}

/* sub menu links effects */
ul.page-sidebar-menu ul.sub-menu > li.active > a,
ul.page-sidebar-menu ul.sub-menu > li > a:hover,
ul.page-sidebar-menu ul.sub-menu > li.open > a {
  color: #818181 !important;
  background: #efefef !important; 
}
ul.page-sidebar-menu ul.sub-menu > li > a i {
  color: #bbb !important;
}

/* sidebar search */
.page-sidebar .sidebar-search input {
  background-color: #fbfbfb  !important;  
  color: #727272 !important;
}
.page-sidebar .sidebar-search input::-webkit-input-placeholder {
  color: #aaa !important;
}
.page-sidebar .sidebar-search input:-moz-placeholder {
  color: #aaa !important;
}
.page-sidebar .sidebar-search input:-ms-input-placeholder {
  color: #aaa !important;
}
.page-sidebar .sidebar-search .input-box {
  border-bottom: 1px solid #e2e2e2 !important;
}
.page-sidebar .sidebar-search .submit {
  background-image: url(../../img/search-icon-white.png);
}

/***
Sidebar toggler
***/
.sidebar-toggler {  
  background-image: url(../../img/sidebar-toggler-light.jpg);
  background-color: #333;
}
/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open {
  background-color: #fbfbfb !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {  
  background-image: url("../../img/sidebar-search-close-light.png");
}
/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
  background-color: #fbfbfb;
}
/***
Horizontal Menu(new in v1.2)
***/
/*search*/
.header .hor-menu .hor-menu-search-form-toggler {
  background: #363636 url(../../img/hor-menu-search.png) no-repeat center;
}

.header .hor-menu .hor-menu-search-form-toggler.hide {
  background: #363636 url(../../img/hor-menu-search-close.png) no-repeat center;
}

.header .hor-menu .search-form {
  background:#363636;
}

.header .hor-menu .search-form .btn {
  color: #999;
  background: #3b3b3b url(../../img/search-icon.png) no-repeat center;
}

.header .hor-menu .search-form form input {
  color: #999;
}

.header .hor-menu .search-form form input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
.header .hor-menu .search-form form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
.header .hor-menu .search-form form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
.header .hor-menu .search-form form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}
/***
Footer 
***/
.footer .footer-inner {
  color: #333333;
}
.footer .footer-tools .go-top {
  background-color: #666666;
}
.footer .footer-tools .go-top:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.footer .footer-tools .go-top i {
  color: #999999;
}
/***
Footer Layouts (new in v1.3)
***/
/* begin:fixed footer */
.page-footer-fixed .footer {
  background-color: #434343;
}
.page-footer-fixed .footer .footer-inner {
  color: #aaaaaa;
}
.page-footer-fixed .footer .footer-tools .go-top {
  background-color: #666666;
}
.page-footer-fixed .footer .footer-tools .go-top i {
  color: #aaaaaa;
}
/* end:fixed footer */
/***
Gritter Notifications 
***/
.gritter-top {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left -30px !important;
}
.gritter-bottom {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left bottom !important;
}
.gritter-item {
  display: block;
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left -40px !important;
}
.gritter-close {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left top !important;
}
.gritter-title {
  text-shadow: none !important;
  /* Not supported by IE :( */

}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  background-image: url(../../plugins/gritter/images/gritter-light.png) !important;
}
.gritter-item-wrapper a {
  color: #18a5ed;
}
.gritter-item-wrapper a:hover {
  color: #0b6694;
}
/* begin: boxed page */
@media (min-width: 980px) {
  .page-boxed {
    background-color: #E8E8E8 !important;
  }
  .page-boxed .page-container {
    background-color: #fafafa;
    border-left: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }
  .page-boxed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-bottom: 0;
  }
  .page-boxed.page-sidebar-fixed .page-sidebar {
    border-left: 1px solid #e2e2e2;
  }
  .page-boxed.page-sidebar-fixed.page-footer-fixed .footer {
    background-color: #E8E8E8 !important;
  }
}
/* end: boxed page */
/***
Landscape phone to portrait tablet
***/
@media (max-width: 979px) {
  /***
  page sidebar
  ***/
  .page-sidebar {
    background-color: #f1f1f1 !important;
    border-right: none !important;
  }
  .page-sidebar-fixed .page-sidebar {
    border-right: none !important; 
  }
  .page-content {
    border-left: none !important;
  }
  ul.page-sidebar-menu > li > a {
    border-top: 1px solid #ccc !important;
  }
  ul.page-sidebar-menu > li:last-child > a {
    border-bottom: 0 !important;
  }

  ul.page-sidebar-menu > li.open > a,
  ul.page-sidebar-menu > li > a:hover {
    color: #666666 !important;
    background-color: #dddddd !important;
  }
  ul.page-sidebar-menu > li.open > a {
    border-bottom-color: transparent !important;
  }
  ul.page-sidebar-menu > li.active > a {
    color: #ffffff !important;
    background-color: #3079f0 !important;
  }

  ul.page-sidebar-menu ul.sub-menu > li > a {
    color: #111 !important;
  }

  ul.page-sidebar-menu ul.sub-menu > li.open > a,
  ul.page-sidebar-menu ul.sub-menu > li.active > a,
  ul.page-sidebar-menu ul.sub-menu > li > a:hover {
    color: #666666 !important;
    background: #dddddd !important; 
  }

  .page-sidebar .sidebar-search input {
    background-color: #f1f1f1 !important;
    color: #ccc !important;
  }

  .page-sidebar .sidebar-search .input-box {
    border-bottom-color: #ccc !important;
  }
  .page-sidebar .sidebar-search input::-webkit-input-placeholder {
    color: #ccc !important;
  }
  .page-sidebar .sidebar-search input:-moz-placeholder {
    color: #ccc !important;
  }
  .page-sidebar .sidebar-search input:-ms-input-placeholder {
    color: #ccc !important;
  }

  /***
  page footer
  ***/
  
  .footer {
    background-color: #434343;
  }

  .footer .footer-inner {
    color: #cccccc;
  }
  .footer .footer-tools .go-top {
    background-color: #666666;
  }
  .footer .footer-tools .go-top i {
    color: #999999;
  }
}

@media (max-width: 767px) {
  body {
    background-color: #333 !important;
  }
}
.search-form-top{
  padding-top: 08px;
}
.gbqfb-hvr, .gbqfb-hvr:focus {
background-color: #357ae8;
background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
background-image: linear-gradient(top,#4d90fe,#357ae8);
}
.gbqfb-hvr {
border-color: #2f5bb7;
}
.gbqfb {
background-color: #4d90fe;
background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
background-image: linear-gradient(top,#4d90fe,#4787ed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
border: 1px solid #3079ed;
color: #fff!important;
margin: 0 0;
height: 30px;
margin-left: 10px;
}
.gbqfb-hvr, .gbqfba-hvr, .gbqfbb-hvr {
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.gbqfi {
background-position: -33px 0;
display: inline-block;
height: 13px;
margin: 7px 19px;
width: 14px;
}
#gbql, #gbgsi, #gbgsa, .gbqfi, .gbmai, .gbp0i, .gbmppci, .gbqfh #gbql {
background-image: url('http://ssl.gstatic.com/gb/images/k1_a31af7ac.png');
background-size: 294px 45px;
}
.GI4HA0EPK{
width: 21px;
height: 21px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQ…QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC);
background-position: 0px 0px;
background-repeat: no-repeat no-repeat;
}

.sharebuttonDiv{
  padding-top: 10px;

}
.sharebutton{
  
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
background: #357ae8;
border: 1px solid #2f5bb7;
border-top: 1px solid #2f5bb7;
}
.jfk-button-action:focus {
-webkit-box-shadow: inset 0 0 0 1px #fff;
-moz-box-shadow: inset 0 0 0 1px #fff;
box-shadow: inset 0 0 0 1px #fff;
border: 1px solid #fff;
border: 1px solid rgba(0,0,0,0);
outline: 1px solid #4d90fe;
outline: 0 rgba(0,0,0,0);
}
.jfk-button-action {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
background-color: #4d90fe;
background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
background-image: linear-gradient(top,#4d90fe,#4787ed);
border: 1px solid #3079ed;
color: #fff;
}
.jfk-button {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
cursor: default;
font-size: 11px;
font-weight: bold;
text-align: center;
white-space: nowrap;
height: 27px;
line-height: 27px;
min-width: 54px;
outline: 0px;
padding: 0 8px;

}
.discussion-content{
  color: #000;
}
.excerpt{
  color: #666;
}
.cardTitle{
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 400;
  color: #262626;
  padding-left: 10px;
}
.card-small-title{
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 400;
  color: #262626;
  padding-left: 10px;
  padding-top: 07px;
  text-align: center;
}
.relatedcardTitle{
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #262626;
  padding-left: 10px;


}
.relatedcardOppTitle{
  font-size: 14px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #262626;
  padding-left: 10px;


}
.contact-title{
  color: #999;

}
.updated-on{
  display: block;
  color: #999;
  font-size: 11px;


}
.ng-tab{
  cursor:pointer;
}
.blank-card{
border-top: 5px solid #fff;
}
.blank-card-blue{
border-top-color: #76a7fa;
}
.blank-card-yellow{
border-top-color: #f9b256;
}
.blank-card-red{
  border-top-color: #e46f61;
}
.blank-card-bluep{
  border-top-color: #6f85bf;
}
.cti{
  padding-top: 20px;
  padding-left: 40px;
}
.cards-container{
  background-color: #e7e7e7;


}
.inner-cards-container{
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.cards{

  text-rendering: optimizeLegibility;
-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
box-shadow: 0 0 6px rgba(0,0,0,0.3);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #fff;


}
.cards-show{
   height: 150px;
  text-rendering: optimizeLegibility;
-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
box-shadow: 0 0 6px rgba(0,0,0,0.3);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #fff;

}
.cards-small{
   height: 120px;
  text-rendering: optimizeLegibility;
-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
box-shadow: 0 0 6px rgba(0,0,0,0.3);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #fff;

}
.inner-small-card{
  padding-top: 15px;
}
.cards-med{
  height: 180px;
  text-rendering: optimizeLegibility;
-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
box-shadow: 0 0 6px rgba(0,0,0,0.3);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #fff;

}
.contact-infos{
  color: #888;
  padding-left: 20px;

}
.ctodeal{
  width: 12px;
  padding-left: 05px;
}
.tag{
  color: #427fed;
  font-weight: bold;
}
.relbutton{
  padding-top: 10px;
  padding-left: 10px;
}
.iodrive{
  min-height: 300px;
}
.google-drive-icon{
  height: 50px;
}
.opportunity-amount{
  font-size: 14px;
  font-weight: bold;
}
.inner-product-info{
  padding-right: 20px;
  padding-top: 23px;
  padding-left: 100px
}
.signin-box{
  text-align: center;
  margin: 50px 0 0;
  padding: 25px 25px 25px;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
}
.product-info{
  padding-right: 30px;
}
.create-google{
  margin: 20px 0 0;
}
.google-avatar{
  
   height: 45px;
  width: 45px;
  -webkit-border-radius: 50% !important;
     -moz-border-radius: 50% !important;
          border-radius: 50% !important;
}
.sign-up-form{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  text-align: left;
}
.next-step{
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;

}
.highlight{
    background-color: #FFFF88;
}
.bootpicker{

  z-index: 10550 !important;

}
.pickerin{
  height: 325px;
}
.calendar-picker{
  padding-left: 150px;
}
.new-event-container{
  width: 600px;
}
.invitation{
  padding-bottom: 10px;
}

.blank_slate_body{
  text-align: center;
padding: 10px 50px 50px 50px;
}
.warning-txt{
  color: #fbb450;
}
#gmap_canvas{
  width: 300px;
    height:200px;
 
}
#off_screen{
  position: absolute;
    left: -1000px;
    top: -1000px;
}
.googleMapContainer{

}
#gmap_canvas img { 
  max-width: none !important;
}

#gmap_canvas label { 
  width: auto !important; display:inline !important; 
} 
#id_Contacts.active > a{
  
  background: #852b99 !important;
font-weight: bold;
border-top-color: transparent !important;
color: #fff !important;
border-left: 2px solid #852b99;
}
#id_Opportunities.active > a{
  
  background: #28b779 !important;
font-weight: bold;
border-top-color: transparent !important;
color: #fff !important;
border-left: 2px solid #28b779;
}
#id_Leads.active > a{
  
  background: #ffb848 !important;
font-weight: bold;
border-top-color: transparent !important;
color: #fff !important;
border-left: 2px solid #ffb848;
}
#id_Cases.active > a{
  
  background: #5c3c00 !important;
font-weight: bold;
border-top-color: transparent !important;
color: #fff !important;
border-left: 2px solid #5c3c00;
}
#id_Product_videos.active > a{
  
  background: #852b99 !important;
font-weight: bold;
border-top-color: transparent !important;
color: #fff !important;
border-left: 2px solid #852b99;
}
#id_Customer_Stories.active > a{
  
  background: #28b779 !important;
font-weight: bold;
border-top-color: transparent !important;
color: #fff !important;
border-left: 2px solid #28b779;
}

