<div class="row subHeader">
   <div class="currentApp">
         <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{_(active_app.label)}}
            <i class="icon-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>

  <div class=" subHeaderContent">
             
            <h2 class="page-title">
              {{_("Search results")}} </h2>
  </div>
</div>
<div  class="page-content">
<div class="loader-container row" ng-show="isLoading">
      <div class="loader-dialog col-md-4 col-md-offset-4 ">
        <div class="loader-content">
         {{_('Loading...')}}
        </div>
      </div>
      
    </div>
  <div class="loader-container row" ng-show="markedAsLead">
    <div class="loader-dialog col-md-4 col-md-offset-4 ">
      <div class="loader-content">
          {{ _('Added to leads...')}}
      </div>
    </div>
  </div>
    

   <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <div id="portlet-config" class="modal hide">
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button"></button>
          <h3>{{_('portlet Settings')}}</h3>
        </div>
        <div class="modal-body">
          <p>{{_('Here will be a configuration form')}}</p>
        </div>
      </div>
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE CONTAINER-->
      <div class=""ng-show="immediateFailed">
         <div class="col-md-12">  
          <h1>{{_('Sign-in Button;')}}</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
      <div id="addAccountModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("New Account")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addAccount" name="addaccount" ng-submit="save(account)" class="form-horizontal"> 
                  <fieldset>
                  
                    

                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Name")}} *</label>
                       
                        <div class="col-md-9">
                          <input type="text" required id="id_name" ng-model="account.name">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Type")}}</label>
                       
                        <div class="col-md-9">
                          <input type="text"  id="id_name" ng-model="account.account_type">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Industry")}} </label>
                       
                        <div class="col-md-9">
                          <input type="text"  id="id_name" ng-model="account.industry">
                          
                        </div>
                    </div>
                    </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn blue addContactNow">{{_("Add Account")}}</button>
              </div>
               </form>
       </div>
      <div class="" ng-show="isSignedIn">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
       

            
        <div class="cards-container">


         <!--start here-->
          <div class="row">
            <div class="col-md-12">
                <div class="row">
                   <div class="showPage slimForm col-md-12 margin-bottom-15" style="padding:5px; padding-top:25px">
                     <!--  <div cng-show="$root.iogrowSearch&&!fullLink"  ng-class="{true:'col-md-6', false:'col-md-12'}[$root.linkedSearch&&!fullIogrow]"> -->
                      <div class="col-md-12">
                        <div class="news-blocks">                        
                          <h3 style="font-size: 21px;margin-top: 0px;">
                           <img src="../../static/src/img/sm-iogrow-true.png" style="height: 20px;margin-right: 5px;">
                           ioGrow Results
                        <!--    <span class="pull-right" ng-click="fullIogrow=!fullIogrow">
                              <i class="fa " ng-class="{false:'fa-resize-full', true:'fa-resize-small'}[fullIogrow]" style="font-size: 17px; color: rgb(187, 187, 187);"></i>
                           </span> -->
                         </h3>
                        <ul class="list-group linkedinList blank-card blank-card-green">
                          <li searchresult ng-repeat="result in searchResults" results="searchResults" resultindex="<%=$index%>" class="linkedinListItem  iogrowListItem">
                              </li> 
                               <li class="linkedinListItem linkedinItemMore">
                                    <a ng-click="listNextPageItems()">
                                      <img ng-show="isLoading" src="/static/src/img/google_loading.gif" style="height: 20px; width: 20px; margin-right: 6px;">
                                      <span ng-show="pages[currentPage+1]&&!isLoading" ng-hide="isLoadingLinkedin">Show more</span>
                                      <span ng-show="isLoading">Loading ...</span>
                                    </a>
                              </li>
                        </ul>
                       </div>
                      </div>
                  <!--     <div  ng-show="$root.linkedSearch&&!fullIogrow" ng-class="{true:'col-md-6', false:'col-md-12'}[$root.iogrowSearch&&!fullLink]">
                        <div class="news-blocks" style="border-top-color:#1B85BD;">
                          
                          <h3 style="font-size: 21px;margin-top: 0px;" ng-class="{linkedInLoaing: isRunning==true}" ng-class="linkedInLoaing"><i class="fa fa-linkedin-square" style=" font-size: 21px; color: rgb(27, 133, 189); vertical-align: baseline; margin-right: 5px;"></i>LinkedIn Results <span ng-show="isRunning">(searching ...)</span> <button  ng-show="isRunning" class="btn red newAccountBtn" ng-click="stopSpider();">Stop</button>
                           <span class="pull-right"  ng-click="fullLink=!fullLink">
                              <!--span class=" total" style="font-size: 13px; font-weight: 400; color: rgb(161, 158, 158); margin-right: 10px;">1000 results
                              </span
                              <i class="fa" ng-class="{false:'fa-resize-full', true:'fa-resize-small'}[fullLink]"  style="font-size: 17px; color: rgb(187, 187, 187);"></i>
                           </span>
                          </h3>
                           <img ng-show="isRunning" src="/static/src/img/linkedinLoader.gif" style="width:100%;height: 6px;">
                           <ul class="list-group linkedinList blank-card-bluep blank-card linkedinWithLoader" ng-class="{linkedinWithoutborder: isRunning==true}"  style="border-top-color: #1B85BD;">
                              <!--<li class="linkedinListItem" style="padding-top: 10px;/* border-bottom: 1px solid rgb(187, 187, 187); */">
                                  <div class="pic" style="   height: 64px;width: 64px; display: inline-block;float: left;">
                                     <img src="http://upload.wikimedia.org/wikipedia/commons/8/82/Dell_Logo.png" style="height: 64px;">
                                  </div>
                                 <div class="text" style="width: calc(100% - 64px);display: inline-block; float: left;">
                                    <ul class="list-group linkedinItemDetails" style="padding-left: 5px;">
                                        <li class="likedinItemName" style="font-size: 16px;font-weight: bold;">
                                          Dell
                                        </li>
                                         <li class="likedinItemType" style="font-size: 12px; color: gray; white-space: nowrap; overflow: hidden; text-overflow: ellipsis !important;">Technologies et services de l’information</li>
                                          <li class="likedinItemAddress" style="font-size: 12px;color: gray;white-space: nowrap; overflow: hidden; text-overflow: ellipsis !important;">
                                            <i class="fa fa-map-marker" style="margin-left: -3px;color: rgb(22, 158, 244);"></i>Région de Austin, Texas , États-Unis+ de 10 000 employés</li>
                                    </ul>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>
                              <li class="linkedinListItem"   ng-repeat="profile in profilesRT|orderBy:['-_score','_source.fullname']">
                                  <div class="pic" >
                                     <img ng-show="profile._source.img!=''" src="<%=profile._source.img%>">
                                     <img ng-show="profile._source.img==''" src="/static/src/img/avatar_contact.jpg">
                                  </div>
                                 <div class="text" >
                                    <ul class="list-group linkedinItemDetails" >
                                       <button ng-click="markAsLead(profile._source)" class="btn blue btn-sm pull-right" value="Save" style="width: 80px;padding: 2px 3px;">Mark as lead</button> 
                                        <li class="likedinItemName" ><a href="<%=profile._source.url%>" target="new"><%=profile._source.fullname%></a></li>
                                        <li class="likedinItemType" ><%=profile._source.title%></li>
                                         <li class="likedinItemType" >
                                          <i class="fa fa-map-marker" ></i>
                                          <%=profile._source.locality%>
                                        </li>
                                       
                                    </ul>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>
                              <li class="linkedinListItem"   ng-repeat="profile in profiles|orderBy:['-_score','_source.fullname']">
                                  <div class="pic" >
                                     <img ng-show="profile._source.img!=''" src="<%=profile._source.img%>">
                                     <img ng-show="profile._source.img==''" src="/static/src/img/avatar_contact.jpg">
                                  </div>
                                 <div class="text" >
                                    <ul class="list-group linkedinItemDetails" >
                                       <button ng-click="markAsLead(profile._source)" class="btn blue btn-sm pull-right" value="Save" style="width: 80px;padding: 2px 3px;">Mark as lead</button> 
                                        <li class="likedinItemName" ><a href="<%=profile._source.url%>" target="new"><%=profile._source.fullname%></a></li>
                                        <li class="likedinItemType" ><%=profile._source.title%></li>
                                         <li class="likedinItemType" >
                                          <i class="fa fa-map-marker" ></i>
                                          <%=profile._source.locality%>
                                        </li>
                                     
                                    </ul>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>
                              <li class="linkedinListItem linkedinItemMore">
                                    <a ng-click="linkedinlistMoreItems()">
                                      <img ng-show="isLoadingLinkedin" src="/static/src/img/google_loading.gif" style="height: 20px; width: 20px; margin-right: 6px;">
                                      <span ng-show="morelinkedin&&!isLoadingLinkedin">Show more</span>
                                      <span ng-show="isLoadingLinkedin">Loading ...</span>
                                    </a>
      
                              </li>
                            </ul>
                        </div>
                      </div> -->
                      
                    </div>
                </div>
            </div>
         </div>
    <!---end here-->
            </div>
         <!-- <div class="row">
            <div class="pagination pull-right" ng-hide="isLoading">
                  
                  <ul>
                    <li ng-show="pagination.prev"><button ng-click="listPrevPageItems()" id="sample_editable_1_new" class="btn">
                    {{_("Prev")}} 
                    </button></li>
                    <li ng-repeat="page in pagination.pages" ng-class='{active: page.isCurrent}'><a  href="#/accounts/"><%= page.id %></a></li>
                    <li  ng-show="pagination.next"><button ng-click="listNextPageItems()"  class="btn">
                    {{_("Next")}} 
                    </button></li>
                  </ul>
                </div>
                <!--h3 class="pagination pull-right" ng-show="isLoading">Loading...</h3-->
          <!--</div>-->
            
          
        
        <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE CONTAINER--> 
</div>
