<div class="row subHeader">
    <div class="currentApp">
        <div class="btn-group">
            <a class="filterItem" href="#" data-toggle="dropdown">
                {{ _(active_app.label) }}
                <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
                {% for application in apps %}

                    <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{ _(application.label) }}</a>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>

    <div class=" subHeaderContent">

        <h2 class="page-title">
            {{ _("Search results") }} </h2>
    </div>
</div>
<div class="page-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Loading...') }}
            </div>
        </div>

    </div>
    <div class="loader-container row" ng-show="markedAsLead">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Added to leads...') }}
            </div>
        </div>
    </div>


    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>{{ _('portlet Settings') }}</h3>
        </div>
        <div class="modal-body">
            <p>{{ _('Here will be a configuration form') }}</p>
        </div>
    </div>
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE CONTAINER-->
    <div class="" ng-show="immediateFailed">
        <div class="col-md-12">
            <h1>{{ _('Sign-in Button;') }}</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
    </div>
    <div id="addAccountModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ _("New Account") }}</h3>
        </div>
        <div class="modal-body">
            <form id="addAccount" name="addaccount" ng-submit="save(account)" class="form-horizontal">
                <fieldset>


                    <div class="form-group">
                        <label class="required col-md-3 control-label">{{ _("Name") }} *</label>

                        <div class="col-md-9">
                            <input type="text" required id="id_name" ng-model="account.name">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required col-md-3 control-label">{{ _("Type") }}</label>

                        <div class="col-md-9">
                            <input type="text" id="id_name" ng-model="account.account_type">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required col-md-3 control-label">{{ _("Industry") }} </label>

                        <div class="col-md-9">
                            <input type="text" id="id_name" ng-model="account.industry">

                        </div>
                    </div>
                </fieldset>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _("Cancel") }}</button>
            <button type="submit" class="btn blue addContactNow">{{ _("Add Account") }}</button>
        </div>
        </form>
    </div>
    <div class="" ng-show="isSignedIn">

        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->


        <div class="cards-container">


            <!--start here-->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="showPage slimForm col-md-12 margin-bottom-15" style="padding: 25px 5px 5px;">
                            <div class="col-md-12">
                                <div class="news-blocks">
                                    <h3 style="font-size: 21px;margin-top: 0;">
                                        <img src="../../static/src/img/sm-iogrow-true.png"
                                             style="height: 20px;margin-right: 5px;">
                                        ioGrow Results
                                    </h3>
                                    <ul class="list-group linkedinList blank-card blank-card-green">
                                        <li searchresult ng-repeat="result in searchResults" results="searchResults"
                                            resultindex="<%=$index%>" class="linkedinListItem  iogrowListItem">
                                        </li>
                                        <li class="linkedinListItem linkedinItemMore">
                                            <a ng-click="listNextPageItems()">
                                                <img ng-show="isLoading" src="/static/src/img/google_loading.gif"
                                                     style="height: 20px; width: 20px; margin-right: 6px;">
                                                <span ng-show="pages[currentPage+1]&&!isLoading"
                                                      ng-hide="isLoadingLinkedin">Show more</span>
                                                <span ng-show="isLoading">Loading ...</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!---end here-->
        </div>



        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
