<div class="row subHeader">
   <div class="currentApp">
         <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{_(active_app.label)}}
            <i class="icon-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>

  <div class=" subHeaderContent">
             
            <h2 class="page-title">
              {{_("Search results")}} </h2>
  </div>
</div>
<div  class="page-content">
<div class="loader-container row" ng-show="isLoading">
      <div class="loader-dialog col-md-4 col-md-offset-4 ">
        <div class="loader-content">
         {{_('Loading...')}}
        </div>
      </div>
      
    </div>
    

   <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <div id="portlet-config" class="modal hide">
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button"></button>
          <h3>{{_('portlet Settings')}}</h3>
        </div>
        <div class="modal-body">
          <p>{{_('Here will be a configuration form')}}</p>
        </div>
      </div>
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE CONTAINER-->
      <div class=""ng-show="immediateFailed">
         <div class="col-md-12">  
          <h1>{{_('Sign-in Button;')}}</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
      <div id="addAccountModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("New Account")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addAccount" name="addaccount" ng-submit="save(account)" class="form-horizontal"> 
                  <fieldset>
                  
                    

                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Name")}} *</label>
                       
                        <div class="col-md-9">
                          <input type="text" required id="id_name" ng-model="account.name">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Type")}}</label>
                       
                        <div class="col-md-9">
                          <input type="text"  id="id_name" ng-model="account.account_type">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Industry")}} </label>
                       
                        <div class="col-md-9">
                          <input type="text"  id="id_name" ng-model="account.industry">
                          
                        </div>
                    </div>
                    </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn blue addContactNow">{{_("Add Account")}}</button>
              </div>
               </form>
       </div>
      <div class="" ng-show="isSignedIn">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
       

            
            <div class="row cards-container">
            <div class="col-md-6">
            <div class="waterfall inner-cards-container resultsContainer">
            
              <div ng-repeat="result in searchResults" class="cardElement" data-tablet="span6" data-desktop="span3">
                <div class="eleContainer">
                  
                  <div class="details">
                    <a href="<%=result.url%>">
                    <p class="title" >
                      <%= result.title %>
                    </p></a>
                    <div class="desc">                           
                      
                       <p class="pull-right">(<%=result.type%>)</p>
                    </div>
                  </div>           
                </div>
              </div>

              <div class="clearfix"></div>
              </div>
             <div ng-show="!searchResults" class=" noResult col-md-12 responsive" data-tablet="span6" data-desktop="span12">

                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="thumbnail blank_slate_body" ng-hide="isLoading">
                      
                      <p class="lead">{{ _('No results found, try with another term') }}</p>
                  </div>
               
                                  
                </div>
              </div>

              </div>        
            <div class="col-md-6">
            <div class=" inner-cards-container resultsContainer">
            
                        <div ng-repeat="lead in profiles" droppable  id="card_<%=$index%>"class="cardElement leadElement cusCardElement" ng-drop="dropTag(lead,$index)" ng-mouseenter="showClose= true" ng-mouseleave="showClose = false" style="z-index:109;overflow: visible;" data-span="1" ng-class="{selectedCard: isSelectedCard(lead)}" >
              <div class="btn-group cusOptionsBtn dropup">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                   <i class="fa fa-ellipsis-vertical"></i>
                  </button>
                  <ul class="dropdown-menu drp-dwn-right " role="menu">
                    <li>
                     <a href="" ng-click="showAssigneeTags(lead)">
                         <i class='fa fa-tags'></i>{{_('Add tags')}} </a>
                    </li>
                    <li>
                     <a href="" ng-click="editbeforedelete(lead)">
                         <i class='fa fa-trash-o'></i> {{_('Delete')}} </a>
                    </li>
                  </ul>
                </div>
                <div class="customCheckbox cusCheckOnCard checkboxOnSmallScreen ">  
                      <input  title="Select Lead" type="checkbox" ng-checked="isSelectedCard(lead)" ng-click="selectCardwithCheck($event,$index,lead)" id="leadCard_<%= $index %>">
                      <label for="leadCard_<%= $index %>" class="labelElement">
                        <span class="check"></span>
                        <span class="box"></span>
                      </label>  
                  </div>
                <div class="detailsSection">
                  <div class="head">
                    <div class="pic">                      
                      <a href="/#/leads/show/<%= lead.id %>" class="startup-link" title="account.name">
                      <img ng-hide="lead._source.img" alt="<%= lead.firstname %> <%= lead.lastname %>" class="img-responsive profile-photo" src="/static/img/avatar_contact.jpg" >
                      <img  ng-show="lead._source.img" alt="<%= lead.firstname %> <%= lead.lastname %>" class="img-responsive profile-photo" src="<%=lead._source.img%>">
                      </a>
                    </div>
                    <div class="text">
                     <!-- <button type="button" class="close deleteLeadBtn" ng-show="showClose" ng-click="editbeforedelete(lead)"></button>-->
                      <div class="name">
                        <a href="/#/leads/show/<%= lead.id %>" class="profile-link"  title="<%=lead._source.fullname%> <%=lead.lastname%> ">
                            <p class="fittext autoresizeName"  max-heit="17"  max-font-size="17" min-font-size="12" text="<%= lead._source.fullname %>"></p>
                        </a>  
                        <p>
                          <%= lead._source.url %>
                          <%= lead._source.keyword %>
                        </p>
                      </div>
                      <div class="pitch onelineItem">
                        <!--<span>
                            <%=fromNow(lead.updated_at)%>
                        </span>-->
                        <!--<span ng-show="lead.status" class="contact-title" >
                          Status:
                          <a class="desc" href="/#/search/type:Lead <%=lead.status%>">
                            #<%=lead.status %>
                          </a>
                        </span>-->
                        <span ng-show="lead._source.title">
                          <a  class="desc" href="/#/search/type:Lead <%=lead.title%>">
                            <%=lead._source.title%>
                          </a>
                        </span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <ul class="details list-group">
                    <li  ng-show="lead.company" style="color: rgb(160, 158, 158);" class="onelineItem">
                         <i class="fa  fa-building" title="Company name"></i>   
                         <a  title="<%=lead.company%>"  href="/#/search/type:Lead <%=lead.company%>"> <%=lead.company%> </a>

                    </li>
                    <li  ng-show="lead.phones" style="color: rgb(160, 158, 158);" class="onelineItem">
                         <i class="fa " ng-class="lead.phones.items[0].type=='fax' ? 'fa-fax' :'fa-phone' "></i>   
                         <a href="tel:<%=lead.phones.items[0].number%>"> <%=lead.phones.items[0].number%> </a>

                    </li>
                    <li  ng-show="lead.emails" style="color: rgb(160, 158, 158);" class="onelineItem">
                        <i class="fa fa-envelope"></i>  
                        <a ng-click="gotosendMail(lead.emails.items[0].email, lead)" style="cursor: pointer;"><%=lead.emails.items[0].email%></a>
                    </li>
                  </ul>
                </div>
             
              </div>  
              <div ng-repeat="profile in profilesRT" class="cardElement" data-tablet="span6" data-desktop="span3">
                <div class="eleContainer">
                   
                  <div class="details">
                    <a href="<%=result.url%>">
                    <p class="title" >
                      <%= profile.fullname %>
                    </p></a>
                    <div class="desc">                           
                      
                       <p class="pull-right">(<%=profile.title%>)</p>
                       <p class="pull-right">(<%=profile.locality%>)</p>
                    </div>
                  </div>           
                </div>
              </div>

              <div class="clearfix"></div>
              </div>
             <div ng-show="!porfiles" class=" noResult col-md-12 responsive" data-tablet="span6" data-desktop="span12">

                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="thumbnail blank_slate_body" ng-hide="isLoading">
                      
                      <p class="lead">{{ _('No results found, try with another term') }}</p>
                  </div>
               
                                  
                </div>
              </div>

              </div>
            </div>
          <div class="row">
            <div class="pagination pull-right" ng-hide="isLoading">
                  
                  <ul>
                    <li ng-show="pagination.prev"><button ng-click="listPrevPageItems()" id="sample_editable_1_new" class="btn">
                    {{_("Prev")}} 
                    </button></li>
                    <li ng-repeat="page in pagination.pages" ng-class='{active: page.isCurrent}'><a  href="#/accounts/"><%= page.id %></a></li>
                    <li  ng-show="pagination.next"><button ng-click="listNextPageItems()"  class="btn">
                    {{_("Next")}} 
                    </button></li>
                  </ul>
                </div>
                <!--h3 class="pagination pull-right" ng-show="isLoading">Loading...</h3-->
          </div>
            
          
        
        <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE CONTAINER--> 
</div>
<script type="text/javascript">
  $('.waterfall').waterfall({
        colMinWidth: 200,
        defaultContainerWidth: 800,
        autoresize: true
    });
</script>
