{% extends "/templates/blog/public_blog_base.html" %}
{% block content %}
<div class="row subHeader">
  <div class="currentApp">
    <h2 class="page-title">
      {{ _("ioGrow Support") }}
    </h2>
  </div>
  <div class=" subHeaderContent">
    <div class="pull-right sharebuttonDiv">

    </div>

  </div>
</div>
<div  class="page-content">
  <div class="container" ng-show="immediateFailed">
    <div class="col-md-12">

      <span id="signin">
        <span id="myGsignin"></span>
      </span>
    </div>
  </div>
<div ng-show="isContentLoaded" class="row">
  <div class="col-md-9">
    <div class="row">

      <div class="showPage custom-show margin-bottom-15  col-md-12">
        <iframe src="https://docs.google.com/forms/d/1kj_5QgfNnsyAdIC2TOGbHImF5BiZwxKNBi7FaTbxOlE/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

      </div>
      <!-- END PAGE HEADER-->
      <!-- BEGIN PAGE CONTENT-->
      <div class="col-md-12">
        <div class="row">
          <div class="">
            <!-- $ tabs -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tasks cards -->
  <div class="col-md-3 tasks-col">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet showCard">
          <div class="portlet-title line">
            <div class="caption">
              Community
            </div>
          </div>
          <div class="portlet-body" id="chats">
            <div class="scroller" style="height:200x" data-always-visible="1" data-rail-visible="0">
              <div id="newTask">

                  [TODO: put here social media connections ]

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
               <!--HKA 03.12.2013 Add new Contributors -->

    <!--HKA 19.11.2013 END row-fluid-2 Span who is involved -->




    </div>
    </div>
<div id="addContributor" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="myModalLabel">{{_("Involve new contributors")}}</h3>
     </div>
     <div class="modal-body">
        <form id="addAccount" name="addaccount" ng-submit="addNewContributor(slected_memeber,role)" class="form-horizontal">
         <fieldset>

           <p>{{ _("Invite people from your team and start working together on this task. Everyone you invite will receive an email.") }}</p>

           <div>
           <div class="invitation" ng-show="slected_memeber">
             <img class="google-avatar" src="<%= slected_memeber.google_public_profile_photo_url%>"/>
               <strong> <%= slected_memeber.google_display_name %> < <%=slected_memeber.email%> ></strong>
           </div>
           <div class="control-group">
             <input type="text" ng-model="user" typeahead="user as user.google_display_name + ' <' + user.email + '>' for user in users | filter:$viewValue | limitTo:8" typeahead-on-select="selectMember()" class="input-block-level" placeholder="{{_('Enter name or email addresse to involve people in this discussion')}}">
           </div>
           <div class="control-group">
                 <label class="control-label">{{ _("Add as:") }}</label>
                 <div class="controls">
                   <select class="medium m-wrap" tabindex="1" ng-model="role">
                     <option value="responsible">{{ _("Responsible") }}</option>
                     <option value="participant">{{ _("Participant") }}</option>
                     <option value="invited">{{ _("Invited") }}/option>

                   </select>
                 </div>
               </div>
             </div>
           </fieldset>

     </div>
     <div class="modal-footer">
       <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
       <button  type="submit" class="btn blue addContactNow">{{_("Involve")}}</button>
     </div>
      </form>
</div>


</div>
<!--HKA 19.11.2013 END Span who is involved -->



</div>

{% endblock %}
{% block script %}
<script>
  $("ul.page-sidebar-menu li").removeClass("active");
  $("#id_Support").addClass("active");
</script>
{% endblock %}
