{% extends "/templates/blog/public_blog_base.html" %}
{% block content %}
<div class="row subHeader">
  <div class="currentApp">
    <h2 class="page-title">
      {{ _("ioGrow Blog") }}
    </h2>
  </div>
  <div class=" subHeaderContent">
    <div class="pull-right sharebuttonDiv">
      
    </div>
    <h2 class="page-title" >
      <a href="/blog#/articles" data-toggle="tooltip" id='testEdit' data-placement="bottom" title="Back to Articles">
        <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="/static/img/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false">
      </a>
      {{ _("Articles") }}
    </h2>
  </div>
</div>
<div  class="page-content">
  <div class="container" ng-show="immediateFailed">
    <div class="col-md-12">

      <span id="signin">
        <span id="myGsignin"></span>
      </span>
    </div>
  </div>
<div ng-show="isContentLoaded" class="row">
  <div class="col-md-9">
    <div class="row">

      <div class="showPage custom-show margin-bottom-15  col-md-12">
        {% if is_admin %}
        <span class="page-meta pull-right">
          <i class="icon-pencil">
            <a ng-click="editaccount()" class="btn-link addAnotherPhone" data-toggle="modal">
              Edit
            </a>
          </i>
           |
          <i class="icon-trash">
            <a ng-click="editbeforedelete()" class="btn-link addAnotherPhone">  Delete
            </a>
          </i>
        </span>
        {% endif %}
        <h2 class="note-title">{{article.title}}</h2>
        <p>Posted by {{ article.created_by.display_name }}</p>

        <div class="row margin-bottom-10">
          <div class="col-md-2">
            <div class="pic">
                <img alt="{{article.created_by.display_name}}" class="note-photo-creator" src="{{ article.created_by.photo }}">
             </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12">
                <span class="topic-content">
                    {{ article.full_text }}
                </span>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div id="disqus_thread"></div>
                  <script type="text/javascript">
                  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                  var disqus_shortname = 'iogrow'; // required: replace example with your forum shortname

                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- END PAGE HEADER-->
      <!-- BEGIN PAGE CONTENT-->
      <div class="col-md-12">
        <div class="row">
          <div class="">
            <!-- $ tabs -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tasks cards -->
  <div class="col-md-3 tasks-col">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet showCard">
          <div class="portlet-title line">
            <div class="caption">
              Share:
            </div>
          </div>
          <div class="portlet-body" id="chats">
            <div class="scroller" style="height:200x" data-always-visible="1" data-rail-visible="0">
              <div id="newTask">
               <div class="addthis_sharing_toolbox"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
               <!--HKA 03.12.2013 Add new Contributors -->

    <!--HKA 19.11.2013 END row-fluid-2 Span who is involved -->




    </div>
    </div>
<div id="addContributor" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="myModalLabel">{{_("Involve new contributors")}}</h3>
     </div>
     <div class="modal-body">
        <form id="addAccount" name="addaccount" ng-submit="addNewContributor(slected_memeber,role)" class="form-horizontal">
         <fieldset>

           <p>{{ _("Invite people from your team and start working together on this task. Everyone you invite will receive an email.") }}</p>

           <div>
           <div class="invitation" ng-show="slected_memeber">
             <img class="google-avatar" src="<%= slected_memeber.google_public_profile_photo_url%>"/>
               <strong> <%= slected_memeber.google_display_name %> < <%=slected_memeber.email%> ></strong>
           </div>
           <div class="control-group">
             <input type="text" ng-model="user" typeahead="user as user.google_display_name + ' <' + user.email + '>' for user in users | filter:$viewValue | limitTo:8" typeahead-on-select="selectMember()" class="input-block-level" placeholder="{{_('Enter name or email addresse to involve people in this discussion')}}">
           </div>
           <div class="control-group">
                 <label class="control-label">{{ _("Add as:") }}</label>
                 <div class="controls">
                   <select class="medium m-wrap" tabindex="1" ng-model="role">
                     <option value="responsible">{{ _("Responsible") }}</option>
                     <option value="participant">{{ _("Participant") }}</option>
                     <option value="invited">{{ _("Invited") }}/option>

                   </select>
                 </div>
               </div>
             </div>
           </fieldset>

     </div>
     <div class="modal-footer">
       <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
       <button  type="submit" class="btn blue addContactNow">{{_("Involve")}}</button>
     </div>
      </form>
</div>


</div>
<!--HKA 19.11.2013 END Span who is involved -->



</div>

{% endblock %}
{% block script %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53aef4a2107c3e52"></script>
<script>
  $("ul.page-sidebar-menu li").removeClass("active");
  $("#id_Articles").addClass("active");
</script>
{% endblock %}
