<div class="row subHeader">
    <div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            ioGrow Blog
            <i class="icon-angle-down"></i>
           </a>
        </div>
    </div>
    <div class=" subHeaderContent">
      <div class="col-md-9">
      <div class="row">
      <div class="col-md-10 col-xs-10">

      </div>

      </div>
    </div>
    </div>
</div>
<div class="row subHeader">
<div class="currentApp">
  <h2 class="page-title">
    <!-- <img class="platform_icons" height="25" width="25" src="/static/img/admin_console.png"> -->
    {{active_app.label}}
  </h2>
</div>
  <div class=" subHeaderContent">
  <div class="col-md-9">
                  <h2 class="page-title">
            <a href="/#/articles" data-toggle="tooltip" data-placement="bottom" title="Back to Accounts">
            <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false"></a>     {{_("Articles")}} > <%= article.title %>  </h2>
            <button class="btn red newAccountBtnOnscroll pull-right hidden" ng-click="save(article)">Create</button>
  </div>

  </div>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
          <div class="loader-content">
            Loading...
          </div>
        </div>

  </div>

  <div class="" ng-show="immediateFailed">
     <div class="col-md-12">

          <span id="signin">
              <span id="myGsignin"></span>
          </span>
    </div>
  </div>
  <div class="row" >

        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
  <div class="col-md-9">
    <div class="row">
        <div class="showPage col-md-12 newActionsBtn">
          <span>Crete a new article </span>
          <button class="btn red newAccountBtn pull-right" ng-click="save(article)">Create</button>
          <div class="clearfix"></div>
        </div>
       <div class="showPage slimForm col-md-12 margin-bottom-15">
                     <div class="row">
              <div class="col-md-12">
              <!-- BEGIN PORTLET-->
              <div class="row">

                  <div class="col-md-12">
                      <form class="form-horizontal ">
                          <div class="row">
                          <div class="col-md-12">

                            <div class="form-group">
                              <label class="control-label col-md-2">Title</label>
                              <div class="col-md-10">
                                <input autofocus ng-model="article.title" placeholder="{{_('Type here the title of your post...')}}" type="text" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                  </div>
              </div>
                       <div class="row">
                          <div class="col-md-12">

                                <div class="news-blocks blank-card blank-card-yellow">
                                <h3>Intro Card</h3>
                                <div class="form-group">
                                  <textarea id="intro-card" ng-model="article.intro_text" placeholder="Enter text ..." id="noteBody" class="form-control ng-pristine ng-valid" rows="7"></textarea>
                                 </div>
                                </div>
                              <div class="news-blocks blank-card blank-card-bluep">
                                <h3>Full article card</h3>
                                <div class="form-group">
                                  <textarea id="full-article" ng-model="article.full_text" placeholder="Enter text ..." id="noteBody" class="form-control ng-pristine ng-valid" rows="7"></textarea>
                                 </div>



                              </div>

                          </div>

                        </div>
            </div>
       </div>
           </div>

       </div>
            </div>
              <div class="col-md-3 ">

              </div>
        <!-- END PAGE CONTENT-->
      </div>

      <!--HKA 18.11.2013  Addresse Modal  -->

    <div id="addressmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Add Address")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addAddress" name="addemail"  class="form-horizontal">

                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Street")}} </label>
                        <div class="col-md-9">
                          <input type="text"   class="form-control" id="id_street" ng-model="address.street">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("City")}} </label>
                        <div class="col-md-9">
                          <input type="text"  class="form-control" id="id_city" ng-model="address.city">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("State/Province")}} </label>
                        <div class="col-md-9">
                          <input type="text" class="form-control"  id="id_state" ng-model="address.state">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Postal Code")}} </label>
                        <div class="col-md-9">
                          <input type="text"   class="form-control" id="id_postal" ng-model="address.postal">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Country")}} </label>
                        <div class="col-md-9">
                          <input type="text"  class="form-control"  id="id_country" ng-model="address.country">
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>

                  <input  type="submit" ng-click="pushElement(address,addresses,'addresses')" class="btn green" ng-disabled="!address.country" value="Add this address">
                  <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
              </div>
                </form>
                </div>
          </div>
        </div>

<!--HKA 11.10.2013 Edit Tagline -->
   <div id="EditTagModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel" class="modal-title">{{_("Edit Lead")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updateTagline(lead)" class="form-horizontal">


                  <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Tagline")}} </label>

                        <div class="col-md-9">
                          <!--textarea rows="2" cols="50"  id="id_tagline" ng-model="account.tagline"/-->
                           <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="lead.tagline"></textarea>

                        </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
                </form>
               </div>
      </div>
  </div>

  <!--HKA 11.10.2013 Edit Introduction  -->
    <div id="EditIntroModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

       <div class="modal-dialog">
         <div class="modal-content">
                  <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel" class="modal-title">{{_("Edit Lead")}}</h3>
                  </div>

                  <div class="modal-body">
                       <form id="editTagline" name="edittag" ng-submit="updateintro(lead)" class="form-horizontal">

                        <div class="form-group">
                              <label  class=" col-md-3 control-label">{{_("Introduction")}} </label>

                              <div class="col-md-9">

                                 <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="lead.introduction"></textarea>

                              </div>
                          </div>
                  </div>
                  <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                        <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
                  </div>
                     </form>
                     </div>
            </div>
        </div>

    </div>

      <!-- END PAGE CONTAINER-->
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker2').datetimepicker({
      language: 'fr',
      pickTime: false
    });
    $('#slimList').slimScroll({});
  });
</script>
