<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
        <ul class="page-sidebar-menu">
        
        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{tab.url}}"><i class="icon-cogs"></i><span class="title">{{tab.label}}</span></a></li>
          {% endfor %}
        </ul>
     
     
      <!-- END SIDEBAR MENU -->
</div>
    
<div  class="page-content">
    
      <!-- BEGIN PAGE CONTAINER-->
      <div class="container-fluid" ng-show="immediateFailed">
         <div class="span12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
        
      <div class="container-fluid" ng-show="isSignedIn">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
          <div class="row-fluid">
          
          <div class="span12">
            <div class="pull-right sharebuttonDiv"> 
                  <a href="#sharingSettingsModal" class="btn blue jfk-button jfk-button-action" data-toggle="modal">
                    <i class="icon-lock"></i> {{ _("Share") }}
                  </a>
                        
                        
                     
                </div>
                
            <h2> {{_("Company Profile")}} </h2>
            

           <span ng-show="account.account_type">{{_("Type")}}: <a class="tag" href="/#/search/type:Account <%=account.account_type%>">#<%=account.account_type%></a></span>
          <span ng-show="account.industry">{{_("Industry")}}: <a class="tag" href="/#/search/type:Account <%=account.industry%>">#<%=account.industry%></a></span> 
             </br>
             <span class="page-meta"><i class="icon-pencil"><a ng-click="editaccount()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i> |  <i class="icon-trash"><a ng-click="delete(account)" class="btn-link addAnotherPhone">  {{_("Delete")}}</a></i></span>

           
            
            <hr/>
            
          </div>
        </div>
        <div class="row-fluid">
           <div class="row-fluid">
                          <div class="span6">
                            
                                <div class="news-blocks blank-card blank-card-yellow">
                                <h3>Contact Information</h3>
                                <div class="news-block-tags">
                                  <strong>Phone</strong>
                                 
                                </div>
                                  <ul class="unstyled contact-infos">
                                    <li ng-repeat="phone in account.phones"> <%=phone.number%> - <%=phone.type_number%> <a ><img class="ctodeal" src="static/img/phone-icon.png" /></a></li>
          
                                    <li><a href="#phonemodal"  class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i>Add a new Phone</a></li>

                                  </ul>
                                <div class="news-block-tags">
                                  <strong>Email</strong>
                                 
                                </div>
                                  <ul class="unstyled contact-infos">
                                    <li ng-repeat="email in account.emails"> <%=email.email %>   </li>
                                    
                                    <li><a href="#emailmodal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i> Add a new email address </a></li>

                                  </ul>
                                <div class="news-block-tags">
                                  <strong>Address</strong>
                                 
                                </div>
                                 <ul class="unstyled contact-infos">
                                    <li ng-repeat="addr in account.addresses"><%=addr.street%>, <%=addr.city%> <%=addr.state%>, <%=addr.street%> <%=addr.postal_code%>  </li>
                                    
                                    <li><a href="#addressmodal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i> Add a new address </a></li>

                  
                                  </ul>

                                                              
                                                          
                              </div>
                              <div class="news-blocks blank-card blank-card-bluep">
                                <h3>Links</h3>
                                <div class="news-block-tags">
                                  <strong>Website</strong>
                                  
                                </div>
                                <ul class="unstyled contact-infos" >
                                    <li ng-repeat="web in account.websites"><a href="http://<%=web.website%>" target="_blank"><%=web.website%></a> </li>
                                    <li><a href="#websitemodal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i> Add a new Website </a></li>
                                    
                                </ul>
                                 
                                <div class="news-block-tags">
                                  <strong>Social Links</strong>
                                  
                                </div>
                                <ul class="unstyled contact-infos" >
                                    <li ng-repeat="social in account.sociallinks"><a href="<%=social.sociallink%>" target="_blank"> <%=social.sociallink%> </a></li>
                                  <li><a href="#socialmodal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i> Add a new social links </a></li>    
                                </ul>
                                                    
                              </div>
                          </div>
                          <div class="span6">
                          
                            <div class="news-blocks blank-card blank-card-red">
                                <h3>Story</h3>
                                <div class="news-block-tags">
                                  <strong>Tagline </strong>
                                  <span class="page-meta"><i class="icon-pencil"><a ng-click="edittagline()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span>
                                </div>
                                <p><%=account.tagline%> </p>
                                

                                <div class="news-block-tags">
                                  <strong>Introduction</strong>
                                  <span class="page-meta"><i class="icon-pencil"><a ng-click="editintro()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span>
                                  
                                </div>
                                <p><%=account.introduction%></p>                         
                              </div>
                            
                          </div>
                          
                        </div>
           
         </div>
        </div>

            
            
         
            
          
        
        <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE CONTAINER--> 
</div>