<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
        <ul class="page-sidebar-menu">
        
        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{tab.url}}"><i class="icon-cogs"></i><span class="title">{{tab.label}}</span></a></li>
          {% endfor %}
        </ul>
     
     
      <!-- END SIDEBAR MENU -->
</div>
    
<div  class="page-content">
    
      <!-- BEGIN PAGE CONTAINER-->
      <div class="container-fluid" ng-show="immediateFailed">
         <div class="span12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
        
      <div class="container-fluid" >
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
          <div class="row-fluid">
          
          <div class="span12">
            <!--div class="pull-right sharebuttonDiv"> 
                  <a href="#sharingSettingsModal" class="btn blue jfk-button jfk-button-action" data-toggle="modal">
                    <i class="icon-lock"></i> {{ _("Share") }}
                  </a>
                        
                        
                     
                </div-->
                
            <h2> <%=companyprof.name%></h2>
             <span class="page-meta"><i class="icon-pencil"><a ng-click="editcompanyprofile()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i> </span>

           
            
            <hr/>
            
          </div>
        </div>
        <div class="row-fluid">
           <div class="row-fluid">
                          <div class="span6">
                            
                                <div class="news-blocks blank-card blank-card-blue">
                                <h3>Company Profile Information</h3>
                                <div class="news-block-tags">
                                  <strong>Phone</strong>
                                 
                                </div>
                                  <ul class="unstyled contact-infos">
                                    <li ng-repeat="phone in companyprof.phones"> <%=phone.number%> - <%=phone.type_number%> <a ><img class="ctodeal" src="static/img/phone-icon.png" /></a></li>
          
                                    <li><a href="#phonemodal"  class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i>Add a new Phone</a></li>

                                  </ul>
                                <div class="news-block-tags">
                                  <strong>Email</strong>
                                 
                                </div>
                                  <ul class="unstyled contact-infos">
                                    <li ng-repeat="email in companyprof.emails"> <%=email.email %>   </li>
                                    
                                    <li><a href="#emailmodal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i> Add a new email address </a></li>

                                  </ul>
                                <div class="news-block-tags">
                                  <strong>Address</strong>
                                 
                                </div>
                                 <ul class="unstyled contact-infos">
                                    <li ng-repeat="addr in companyprof.addresses"><%=addr.street%>, <%=addr.city%> <%=addr.state%>, <%=addr.street%> <%=addr.postal_code%>  </li>
                                    
                                    <li><a href="#addressmodal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i> Add a new address </a></li>

                  
                                  </ul>


                                                              
                                                          
                              </div>
                              <div class="news-blocks blank-card blank-card-bluep">
                                <h3>Links</h3>
                                <div class="news-block-tags">
                                  <strong>Website</strong>
                                  
                                </div>
                                <ul class="unstyled contact-infos" >
                                    <li ng-repeat="web in companyprof.websites"><a href="http://<%=web.website%>" target="_blank"><%=web.website%></a> </li>
                                    <li><a href="#websitemodal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i> Add a new Website </a></li>
                                    
                                </ul>
                                 
                                <div class="news-block-tags">
                                  <strong>Social Links</strong>
                                  
                                </div>
                                <ul class="unstyled contact-infos" >
                                    <li ng-repeat="social in companyprof.sociallinks"><a href="<%=social.sociallink%>" target="_blank"> <%=social.sociallink%> </a></li>
                                  <li><a href="#socialmodal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i> Add a new social links </a></li>    
                                </ul>
                                <div class="news-block-tags">
                                  <strong>Youtube Channel </strong>
                                  <span class="page-meta"><i class="icon-pencil"><a ng-click="edityoutubechannel()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span>
                                </div>
                                <p><%=companyprof.youtube_channel%> </p>
                                                    
                              </div>
                          </div>
                          <div class="span6">
                          
                            <div class="news-blocks blank-card blank-card-red">
                                <h3>Story</h3>
                                <div class="news-block-tags">
                                  <strong>Tagline </strong>
                                  <span class="page-meta"><i class="icon-pencil"><a ng-click="edittagline()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span>
                                </div>
                                <p><%=companyprof.tagline%> </p>
                                

                                <div class="news-block-tags">
                                  <strong>Introduction</strong>
                                  <span class="page-meta"><i class="icon-pencil"><a ng-click="editintro()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span>
                                  
                                </div>
                                <p><%=companyprof.introduction%></p>                         
                              </div>
                              <div class="news-blocks blank-card blank-card-yellow">
                                <h3>Google Maps</h3>
                                <div id="map_canvas" style="width:100%;height:300px;"></div>                         
                              </div>
                            
                          </div>
                          
                        </div>
           
         </div>
        </div>
        <!--HKA 31.12.2013 Edit CompanyProfile -->
             <div id="EditCompnayProfileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Edit Company Profile")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editAccount" name="editlead" ng-submit="updatCompanyprofilename(companyprof)" class="form-horizontal"> 
                

                  <div class="control-group">
                        <label  class="required control-label">{{_("Name")}} *</label>
                       
                        <div class="controls">
                          <input type="text" required id="id_lastname" ng-model="companyprof.name">
                          
                        </div>
                    </div>
                                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
            </div>
            <!--HKA 02.01.2014 Edit Youtube Channel -->

             <div id="EditYoutubeChannelModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Edit Company Profile")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updateYoutubeChannel(companyprof)" class="form-horizontal"> 
                

                  <div class="control-group">
                        <label  class=" control-label">{{_("Youtube Channel")}} </label>
                       
                        <div class="controls">
                          <!--textarea rows="2" cols="50"  id="id_tagline" ng-model="account.tagline"/-->
                           <textarea id="noteBody" class="input-block-level ng-pristine ng-valid" rows="3" ng-model="companyprof.youtube_channel"></textarea>

                        </div>
                    </div>             
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
            </div>
      <!--HKA 31.12.2013 Edit Tagline -->
             <div id="EditTagModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Edit Company Profile")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updateTagline(companyprof)" class="form-horizontal"> 
                

                  <div class="control-group">
                        <label  class=" control-label">{{_("Tagline")}} </label>
                       
                        <div class="controls">
                          <!--textarea rows="2" cols="50"  id="id_tagline" ng-model="account.tagline"/-->
                           <textarea id="noteBody" class="input-block-level ng-pristine ng-valid" rows="3" ng-model="companyprof.tagline"></textarea>

                        </div>
                    </div>             
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
            </div>

  <!--HKA 11.10.2013 Edit Introduction  -->
             <div id="EditIntroModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Edit Company profile")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="edittag" ng-submit="updateintro(companyprof)" class="form-horizontal"> 
                

                  <div class="control-group">
                        <label  class=" control-label">{{_("Introduction")}} </label>
                       
                        <div class="controls">
                         
                           <textarea id="noteBody" class="input-block-level ng-pristine ng-valid" rows="3" ng-model="companyprof.introduction"></textarea>

                        </div>
                    </div>             
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
            </div>

      <!--HKA 18.11.2013 Add Phone Modal -->


    <div id="phonemodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Add Phone")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addPhone" name="addphone" ng-submit="addPhone(phone)" class="form-horizontal"> 
                  <fieldset>
                    <div class="control-group">
                        <label  class="control-label">{{_("Type")}} </label>
                        <div class="controls">
                          <input type="text" placeholder="{{_('home')}},{{_('work')}},{{_('mobile')}},{{_('other')}} ..." required id="id_name" ng-model="phone.type_number">
                        </div>
                     </div>
                     <div class="control-group">
                        <label  class="required control-label">{{_("Number")}}</label>
                       
                        <div class="controls">
                          <input type="text"  id="id_name" ng-model="phone.number">
                          
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
              
                  <input ng-hide="isLoading" type="submit" class="btn green" value="{{_('Add this phone')}}">
                  <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>
              </div>
                </form>
    </div>


 <!--HKA 18.11.2013 Add Email -->

     <div id="emailmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Add Email")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addEmail" name="addemail" ng-submit="addEmail(emaill)" class="form-horizontal"> 
                  <fieldset>
                    <div class="control-group">
                        <label  class="control-label">{{_("Email")}} </label>
                        <div class="controls">
                          <input type="text" placeholder="{{_('Email')}}" required id="id_email" ng-model="emaill.email">
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
              
                  <input ng-hide="isLoading" type="submit" class="btn green" value="Add this email">
                  <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
              </div>
                </form>
        </div>

      <!--HKA 18.11.2013  Addresse Modal  -->

    <div id="addressmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Add Address")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addAddress" name="addemail" ng-submit="addAddress(address)" class="form-horizontal"> 
                  <fieldset>
                    <div class="control-group">
                        <label  class="control-label">{{_("Street")}} </label>
                        <div class="controls">
                          <input type="text"   id="id_street" ng-model="address.street">
                        </div>
                     </div>
                     <div class="control-group">
                        <label  class="control-label">{{_("City")}} </label>
                        <div class="controls">
                          <input type="text"   id="id_city" ng-model="address.city">
                        </div>
                     </div>
                     <div class="control-group">
                        <label  class="control-label">{{_("State/Province")}} </label>
                        <div class="controls">
                          <input type="text"  id="id_state" ng-model="address.state">
                        </div>
                     </div>
                     <div class="control-group">
                        <label  class="control-label">{{_("Postal Code")}} </label>
                        <div class="controls">
                          <input type="text"   id="id_postal" ng-model="address.postal_code">
                        </div>
                     </div>
                     <div class="control-group">
                        <label  class="control-label">{{_("Country")}} </label>
                        <div class="controls">
                          <input type="text"   id="id_country" ng-model="address.country">
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
              
                  <input ng-hide="isLoading" type="submit" class="btn green" value="{{_('Add this address')}}">
                  <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>
              </div>
                </form>
        </div>

    <!--HKA 18.11.2013 Website Modal -->


    <div id="websitemodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Add Website")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addWebsite" name="addwebsite" ng-submit="addWebsite(website)" class="form-horizontal"> 
                  <fieldset>
                    <div class="control-group">
                        <label  class="control-label">{{_("Website")}} </label>
                        <div class="controls">
                          <input type="text" placeholder="Website" required id="id_website" ng-model="website.website">
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
              
                  <input ng-hide="isLoading" type="submit" class="btn green" value="{{_('Add this Website')}}">
                  <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>
              </div>
                </form>
        </div>

    <!--HKA 18.11.2013 Social modal -->


    <div id="socialmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Add Social link")}}</h3>
            </div>
             <div class="modal-body">
                  <form id="addSocial" name="addsocial" ng-submit="addSocial(social)" class="form-horizontal"> 
                  <fieldset>
                    <div class="control-group">
                        <label  class="control-label">{{_("Social link")}} </label>
                        <div class="controls">
                          <input type="text" placeholder="{{_('Social link')}}"  required id="id_social" ng-model="social.sociallink">
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
              
                  <input ng-hide="isLoading" type="submit" class="btn green" value="{{_('Add this Social link')}}">
                  <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>
              </div>
                </form>
        </div>

    </div>
            
            
         
            
          
        
        <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE CONTAINER--> 
</div>