


    

    <!-- Sidebar ends -->

    <!-- Main bar -->
    <div class="mainbar">
     <!-- Page heading -->
      <div class="page-head">
        <img class="pull-left" src="{% static "img/unknown_company_pic.png" %}"/> 

        <!-- Page heading -->
        <h2 class="pull-left">{% trans "Accounts" %}
          <!-- page meta -->
          
        </h2>


        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="index.html"><i class="icon-home"></i> {%trans "Home" %}</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="#" class="bread-current">{%trans "Accounts" %}</a>
          
        </div>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->



      <!-- Matter -->

      <div class="matter">
        <div class="container-fluid">

          <div class="row-fluid">
            <!--

<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
 

</div>-->
            <a href="#addAccountModal" data-toggle="modal" role="button" class="btn btn-primary"><i class="icon-plus-sign"></i> {% trans "New Account" %} </a>
        <div id="addAccountModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"> {%trans "New Account" %}</h3>
              </div>
              <div class="modal-body">
                 <form id="addAccount" class="form-horizontal"> 
                  <fieldset>
                    

                    <div class="control-group">
                        <label  class="required control-label">{% trans "Name" %} *</label>
                       
                        <div class="controls">
                          <input type="text" required id="id_name">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="control-label">{% trans "Phone" %}</label>
                       
                        <div class="controls">
                          <input type="text" id="id_phone">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="control-label">{% trans "Email" %}</label>
                       
                        <div class="controls">
                            <input type="text" id="id_email">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="control-label">{% trans "Website" %}</label>
                       
                        <div class="controls">
                            <input type="text" id="id_website">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{%trans "Address" %}</label>
                       
                        <div class="controls">
                           <textarea id="id_address"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{% trans "City" %}</label>
                       
                        <div class="controls">
                           <input type="text" id="id_city">
                          
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="control-label">{% trans "Country" %}</label>
                       
                        <div class="controls">
                           <input type="text" id="id_country">
                          
                          
                        </div>
                    </div>
                     <input id="id_organization" type="hidden" name="organization" value="{{organization.id}}"> 
                    
                     <input type="hidden" id="id_related_object" value="{{rel_obj.id}}"> 
                    
                  </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{% trans "Add Account" %}</button>
              </div>
               </form>
       </div>    
<script id="allContactsTemplate" type="text/template">
                         <td><a href="/contacts/<%=id%>"><strong><%=first_name%>,<%=last_name%></strong></a></td>
                          <td><%=title%></td>
                          <td><a href="/accounts/<%=account%>"><%=accountname%></strong></a></td>
                          <td><%=mobile%></td>
                          <td><%=email%></td>
                          
                          <td>

                            <a href ="#contacts/<%= id %>" class="edit"><i class="icon-pencil"></i> {% trans "Edit" %}</a> | 
                            <a href ="#contacts/<%= id %>" class="delete"><i class="icon-trash"></i>{% trans  "Delete" %}</a>
                              
                          
                          </td>
</script>
<div class="widget wblue">

                <div class="widget-head">
                  <div class="pull-left">{% trans "All Accounts" %}</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">
                      
                 <table id="allAccountsTable" class="table  table-bordered ">
                      <thead>
                        <tr>
                          
                          <th>{% trans "Name"%}</th>
                          <th>{% trans "Phone" %}</th>
                          <th>{% trans "Email" %}</th>
                          <th>{% trans "Website" %}</th>
                          <th>{% trans "Address" %}</th>
                         
                          <th>{% trans "Action" %}</th>

                        </tr>
                      </thead>
                    <!--  <tbody>
                       {%for account in accounts%}
                        <tr>
                          <td><a href="/accounts/{{ account.id }}"><strong>{{account.name}}</strong></a></td>
                          <td>{{account.account_type}}</td>
                          <td>{{account.address}}</td>
                          <td>{{account.phone}}</td>
                          <td>{{account.email}}</td>
                          <td>{{account.owner}}</td>
                          <td>

                              <button class="btn btn-mini btn-success"><i class="icon-pencil"></i> </button>
                              <button class="btn btn-mini btn-danger"><i class="icon-remove"></i> </button>
                          
                          </td>
                        </tr>
                        {% endfor %}                                                          

                      </tbody>-->
                    </table>


                  </div>

                    <div class="widget-foot">

                      <div class="pagination pull-right">
                        <ul>
                          <li><a href="#">{% trans "Prev" %}</a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">{% trans "Next" %}</a></li>
                        </ul>
                      </div>
                      <div class="clearfix"></div> 

                    </div>

                </div>
      </div>

    <!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->        
   <div class="clearfix"></div>

</div>


