<div class="row subHeader">
    <div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{_(active_app.label)}}
            <i class="icon-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>
  <div class=" subHeaderContent">
    <div class="pull-right sharebuttonDiv">
      <a href="#sharingSettingsModal" class="btn blue jfk-button jfk-button-action" data-toggle="modal">
        <i class="icon-lock"></i>
        {{ _("Share") }}
      </a>
    </div>
    <h2 class="page-title" >
      <a href="/#/calendar" data-toggle="tooltip" id='testEdit' data-placement="bottom" title="Back to Calendar">
        <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="/static/img/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false">
      </a>
      {{_("Calendar")}} >
     </h2>
  </div>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoading">
    <div class="loader-dialog col-md-4 col-md-offset-4 ">
      <div class="loader-content">
        {{ _('Loading...')}}
      </div>
    </div>
  </div>
  <div class="container" ng-show="immediateFailed">
    <div class="col-md-12">

      <span id="signin">
        <span id="myGsignin"></span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="row">
      <div class="col-md-12 showPage taskShowHead margin-bottom-15">
          <div class="row">
            <div class="col-md-12">
                    <span editable-text="event.title" ng-model="event.title" onbeforesave="inlineUpdateEvent(event,$data)" class="documentTitle" >
                        <%= event.title%>
                    </span>
                    <span class="page-meta pull-right">
                      <i class="icon-trash">
                        <a ng-click="editbeforedelete()" class="btn-link addAnotherPhone"> {{ _('Delete')}}
                        </a>
                      </i>
                    </span>
            </div>
          </div>
            <hr class="sepLine">
      <!-- BEGIN PORTLET-->
      <!-- End Portlet -->
      <div class="row">
           <div class="col-md-12 ">
                <img class="avatar user-photo" alt="" ng-src="<%=event.created_by.photo %>" />
                <a href="" class="name"><%= event.created_by.display_name%></a>
                <span class="datetime">at <%=event.updated_at | date:'yyyy-MM-dd - HH:mm:ss '%></span>
               <ul class="list-unstyled ">
                 <li ng-show="event.tags" class="inline-tags">Tags:</li>
                 <li ng-repeat="tag in event.tags" class="inline-tags">
                   <a  href="/#/search/type:event tags:<%=tag.id%>">
                        <span class="pull-left task-label task-tag badge ng-scope ng-binding" style="background-color: <%=tag.color%>;color:<%=idealTextColor(tag.color)%>;">
                          <%= tag.name %>
                        </span>
                      </a>
                 </li>
               </ul>
            </div>

        </div>
      </div>
      <div class="row slimForm">
          <div class="col-md-6">
            <div class="news-blocks blank-card blank-card-yellow newsCard">
              <h3>{{ _('Event Informations')}}</h3>
              <div class="news-block-tags event-block-title">
                <strong>{{ _('Description')}}</strong>
              </div>
              <div class="form-group row">
                   <div class="col-md-12">
                      <input id="noteBody" ng-blur="updateEvent({'id':event.id,'description':event.description})" class="form-control ng-pristine ng-valid" rows="3" ng-model="event.description">

                    </div>
              </div>
              <div class="news-block-tags event-block-title">
                <strong>{{ _('Location')}}</strong>
              </div>
              <div class="form-group row">
                    <div class="col-md-12">
                      <input id="pac-input" class="form-control"  ng-model="event.where">
                       <a href="" ng-click="lunchMaps()">
                       <i class="glyphicon glyphicon-map-marker" style="color: rgba(0, 26, 131, 0.61); margin-top: -5px;"></i>see on map</a>
                    </div>
              </div>
              <div class="news-block-tags  event-block-title">
                <strong>{{ _('Schedule')}}</strong>
              </div>
              <div class="col-md-5 event-schedule">
                <span ng-hide="showStartsCalendar" ng-click="showStartsCalendar=true"><i class="fa fa-calendar"></i>
                <%=event.starts_at | date:'yyyy-MM-dd - HH:mm:ss '%></span>
                <div ng-show="showStartsCalendar" class="input-icon">
                     <i class="fa fa-calendar"></i>
                     <input cusdatetimepicker data-model="event.starts_at" type="text" class="form-control" placeholder="{{ _('From')}}" value="" id="leadEventStartsAt">
               </div>
              </div>
              <div class="col-md-2 event-schedule">
                <i class="fa fa-chevron-right"></i>
              </div>
              <div class="col-md-5 event-schedule">
               <span ng-hide="showEndsCalendar" ng-click="showEndsCalendar=true">
               <i class="fa fa-calendar"></i>  <%=event.ends_at | date:'yyyy-MM-dd - HH:mm:ss '%></span>
               <div ng-show="showEndsCalendar" class="input-icon">
                     <i class="fa fa-calendar"></i>

                     <input cusdatetimepicker close-on-selected=false data-model="event.ends_at" type="text" class="form-control" placeholder="{{ _('From')}}" value="" id="leadEventStartsAt">

               </div>
              </div>
              <div class="clearfix margin-bottom-15"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-col">
              <div class="news-blocks blank-card blank-card-yellow newsCard">
                <div id="gmap_canvas" style="width:100%;height:325px;"></div>
              </div>

            </div>
          </div>
    </div>

                   <!--  <div class="showPage col-md-12">
                    <div class="row">
                       
         
             <div class="form-group">
                <p class⁼"lead"=""><strong>{{ _('Attach files')}}</strong> </p>
                  <div class="btn-group">
                                    <a class="btn red" href="#" data-toggle="dropdown">
                                     {{ _('Create')}}
                                    <i class="icon-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a ng-click="showCreateDocument('document')" href="#" data-toggle="modal">
                                           <img src="/static/img/google_drive/text/plain.png" class="">
                                          {{ _('Document')}}
                                          </a>
                                      </li>
                                      <li><a ng-click="showCreateDocument('presentation')" href="#" data-toggle="modal">
                                           <img src="/static/img/google_drive/presentation.png" class="">
                                          {{ _('Presentation')}}
                                          </a>
                                      </li>
                                      <li><a ng-click="showCreateDocument('spreadsheet')" href="#" data-toggle="modal">
                                           <img src="/static/img/google_drive/spreadsheet.png" class="">
                                          {{ _('Spreadsheet')}}
                                          </a>
                                      </li>

                                    </ul>
                                </div>
                                 <div class="btn-group">
                                    <button ng-click="showAttachFilesPicker()" id="sample_editable_1_new" class="btn red">
                                    <i class="fa fa-upload"></i>
                                    </button>

                                </div>
            <!--       <a href="#" data-toggle="modal" ng-click="showAttachFilesPicker()"><i class="fa fa-file"></i> {{_('Attach files')}}</a>
                            <ul class="list-unstyled">
                                                            <li ng-repeat="file in files">
                                                               <a href="/#/documents/show/<%=file.id%>"><%= file.title %></a> 
                                                            </li>
                             </ul>
            </div> 
         
                    </div> -->
          <!--         <div class="row">
        <div class="col-md-12">
               <div class="portlet">
                <div class="portlet-body">
                     <p class⁼"lead"=""><strong>{{ _('Add New Comment :')}}</strong> </p>
                      <form id="addComment"  class=" ng-pristine ng-valid">
                      <div class="form-group">
                                        <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="comment.content"></textarea>

                       </div>

                       <div class="pull-right">

                        <input ng-disabled="isLoading || !comment.content" ng-click="addComment(comment)" type="submit" class="btn green" value="{{_('Add comment')}}">

                        </div>
                                  <div class="clearfix"></div>
                  </form>
                </div>

              </div>
        </div>

        </div> -->
      </div>
         <!--    <div class=" col-md-12">
                  <div class="row">
        <div class="col-md-12 commentsShow">
             <div class="portlet">
                <div class="portlet-title line">
                  <div class="caption"><i class="icon-comments"></i>{{ _('Comments')}}</div>
                </div>
                <div claccoass="portlet-body">
                      <ul class="chats">
                        <li class="in" ng-repeat="comment in comments" id="comment_<%=$index%>">
                          <img class="avatar" alt="" ng-src="<%=comment.author.photo%>" />
                          <div class="message">
                            <span class="arrow"></span>
                            <a href="#" class="name"><%=comment.author.display_name%></a>
                            <span class="datetime">at <%=comment.updated_at | date:'yyyy-MM-dd - HH:mm:ss '%>
                           <a ng-click="commentDelete('<%=comment.id%>')"><i class="fa fa-trash-o"></i></a>
                            </span>

                            <span class="body">
                             <a  editable-text="comment.content" onbeforesave="inlinePatch('Comment','', 'content',comment.id,$data)">
                            <%=comment.content%>
                            </a>
                            </span>
                          </div>
                        </li>
                      </ul>

                </div>

              </div>
        </div>

        </div>
      </div> -->
  
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
      </div>
    </div>
    <!-- tasks cards -->
    <div class="col-md-3 tasks-col">
 <!--      <div class="row">
        <div class="col-md-12">
          <div class="portlet showCard">
            < <div class="portlet-title line">
              <div class="caption">
                <i class="icon-user"></i>{{ _('Who is involved')}}
              </div>
            </div> >
            <div class="portlet-body">
                <ul class="chats">
                </ul>
                 <div class="caption" ng-class="{hidden: attachment.assignees==null}"><i class="fa fa-group"></i>{{ _('Assignees')}}</div>
                  <ul class="chats">

                       <li  ng-repeat="assigned in event.assignees">
                            <span class="arrow"><%=assigned.display_name%></span>
                       </li>
                       <li><a href="#addContributor"  class="btn-link addAnotherPhone" data-toggle="modal">
                          <i class="icon-plus"></i>{{ _('Add a new assignee')}}</a>
                       </li>
                  </ul>
            </div>
          </div>
        </div> -->
      </div>
      <!-- $ Events -->
    </div>
  </div>


          <!--HKA 24.12.2013 Modal before Deleting Contact-->
  <div id="BeforedeleteEvent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{ _('Delete Event')}}</h3>
              </div>
              <div class="modal-body">
                 <form id="seletesho" name="deletesho" class="form-horizontal">


                  <p>{{_("Are you sure you want to delete")}} :  <%=event.title%>.</p>

              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>


                <input  ng-click="deleteEvent()" type="submit" class="btn red" value="Delete this Event">

                <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
              </div>
               </form>
               </div>
               </div>
       </div>

      <!--HKA 11.10.2013 Edit Tagline -->
             <div id="EditTagModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Contact")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updateTagline(account)" class="form-horizontal">


                  <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Tagline")}} </label>

                        <div class="col-md-9">
                          <!--textarea rows="2" cols="50"  id="id_tagline" ng-model="account.tagline"/-->
                           <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="account.tagline"></textarea>

                        </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
               </div>
               </div>
            </div>

  <!--HKA 11.10.2013 Edit Introduction  -->
             <div id="EditIntroModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Account")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="edittag" ng-submit="updateintro(account)" class="form-horizontal">


                  <div class="form-group">
                        <label  class=" col-md-3 control-label">{{_("Introduction")}} </label>

                        <div class="col-md-9">

                           <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="account.introduction"></textarea>

                        </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
               </div>
               </div>
            </div>

      <!--HKA 18.11.2013 Add Phone Modal -->


    <div id="phonemodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Add Phone")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addPhone" name="addphone" class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Type")}} </label>
                        <div class="col-md-9">
                          <!--input type="text" placeholder="{{_('home')}},{{_('work')}},{{_('mobile')}},{{_('other')}} ..." required id="id_name" ng-model="phone.type_number"-->
                          <select ng-model="phone.type_number" class="form-control">
                            <option value="home" selected="selected" >{{_('home')}}</option>
                            <option>{{_('work')}}</option>
                            <option>{{_('mobile')}}</option>
                            <option>{{_('other')}}</option>

                          </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Number")}}</label>

                        <div class="col-md-9">
                          <input type="text" class="form-control" id="id_name" ng-model="phone.number">

                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                 <input ng-hide="isLoading" ng-click="addPhone(phone)" ng-disabled="!(phone.number)" type="submit" class="btn green" value="{{_('Add this phone')}}">

                  <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>
              </div>
                </form>
            </div>
            </div>
    </div>


 <!--HKA 18.11.2013 Add Email -->

     <div id="emailmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Add Email")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addEmail" name="addemail"  class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Email")}} </label>
                        <div class="col-md-9">
                          <input type="text" placeholder="{{_('Email')}}" required id="id_email" ng-model="emaill.email" ng-pattern="/^[\w\.\_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}/"  class="form-control">
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                  <input ng-hide="isLoading" ng-click="addEmail(emaill)"   ng-disabled="!(emaill.email)"  type="submit" class="btn green" value="Add this email">
                  <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
              </div>
                </form>
              </div>
              </div>
        </div>

      <!--HKA 18.11.2013  Addresse Modal  -->

    <div id="addressmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Add Address")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addAddress" name="addemail"  class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Street")}} </label>
                        <div class="col-md-9">
                          <input type="text"   class="form-control" id="id_street" ng-model="address.street">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("City")}} </label>
                        <div class="col-md-9">
                          <input type="text"  class="form-control" id="id_city" ng-model="address.city">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("State/Province")}} </label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" id="id_state" ng-model="address.state">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Postal Code")}} </label>
                        <div class="col-md-9">
                          <input type="text"  class="form-control" id="id_postal" ng-model="address.postal_code">
                        </div>
                     </div>
                     <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Country")}} </label>
                        <div class="col-md-9">
                          <input type="text"  class="form-control" id="id_country" ng-model="address.country">
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                  <input ng-hide="isLoading" ng-click="addAddress(address)" ng-disabled="!(address.country || address.postal_code || address.state || address.city || address.street)" type="submit" class="btn green" value="{{_('Add this address')}}">
                  <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>
              </div>
                </form>
            </div>
            </div>
        </div>


     <div id="customfields" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Add Website")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addWebsite" name="addwebsite"  class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Custom Field")}} </label>
                        <div class="col-md-9">
                          <div class="form-group">
                               <input type="text" class="form-control" placeholder="{{ _('Field')}}"  ng-model="customField.field">
                          </div>
                          <div class="form-group">
                               <input type="text" class="form-control" placeholder="{{ _('Value')}}"  ng-model="customField.value">
                          </div>
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                  <input ng-hide="isLoading" ng-click="addCustomField(customField)" ng-disabled="!(customField.field && customField.value)" type="submit" class="btn green" value="{{_('Add this custom field')}}">
                  <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>
              </div>
                </form>
                </div>
                </div>
        </div>
    <!--HKA 18.11.2013 Website Modal -->


    <div id="websitemodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Add Website")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addWebsite" name="addwebsite"  class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Website")}} </label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="{{ _('Website')}}" required id="id_website" ng-model="website.website" >
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                  <input ng-hide="isLoading" ng-click="addWebsite(website)" ng-disabled="!(website.website)" type="submit"  class="btn green" value="{{_('Add this Website')}}">
                  <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>
              </div>
                </form>
                </div>
                </div>
        </div>

    <!--HKA 18.11.2013 Social modal -->


    <div id="socialmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Add Social link")}}</h3>
            </div>
             <div class="modal-body">
                  <form id="addSocial" name="addsocial"  class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Social link")}} </label>
                        <div class="col-md-9">
                          <input type="text" placeholder="{{_('Social link')}}"  required id="id_social" ng-model="social.sociallink" class="form-control" >
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                  <input ng-hide="isLoading" ng-click="addSocial(social)" ng-disabled="!(social.sociallink)" type="submit" class="btn green" value="{{ _('Add this social link') }}">
                  <input ng-show="isLoading" type="submit" class="btn green" value="{{ _('Loading...') }}" disabled>
              </div>
                </form>
                </div>
                </div>
        </div>

    </div>
      <!-- END PAGE CONTAINER-->
</div>
 <!--HKA 18.11.2013 Add Contact modal -->

                    <div id="addContactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h3 id="myModalLabel" class="modal-title">{{_("New Contact")}}</h3>
                        </div>
                        <div class="modal-body">
                            <form id="addContact" name="addcontact"   class="form-horizontal" role="form">
                            <div class="form-group">
                              <label  class="required col-md-3 control-label">{{_("First Name")}} </label>

                              <div class="col-md-9">
                              <input class="form-control" type="text" required id="id_firstname" ng-model="contact.firstname">

                               </div>
                            </div>
                           <div class="form-group">
                              <label  class="required col-md-3 control-label">{{_("Last Name")}}</label>
                              <div class="col-md-9">
                              <input class="form-control" type="text"  id="id_lastname" ng-model="contact.lastname">

                              </div>
                           </div>
                           <div class="form-group">
                             <label  class="required col-md-3 control-label">{{_("Tittle")}} </label>

                             <div class="col-md-9">
                              <input class="form-control" type="text"  id="id_account" ng-model="contact.title">

                              </div>
                           </div>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn green addContactNow" ng-click="savecontact(contact)">{{_("Add Contact")}}</button>
              </div>
               </form>
             </div>
           </div>
       </div>


<div id="sharingSettingsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Sharing Settings")}}</h3>
            </div>
            <div class="modal-body">
                <form id="addMember" name="addaccount" class="form-horizontal">
                    <p>{{ _("Who has access:")}}</p>
                    <div  class="radio-list" ng-show="event.created_by.google_user_id=={{ME}}">
                        <label>
                            <input type="radio" name="optionRadio" value="public" ng-model="event.access" ng-click="share();"/>
                            {{ _("public: Anyone within your organization can access and find")}}
                        </label>
                        <label >
                            <input type="radio" name="optionRadio"  value="private" ng-model="event.access" ng-click="share();"/>
                            {{ _("private: only you and your collaborators")}}
                        </label>
                    </div>
                    <div ng-hide="event.created_by.google_user_id=={{ME}}">

                        <label>{{ _("you can't edit this  you are not the created_by")}} </label> <br>
                        <label>{{ _("The created_by is:")}}</label>
                          <div class="invitation">
                            <img class="google-avatar" ng-src="<%=event.created_by.photo%>"/>
                            <%=event.created_by.display_name%> <  <a> <%=event.created_by.email%> </a> >
                        </div>
                    </div>
                    <hr/>
                    <div class='' id="collaborators">
                        <p>{{ _("Collaborators:")}}</p>
                        <div ng-repeat="collaborator in collaborators_list" class="invitation">
                            <img class="google-avatar" ng-src="<%=collaborator.img%>"/>
                            <%=collaborator.display_name%> <  <a> <%=collaborator.email%> </a> > 
                            <button class ="btn" ng-hide="event.created_by.google_user_id==collaborator.google_user_id || event.access=='public' || event.created_by.google_user_id!={{ME}}" ng-click="DeleteCollaborator(collaborator.entityKey)">x</button>
                        </div>

                    </div>
                    <hr/>

                    <div ng-show="event.created_by.google_user_id=={{ME}}">
                        <p>{{ _("Invited user:")}}</p>
                        <div class="invitation" ng-repeat="invited in sharing_with">
                            <img class="google-avatar" src="<%= invited.google_public_profile_photo_url%>"/>
                            <strong> <%= invited.google_display_name %> < <%=invited.email%> ></strong>
                            <hr/>
                        </div>

                        <p>{{ _("Invite collaborators:")}}</p>
                        <div class="form-group">
                            <input type="text" ng-model="user" typeahead="user as user.google_display_name + ' <' + user.email + '>' for user in users | filter:$viewValue | limitTo:8" typeahead-on-select="selectMember()" class="form-control" placeholder="{{ _('Enter name or email addresse to add people to this group')}}">
                        </div>

                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit"  ng-click="share()" data-dismiss="modal" aria-hidden="true" class="btn blue addContactNow">{{_("Share")}}</button>
            </div>
            </form>
        </div>
    </div>

</div>

<div id="BeforedeleteAccount" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{ _('Delete Account')}}</h3>
              </div>
              <div class="modal-body">
                 <form id="seletesho" name="deletesho" class="form-horizontal">
                  <p>{{_("Are you sure you want to delete")}} :  <%=account.name %> .</p>
              </div>
                <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                  <input  ng-click="deleteaccount()" type="submit" class="btn red" value="Delete this Account">
                  <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
                </div>
            </form>
          </div>
        </div>
       </div>
         <!-- BEFORE DELETE MODEL END-->
           <!--HKA 24.12.2013 Modal before Deleting Account-->
          <!-- BEFORE DELETE MODEL-->
         <div id="BeforedeleteInfonode" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{ _('Delete Information')}}</h3>
              </div>
              <div class="modal-body">
                 <form id="seletesho" name="deletesho" class="form-horizontal">
                  <p>{{_("Are you sure you want to delete")}} :  <%=account.name %> .</p>
              </div>
                <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                  <input  ng-click="deleteaccount(account)" type="submit" class="btn red" value="Delete this Information">
                  <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
                </div>
            </form>
          </div>
        </div>
       </div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_("Add a new Task")}}</h3>
            </div>
            <div class="modal-body pickerin">
                     <div class="controls controls-row">
                                          <form id="addTask" ng-submit="addTask(task)" class="ng-pristine ng-valid">
                                                  <input class="form-control" autofocus type="text" placeholder="{{ _('Add a new task')}}" id="taskTitle" ng-model="task.title">

                                                  <p><strong>{{_("When's it due?")}}</strong></p>
                                                  <center>
                                                    <datetimepicker data-ng-model="task.due"
                                                    data-datetimepicker-config="{ startView:'day', minView:'day' }" />
                                                  </center>
                  </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

               <input ng-hide="isLoading" type="submit" class="btn green" value="Add this task">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>

            </form>
            </div>
            </div>
            </div>
          </div>

<div id="newDocument" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_("Create a new")}} <%=mimeType%></h3>
            </div>
            <div class="modal-body">
                     <div class="controls controls-row">
                                          <form id="addTask"  class="ng-pristine ng-valid">
                                                  <input class="form-control" autofocus type="text" placeholder="{{ _('Enter a new')}} <%=mimeType%> {{ _('name')}}" id="taskTitle" ng-model="newdocument.title" required>


                     </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel')}}</button>

               <input ng-hide="isLoading" type="submit" class="btn green" value="Create this document" ng-click="createDocument(newdocument)">
                <input ng-show="isLoading" type="submit" class="btn green" value="{{ _('Loading...')}}" disabled>

            </form>
            </div>
            </div>
            </div>
          </div>
    <!--End Contact Modal -->

     <!--HKA 19.11.2013 Opportunity Modal -->

              <div id="addOpportunityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h3 id="myModalLabel" class="modal-title">{{_("New Opportunity")}}</h3>
                  </div>
                 <div class="modal-body">
                     <form id="addOpportunity" name="addOpportunity" ng-submit="saveOpp(opportunity)" class="form-horizontal">
                     <fieldset>
                      <div class="form-group">
                          <label  class="required col-md-3 control-label">{{_("Name")}} *</label>

                          <div class="col-md-9">
                          <input type="text" class="form-control" required id="id_name" ng-model="opportunity.name">
                          </div>
                      </div>
                      <!--div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Labels")}} </label>

                        <div class="col-md-9">
                          <input type="text"  class="form-control" id="id_label" ng-model="opportunity.description">
                        </div>
                      </div-->
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Amount")}} </label>
                        <div class="col-md-9">
                          <input type="text"  class="form-control" id="id_amount" ng-model="opportunity.amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Stage")}} </label>
                        <div class="col-md-9">
                          <select ng-model="stage_selected" class="form-control" ng-options="opps.name + ' - ( ' + opps.probability + '% )' for opps in opportunitystages | orderBy: 'name':true"  >
                            <option value="">-- {{ _('choose Stage')}} --</option>

                          </select>


                        </div>
                    </div>
                    </fieldset>

              </div>
                    <div class="modal-footer">
                     <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                      <button  type="submit" class="btn green addContactNow">{{_("Add Opportunity")}}</button>
                     </div>
                   </form>
                   </div>
                   </div>
          </div>

                <!--HKA 19.11.2013 End Of Opportunity Modal -->
                   <!--HKA 19.11.2013 Case Modal -->
                <div id="addCaseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("New Case")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addCase" name="addCase" ng-submit="saveCase(casee)" class="form-horizontal">





                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Name")}} </label>

                        <div class="col-md-9">
                          <input type="text" class="form-control"  id="id_name" ng-model="casee.name">

                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Priority")}} </label>

                        <div class="col-md-9">
                           <select class="form-control" ng-model="casee.priority">
                            <option value="1">1 - {{ _('Low')}}</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10 - {{ _('Critical')}}</option>
                          </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Status")}}</label>

                        <div class="col-md-9">
                            <select  class="form-control" ng-model="status_selected" ng-options="stat.status for stat in casesatuses" >
                            <option value="">{{ _('Choose Status')}}</option>
                            <!--option value=""><%=status_selected.status%></option-->
                          </select>

                        </div>

                    </div>
                    <!--div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Labels")}} </label>

                        <div class="col-md-9">
                          <input type="text" class="form-control"  id="id_description" ng-model="casee.type_case">

                        </div>
                    </div-->




              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn green addContactNow">{{_("Add Case")}}</button>
              </div>
               </form>
               </div>
               </div>
          </div>

                      <!--HKA 19.11.2013  End Case Modal -->

<!--Event Modal -->
          <div id="newEventModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_("New Event")}}</h3>
            </div>
            <div class="modal-body">
                     <div class="controls controls-row">
                            <form id="addTask"  class="ng-pristine ng-valid">
                                                  <input class="form-control" autofocus type="text" placeholder="{{_('Add a new event')}}" id="taskTitle" ng-model="ioevent.title">
                                                  <p><strong>{{_("When?")}}</strong></p>
                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <p> <strong>{{_("Starts")}}</strong>: <%=ioevent.starts_at | date:'MMMM dd, yyyy, HH:mm'%></p>
                                                        <datetimepicker data-ng-model="ioevent.starts_at"
                                                    data-datetimepicker-config="{ startView:'day', minView:'minute' }" />
                                                  </div>
                                                  <div class="col-md-6">
                                                  <p><strong>{{_("Ends")}}</strong>: <%=ioevent.ends_at | date:'MMMM dd, yyyy, HH:mm'%></p>
                                                        <datetimepicker data-ng-model="ioevent.ends_at"
                                                    data-datetimepicker-config="{ startView:'day', minView:'minute' }" />
                                                  </div>
                                                </div>
                                                    <input class="form-control" autofocus="" type="text" placeholder="{{_('Where?')}}" id="taskTitle" ng-model="ioevent.where">
                                                </div>
                                                </form>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

               <input ng-hide="isLoading" type="submit" class="btn green" value="{{_('Add this event')}}" ng-click="addEvent(ioevent)">
                <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>


            </div>
            </div>
            </div>
          </div>

                        <!-- Modal -->
          <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_("Add a new Task")}}</h3>
            </div>
            <div class="modal-body pickerin">
                     <div class="controls controls-row">
                                          <form id="addTask" ng-submit="addTask(task)" class="ng-pristine ng-valid">
                                                  <input class="form-control" autofocus type="text" placeholder="{{ _('Add a new task')}}" id="taskTitle" ng-model="task.title">

                                                  <p><strong>{{_("When's it due?")}}</strong></p>
                                                  <center>
                                                    <datetimepicker data-ng-model="task.due"
                                                    data-datetimepicker-config="{ startView:'day', minView:'day' }" />
                                                  </center>
                  </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

               <input ng-hide="isLoading" type="submit" class="btn green" value="Add this task">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>

            </form>
            </div>
            </div>
            </div>
          </div>
          <div id="newDocument" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_("Create a new")}} <%=mimeType%></h3>
            </div>
            <div class="modal-body">
                     <div class="controls controls-row">
                                          <form id="addTask" ng-submit="createDocument(newdocument)" class="ng-pristine ng-valid">
                                                  <input class="form-control" autofocus type="text" placeholder="{{ _('Enter a new')}} <%=mimeType%> {{ _('name')}}" id="taskTitle" ng-model="newdocument.title" required>


                     </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel')}}</button>

               <input ng-hide="isLoading" type="submit" class="btn green" value="Create this document">
                <input ng-show="isLoading" type="submit" class="btn green" value="{{ _('Loading...')}}" disabled>

            </form>
            </div>
            </div>
            </div>
          </div>

<!--Event Modal -->
      <div id="newEventModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_("New Event")}}</h3>
            </div>
            <div class="modal-body">
                     <div class="controls controls-row">
                            <form id="addTask" ng-submit="addEvent(ioevent)" class="ng-pristine ng-valid">
                                                  <input class="form-control" autofocus type="text" placeholder="{{_('Add a new event')}}" id="taskTitle" ng-model="ioevent.title">
                                                  <p><strong>{{_("When?")}}</strong></p>
                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <p> <strong>{{_("Starts")}}</strong>: <%=ioevent.starts_at | date:'MMMM dd, yyyy, HH:mm'%></p>
                                                        <datetimepicker data-ng-model="ioevent.starts_at"
                                                    data-datetimepicker-config="{ startView:'day', minView:'minute' }" />
                                                  </div>
                                                  <div class="col-md-6">
                                                  <p><strong>{{_("Ends")}}</strong>: <%=ioevent.ends_at | date:'MMMM dd, yyyy, HH:mm'%></p>
                                                        <datetimepicker data-ng-model="ioevent.ends_at"
                                                    data-datetimepicker-config="{ startView:'day', minView:'minute' }" />
                                                  </div>
                                                </div>
                                                    <input class="form-control" autofocus="" type="text" placeholder="{{_('Where?')}}" id="taskTitle" ng-model="ioevent.where">
                                                </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

               <input ng-hide="isLoading" type="submit" class="btn green" value="{{_('Add this event')}}">
                <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>

            </form>
            </div>
            </div>
            </div>
          </div>
           <script type="text/javascript">
                              $(function(){
                                $('#eventEndsAt').appendDtpicker({
                                  "closeOnSelected": true,
                                  "dateFormat": "YYYY-MM-DD h:m",
                                  "autodateOnStart": false,
                                   "onHide": function(handler){
                                      $scope.test=true;
                                    }
                                });
                              });
          </script>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker2').datetimepicker({
      language: 'fr',
      pickTime: false
    });
  });
        var originalLeave = $.fn.popover.Constructor.prototype.leave;
      $.fn.popover.Constructor.prototype.leave = function(obj){
        var self = obj instanceof this.constructor ?
          obj : $(obj.currentTarget)[this.type](this.getDelegateOptions()).data('bs.' + this.type)
        var container, timeout;

        originalLeave.call(this, obj);

        if(obj.currentTarget) {
          container = $(obj.currentTarget).siblings('.popover')
          timeout = self.timeout;
          container.one('mouseenter', function(){
            //We entered the actual popover – call off the dogs
            clearTimeout(timeout);
            //Let's monitor popover content instead
            container.one('mouseleave', function(){
              $.fn.popover.Constructor.prototype.leave.call(self, self);
            });
          })
        }
      };
 /* $('body').popover({ selector: '[data-popover]', trigger: 'click hover', placement: 'left', delay: {show: 50, hide: 400}});*/
          $('#assigeeList').slimScroll({
              height: '200px'
          });
           $('#collaborators').slimScroll({
                                    height: '192px'
                                });
</script>
