<div class="row subHeader">
<div class="currentApp">
  <h2 class="page-title">
    <!-- <img class="platform_icons" height="25" width="25" src="static/img/admin_console.png"> -->
    {{active_app.label}}
  </h2>
</div>
  <div class=" subHeaderContent">
             
            <h2 class="page-title">
            <a href="/#/tasks/" data-toggle="tooltip" data-placement="bottom" title="Back to Cases">
            <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false"></a>     {{_("Tasks")}}  </a></h2>
  </div>
</div>

               <div id="assigneeTagsToTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 id="myModalLabel" class="modal-title">Add Tags </h3>
                    </div>
                    <div class="modal-body">
                       <form id="seletesho" name="deletesho" class="form-horizontal"> 
                       <div class="form-group">
                            <select id="select2_sample2" class="form-control select2" multiple>
                              <option ng-repeat="tag in tags" 
                              value='<%=tag.entityKey%>'>
                                <%=tag.name%>
                              </option>
                            </select>
                        </div>
                    </div>
                      <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                        <input ng-hide="isLoadingTask" ng-click="addTags(task)" type="submit" class="btn green" value="Add">
                        <input ng-show="isLoadingTask" type="submit" class="btn green" value="Loading..." disabled>
                      </div>
                  </form>
                </div>
              </div>
             </div>
<div id="EditTaskModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Task")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editCase" name="editlead" ng-submit="updateTask(task)" class="form-horizontal"> 
                

                  <div class="form-group">
                        <input class="form-control" autofocus type="text" placeholder="Add a new task" id="taskTitle" ng-model="task.title">
                                                  
                        <p><strong>When's it due?</strong></p>
                        <center>
                              <datetimepicker data-ng-model="task.due"
                                                    data-datetimepicker-config="{ startView:'day', minView:'day' }" />
                        </center>

                         <div class="form-group">
                            <label  class="required col-md-3 control-label">{{_("Status")}} </label>
                            
                            <div class="col-md-9">
                              <select class="form-control" ng-model="task.status">
                                    
                                    <option value="pending">Pending</option>
                                    <option value="working">Working</option>
                                    <option value="closed">Closed</option>
                                    
                              </select>
                         
                        </div>                       
                          
                   </div>  
                    </div>
                   
                 

                    
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" placeholder="Add labels to categorize your tasks" id="taskTitle" ng-model="task.tags">
                    </div>                       
                  
                     
                    
                  
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow green">{{_("Save")}} </button>
              </div>
               </form>
                </div>
              </div>
  </div> 
<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
      <ul class="page-sidebar-menu">
        
        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{ tab.url }}"><i class="icon-cogs"></i><span class="title">{{tab.label}}</span></a></li>
          {% endfor %}

      </ul>   
      <!-- END SIDEBAR MENU -->
</div>
<div  class="page-content">
<div class="" ng-show="immediateFailed">
         <div class="col-md-12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
 </div>
    <div ng-show="isContentLoaded" >
      <!--HKA 19.11.2013 Begin  row-2 who is involved -->
      <div class="showPage">
    <div class="row">

    <!--HKA 19.11.2013 BEGIN Span comments-->
      <div class="col-md-8">
            <h2 class="page-title showTaskTitle" ng-class="{task_closed: task.status=='closed'}">
              <input id="checkTaskInShow" type="checkbox" ng-checked="isSelectedAll"  ng-click="checkOptions()">  
              <%=task.title%>
            </h2>
            <hr>
      <!-- BEGIN PORTLET-->
      <!-- End Portlet -->
      <div class="row">
           <div class="col-md-12 margin-bottom-10">
                 <form ng-show="taskSelected" class="pull-right">
                   <button   ng-show="task.status=='open'"class="btn btn-sm btn-default task_action" ng-click="closeTask(task)">
                    <i class="fa fa-lock"></i>
                      <span class="btn-text">
                        Close  
                      </span>
                    </button>
                     <button   ng-show="task.status=='closed'" class="btn btn-sm btn-default task_action" ng-click="reopenTask(task)">
                    <i class="fa fa-unlock"></i>
                    <span class="btn-text">
                    Reopen
                    </span>
                    </button>
                    <button ng-click="showAssigneeTags()" class="btn btn-sm btn-default task_action">
                    <i class="fa fa-tags"></i>
                     <span class="btn-text">
                        Tags
                     </span>
                    </button>
                    <datetimepick icon-class='fa fa-bell-o' label-format='MMM d, h:mm a' ng-model='newTask.reminder' class="new-task-reminder"></datetimepick>
                    <datetimepick ng-model='newTask.due' class="new-task-date" label-format='MMM d, h:mm a'></datetimepick>
               </form>
               <ul class="list-unstyled ">
                 <li ng-show="task.tags" class="inline-tags">Tags:</li>
                 <li ng-repeat="tag in task.tags" class="inline-tags">
                   <a href="#">#<%=tag.name%>  </a>
                 </li>
               </ul>
            </div>
              
        </div>
        <div class="row">
        <div class="col-md-12">
             <div class="portlet">
                <div class="portlet-title line">
                  <div class="caption"><i class="icon-comments"></i>Comments</div>    
                </div>
                <div class="portlet-body">
                      <ul class="chats">
                        <li class="in" ng-repeat="comment in comments" id="comment_<%=$index%>">
                          <img class="avatar" alt="" ng-src="<%=comment.author.photo%>" />
                          <div class="message">
                            <span class="arrow"></span>
                            <a href="#" class="name"><%=comment.author.display_name%></a>
                            <span class="datetime">at <%=comment.updated_at | date:'yyyy-MM-dd - HH:mm:ss '%></span>
                            <span class="body">
                            <%=comment.content%>
                            </span>
                          </div>
                        </li>
                      </ul>
                     <p class⁼"lead"=""><strong>Discuss this task :</strong> </p>
                      <form id="addComment" ng-submit="addComment(comment)" class="well ng-pristine ng-valid">
                      <div class="form-group">
                                        <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="comment.content"></textarea>
                                      
                       </div>                
                                     
                       <div class="pull-right">
                      
                        <input ng-hide="isLoading" type="submit" class="btn green" value="Add comment">
                        <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
                        </div>
                                  <div class="clearfix"></div>
                  </form>
                </div>
                  
              </div>
        </div>
          
        </div>
        <div class="row">
                                <div class="pagination pull-right" ng-hide="isLoading">
                                      
                                      <ul>
                                        <li ng-show="paginationcomment.prev"><button ng-click="listPrevPageItemscomment()" id="sample_editable_1_new" class="btn">
                                        {{_("Prev")}} 
                                        </button></li>
                                        
                                        <li  ng-show="paginationcomment.next"><button ng-click="listNextPageItemscomment()"  class="btn">
                                        {{_("Next")}} 
                                        </button></li>
                                      </ul>
                                    </div>
                                    <h3 class="pagination pull-right" ng-show="isLoading">Loading...</h3>
                              </div>

        
      </div>
    <!--HKA 19.11.2013 END Span comments-->



  <!--HKA 19.11.2013 BEGIN Span who is involved -->
      <div class="col-md-4">
        <div class="portlet  task-assignees">
                  <div class="portlet-title line">
                    <div class="caption"><i class="icon-user"></i>Who's involved</div>
                    
                  </div>
                  <div class="portlet-body">
                  <ul class="chats">
                   
                   <li>                      
                        <span class="arrow">Created By: <%=task.created_by.display_name%></span>
                   </li>
                  </ul>
                   <div class="caption"><i class="fa fa-group"></i>Assignees</div>
                    <ul class="chats">
                 
                 <li  ng-repeat="assigned in task.assignees">
                    
                    
                      <span class="arrow"><%=assigned.display_name%></span>
                     
                   
                 </li>
                  <li><a href="#addContributor"  class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i>Add a new assignee</a></li>

                 
                </ul>
                  </div>
                  
         </div>

        <div id="addContributor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Involve new contributors")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addAccount" name="addaccount" ng-submit="addNewContributor(slected_memeber,role)" class="form-horizontal"> 
                
                  
                    <p>Invite people from your team and start working together on this task. Everyone you invite will receive an email.</p>

                    <div class=''>
                    <div class="invitation" ng-show="slected_memeber">
                      <img class="google-avatar" src="<%= slected_memeber.google_public_profile_photo_url%>"/>
                        <strong> <%= slected_memeber.google_display_name %> < <%=slected_memeber.email%> ></strong>
                    </div>
                    <div class="form-group">
                      <input type="text" ng-model="user" typeahead="user as user.google_display_name + ' <' + user.email + '>' for user in users | filter:$viewValue | limitTo:8" typeahead-on-select="selectMember()" class="form-control" placeholder="Enter name or email addresse to involve people in this discussion">
                    </div>
                    <div class="form-group">
                          <label class="col-md-3 control-label">Add as:</label>
                          <div class="col-md-9">
                            <select class="form-control medium m-wrap" tabindex="1" ng-model="role">
                              <option value="responsible">Responsible</option>
                              <option value="participant">Participant</option>
                              <option value="invited">Invited</option>
                              
                            </select>
                          </div>
                        </div>
                      </div>
                
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn blue addContactNow">{{_("Involve")}}</button>
              </div>
               </form>
              </div>
              </div>
       </div>


      </div>
  <!--HKA 19.11.2013 END Span who is involved -->
    


    </div>
    </div>
    <!--HKA 19.11.2013 END row-2 Span who is involved -->

    <script type="text/javascript">
    $('#checkTaskInShow').uniform();
      $("#select2_sample2").select2({
        placeholder: "Click to Select a label",
        allowClear: false
    });
    </script>


    </div>
    </div>

   
