
<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
      <ul class="page-sidebar-menu">
        
        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{ tab.url }}"><i class="icon-cogs"></i><span class="title">{{tab.label}}</span></a></li>
          {% endfor %}

      </ul>   
      <!-- END SIDEBAR MENU -->
</div>
<div  class="page-content">
<div class="container-fluid" ng-show="immediateFailed">
         <div class="span12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
 </div>
    <div class="container-fluid" >
      <div class="row-fluid">
         <div class="span12">
         
            <div class="pull-right sharebuttonDiv"> 
                  <a href="" class="btn blue jfk-button jfk-button-action">
                    <i class="icon-lock"></i> Share
                  </a>     
            </div>
            <h2>
            <a href="<%=uri%>" data-toggle="tooltip" data-placement="bottom" title="Back to <%=task.about_kind%>">
            <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false"></a>    <%=task.about_kind%> > <%=task.status%>  </h2>
            

           
              
          <hr>
      </div>
    </div>
      <!--HKA 19.11.2013 Begin  row-fluid-2 who is involved -->
    <div class="row-fluid">

    <!--HKA 19.11.2013 BEGIN Span comments-->
      <div class="span8">
      <!-- BEGIN PORTLET-->
        <div class="portlet">
          <div class="portlet-title line">
              <div class="caption"><i class="fa fa-comments"></i><%=task.title%> <%=task.owner%></div>
          </div>
          <div class="portlet-body">
             <ul class="chats">
                  <li class="in">
                    <img class="avatar" alt="" ng-src="" />
                    <div class="">
                      <span class="arrow"></span>
                      <a href="#" class="name"><%=task.status%></a>
                      <span class="datetime"><!--at <%= note.created_at %> --></span><br>
                      <span class="body">
                      <%=task.status%>
                      </span>
                    </div>
                  </li>
                  
                </ul>
          </div>

       
         
        </div>
      <!-- End Portlet -->
      <div class="row-fluid">
                  <div class="span12 margin-bottom-10">
                 <p class⁼"lead"=""><strong>Just add comments to remember what's important :</strong> </p>
                          <form id="addComment" ng-submit="addComment(comment)" class="ng-pristine ng-valid">
                                            <textarea id="noteBody" class="input-block-level ng-pristine ng-valid" rows="3" ng-model="comment.content"></textarea>
                                          
                                          
                                         
                                         <div class="pull-right">
                                        
                                          <input ng-hide="isLoading" type="submit" class="btn green" value="Add comment">
                                          <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
                                          </div>
                      </form>
                      </div>
              
        </div>
      <ul class="chats">
                  <li class="in" ng-repeat="comment in comments" id="comment_<%=$index%>">
                    <img class="avatar" alt="" ng-src="static/img/avatar.jpg.png" />
                    <div class="message">
                      <span class="arrow"></span>
                      <a href="#" class="name"><%=comment.last_update%></a>
                      <span class="datetime">at <%=comment.updated_at | date:'yyyy-MM-dd - HH:mm:ss '%></span>
                      <span class="body">
                      <%=comment.content%>
                      </span>
                    </div>
                  </li>
                  
        </ul>
        <div class="row-fluid">
                                <div class="pagination pull-right" ng-hide="isLoading">
                                      
                                      <ul>
                                        <li ng-show="pagination.prev"><button ng-click="listPrevPageItems()" id="sample_editable_1_new" class="btn">
                                        {{_("Prev")}} 
                                        </button></li>
                                        
                                        <li  ng-show="pagination.next"><button ng-click="listNextPageItems()"  class="btn">
                                        {{_("Next")}} 
                                        </button></li>
                                      </ul>
                                    </div>
                                    <h3 class="pagination pull-right" ng-show="isLoading">Loading...</h3>
                              </div>

        
      </div>
    <!--HKA 19.11.2013 END Span comments-->



  <!--HKA 19.11.2013 BEGIN Span who is involved -->
      <div class="span4">
        <div class="portlet">
                <div class="portlet-title line">
                  <div class="caption"><i class="icon-tasks"></i>Who's involved</div>
                  
                </div>
                <div class="portlet-body">
                <ul class="chats">
                 <!-- <li class="in">
                    <img class="avatar" alt="" src="static/img/avatar.jpg.png" />
                    <div class="message">
                      <span class="arrow"></span>
                      <a href="#" class="name">Hakim  Karriche</a>
                    </div>
                  </li>-->

                  <li><a href="#addAttendee"  class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i>Add a new assignee</a></li>
                </ul>
                </div>
                
       </div>

        <div id="addAttendee" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("New User")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addAccount" name="addaccount" ng-submit="addNewUser(user)" class="form-horizontal"> 
                  <fieldset>
                  
                    <p>Invite people from your team and start working together in seconds. Everyone you invite will receive a welcome email.</p>

                    <div class="control-group">
                        <label  class="required control-label">{{_("Email")}} *</label>
                       
                        <div class="controls">
                          <input type="text" required id="id_name" ng-model="user.email">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="required control-label">{{_("Profile")}}</label>
                       
                        <div class="controls">
                          <input type="text"  id="id_name" ng-model="account.account_type">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="required control-label">{{_("Role")}} </label>
                       
                        <div class="controls">
                          <input type="text"  id="id_name" ng-model="account.industry">
                          
                        </div>
                    </div>
                    </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn blue addContactNow">{{_("Add Atendee")}}</button>
              </div>
               </form>
       </div>


      </div>
  <!--HKA 19.11.2013 END Span who is involved -->
    


    </div>
    <!--HKA 19.11.2013 END row-fluid-2 Span who is involved -->




    </div>
    </div>

   
