/*!
angular-xeditable - 0.1.8
Edit-in-place for angular.js
Build date: 2014-01-10 
*/

.editable-wrap {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
}
.editable-wrap .editable-controls, .editable-wrap .editable-error {
    margin-bottom: 0;
}
.editable-wrap .editable-controls>input, .editable-wrap .editable-controls>select, .editable-wrap .editable-controls>textarea {
    margin-bottom: 0;
}
.editable-wrap .editable-input {
    display: inline-block;
}
.editable-buttons {
    display: inline-block;
    vertical-align: top;
}
.editable-buttons button {
    margin-left: 5px;
    /***update****/
        height: 25px !important;	
    width: 30px !important;
    /*****************/
}
.editable-buttons span{
	top: -3px;
	left: -5px;
}
.editable-buttons .glyphicon{
	font-size: 12px;
}
.editable-input.editable-has-buttons {
    width: auto;
    /*update***/
    height: 25px;
    font-size: 12px;
	padding: 1px;
    /*update***/
}
.editable-bstime .editable-input input[type=text] {
    width: 46px;
      /*update***/
    height: 25px;
    /*update***/
}
}
.editable-bstime .well-small {
    margin-bottom: 0;
    padding: 10px;
}
.editable-range output {
    display: inline-block;
    min-width: 30px;
    vertical-align: top;
    text-align: center;
}
.editable-color input[type=color] {
    width: 50px;
}
.editable-checkbox label span, .editable-checklist label span, .editable-radiolist label span {
    margin-left: 7px;
    margin-right: 10px;
}
.editable-hide {
    display: none!important;
}
.editable-click, a.editable-click {
    text-decoration: none;
    color: #666;
}
.editable-click:hover, a.editable-click:hover {
    text-decoration: none;
    color: #2a6496;
    border-bottom-color: #2a6496;
}
.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
    font-style: italic;
    color: #D14;
    text-decoration: none;
}