<div class="row subHeader actionsBar">
    <table style="width:100%;height: 55px;">
          <tbody><tr>
            <td class="appTd">
            <div class="btn-group">
                 <a class="filterItem" href="#" data-toggle="dropdown" style="margin-right:0px">
                  {% if active_app.label =="Relationships" %}
                      <img class="app_icon" src="../static/src/img/sm-iogrow-true.png" style="display:inline-block;height: 20px;margin-right: 3px;">
                      {% else%}
                      <img class="app_icon" src="../static/src/img/admin_min.png" style="display:inline-block;height: 20px;margin-right: 3px;">
                  {% endif %}
                  <span class="hide_sm">{{_(active_app.label)}}</span>   
                  <i class="icon-angle-down fa fa-angle-down"></i>
                 </a>
                 <ul class="dropdown-menu">
                  {%for application in apps %}
                        {% if application.label =="Relationships" %}
                          <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal"><img class="app_icon" src="../static/src/img/sm-iogrow-true.png" style="display:inline-block;height: 20px;margin-right: 3px;">{{_(application.label)}}</a></li>
                          {% else%}
                           <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal"><img class="app_icon" src="../static/src/img/admin_min.png" style="display:inline-block;height: 20px;margin-right: 3px;">{{_(application.label)}}</a></li>
                        
                          {% endif %}
                       

                  {%endfor%}
                 </ul>
             </div>
          </td>
      <td class="middleHeaderTd">
        <div class="subheadContient" style="padding-top: 5px;float: left;vertical-align: middle;">
              <h2 class="page-title" style="margin-left: 5px; font-size:20px;float: left;vertical-align: middle;">
                {{ _("Dashboard")}}
              </h2>
        </div>   
      </td> 
      <td class="settingsTd">
            <div style=" padding-left: 10px;" class="pull-right">
               <div class="btn-group">
                  <a  class="headerBtn hide_sm" title="{{ _('Help ') }}" style="margin-left: 20px; margin-right: 12px;"  href="#" data-toggle="dropdown" >
                    <i class="fa fa-question-circle" style="padding-top: 0px; font-size: 16px;vertical-align: text-top;"></i>
                  </a>
                   <ul class="dropdown-menu drp-dwn-right">
                   
                     <li><a  ng-click="wizard()" href="#"  data-toggle="modal">{{ _('Show tips ') }}</a></li>
                 	 <li><a target="new" href="https://www.youtube.com/channel/UCPfenS7B-qZ81sx6tanym0w/videos">{{ _('Videos Help') }}</a></li> 

                   <li><a target="new" href="http://blog.iogrow.com/iogrow-faq">{{ _('Faq') }}</a></li> 
                    
                  </ul>
               </div>
               {%for application in apps %}
                 {%if application.label =="Settings" %}
                  <a  href="/apps/{{ application.key.id() }}" class="headerBtn hide_sm" title="Settings" style="margin-left: 20px; margin-right: 12px;" > 
                      <i class="fa fa-gear" style="padding-top: 6px; font-size: 16px;"></i>
                  </a>
                 {%endif%}
               {%endfor%}  
              <div class="btn-group show_sm" style="margin-left: 8px; margin-right: 0px; vertical-align: baseline;">
                  <a class="headerBtn" title="More" data-toggle="dropdown"> 
                      <i class="fa  fa-ellipsis-vertical" style="padding-top: 6px; font-size: 16px;"></i>
                  </a>
                  <ul class="dropdown-menu drp-dwn-right">
                    <li>
                        <a class="headerBtn hide_sm" title="Help" style="margin-left: 20px; margin-right: 12px;" ng-click="switchShow()"> 
                            <i class="fa fa-question-circle" style="padding-top: 6px; font-size: 16px;"></i>
                        </a>
                    </li> 
                    {%for application in apps %}
                       {%if application.label =="Settings" %}
                        <li>
                        <a  href="/apps/{{ application.key.id() }}" class="" title="Settings" > 
                            <i class="fa fa-gear" style="padding-top: 6px; font-size: 16px;"></i>
                            {{ _("Settings")}}
                        </a>
                        </li> 
                       {%endif%}
                    {%endfor%}  
                  </ul>
              </div>           
          </div>
      </td>
          </tr>
          
        </tbody>
  </table>
</div>
<!--<div class="row subHeader">
    <div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{_(active_app.label)}}
            <i class="icon-angle-down fa fa-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>

            {%endfor%}
           </ul>
        </div>

    </div>
	 <div class=" subHeaderContent">
	        <h2 class="page-title" >
	            {{_("Dashboard")}}
	        </h2>

	          <div class="btn-group pull-right">
                <a class="filterItem" href="#" data-toggle="dropdown"  ng-class="{activeFilter: selectedOption =='sort'}" >
                  {{ _('Help ?')}}
                  <i class="icon-angle-down"></i>
                </a>
                <ul class="dropdown-menu drp-dwn-xs-left">
                  <!--li><a ng-click="orderBy('title')" href="#" data-toggle="modal">{{ _('Title') }}</a></li-->
                  <!--li><a ng-click="orderBy('company')" href="#" data-toggle="modal">{{ _('Company') }}</a></li-->
                  <!--<li><a  ng-click="wizard()" href="#"  data-toggle="modal">{{ _('Launch Wizard ') }}</a></li>
                  <li><a target="new" href="https://www.youtube.com/channel/UCPfenS7B-qZ81sx6tanym0w/videos">{{ _('Videos Help') }}</a></li>
                  
                </ul>
          </div>
          
	</div>
</div>-->

<div  class="page-content">
<div class="loader-container row" ng-show="isLoading">
      <div class="loader-dialog col-md-4 col-md-offset-4 ">
        <div class="loader-content">
          {{_('Loading...')}}
        </div>
      </div>

</div>
<div class="dropOut"  ng-show="showUntag" >
    <div class="trash">
      <img alt="delete tag" droppable ng-drop="dropOutTag()" class="" src="/static/src/img/iotrash.png" >
    </div>
</div>
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE CONTAINER-->
<div ng-show="immediateFailed">
         <div class="col-md-12">

              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
</div>
<div ng-show="isSignedIn" style="margin-top: 16px;">
  <div class="waterfall" ng-show="!isLoading">
    

   <div class="dashElement cardDisp">
	  	<div class="btn-group inCardOptionsBtn">
	            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
	             <i class="fa fa-ellipsis-vertical"></i>
	            </button>
	            <ul class="dropdown-menu drp-dwn-right " role="menu">
	              <li>
	               <a href="" ng-click="getImgFromCanvas('chartNormal')">
	                   <i class="fa fa-print"></i> {{ _('Print') }}</a>
	              </li>
	            </ul>
	    </div>
	  	<div class="portlet">
	  		<div class="portlet-title" style="margin-bottom:0px">
	  			<div class="caption">
	  				 {{ _('Opportunities by stage') }}
	  			</div>
	  		</div>
	  		<div class="portlet-body" style="padding:15px;">
	  			<div id="chartNormal"></div>
	  		</div>
	  	</div>
  </div>
  <div class="dashElement cardDisp">
	  	<div class="btn-group inCardOptionsBtn">
	            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
	             <i class="fa fa-ellipsis-vertical"></i>
	            </button>
	            <ul class="dropdown-menu drp-dwn-right " role="menu">
	              <li>
	               <a href="" ng-click="getImgFromCanvas('chartNormal2')">
	                   <i class="fa fa-print"></i>{{ _('Print') }}</a>
	              </li>
	            </ul>
	    </div>
	  	<div class="portlet">
	  		<div class="portlet-title" style="margin-bottom:0px">
	  			<div class="caption">
	  				{{ _('Leads by status') }}
	  			</div>
	  		</div>
	  		<div class="portlet-body"  style="padding:15px;">
	  			<div id="chartNormal2"></div>
	  		</div>
	  	</div>
  </div>  
    <div class="dashElement">
		<div class="dashboard-stat blue">
			<div class="visual">
				<i class="fa fa-user"></i>
			</div>
			<div class="details">
				<div class="number">
					 <%=total_lead%>
				</div>
				<div class="desc">
					 Leads
				</div>
			</div>
			<a class="more" href="#/leads/">
			{{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
   </div>
   	   <div class="dashElement">
			<div class="dashboard-stat green">
				<div class="visual">
					<i class="fa fa-bar-chart-o"></i>
				</div>
				<div class="details">
					<div class="number">
						 <%=total_amount|currency%> 
					</div>
					<div class="desc">
						{{ _('Forecastable Pipeline') }}
					</div>
				</div>
				<a class="more" href="#/leads/">
				{{ _('View more') }} <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
	   </div>
	     <div class="dashElement cardDisp" data-span="2">
	  	<div class="btn-group inCardOptionsBtn">
	            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
	             <i class="fa fa-ellipsis-vertical"></i>
	            </button>
	            <ul class="dropdown-menu drp-dwn-right " role="menu">
	              <li>
	               <a href="" ng-click="showImg(leadByOwnerChart.imgUrl)">
	                   <i class="fa fa-print"></i>{{ _('Print') }}</a>
	              </li>
	            </ul>
	    </div>
	  	<div class="portlet">
	  		<div class="portlet-title" style="margin-bottom:0px">
	  			<div class="caption">
	  				 {{ _('Leads per owner') }}
	  			</div>
	  		</div>
	  		<div class="portlet-body" id="scrollable-chart2">
	  			<div google-chart chart="chartForLeadsOwner" style="<%=chartForLeadsOwner.cssStyle%>"></div>
	  		</div>
	  	</div>
  </div> 
     <div class="dashElement cardDisp">
	  	<div class="btn-group inCardOptionsBtn">
	            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
	             <i class="fa fa-ellipsis-vertical"></i>
	            </button>
	            <ul class="dropdown-menu drp-dwn-right " role="menu">
	              <li>
	               <a href="" ng-click="showImg(chartForLeadsSource.imgUrl)">
	                   <i class="fa fa-print"></i>{{ _('Print') }}</a>
	              </li>
	            </ul>
	    </div>
	  	<div class="portlet">
	  		<div class="portlet-title" style="margin-bottom:0px">
	  			<div class="caption">
	  				{{ _('Leads source') }}
	  			</div>
	  		</div>
	  		<div class="portlet-body">
	  			<div id="testChart" google-chart chart="chartForLeadsSource" on-ready="testredy('test test')" style="<%=chartForLeadsSource.cssStyle%>"></div>
	  		</div>
	  	</div>
  </div> 


  	   <div class="dashElement cardDisp" data-span="3">
		  	<div class="btn-group inCardOptionsBtn">
		            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
		             <i class="fa fa-ellipsis-vertical"></i>
		            </button>
		            <ul class="dropdown-menu drp-dwn-right " role="menu">
		              <li>
		               <a href="" ng-click="showImg(chartObject.imgUrl)">
		                   <i class="fa fa-print"></i>{{ _('Print') }}</a>
		              </li>
		            </ul>
		    </div>
		  	<div class="portlet">
		  		<div class="portlet-title" style="margin-bottom:0px">
		  			<div class="caption">
		  				{{ _('Forecastable Pipeline per owner') }} 
		  			</div>
		  		</div>
		  		<div class="portlet-body" id="scrollable-chart">
		  		
		  			<div google-chart chart="chartOppoByOwner" style="<%=chartOppoByOwner.cssStyle%>"></div>
		  		</div>
		  	</div>
	  </div>
 

  <!--<div class="col-md-3 dashElement">
   	<div id="funnelContainer"></div>
  </div>-->    
</div>
<script type="text/javascript">
    var data = [['', 1500], ['Comments', 300], ['Video Responses', 150]];
    var chart = new FunnelChart({
                    data: data,
                    width: 170, 
                    height: 150, 
                    bottomPct: 1/4
                });
    /*chart.draw('#funnelContainer', 2);*/
    $('#scrollable-chart').slimScroll({
                    height: '400px'
 	 });
 	  $('#scrollable-chart2').slimScroll({
                    height: '400px'
 	 });
    var data = [
	    { amount: 500000, status: "Incoming" },
	    { amount: 200000, status: "Qualified" },
	    { amount: 50000, status: "Need Analysis" },
	    { amount: 2000, status: "Negociating" },
	    { amount: 1000, status: "Close lost" },
	    { amount: 500, status: "Close won" }
	];
	var dataLeads = [
	    { leads: 500, status: "New" },
	    { leads: 200, status: "Working" },
	    { leads: 350, status: "Unqualified" },
	    { leads: 50, status: "Convered"}
	];

    //  Create a basic funnel chart
    // $("#chartNormal").igFunnelChart({
    //     width: "100%",  //"325px",
    //     height: "200px",
    //     dataSource: data,
    //     valueMemberPath: "anmount",
    //     innerLabelMemberPath: "amount",
    //     innerLabelVisibility: "visible",
    //     outerLabelMemberPath: "status",
    //     outerLabelVisibility: "visible"
    // });
    // $("#chartNormal2").igFunnelChart({
    //     width: "100%",  //"325px",
    //     height: "200px",
    //     dataSource: dataLeads,
    //     valueMemberPath: "leads",
    //     innerLabelMemberPath: "leads",
    //     innerLabelVisibility: "visible",
    //     outerLabelMemberPath: "status",
    //     outerLabelVisibility: "visible"
    // });
    $('.waterfall').waterfall({
        colMinWidth: 280,
        defaultContainerWidth: 1120,
        autoresize: true
  });
</script>
