<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" > <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" > <![endif]-->
<!--[if !IE]><!--> <html xmlns:ng="http://angularjs.org"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/src/css/bootstrap.min.css" rel="stylesheet">
    <title>ioGrow Settings</title>
    <style>
      .profile-photo {
        margin-top: 10px;
        margin-left: 10px;
        width: 50px !important;
        height: 50px !important;
        max-width: 100%;
        max-height: 100%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
        }
    </style>
</head>
<body>
	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="../" class="navbar-brand"><img src="http://storage.googleapis.com/iogrow-gs/static/iogrow_material_design_logo_welcome.png" width="150" /></a>
	    </div>
	    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	      <ul class="nav navbar-nav">
	       <!-- 	<li>
	          <a href="../getting-started/">Getting started</a>
	        </li>
	        <li>
	          <a href="../css/">CSS</a>
	        </li>
	        <li class="active">
	          <a href="../components/">Components</a>
	        </li>
	        <li>
	          <a href="../javascript/">JavaScript</a>
	        </li>
	        <li>
	          <a href="../customize/">Customize</a>
	        </li>-->
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	       <!-- <li><a href="http://expo.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">Expo</a></li>
	        <li><a href="http://blog.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">Blog</a></li>-->
	      </ul>
	    </nav>
	  </div>
	</header>
    <div class="">
      <div class="">
       <!-- <div class="col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>-->
        <div class="col-md-12 main" ng-controller="OrganizationsController">
          <div id="BeforeUpdateLicense" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3 id="myModalLabel" class="modal-title">{{_('Delete Lead')}}</h3>
                                            </div>
                                            <div class="modal-body">
                                                <form id="seletesho" name="deletesho" class="form-horizontal">


                                                    <p>{{_("Are you sure you want to update this data? ")}}</p>
                                                    <ul>
                                                    <%=organization.name%>
                                                    <li>organization: <%=selected_organization.name %></li>
                                                    <li>license: <%=selected_organization.license.name%></li>
                                                    <li>nb_licenses: <%=selected_organization.nb_licenses%></li>
                                                    <li>nb_days: <%=selected_organization.days_before_expiring%></li>
                                                    </ul>





                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                                                <input ng-click="updateLicense()" type="submit" class="btn red" value="Confirm">
                                                <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
                                            </div>
                                            </form>
                                        </div>
                                    </div>
</div>
          <div class="">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Organisation name</th>
                  <!-- <th>Owner name</th> -->
                  <!-- <th>Owner email</th> -->
                  <th>Nb days</th>
                  <th>Nb Users</th>
                  <th>Nb Licenses</th>
                  
                  <th>Licenses type</th>
                  <!-- <th>Created at</th> -->
                  <th>Expiration date</th>
                  <th>Update</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="organization in organizations | orderBy:nb_users:reverse">
                  <td><%=$index%></td>
                  <td> <%= organization.name %> </td>
                  <!-- <td><%= organization.owner.google_display_name %></td> -->
                  <!-- <td><%= organization.owner.email %></td> -->
                  <td>
                     <input type="text"  id="days" size="4"  ng-model="organization.days_before_expiring">
                  </td>
                  <td><%= organization.nb_users %></td>
                  <td>
                    <input type="text"  id="nb_licenses" ng-model="organization.nb_licenses">
                  </td>
                  
                  <td>
                    <select class="form-control" ng-model="organization.license" ng-options="license.name for license in licenses" >
                                        <option value=""><%=organization.license.name%> </option>
                                        <!--option value=""><%=stage_selected.name%></option-->
                    </select>
           </td>
                  <!-- <td><%= organization.created_at %></td> -->
                  
                  
                  
                                    
                  <td><%= organization.expires_on %></td>  
                  <td><button ng-click="launchUpdateLicenses(organization)" class="btn  btn-primary">Update</button></td>                  
                </tr>
                                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/static/src/js/bootstrap.min.js"></script>
  <script src="/static/src/js/angular.min.js" ></script>
  
  <script type="text/javascript">
  console.log('wach bi jedek');
  var ROOT = 'https://gcdc2013-iogrow.appspot.com/_ah/api';
  function loadGapi() {

        var $injector = angular.bootstrap(document, ['ioAdminEngine']);
    }
    
    var app = angular.module('ioAdminEngine', [])
    .controller('OrganizationsController', ['$scope', function($scope) {
        $scope.selected_organization={};
        $scope.launchUpdateLicenses= function(organization){
          console.log(organization);
          $scope.selected_organization=organization;
                 
          $('#BeforeUpdateLicense').modal('show');
        }
        $scope.updateLicense = function(){
            var params = {
                        'entityKey': $scope.selected_organization.entityKey,
                        'license_key':$scope.selected_organization.license.entityKey,
                        'nb_days':$scope.selected_organization.days_before_expiring,
                        'nb_licenses': $scope.selected_organization.nb_licenses
            };
            gapi.client.request({
                                 'root':ROOT,
                                 'path':'/ioadmin/v1/organizations.update_license',
                                 'method':'POST',
                                 'body':params,
                                 'callback':(function(resp) {
            $('#BeforeUpdateLicense').modal('hide');
            if(!resp){
                console.log('ok');


            }else {
               console.log('error');
            }
          })
        });

        }
        console.log(gapi);
        console.log('in org controller');
        var params={};
        console.log(gapi.client);
        var access_token = localStorage.getItem("access_token");
        gapi.auth.setToken({'access_token':access_token});
        gapi.client.request({
                                 'root':ROOT,
                                 'path':'/ioadmin/v1/licenses.list',
                                 'method':'POST',
                                 'body':params,
                                 'callback':(function(resp) {
            if(!resp.code){
                $scope.licenses = resp.items;
                $scope.$apply();

            }else {
               console.log('error');
            }
          })
        });
        gapi.client.request({
                                 'root':ROOT,
                                 'path':'/ioadmin/v1/organizations.list',
                                 'method':'POST',
                                 'body':params,
                                 'callback':(function(resp) {
            if(!resp.code){
                $scope.organizations = resp.items;
                $scope.$apply();

            }else {
               console.log('error');
            }
          })
        });
    }]);
    app.config(function($interpolateProvider){
      $interpolateProvider.startSymbol('<%=');
      $interpolateProvider.endSymbol('%>');
    });




          

</script>

<script src="https://apis.google.com/js/client.js?onload=loadGapi"></script>

</body>
</html>