<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
<style type="text/css">
.invite-sf{
  margin-top: 20 px;
  text-align: center;
}
#icon{
   display: block;
    margin-left: auto;
    margin-right: auto ;
}
    .fields{
      
       /*margin: 80px;*/
    }
    #inputs{
        width:30%;
       /* float: left;
        margin-left:10px;*/
    }
    #submit{
        margin-left: 05%;
        background-color: #2ab27b;
        color: white;
    }
    #add{
        /*margin-left: 90px;*/
    }
    #form{
      text-align: center;
        margin-left: 30%;
    }

@media screen and (max-width: 768px) {
    #form {
        margin-left: 05px ;
    }
    .invite-mobile{

    }
    #submit{
        margin-left: 05px;
        background-color: #2ab27b;
        color: white;
    }

 
}
    
</style>
<script>
$(document).ready(function() {
      var OAuthHelper = {};
      var handler = StripeCheckout.configure({
      key: 'pk_live_4Xa3cFwLO3vTgdjpjnC6gmAD',
      image: 'https://storage.googleapis.com/iogrow-gs/Logo-iogrow.png',
      token: function(token) {
        // Use the token to create the charge with a server-side script.
        // You can access the token ID with `token.id`
        // send the token to stripe
        //sfsubscriber
        console.log('token');
        console.log(token);

        $.ajax({
            type: 'POST',
            url: '/sfsubscriber',

            success: function(result) {
              console.log(result);
              try {
                  parentWindow.postMessage(OAuthHelper,
                  "https://www.linkedin.com");
              }
              catch(err) {
                  console.log(err.message);
              }
              
            },
            error:function(result){
              console.log(result);  
                
            },
            data: {token:JSON.stringify(token),email:OAuthHelper.user_email}
        });
        
      }
      });
      // Close Checkout on page navigation
      $(window).on('popstate', function() {
        handler.close();
      });
      var match = window.location.href.match(/code=([^&]+)/) ; 
      console.log(match);
      $.ajax({
            type: 'GET',
            url: '/sfconnect',
            datatype:'json',

            success: function(result) {
              console.log('i am in connectServer show me result please');
              console.log(result);
            },
            error:function(result){
                var response = result.responseText;
                var rr= response.replace(/'/g,"\"");
                console.log('yyyyy');
                console.log(JSON.parse(rr));
                var oauthResult = JSON.parse(rr);
                OAuthHelper=oauthResult;
                if(oauthResult.show_checkout=="true"){
                    handler.open({
                    name: 'ioGrow LLC',
                    description: 'LinkedIn to Salesforce extension.',
                    amount: 1500,
                    email:oauthResult.user_email
                  });
                }else{
                    try {
                        var parentWindow = window.opener.parent;
                        parentWindow.postMessage(OAuthHelper,
                                  "https://www.linkedin.com");
                        
                    }
                    catch(err) {
                        console.log(err.message);
                    }
                    $('#user_email').val(oauthResult.user_email);
                    
                }
                // window.close();   
            },
            data: {code:decodeURIComponent(match[1])}
        });
});
  </script>

<script>
    var app = angular.module('myApp', []);

app.controller('MyCtrl', function ($scope) {
  $scope.peoples=[];
  console.log("iii");

    
   $scope.add=function(){
        console.log("hhh");
        
        $scope.peoples.push($scope.user);
        console.log($scope.peoples);
        var email=" <div  class='col-xs-4  invite-mobile' >  <label >Email</label>  <input  class='form-control' ng-model='user.email' id='inputEmail' placeholder='Email' name='emails[]'></div>";
        var lastname=" <div  class='col-xs-4  invite-mobile'>  <label >Full Name</label>  <input  class='form-control' ng-model='user.fullname' id='inputEmail' placeholder='Optional' name='names[]'></div>";
            var html="<br></br><br></br>"+email+lastname
        $(".fields").append(html); 
    }
    $scope.invite=function(){
        
    }
    
    });
</script>

</head>
<body ng-controller="MyCtrl">
  
<div class="container invite-sf"> 
<img id="icon" src="https://storage.googleapis.com/iogrow-gs/lilead_grey.png" class="logo"></img>
<h1>Gift a free month of Lilead to a friend.</h1>
<p class="lead">Earn a free month of Lilead for each accepted invite. <b>Invite today!</b></p>

    <form id="form" method="post" action="/sf_invite">

        <div id="fields" class="fields  " >  
            <div id="inputs " class="col-xs-4 invite-mobile" >
                <label >Email</label>
                <input  class="form-control" ng-model="user.email" id="inputEmail" name="emails[]" placeholder="Email">
            </div>
            <div  id="inputs"  class="col-xs-4  invite-mobile">
                <label >Full Name</label>
                <input class="form-control" ng-model="user.fullname"  id="fullname" name="names[]" placeholder="Optional">
            </div>
            <input id="user_email" type="hidden" name="user_email" value="None">
         
            
       </div>
       
       
     <br></br>
       <br></br>
       <p id="add"  ng-click="add()" class="clear_both clearfix">
        <a class="float_left bold">+ Add another</a>
        </p>
            
             <br></br>
 <button id="submit" type="submit"  class="col-xs-6 btn btn_large ladda-button ladda" data-style="expand-right">Send invite</button>
 
 </form>
</div>
 
</body>
</html>