<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Abel:300,400'
          rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://storage.googleapis.com/iogrowgs/jquery.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <link rel="stylesheet" href="/static/react-components/stripe-form/stripe-form.css">
    <script src="https://fb.me/react-0.14.3.js"></script>
    <script src="https://fb.me/react-dom-0.14.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="/static/react-components/stripe-form/stripe-form.react.js" type="text/babel"></script>
</head>
<body>
  <div id="login-successful">
  </div>

<script type="text/babel">
    $( document ).ready(function() {
        var OAuthHelper = {};
        var match = window.location.href.match(/code=([^&]+)/) ;
        var parentWindow;
        if (window.opener){
              parentWindow = window.opener.parent;
        }
        var code = '';
        if (match) {
              code = decodeURIComponent(match[1]);
        };

        var StripeConfig = {
            'stripePublicKey': 'pk_live_4Xa3cFwLO3vTgdjpjnC6gmAD',
            'paymenetSuccessful': function paymentSuccessfulHandler(response){
                  $.ajax({
                      type: 'POST',
                      url: '/sfsubscriber',
                      success: function(result) {
                          if(typeof (WebViewBridge) !== 'undefined'){
                                WebViewBridge.send(JSON.stringify(OAuthHelper));
                          }else{
                              parentWindow.postMessage(OAuthHelper,
                                "*");
                          }

                          window.close();
                      },
                      error:function(result){
                            console.log(result);
                      },
                      data: {token:JSON.stringify(response),email:OAuthHelper.user_email}
                  });
            }
        }
        $.ajax({
                type: 'GET',
                url: '/sfconnect',
                datatype:'json',
                success: function(result) {
                  console.log('i am in connectServer show me result please');
                  console.log(result);

                   window.close();
                },
                error:function(result){
                    var response = result.responseText;
                    var rr= response.replace(/'/g,"\"");
                    var oauthResult = JSON.parse(rr);
                    OAuthHelper=oauthResult;
                    if(oauthResult.show_checkout === "true"){
                        ReactDOM.render(<window.StripeForm StripeConfig={StripeConfig}/>, document.getElementById('login-successful'));
                    }else{
                        if(typeof (WebViewBridge) !== 'undefined'){
                            WebViewBridge.send(JSON.stringify(OAuthHelper));
                        }
                        else{
                            parentWindow.postMessage(OAuthHelper,
                                    "*");
                        }
                        window.close();
                    }
                    // window.close();

                },
                data: {code: code}
        });
    });
  </script>
</body>
</html>