<html>
  <head>
    <script type="text/javascript" src="https://storage.googleapis.com/iogrowgs/jquery.min.js"></script>
    <script type="text/javascript" src="https://console.developers.google.com/m/cloudstorage/b/iogrowgs/o/jquery.popupWindow.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#message').popupWindow({ 
                windowURL: '/sfimporter',
                windowName: 'Connect',
                centerBrowser: 1,
                height:524, 
                width:675
            });
        });
        function sessionCallback(oauthResponse) {
            if (typeof oauthResponse === 'undefined'
                || typeof oauthResponse['access_token'] === 'undefined') {
                $('#message').text('Error - unauthorized!');
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/jojo',

                    success: function(result) {
                        console.log(result);
                    },
                    error:function(result){
                        console.log(result);
                    },
                    data: {
                            access_token:oauthResponse['access_token'],
                            instance_url:oauthResponse['instance_url'] 
                        }
                });
            }
        }
    </script>
    <p id="message">Click here.</p>
</html>