<html>
  <head>

    <!-- 
    jQuery - http://docs.jquery.com/Downloading_jQuery
    -->
    <script type="text/javascript" src="https://storage.googleapis.com/iogrowgs/jquery.min.js"></script>
    <!--
    From jQuery-swip - http://code.google.com/p/jquery-swip/source/browse/trunk/jquery.popupWindow.js 
    -->
    <script type="text/javascript" src="https://console.developers.google.com/m/cloudstorage/b/iogrowgs/o/jquery.popupWindow.js"></script>
    <script type="text/javascript" src="https://storage.googleapis.com/iogrowgs/forcetk.js"></script>
    <script type="text/javascript">

       
    function oauthCallback(match){
        console.log('yyyy');
        console.log(match);
        var something = match.match(/#access_token=([^&]+)/) ;
        var url = match.match(/&instance_url=([^&]+)/) ;
        console.log('something');
        console.log(url[1]);
        var  _data_service_url = url[1]+"/services/data/v26.0/query/?q=SELECT Name FROM Account LIMIT 100"; 
        console.log(_data_service_url);
        var client = new forcetk.Client(clientId, loginUrl, proxyUrl);
        client.setSessionToken(something[1], null,
                    url[1]);

                    client.query("SELECT Name FROM Account LIMIT 1", 
                      function(response){
                        $('#message').text('The first account I see is '
                          +response.records[0].Name);
                    });
        // $.ajax({
        //     url: '/gogop?access_token='+something[1]+'&url='+url[1],
        //     cache: false,
        //     type: 'GET',
        //     success:  function(data){
        //         console.log(data);
        //         // var source   = $("#accounts-list-template").html();
        //         // t_accounts = Handlebars.compile(source);
        //         // var html = t_accounts(data);
        //         // $("#content").append(html);
        //     }
        // });
    }
    
        function login() {
            var win         =   window.open(_url, "windowname1", 'width=800, height=600'); 

            
        }

        function validateToken(token) {
            $.ajax({
                url: VALIDURL + token,
                data: null,
                success: function(responseText){  
                    getUserInfo();
                    loggedIn = true;
                    $('#loginText').hide();
                    $('#logoutText').show();
                },  
                dataType: "jsonp"  
            });
        }

        function getUserInfo() {
            $.ajax({
                url: 'https://www.googleapis.com/oauth2/v1/userinfo?access_token=' + acToken,
                data: null,
                success: function(resp) {
                    user    =   resp;
                    console.log(user);
                    $('#uName').text('Welcome ' + user.name);
                    $('#imgHolder').attr('src', user.picture);
                },
                dataType: "jsonp"
            });
        }

        //credits: http://www.netlobo.com/url_query_string_javascript.html
        function gup(url, name) {
            name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
            var regexS = "[\\#&]"+name+"=([^&#]*)";
            var regex = new RegExp( regexS );
            var results = regex.exec( url );
            if( results == null )
                return "";
            else
                return results[1];
        }

        function startLogoutPolling() {
            $('#loginText').show();
            $('#logoutText').hide();
            loggedIn = false;
            $('#uName').text('Welcome ');
            $('#imgHolder').attr('src', 'none.jpg');
        }



        // OAuth Configuration
        var loginUrl    = 'https://login.salesforce.com/';
        var clientId    = '3MVG9QDx8IX8nP5SiRx6WcZGt_urvZZKtoKdTRn0h_ITamehH.ndEUTVBGZhyKJKnWdxun.jnZj0dbzCJNydO';
        var redirectUri = 'http://localhost:8090/sfoauth2callback';
        var proxyUrl    = 'http://localhost/salesforce_proxy/proxy.php?mode=native';
        var _url = loginUrl+'services/oauth2/authorize?display=popup'
                +'&response_type=token&client_id='+escape(clientId)
                +'&redirect_uri='+escape(redirectUri);
        var acToken;
        var tokenType;
        var expiresIn;
        var user;
        var loggedIn    =   false;

        

        $(document).ready(function() {
            // var client = new forcetk.Client(clientId, loginUrl);
        });
        function showSignin(){
          
             $('#message').popupWindow({ 
                windowURL: getAuthorizeUrl(loginUrl, clientId, redirectUri),
                windowName: 'Connect',
                centerBrowser: 1,
                height:524, 
                width:675
            });
            console.log('yyy');
            // conso le.log(popup);

        }
        function getAuthorizeUrl(loginUrl, clientId, redirectUri){
            return loginUrl+'services/oauth2/authorize?display=popup'
                +'&response_type=token&client_id='+escape(clientId)
                +'&redirect_uri='+escape(redirectUri);
        }

        function sessionCallback(oauthResponse) {
            if (typeof oauthResponse === 'undefined'
                || typeof oauthResponse['access_token'] === 'undefined') {
                $('#message').text('Error - unauthorized!');
            } else {
                client.setSessionToken(oauthResponse.access_token, null,
                    oauthResponse.instance_url);

                    client.query("SELECT Name FROM Account LIMIT 1", 
                      function(response){
                        $('#message').text('The first account I see is '
                          +response.records[0].Name);
                    });
            }
        }
    </script>
    <p id="message" onclick="login()">Click here.</p>
</html>