<div class="row subHeader">
  <div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{active_app.label}}
            <i class="icon-angle-down fa fa-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{application.label}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>
  <div class=" subHeaderContent">
    <div class="col-md-9">
    <h2 class="page-title">
      <a href="/#/cases" data-toggle="tooltip" data-placement="bottom" title="Back to cases">
        <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false">
      </a>
      {{_("Cases")}} >
        <%= casee.name %>
    </h2>
     <button class="btn red newAccountBtnOnscroll pull-right hidden" ng-click="save(casee)">{{ _('Create')}}</button>
  </div>
  </div>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoading">
    <div class="loader-dialog col-md-4 col-md-offset-4 ">
      <div class="loader-content">
        {{ _('Loading...')}}
      </div>
    </div>
  </div>
  <div class="" ng-show="immediateFailed">
     <div class="col-md-12">
      <h1>{{ _('Sign-in Button;')}}</h1>
          <span id="signin">
              <span id="myGsignin"></span>
          </span>
    </div>
  </div>
  <div class="row" >
   <div class="col-md-9">
      <div class="row">
          <div class="showPage col-md-12 newActionsBtn">
          <span>{{ _('Create Case')}} </span>
          <button class="btn red newAccountBtn pull-right" ng-click="save(casee)">{{ _('Create')}}</button>
          <div class="clearfix"></div>
        </div>
    <div class="showPage slimForm col-md-12 margin-bottom-15">
      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-12">
              <form class="form-horizontal ">

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">

                      <div class="col-md-12">
                        <input type="text" required id="id_firstname" class="form-control" ng-model="casee.name" placeholder="{{ _('What’s the subject of this issue?')}}" autofocus>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="col-md-12">
                        <input type="text" required ng-model="searchContactQuery" typeahead="contactResult as contactResult.firstname + ' '+  contactResult.lastname for contactResult in contactsResults | filter:$viewValue | limitTo:10" typeahead-on-select="selectContact()" class="form-control" placeholder="{{ _('Contact')}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="col-md-12">
                        <input type="text" required  ng-model="searchAccountQuery" typeahead="accountResult as accountResult.name  for accountResult in accountsResults | filter:$viewValue | limitTo:10" typeahead-on-select="selectAccount()" class="form-control" placeholder="{{ _('Account')}}">
                      </div>
                    </div>
                  </div>
                </div>
               </form>
              </div>
            </div>
            <div class="row">
            <div class="col-md-6">
              <div class="news-blocks blank-card blank-card-yellow">
                <h3>{{ _('Case Informations')}}</h3>
                <div class="row">
                  <div class="form-group selector-margin">
                    <label  class="required col-md-3 control-label">{{_("Status")}} </label>
                    <div class="col-md-9">
                             <select class="form-control" ng-model="status_selected" ng-options="stat.status for stat in casesatuses" >
                              <option value="">-- {{_("Choose a status")}} --</option>
                            </select>

                    </div>
                  </div>
                  <div class="form-group selector-margin">
                        <label  class="required col-md-3 control-label">{{_("Priority")}} </label>

                        <div class="col-md-9">
                          <select class="form-control" ng-model="casee.priority">
                            <option value="">-- {{_("Choose a priority")}} --</option>
                            <option value="1">1 - {{ _('Low')}}</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10 - {{ _('Critical')}}</option>
                          </select>

                        </div>

                    </div>
                  <br>
                </div>
              </div>
              <div class="news-blocks blank-card blank-card-bluep">
                <h3>{{ _('Custom Fields') }}</h3>

                              
                                <ul class="list-unstyled contact-infos showList" >
                                    <li ng-repeat="custom in customfields">
                                    <span>
                                    <%= custom.field%>  : <%= custom.value%> </span>
                                      <button type="button" class="close closeContactForm" tabindex="-1" ng-click="deleteInfos(customfields,$index)" data-dismiss="alert"></button>
                                    </li>
                                </ul>
                                <form class="form-inline customField" role="form">
                                    <div class="form-group sm-group l-sm-inline" style="">
                                      <label class="sr-only" for="exampleInputEmail2">{{_('Field')}}</label>
                                      <input type="text" class="form-control" id="exampleInputEmail2" ng-model="customfield.field" placeholder="{{_('Add field name')}}">
                                    </div>
                                    <div class="form-group sm-group r-sm-inline" style="">
                                      <label class="sr-only" for="exampleInputEmail2">{{_('Value')}}</label>
                                      <input ng-enter="pushElement(customfield,customfields,'customfields')" ng-blur="pushElement(customfield,customfields,'customfields')" type="text" class="form-control" id="exampleInputEmail2" ng-model="customfield.value" placeholder="{{_('Add a value')}}">
                                    </div>
                                    <!-- <button type="submit" class="btn blue jfk-button jfk-button-action" ng-click="pushElement(customfield,customfields,'customfields')">{{_('Add')}}</button>-->
                                </form>
              </div>

            </div>
            <div class="col-md-6">
              <div class="news-blocks blank-card blank-card-red">
                <h3>{{ _('Description')}}</h3>


                <div class="news-block-tags">

                    <div class="form-group row">
                        <div class="col-md-12">
                            <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="casee.description"></textarea>
                        </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        </div>
    </div>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="row">
        <div class="col-md-12">
          <div class="portlet showPage rightCardContent">
            <div class="portlet-title line">
              <div class="caption">
                <i class="fa fa-lock"></i>{{ _('Who can access ?')}}
              </div>
            </div>
            <div class="portlet-body" id="chats">
              <label class="radio line">
                <input type="radio" value="public" ng-model="casee.access" />
                  {{ _('public: Anyone within your organization can access and find')}}
              </label>
              <label class="radio line">
                <input type="radio"  value="private" ng-model="casee.access" />
                {{ _('private: only you and your collaborators')}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="addressmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" class="modal-title">{{_("Add Address")}}</h3>
      </div>
      <div class="modal-body">
        <form id="addAddress" name="addemail"  class="form-horizontal">
          <div class="form-group">
            <label  class="col-md-3 control-label">{{_("Street")}} </label>
            <div class="col-md-9">
              <input type="text"   class="form-control" id="id_street" ng-model="address.street">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-3 control-label">{{_("City")}} </label>
            <div class="col-md-9">
              <input type="text"  class="form-control" id="id_city" ng-model="address.city">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-3 control-label">{{_("State/Province")}} </label>
            <div class="col-md-9">
              <input type="text" class="form-control"  id="id_state" ng-model="address.state">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-3 control-label">{{_("Postal Code")}} </label>
            <div class="col-md-9">
              <input type="text"   class="form-control" id="id_postal" ng-model="address.postal">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-3 control-label">{{_("Country")}} </label>
            <div class="col-md-9">
              <input type="text"  class="form-control"  id="id_country" ng-model="address.country">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel')}}</button>
          <input  type="submit" ng-click="pushElement(address,addresses)" class="btn green" value="Add this address">
      </div>
    </div>
  </div>
</div>
<div id="EditTagModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" class="modal-title">{{_("Edit Lead")}}</h3>
      </div>
      <div class="modal-body">
        <form id="editTagline" name="editlead" class="form-horizontal">
          <div class="form-group">
            <label  class="col-md-3 control-label">{{_("Tagline")}} </label>
            <div class="col-md-9">
              <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="lead.tagline"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
        <button  type="submit" class="btn btn-primary addContactNow" ng-click="updateTagline(lead)">{{_("Save")}} </button>
      </div>
    </div>
  </div>
</div>
<div id="EditIntroModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" class="modal-title">{{_("Edit Lead")}}</h3>
      </div>
      <div class="modal-body">
        <form id="editTagline" name="edittag" ng-submit="updateintro(lead)" class="form-horizontal">
          <div class="form-group">
            <label  class=" col-md-3 control-label">{{_("Introduction")}} </label>
            <div class="col-md-9">
              <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="lead.introduction"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
        <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker2').datetimepicker({
      language: 'fr',
      pickTime: false
    });
  });
</script>
