
<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
      <ul class="page-sidebar-menu">
        
        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{ tab.url }}"><i class="icon-cogs"></i><span class="title">{{tab.label}}</span></a></li>
          {% endfor %}


        
      </ul>
     
     
      <!-- END SIDEBAR MENU -->
</div>
    
<div  class="page-content">

      <div class="container-fluid" ng-show="immediateFailed">
         <div class="span12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
      <div id="sharingSettingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Sharing Settings")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addMember" name="addaccount" ng-submit="share(slected_memeber)" class="form-horizontal"> 
                  <fieldset>
                  
                    <p>Who has access:</p>
                    <div class='container-fluid'>

                     
                          
                            <label class="radio line">
                            <input type="radio" value="public" ng-model="casee.access" />
                            public: Anyone within your organization can access and find
                            </label>
                            <label class="radio line">
                            <input type="radio"  value="private" ng-model="casee.access" />
                            private: only you and your collaborators
                            </label>  
                           
                       
                      
                    </div>
                    <hr/>
                    <div class='container-fluid'>
                    <p>Collaborators:</p>
                        <div ng-repeat="collaborator in case.collaborators_list" class="invitation">
                          <img class="google-avatar" src="<%=collaborator.photo%>"/>
                           <%=collaborator.display_name%> < <%=collaborator.email%> >
                        </div>
                        
                    </div>
                    <hr/>

                    <div class='container-fluid'>
                    <p>Invited user:</p>
                    <div class="invitation" ng-show="slected_memeber">
                      <img class="google-avatar" src="<%= slected_memeber.google_public_profile_photo_url%>"/>
                        <strong> <%= slected_memeber.google_display_name %> < <%=slected_memeber.email%> ></strong>
                      <hr/>
                    </div>
                    
                    <p>Invite collaborators:</p>
                    <div class="control-group">
                      <input type="text" ng-model="user" typeahead="user as user.google_display_name + ' <' + user.email + '>' for user in users | filter:$viewValue | limitTo:8" typeahead-on-select="selectMember()" class="input-block-level" placeholder="Enter name or email addresse to add people to this group">
                    </div>
                    
                      </div>
                    
                    </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn blue addContactNow">{{_("Share")}}</button>
              </div>
               </form>
       </div>
      <div class="container-fluid" ng-show="isContentLoaded">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
          
          <div class="span12">
            <div class="pull-right sharebuttonDiv"> 
                 <a href="#sharingSettingsModal" class="btn blue jfk-button jfk-button-action" data-toggle="modal">
                    <i class="icon-lock"></i> Share
                  </a>
                        
                        
                     
                </div>
                
            <h2>
            <a href="/#/cases/" data-toggle="tooltip" data-placement="bottom" title="Back to Cases">
            <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false"></a>     {{_("Cases")}} > <%=casee.name %></h2>
            
           <span>{{_("Priority")}}: </span><span><a class="tag" href="#">#<%=casee.priority %></a></span><br>
           <span>{{_("Status")}}: </span><span><a class="tag" href="#">#<%=casee.status %></a></span>
            <br><span>{{_("Type")}}: </span><span><span><a class="tag" href="#">#<%=casee.type_case %></a></span> <br>
            <span class="page-meta"><i class="icon-pencil"><a ng-click="editcase()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}}</a></i> |  <i class="icon-trash"><a ng-click="delete(case)" class="btn-link addAnotherPhone"> {{_("Delete")}}</a></i></span>

           
            
            <hr/>
            
          </div>
        </div>
        

            
            <div class="row-fluid">
              <div class="span8">
              <!-- BEGIN PORTLET-->
              <div class="portlet paddingless">
                <div class="portlet-title line">
                  <div class="caption">{{_("Case Feeds")}}</div>
                  
                </div>
           
                <div class="portlet-body">
                  <div class="row-fluid">
                  <div class="span12 margin-bottom-10">
                  <p class⁼"lead"=""><strong>Just add notes to remember what's important :</strong> </p>
                          <form id="addNote" ng-submit="addNote(note)" class="ng-pristine ng-valid">
                                            
                                            <input class="input-block-level ng-pristine ng-valid" autofocus type="text" placeholder="Add a new subject" id="messageSubject" ng-model="note.title">

                                         
                                            
                                            <textarea id="noteBody" class="input-block-level ng-pristine ng-valid" rows="3" ng-model="note.content"></textarea>
                                            <!--input ng-init="note.organization=1" required="" id="id_organization" type="hidden" name="organization" value="1"--> 
                                  
                                            <!--input type="hidden" id="id_related_object" ng-init="note.related_object=1" value="1"-->
                                          
                                         
                                         <div class="pull-right">
                                         <!-- <input type="submit" class="btn btn-primary" value="Attach file">-->
                                          <input ng-hide="isLoading" type="submit" class="btn green" value="Add this note">
                                          <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
                                          </div>
                      </form>
                      </div>
                   </div>
                   <ul class="chats">
                              <li class="in" ng-repeat="topic in topics" id="topic_<%=$index%>">
                                <img class="avatar" alt="" src="static/img/avatar.jpg.png" />
                                <div class="message">
                                  <span class="arrow"></span>
                                  <a href="#" class="name"><%= topic.last_updater.google_display_name%></a>
                                  <span class="datetime">at <%=topic.updated_at | date:'yyyy-MM-dd - HH:mm:ss' %></span>
                                  <span class="body">
                                  <a href="/#/notes/show/<%=topic.discussionId%>" class="discussion-content"><strong class="ng-binding"><%= topic.title%></strong><span class="excerpt ng-binding"> - <%= topic.excerpt%></span><span class="chat-meta pull-right" ng-show="topic.comments"><i class="icon-comment"></i> <%= topic.comments%> comments</span></a>
                                  </span>
                                </div>
                              </li>
                              
                  </ul>    
              </div>
              </div>
              </div>
              
            <div class="span4">
              <!-- BEGIN PORTLET-->
              <div class="portlet">
                <div class="portlet-title line">
                  <div class="caption"><i class="icon-tasks"></i>Tasks & Events</div>
                  
                </div>
                <div class="portlet-body" id="chats">
                  <div class="scroller" style="height:200x" data-always-visible="1" data-rail-visible="0">
                    <div id="newTask">
                                <p><strong>Tasks:</strong><a href="#"> [View all(25)]</a></p>

                                 
                                  <ul id="tasks" class="unstyled">
                                    <li ng-repeat="task in tasks" id="task_<%=$index%>">
                                      <input value="check1" type="checkbox">
                                      <!-- Name -->
                                    <span><a href="/#/tasks/show/<%=task.id%>" class="discussion-content"><%= task.title%> <span ng-show="task.due"> [before: <%= task.due | date:'yyyy-MM-dd '%>]</span></a></span>
                                    </li>
                                    
                                    <li><a href="#myModal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i>Add a new task</a></li>

                                  </ul>
                                 
                                  <p><strong>Events:</strong></p>

                                 
                                  <ul id="tasks" class="unstyled">
                                    <li ng-repeat="event in events" id="event_<%=$index%>">
                                      <input value="check1" type="checkbox">
                                      <!-- Name -->
                                    <span><a href="/tasks/1" class="discussion-content"><%= event.title%> <span ng-show="event.starts_at"> [<%= event.starts_at | date:'yyyy-MM-dd '%>]</span></a></span>
                                    </li>
                                   
                                    

                                    
                                    <li><a href="#newEventModal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i>Add a new event</a></li>


                                  </ul>

                                  <!-- Modal -->
          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Add a new Task</h3>
            </div>
            <div class="modal-body pickerin">
                     <div class="controls controls-row">
                                          <form id="addTask" ng-submit="addTask(task)" class="ng-pristine ng-valid">
                                                  <input class="input-block-level" autofocus type="text" placeholder="Add a new task" id="taskTitle" ng-model="task.title">
                                                  
                                                  <p><strong>When's it due?</strong></p>
                                                  <center>
                                                    <datetimepicker data-ng-model="task.due"
                                                    data-datetimepicker-config="{ startView:'day', minView:'day' }" />
                                                  </center>
                     </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              
               <input ng-hide="isLoading" type="submit" class="btn green" value="Add this task">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
                                        
            </form>
            </div>
          </div>

          <!--Event Modal -->
          <div id="newEventModal" class="modal  hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">New Event</h3>
            </div>
            <div class="modal-body">
                     <div class="controls controls-row">
                            <form id="addTask" ng-submit="addEvent(ioevent)" class="ng-pristine ng-valid">
                                                  <input class="input-block-level" autofocus type="text" placeholder="Add a new event" id="taskTitle" ng-model="ioevent.title">
                                                  <p><strong>When?</strong></p>
                                                <div class="row-fluid">
                                                  <div class="span6">
                                                    <p> <strong>Starts</strong>: <%=ioevent.starts_at | date:'MMMM dd, yyyy, HH:mm'%></p>
                                                        <datetimepicker data-ng-model="ioevent.starts_at"
                                                    data-datetimepicker-config="{ startView:'day', minView:'minute' }" />
                                                  </div>
                                                  <div class="span6">
                                                  <p><strong>Ends</strong>: <%=ioevent.ends_at | date:'MMMM dd, yyyy, HH:mm'%></p>
                                                        <datetimepicker data-ng-model="ioevent.ends_at"
                                                    data-datetimepicker-config="{ startView:'day', minView:'minute' }" />
                                                  </div>
                                                </div>
                                                    <input class="input-block-level" autofocus="" type="text" placeholder="Where?" id="taskTitle" ng-model="ioevent.where">
                                                    
                                                    
                                                    
                                               

                                                  
                  </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              
               <input ng-hide="isLoading" type="submit" class="btn green" value="Add this event">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
                                        
            </form>
            </div>
          </div>
                                    

                                </div>
                            </div>
                  
                </div>
              </div>
              
              
              <!-- END PORTLET-->
            </div>
            </div>

          
            
          
        
        <!-- END PAGE CONTENT-->
      </div>
      <!--HKA 09.11.2013 Edit Case -->
             <div id="EditCaseModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{_("Edit Case")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editCase" name="editlead" ng-submit="updatCasetHeader(casee)" class="form-horizontal"> 
                

                  <div class="control-group">
                        <label  class="required control-label">{{_("Name")}} *</label>
                       
                        <div class="controls">
                          <input type="text" required id="id_lastname" ng-model="casee.name">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="required control-label">{{_("Priority")}}</label>
                       
                        <div class="controls">
                          <input type="text"  id="id_priority" ng-model="casee.priority">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="required control-label">{{_("Status")}} </label>
                       
                        <div class="controls">
                          <input type="text"  required id="id_status" ng-model="casee.status">
                          
                        </div>
                    </div>
                    <div class="control-group">
                        <label  class="required control-label">{{_("Labels")}} </label>
                       
                        <div class="controls">
                          <input type="text"  required id="id_type_case" ng-model="casee.type_case">
                          
                        </div>
                    </div>                       
                  
                     
                    
                  
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
              </div> 
        </div>
      <!-- END PAGE CONTAINER-->
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker2').datetimepicker({
      language: 'fr',
      pickTime: false
    });
  });
</script>
