<div id="sendingEmail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              
              <div class="modal-body">
                
                  
                    <p ng-show="sending">Sending...</p>
                    <p ng-show="emailSent">Your email has been sent</p>


                  
                    
                    </fieldset>
                
              </div>
</div>
<div id="newDocument" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_("Create a new")}} <%=mimeType%></h3>
            </div>
            <div class="modal-body">
                     <div class="controls controls-row">
                                          <form id="addTask" ng-submit="createDocument(newdocument)" class="ng-pristine ng-valid">
                                                  <input class="form-control" autofocus type="text" placeholder="Enter a new <%=mimeType%> name" id="taskTitle" ng-model="newdocument.title" required>
                                                  
                                                  
                     </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              
               <input ng-hide="isLoading" type="submit" class="btn green" value="Create this document">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
                                        
            </form>
            </div>
            </div>
            </div>
          </div>
<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
      <ul class="page-sidebar-menu">
        
        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{ tab.url }}"><i class="icon-cogs"></i><span class="title">{{tab.label}}</span></a></li>
          {% endfor %}


        
      </ul>
     
     
      <!-- END SIDEBAR MENU -->
</div>
    
<div  class="page-content">

      <div class="container-fluid" ng-show="immediateFailed">
         <div class="col-md-12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
      <div id="sharingSettingsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Sharing Settings")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addMember" name="addaccount" ng-submit="share(slected_memeber)" class="form-horizontal"> 
                  <fieldset>
                  
                    <p>Who has access:</p>
                    <div class=''>

                     
                          
                            <label class="radio line">
                            <input type="radio" value="public" ng-model="casee.access" />
                            public: Anyone within your organization can access and find
                            </label>
                            <label class="radio line">
                            <input type="radio"  value="private" ng-model="casee.access" />
                            private: only you and your collaborators
                            </label>  
                           
                       
                      
                    </div>
                    <hr/>
                    <div class=''>
                    <p>Collaborators:</p>
                        <div ng-repeat="collaborator in case.collaborators_list" class="invitation">
                          <img class="google-avatar" src="<%=collaborator.photo%>"/>
                           <%=collaborator.display_name%> < <%=collaborator.email%> >
                        </div>
                        
                    </div>
                    <hr/>

                    <div class=''>
                    <p>Invited user:</p>
                    <div class="invitation" ng-show="slected_memeber">
                      <img class="google-avatar" src="<%= slected_memeber.google_public_profile_photo_url%>"/>
                        <strong> <%= slected_memeber.google_display_name %> < <%=slected_memeber.email%> ></strong>
                      <hr/>
                    </div>
                    
                    <p>Invite collaborators:</p>
                    <div class="form-group">
                      <input type="text" ng-model="user" typeahead="user as user.google_display_name + ' <' + user.email + '>' for user in users | filter:$viewValue | limitTo:8" typeahead-on-select="selectMember()" class="form-control" placeholder="Enter name or email addresse to add people to this group">
                    </div>
                    
                      </div>
                    
                    </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn blue addContactNow">{{_("Share")}}</button>
              </div>
               </form>
               </div>
               </div>

       </div>
        <!--HKA 24.12.2013 Modal before Deleting Case-->
         <div id="BeforedeleteCase" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">Delete Case</h3>
              </div>
              <div class="modal-body">
                 <form id="seletesho" name="deletesho" class="form-horizontal"> 
                  <fieldset>

                  <p>{{_("Are you sure you want to delete")}} :  <%=casee.name %> .</p>
                    

                    
                    </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                
                <input ng-hide="isLoading" ng-click="deletecase()" type="submit" class="btn red" value="Delete this Case">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
              </div>
               </form>
          </div>
        </div>
       </div>
      <div class="container-fluid" ng-show="isContentLoaded">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
          
          <div class="col-md-12">
            <div class="pull-right sharebuttonDiv"> 
                 <a href="#sharingSettingsModal" class="btn blue jfk-button jfk-button-action" data-toggle="modal">
                    <i class="icon-lock"></i> Share
                  </a>
                        
                        
                     
                </div>
                
            <h2 class="page-title">
            <a href="/#/cases/" data-toggle="tooltip" data-placement="bottom" title="Back to Cases">
            <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false"></a>     {{_("Cases")}} > <%=casee.name %></h2>
            
           <span ng-show="casee.priority">{{_("Priority")}}: <a class="tag" href="/#/search/type:Case <%=casee.priority%>"><%=casee.priority %></a></span><br>
           <span ng-show="casee.status">{{_("Status")}}: <a class="tag" href="/#/search/type:Case <%=casee.status%>"><%=casee.status %></a></span><br>
           <span class="page-meta"><i class="icon-pencil"><a ng-click="editcase()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}}</a></i> |  <i class="icon-trash"><a ng-click="editbeforedelete()" class="btn-link addAnotherPhone"> {{_("Delete")}}</a></i></span>

           
            
            <hr/>
            
          </div>
        </div>
        

            
            <div class="row">
              <div class="col-md-8">
              <!-- BEGIN PORTLET-->
              <div class="portlet paddingless">
                <div class="portlet-title line">
                  <div class="caption">{{_("Case Feeds")}}</div>
                  
                </div>
           
                <div class="portlet-body">
                <div class="tabbable tabbable-custom">
                  <ul class="nav nav-tabs">
                        <li class="ng-tab" ng-class="{active: selectedTab == 1}"><a ng-click="selectedTab = 1;" >{{ _("Notes") }}</a></li>
                        <li class="ng-tab" ng-class="{active: selectedTab == 2}"><a ng-click="selectedTab = 2;" >{{ _("About") }}</a></li>
                        <li class="ng-tab"  ng-class="{active: selectedTab == 3}"><a ng-click="selectedTab = 3;">{{ _("Attach Documents") }}</a></li>
                        <li class="ng-tab"  ng-class="{active: selectedTab ==4}"><a ng-click="selectedTab = 4;">{{ _("Send an Email") }}</a></li>
                  </ul>
                <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1" ng-show="selectedTab == 1">
                        
                         <div class="row">
                           <div class="col-md-12 margin-bottom-10"> 
                              <p class⁼"lead"="">
                                <strong>
                                  {{ _("Just add notes to remember what's important :") }}
                                </strong> 
                              </p>
                                    <form id="addNote" ng-submit="addNote(note)" class="ng-pristine ng-valid">
                                       <div class="form-group">   
                                          <input class="form-control ng-pristine ng-valid" autofocus type="text" placeholder="{{ _('Add a new subject') }}" id="messageSubject" ng-model="note.title">
                                        </div>
                                        <div class="form-group">
                                          <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="note.content"></textarea>                
                                        </div>                         
                                         <div class="pull-right">
                                            <input ng-hide="isLoading" type="submit" class="btn green" value="{{ _('Add this note') }}">
                                            <input ng-show="isLoading" type="submit" class="btn green" value="{{ _('Loading...') }}" disabled>
                                         </div>
                                    </form>
                                </div>
                              </div>
                            <ul class="chats">
                              <li class="in" ng-repeat="topic in topics" id="topic_<%=$index%>">
                                <img class="avatar" alt="" src="<%= topic.last_updater.photo%>" />
                                <div class="message">
                                  <span class="arrow"></span>
                                  <a href="#" class="name"><%= topic.last_updater.display_name%></a>
                                  <span class="datetime">at <%=topic.updated_at | date:'yyyy-MM-dd - HH:mm:ss '  %> </span>
                                  <span class="body">
                                  <a href="/#/notes/show/<%=topic.discussionId%>" class="discussion-content"><strong class="ng-binding"><%= topic.title%></strong> - <span class="excerpt ng-binding" ng-bind-html-unsafe="topic.excerpt"></span><span class="chat-meta pull-right" ng-show="topic.comments"><i class="icon-comment"></i> <%= topic.comments%> comments</span></a>
                                  </span>
                                </div>
                              </li>
                              
                            </ul>
                            <div class="row">
                            <div class="col-md-12">
                                <div class="pagination pull-right" ng-hide="isLoading">
                                      
                                      
                                      <button ng-click="TopiclistPrevPageItems()" id="sample_editable_1_new" class="btn" ng-show="topicpagination.prev">
                                        {{_("Prev")}} 
                                        </button>
                                        
                                      <button ng-click="TopiclistNextPageItems()"  class="btn" ng-show="topicpagination.next">
                                        {{_("Next")}} 
                                       </button>
                                </div>
                                    <h3 class="pagination pull-right" ng-show="isLoading">Loading...</h3>
                              </div>
                              </div>
                            </div>

                      <!--HKA 06.03.2014 About -->
                 <div class="tab-pane active" id="tab_1_2" ng-show="selectedTab == 2">
                        
                        <div class="row">
                          <div class="col-md-6">
                            
                                <div class="news-blocks blank-card blank-card-yellow">
                                <h3>Case Informations</h3>

                                <div class="news-block-tags">
                                  <strong>Close Date</strong>
                                  <span class="page-meta"><i class="icon-pencil"><a ng-click="editclosedate(opportunity)" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span>
                                  
                                </div>
                                <p><%=casee.closed_date | date:'MMMM dd, yyyy, HH:mm'%></p>
                                
                                <div class="news-block-tags">
                                  <strong>Case Origin</strong>
                                  <span class="page-meta"><i class="icon-pencil"><a ng-click="editcaseorigin()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span>
                                  
                                </div>
                                <p> <%=casee.case_origin%></p> 
                              
                                                     
                                                          
                              </div>
                              
                              <div class="news-blocks blank-card blank-card-bluep">
                                <h3>{{ _('Custom Fields') }}</h3>
                                
                                <ul class="list-unstyled contact-infos" >
                                    <li ng-repeat="customfield in infonodes.customfields"><span ng-repeat="record in customfield.fields"><%= record.field%> : <%= record.value%></span></li>
                                    <li><a href="#customfields" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i> Add a new custom field </a></li>
                                    
                                </ul>
                                 
                                
                                                    
                              </div>
                          </div>
                          <div class="col-md-6">
                          
                            <div class="news-blocks blank-card blank-card-red">
                                <h3>Description</h3>
                                <div class="news-block-tags">
                                  <strong>Description</strong>
                                  <span class="page-meta"><i class="icon-pencil"><a ng-click="editdescription()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span>
                                  
                                </div>
                                <p> <%=casee.description%></p>
                                <div class="news-block-tags">
                                  <strong>Type</strong>
                                  <span class="page-meta"><i class="icon-pencil"><a ng-click="edittype()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span>
                                  
                                </div>
                                <p><%=casee.type_case%></p>
                                
                                                       
                              </div>
                              <div class="news-blocks blank-card blank-card-yellow">
                                
                               <div id="gmap_canvas" style="width:100%;height:300px;"></div>
                              </div>
                            
                          </div>
                          
                        </div>
                        
                      <!--HKA 06.03.2014 Edit close date Modal  -->

             <div id="EditCloseDate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Case")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updateClosedate(casee)" class="form-horizontal"> 
                

                  <div class="form-group">
                        
                       
                        <div class="col-md-12">
                          
                           <p><strong>{{_("Close Date")}}</strong></p>
                                                  <center>
                                                    <datetimepicker data-ng-model="casee.closed_date"
                                                    data-datetimepicker-config="{ startView:'day', minView:'day' }" />
                                                  </center>

                        </div>
                    </div>             
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
               </div>
               </div>
            </div>
      
        <!--HKA 06.03.2014 Main Competitor Modal -->
            <div id="EditCompetitor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Opportunity")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updateCompetitor(opportunity)" class="form-horizontal"> 
                

                  <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Competitors")}} </label>
                       
                        <div class="col-md-9">
                         
                           <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="opportunity.competitor"></textarea>

                        </div>
                    </div>             
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
               </div>
               </div>
            </div>
      
           <!-- HKA 06.03.2014 Reason lost Modal -->

           <div id="EditReasonLost" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Opportunity")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updateReasonlost(opportunity)" class="form-horizontal"> 
                

                  <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Reason Lost")}} </label>
                       
                        <div class="col-md-9">
                          
                        <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="opportunity.reason_lost"></textarea>

                        </div>
                    </div>             
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
               </div>
               </div>
            </div>

             <!-- HKA 06.03.2014 edit Description Modal -->

           <div id="EditDescription" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Case")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updateDescription(casee)" class="form-horizontal"> 
                

                  <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Description")}} </label>
                       
                        <div class="col-md-9">
                        
                           <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="casee.description"></textarea>

                        </div>
                    </div>             
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
               </div>
               </div>
            </div>

            <!--HKA 06.03.2014 Type Modal -->
            <div id="EditType" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Case")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updateType(casee)" class="form-horizontal"> 
                

                  <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Type")}} </label>
                       
                        <div class="col-md-9">
                          <select ng-model="casee.type_case" class="form-control"><option value="">--None--</option><option value="Mechanical">Mechanical</option><option value="Electrical">Electrical</option><option value="Electronic">Electronic</option><option value="New Customer">New Customer</option><option value="Other">Other</option></select>
                          
                         
                        </div>
                    </div>             
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
               </div>
               </div>
            </div>

            <!--HKA 06.03.2014 source Modal -->
            <div id="EditOrigin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Case")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editTagline" name="editlead" ng-submit="updatcaseorigin(casee)" class="form-horizontal"> 
                

                  <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Case Origin")}} </label>
                       
                        <div class="col-md-9">
                          <select ng-model="casee.case_origin" class="form-control"><option value="">--None--</option><option value="Email">Email</option><option value="Social Media">Social Media</option><option value="Web Source">Web Site</option><option value="Phone">Phone Inquiry</option><option value="Other">Other</option></select>
                          
                         
                        </div>
                    </div>             
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
               </div>
               </div>
            </div>

            <!--HKA 06.03.2014 Custom fields Modal -->

            <div id="customfields" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Add Custom Field")}}</h3>
            </div>
            <div class="modal-body">
                  <form id="addWebsite" name="addwebsite"  class="form-horizontal"> 
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Custom Field")}} </label>
                        <div class="col-md-9">
                          <div class="form-group">
                               <input type="text" class="form-control" placeholder="Field"  ng-model="customField.field">
                          </div>
                          <div class="form-group">
                               <input type="text" class="form-control" placeholder="Value"  ng-model="customField.value">
                          </div>
                        </div>
                     </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
              
                  <input ng-hide="isLoading" ng-click="addCustomField(customField)" ng-disabled="!(customField.field && customField.value)" type="submit" class="btn green" value="{{_('Add this custom field')}}">
                  <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>
              </div>
                </form>
                </div>
                </div>
        </div>




                        
                      </div>



                <div class="tab-pane active" id="tab_1_3" ng-show="selectedTab == 3">
                          
                         <div class="row cards-container iodrive">

                         <div class="btn-group relbutton">
            
                                <div class="btn-group">
                                    <a class="btn red" href="#" data-toggle="dropdown">
                                    <i class="icon-plus"></i> Create
                                    <i class="icon-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a  ng-click="showCreateDocument('document')" href="#" data-toggle="modal"><i class="icon-plus"></i> Document</a></li>
                                      <li><a ng-click="showCreateDocument('presentation')" href="#" data-toggle="modal"><i class="icon-plus"></i> Presentation</a></li>
                                      <li><a ng-click="showCreateDocument('spreadsheet')" href="#" data-toggle="modal"><i class="icon-plus"></i> Spreadsheet</a></li>
                                     
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button  ng-click="createPickerUploader()" id="sample_editable_1_new" class="btn red">
                                    <i class="icon-upload-alt"></i>
                                    </button>

                                </div>
                          </div>
                          <div class="col-md-12">
                            <div class="inner-cards-container">
                                                        
                             <div  class="col-md-4 responsive" ng-repeat="attachment in documents" data-tablet="span6" data-desktop="span4">
                                <div class="dashboard-stat cards-med">
                                  
                                  <div class="details">
                                    <a href="/#/documents/show/<%= attachment.id %>"><h3 class="relatedcardOppTitle">
                                     <%=attachment.title%>
                                    </h3></a>
                                    <div class="desc">                           
                                    <center> <span class="contact-title" ><img class="google-drive-icon" ng-src="/static/img/google_drive/<%=attachment.mimeType%>.png"/></span> </center>
                                    
                                    </div>
                                  </div>
                                                 
                                </div>
                              </div>
                        <div ng-show="blankStatdocuments" class="col-md-12 responsive" data-tablet="span6" data-desktop="span12">
                           <div class="dashboard-stat cards">
                               <div class="blank_slate_arrow"></div>
                               <div class=" thumbnail blank_slate_body">
                                  <img src="/static/img/documents_blanks.png" class="img-responsive">
                                    <p class="lead">Manage easily your documments using Google drive</p>
                               </div>                               
                           </div>
                          </div>
                                 <div class="clearfix"></div>
                              </div>
                           
                              </div>
                            </div>
                      </div>
                <div class="tab-pane active" id="tab_1_4" ng-show="selectedTab == 4">
                        
                         <div class="row">
                           <div class="col-md-12 margin-bottom-10"> 
                          <p class⁼"lead"=""><strong>Send an Email to :</strong> </p>
                          <form  ng-submit="sendEmail(email)" class="ng-pristine ng-valid">
                                            <div class="form-group">
                                            <input required class="form-control ng-pristine ng-valid" autofocus type="text" placeholder="To" id="messageSubject" ng-model="email.to">
                                            </div>
                                            <div class="form-group">
                                            <input class="form-control ng-pristine ng-valid" autofocus type="text" placeholder="CC" id="messageSubject" ng-model="email.cc">
                                            </div>
                                            <div class="form-group">
                                            <input class="form-control ng-pristine ng-valid" autofocus type="text" placeholder="BCC" id="messageSubject" ng-model="email.bcc">
                                            </div>
                                            <div class="form-group">
                                             <input  required class="form-control ng-pristine ng-valid" autofocus type="text" placeholder="Add a subject" id="messageSubject" ng-model="email.subject">
                                             </div>
                                            <div class="form-group">
                                            <textarea id="some-textarea" placeholder="Enter text ..." id="noteBody" class="form-control ng-pristine ng-valid" rows="7" ng-model="email.body"></textarea>
                                             </div>
                                         <div class="pull-right">
                                         
                                            <input ng-hide="isLoading" type="submit" class="btn green" value="Send">

                                          
                                          </div>
                                        </form>
                                       </div>
                                      </div>
                                    </div>
              




              </div>
              </div>





                </div>
              
              </div>
              <!-- END PORTLET-->
            </div>
            <div class="col-md-4">
              <!-- BEGIN PORTLET-->
              <div class="portlet">
                <div class="portlet-title line">
                  <div class="caption"><i class="icon-tasks"></i>Tasks & Events</div>
                  
                </div>
                <div class="portlet-body" id="chats">
                  <div class="scroller" style="height:200x" data-always-visible="1" data-rail-visible="0">
                    <div id="newTask">
                                <p><strong>Tasks:</strong></p>

                                 
                                  <ul id="tasks" class="list-unstyled">
                                    <li ng-repeat="task in tasks" id="task_<%=$index%>">
                                      <input value="check1" type="checkbox">
                                      <!-- Name -->
                                    <span><a href="/#/tasks/show/<%=task.id%>" class="discussion-content"><%= task.title%> </a> <span ng-show="task.due"> [before: <%= task.due | date:'yyyy-MM-dd '%>]</span></span>
                                    </li>
                                    
                                    <li><a href="#myModal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i>Add a new task</a></li>

                                  </ul>
                                 
                                  <p><strong>Events:</strong></p>

                                 
                                  <ul id="tasks" class="list-unstyled">
                                    <li ng-repeat="event in events" id="event_<%=$index%>">
                                      <input value="check1" type="checkbox">
                                      <!-- Name -->
                                    <span><a href="/#/events/show/<%=event.id%>" class="discussion-content"><%= event.title%> <span ng-show="event.starts_at"> [<%= event.starts_at | date:'yyyy-MM-dd '%>]</span></a></span>
                                    </li>
                                   
                                    

                                    
                                    <li><a href="#newEventModal" class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i>{{_("Add a new event")}}</a></li>


                                  </ul>
                                    

                                  <!-- Modal -->
          <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_("Add a new Task")}}</h3>
            </div>
            <div class="modal-body pickerin">
                     <div class="controls controls-row">
                                          <form id="addTask" ng-submit="addTask(task)" class="ng-pristine ng-valid">
                                                  <input class="form-control" autofocus type="text" placeholder="Add a new task" id="taskTitle" ng-model="task.title">
                                                  
                                                  <p><strong>{{_("When's it due?")}}</strong></p>
                                                  <center>
                                                    <datetimepicker data-ng-model="task.due"
                                                    data-datetimepicker-config="{ startView:'day', minView:'day' }" />
                                                  </center>
                    </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
              
               <input ng-hide="isLoading" type="submit" class="btn green" value="Add this task">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
                                        
            </form>
            </div>
            </div>
            </div>
          </div>
          <div id="newDocument" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_("Create a new")}} <%=mimeType%></h3>
            </div>
            <div class="modal-body">
                     <div class="controls controls-row">
                                          <form id="addTask" ng-submit="createDocument(newdocument)" class="ng-pristine ng-valid">
                                                  <input class="form-control" autofocus type="text" placeholder="Enter a new <%=mimeType%> name" id="taskTitle" ng-model="newdocument.title" required>
                                                  
                                                  
                     </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              
               <input ng-hide="isLoading" type="submit" class="btn green" value="Create this document">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
                                        
            </form>
            </div>
            </div>
            </div>
          </div>

          <!--Event Modal -->
          <div id="newEventModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_("New Event")}}</h3>
            </div>
            <div class="modal-body">
                     <div class="controls controls-row">
                            <form id="addTask" ng-submit="addEvent(ioevent)" class="ng-pristine ng-valid">
                                                  <input class="form-control" autofocus type="text" placeholder="{{_('Add a new event')}}" id="taskTitle" ng-model="ioevent.title">
                                                  <p><strong>{{_("When?")}}</strong></p>
                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <p> <strong>{{_("Starts")}}</strong>: <%=ioevent.starts_at | date:'MMMM dd, yyyy, HH:mm'%></p>
                                                        <datetimepicker data-ng-model="ioevent.starts_at"
                                                    data-datetimepicker-config="{ startView:'day', minView:'minute' }" />
                                                  </div>
                                                  <div class="col-md-6">
                                                  <p><strong>{{_("Ends")}}</strong>: <%=ioevent.ends_at | date:'MMMM dd, yyyy, HH:mm'%></p>
                                                        <datetimepicker data-ng-model="ioevent.ends_at"
                                                    data-datetimepicker-config="{ startView:'day', minView:'minute' }" />
                                                  </div>
                                                </div>
                                                    <input class="form-control" autofocus="" type="text" placeholder="{{_('Where?')}}" id="taskTitle" ng-model="ioevent.where">
                                                </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
              
               <input ng-hide="isLoading" type="submit" class="btn green" value="{{_('Add this event')}}">
                <input ng-show="isLoading" type="submit" class="btn green" value="{{_('Loading...')}}" disabled>
                                        
            </form>
            </div>
            </div>
            </div>
          </div>
                                    

                                </div>
                            </div>
                  
                </div>
              </div>
              
              
              <!-- END PORTLET-->
            </div>
            </div>
            
                                  

          
            
          
        
        <!-- END PAGE CONTENT-->
      </div>
             <div id="EditCaseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Case")}}</h3>
              </div>

              <div class="modal-body">
                 <form id="editCase" name="editlead" ng-submit="updatCasetHeader(casee)" class="form-horizontal"> 
                

                  <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Name")}} </label>
                       
                        <div class="col-md-9">
                          <input type="text" class="form-control" required id="id_lastname" ng-model="casee.name">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Priority")}}</label>
                       
                        <div class="col-md-9">
                          <select class="form-control" ng-model="casee.priority">
                            <option value="1">1 - Low</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10 - Critical</option>
                          </select>
                          
                        </div>
                    </div>
                    <!--div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Labels")}} </label>
                       
                        <div class="col-md-9">
                          <input type="text"  class="form-control"  id="id_type_case" ng-model="casee.type_case">
                          
                        </div>
                    </div-->
                 <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Status")}} </label>
                        
                        <div class="col-md-9">
                          <select ng-model="status_selected" ng-options="stat.status for stat in casesatuses" class="form-control">
                            <option value=""><%=casee.status%> </option>
                            
                          </select>
                         
                        </div>                       
                          
                   </div>                         
                  
                     
                    
                  
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
              </div>
               </form>
              </div> 
        </div>
      <!-- END PAGE CONTAINER-->
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker2').datetimepicker({
      language: 'fr',
      pickTime: false
    });
  });
</script>
