

<div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
        <ul class="page-sidebar-menu">
        
        {% for tab in tabs %}
           <li id="id_{{tab.name}}"  ><a href="{{tab.url}}"><i class="icon-cogs"></i><span class="title">{{tab.label}}</span></a></li>
          {% endfor %}
        </ul>
     
     
      <!-- END SIDEBAR MENU -->
</div>
    
<div  class="page-content">
    

   <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <div id="portlet-config" class="modal hide">
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button"></button>
          <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
          <p>Here will be a configuration form</p>
        </div>
      </div>
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE CONTAINER-->
      <div class="container-fluid"ng-show="immediateFailed">
         <div class="col-md-12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
      <div id="addCaseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("New Case")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addCase" name="addCase" ng-keyup="addCaseOnKey(casee)" class="form-horizontal"> 
                 
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Contact")}}</label>
                       
                         <div class="col-md-9">
                          <input type="text" required ng-model="searchContactQuery" typeahead="contactResult as contactResult.firstname + ' '+  contactResult.lastname for contactResult in contactsResults | filter:$viewValue | limitTo:10" typeahead-on-select="selectContact()" class="form-control" placeholder="Search">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Account")}} </label>
                       
                        <div class="col-md-9">
                          <input type="text" required  ng-model="searchAccountQuery" typeahead="accountResult as accountResult.name  for accountResult in accountsResults | filter:$viewValue | limitTo:10" typeahead-on-select="selectAccount()" class="form-control" placeholder="Search">
                          
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Subject")}} </label>
                       
                        <div class="col-md-9">
                          <input type="text"  id="id_name" required class="form-control" ng-model="casee.name">
                          
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Priority")}} </label>
                       
                        <div class="col-md-9">
                          <select class="form-control" ng-model="casee.priority">
                            <option value="1">1 - Low</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10 - Critical</option>
                          </select>
                          
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Status")}} </label>
                       
                        <div class="col-md-9">
                           <select class="form-control" ng-model="status_selected" ng-options="stat.status for stat in casesatuses" >
                            <option value=""><%=casee.status%> </option>
                            <!--option value=""><%=status_selected.status%></option-->
                          </select>
                          
                        </div>
                        
                    </div>
                    
                    
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Labels")}} </label>
                       
                        <div class="col-md-9">
                          <input type="text"  id="id_description" placeholder="Add #hashtags to categorize your cases" class="form-control" ng-model="casee.type_case">
                          
                        </div>
                    </div>
                    
                    <hr/>
                    <p>Who can access?</p>
                     <div class='container-fluid'>

                     
                          
                            <label class="radio line">
                            <input type="radio" value="public" ng-model="casee.access" />
                            public: Anyone within your organization
                            </label>
                            <label class="radio line">
                            <input type="radio"  value="private" ng-model="casee.access" />
                            private: only you and your collaborators
                            </label>  
                           
                       
                      
                    </div>
                   

                    
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                
                <input ng-hide="isLoading" ng-click="save(casee)" type="submit" class="btn green" value="Add this case">
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
              </div>
               </form>
                </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
     </div>
      <div class="container-fluid" ng-show="isSignedIn">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
          
          <div class="col-md-12">
            <h2 class="page-title">{{ _("Cases") }} </h2>
            
            <div class="btn-group">
            
                    <button  ng-click="showModal()" id="sample_editable_1_new" class="btn red">
                    {{ _("New Case") }} <i class="icon-plus"></i>
                    </button>
            </div>
               
            <hr/>
            
          </div>
        </div>
            <!-- Filtering and sorting -->
          <div class="row filter-row" ng-show="cases">
            <div class="col-md-2">
              <div class="btn-group btn-filter">
                                    <a class="btn btn-default" href="#" data-toggle="dropdown">
                                      {{ _('Filter by') }}
                                    <i class="icon-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a  ng-click="filterByOwner()" href="#" data-toggle="modal">{{ _('All cases') }}</a></li>
                                      <li><a ng-click="filterByOwner('{{ME}}')" href="#" data-toggle="modal">{{ _('My cases') }}</a></li>
                                      <li ng-repeat="status in casesatuses"><a ng-click="filterByStatus('<%=status.status%>')" href="#" data-toggle="modal"><%= status.status %></a></li>
                                    </ul>
                                    
              </div>
            </div>
            <div class="col-md-7">
                
                    <form class="ng-pristine ng-valid" ng-submit="executeSearch(searchQuery)">
                      <div class="input-group">

                        <input type="text" ng-model="searchQuery" typeahead="result as result.title + ' - (' + result.contact_name+ ' from ' + result.account_name  + ' - ' + result.status+ ')'   for result in results | filter:$viewValue | limitTo:8" typeahead-on-select="selectResult()" class="form-control" placeholder="{{ _('Quick Filtering') }}">

                       <span class="input-group-btn">
                          <button class="gbqfb gbqfb-hvr" type="button"><i class="icon-filter"></i></button>
                        </span>
                      </div>
                    </form>
                 
            </div>
            <div class="col-md-3">
              <div class="btn-group btn-sort">
                                    <a class="btn btn-default" href="#" data-toggle="dropdown">
                                    {{ _('Sort by') }}
                                    <i class="icon-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a  ng-click="orderBy('-updated_at')" href="#" data-toggle="modal">{{ _('Last modified') }}</a></li>
                                      <li><a ng-click="orderBy('name')" href="#" data-toggle="modal">{{ _('Name') }}</a></li>
                                       <li><a ng-click="orderBy('-priority')" href="#" data-toggle="modal">{{ _('Priority') }}</a></li>
                                       <li><a ng-click="orderBy('status')" href="#" data-toggle="modal">{{ _('Status') }}</a></li>
                                      <li><a ng-click="orderBy('contact_name')" href="#" data-toggle="modal">{{ _('Contact') }}</a></li>
                                      <li><a ng-click="orderBy('account_name')" href="#" data-toggle="modal">{{ _('Company') }}</a></li>
                                      
                                     
                                    </ul>
              </div>

            </div>
            <br>
              <br>
            
          </div>
            
            <div class="row cards-container">
            <div class="col-md-12">
            
              <div class="inner-cards-container">
              <div  ng-repeat="casee in cases" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat cards-med">
                  
                  <div class="details">
                    <a href="/#/cases/show/<%= casee.id %>"><h2 class="cardTitle">
                    <%=casee.name%>
                    </h2></a>
                    <div class="desc">
                                    <span ng-show="casee.status" class="contact-title" >Updated at:  <%=casee.updated_at | date:'yyyy-MM-dd - HH:mm:ss ' %> </span>                           
                                    <span ng-show="casee.status" class="contact-title" >Status: <a class="desc" href="/#/search/type:Case <%=casee.status%>"> <%=casee.status %></a>  - </span>
                                    <span ng-show="casee.priority" class="contact-title">Priority: <a  class="desc" href="/#/search/type:Case <%=casee.priority%>"><%=casee.priority %></span> 
                                    <span ng-show="casee.contact_name" class="contact-title"> Customer:
                                    <a  class="desc" href="/#/search/type:Case <%=casee.contact_name%>"><%=casee.contact_name %></a>
                                    </span>
                                    <span ng-show="casee.account_name" class="contact-title"> from
                                    <a  class="desc" href="/#/search/type:Case <%=casee.account_name%>"><%=casee.account_name %></a>
                                    </span>
                                    
                                    
                                    
                                    </div>
                  </div>
                                 
                </div>
              </div>
               <div ng-show="blankStatecase" class="col-md-12 responsive" data-tablet="col-md-6" data-desktop="col-md-12">
                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="blank_slate_body thumbnail">
                      <img src="/static/img/cases_blank.png" class="img-responsive">
                      <p class="lead">The main goal of cases is to assist collaboration and focus of teams on delivering amazing customer experience.</p>
                  </div>
               
                                  
                </div>
              </div>
               
                                  
               <div class="clearfix"></div>
              </div><!--/inner-cards-container-->
              </div>
            </div>
          <div class="row">
            <div class="pagination pull-right" ng-hide="isLoading">
                  
                  <ul>
                    <li ng-show="casepagination.prev"><button ng-click="listPrevPageItems()" id="sample_editable_1_new" class="btn">
                    {{_("Prev")}} 
                    </button></li>
                    <li ng-repeat="page in casepagination.pages" ng-class='{active: page.isCurrent}'><a  href="#/cases/"><%= page.id %></a></li>
                    <li  ng-show="casepagination.next"><button ng-click="listNextPageItems()"  class="btn">
                    {{_("Next")}} 
                    </button></li>
                  </ul>
                </div>
                <h3 class="pagination pull-right" ng-show="isLoading">Loading...</h3>
          </div>
            
          
        
        <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE CONTAINER--> 
</div>