<div class="row subHeader">
    <div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{active_app.label}}
            <i class="icon-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{application.label}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>
    <div class=" subHeaderContent">
      <div class="col-md-9">
      <div class="row">
      <div class="col-md-10 col-xs-10">
      <div class="filterOptions">
          <span role="button" class="filterItem activeFilter" ng-click="filterByOwner();selectedOption ='all'" ng-class="{activeFilter: selectedOption =='all'}">All <span class="hidden-xs hiddenOnxs">Cases</span> </span>
          <span role="button" class="filterItem" ng-class="{activeFilter: selectedOption =='my'}" ng-click="filterByOwner('{{ME}}');selectedOption ='my'">My <span class="hidden-xs hiddenOnxs">Cases</span></span>
          <div class="btn-group">
              <a class="filterItem" href="#" data-toggle="dropdown"  ng-class="{activeFilter: selectedOption =='sort'}" >
                Sort by
                <i class="icon-angle-down"></i>
              </a>
              <ul class="dropdown-menu">
            <li><a  ng-click="orderBy('-updated_at')" href="#" data-toggle="modal">{{ _('Last modified') }}</a></li>
            <li><a ng-click="orderBy('name')" href="#" data-toggle="modal">{{ _('Name') }}</a></li>
            <!--li><a ng-click="orderBy('-priority')" href="#" data-toggle="modal">{{ _('Priority') }}</a></li-->
            <li><a ng-click="orderBy('status')" href="#" data-toggle="modal">{{ _('Status') }}</a></li>
            <!--li><a ng-click="orderBy('contact_name')" href="#" data-toggle="modal">{{ _('Contact') }}</a></li>
            <li><a ng-click="orderBy('casee_name')" href="#" data-toggle="modal">{{ _('Company') }}</a></li-->
              </ul>
        </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
      <a href="/#/cases/new" class="btn red newAccountBtnOnscroll pull-right hidden afterScrollBtn">
           New <span class="hidden-xs hiddenOnxs">Case</span>
         </a>
      </div>
      </div>
    </div>
    </div>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoading">
      <div class="loader-dialog col-md-4 col-md-offset-4 ">
        <div class="loader-content">
          Loading...
        </div>
      </div>
  </div>
  <div class="dropOut"  ng-show="showUntag" >
    <div class="trash">
      <img alt="delete tag" droppable ng-drop="dropOutTag()" class="" src="/static/img/iotrash.png" >
    </div>
</div>
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE CONTAINER-->
  <div class="container-fluid"ng-show="immediateFailed">
    <div class="col-md-12">
      <h1>Sign-in Button;</h1>
      <span id="signin">
        <span id="myGsignin"></span>
      </span>
    </div>
  </div>
  <div class="row" ng-show="isSignedIn">

        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->

    <div class="col-md-9">
     <div class="row subHeaderContainer">
        <div class=" col-md-9 col-sm-9 col-xs-9 subHeaderContent">
           <div class="row">
              <h2 class="page-title">{{ _("Cases") }} </h2>
           </div>
        </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="row">
         <div class="pull-right" >
           <a href="/#/cases/new" class="btn red newBtn">
                       {{ _(" New Case") }}
          </a>
        </div>
         </div>
       </div>
    </div>
  <div class="row">
  <div class="col-md-12">
     <div class="row">
      <div class="tab-pane">
      <div class="row">
      <div class="waterfall col-md-12" ng-hide="blankStatecase">
        <div ng-repeat="casee in cases" droppable id="card_<%=$index%>" class="cardElement caseCard" ng-drop="dropTag(casee,$index)" >
        <div class="caseContainer" style="border-right: 2px solid <%=priorityColor(casee.priority)%>;">
          <div class="detailsSection row">
          <div class="caseContent">
              <div class="col-md-3 col-xs-3 col-pic">
                <a href="/#/cases/show/<%= casee.id %>" class="startup-link" title="casee.name"><img ng-hide="casee.logo_img_id" alt="casee.name" class="img-responsive img-thumbnail account-img" src="/static/img/default_company.png" >
                <img ng-show="casee.logo_img_id" alt="casee.name" class="img-responsive img-thumbnail account-img" ng-src="https://docs.google.com/uc?id=<%= casee.logo_img_id %>" data-hasqtip="2">
                </a>
              </div>
              <div class="col-md-9 col-xs-9">
              <span class="badge badge-roundless badge-danger pull-right priority ng-binding" style="background-color:  <%=priorityColor(casee.priority)%>;color:<%=idealTextColor(priorityColor(casee.priority))%>;" ><%= casee.priority %></span>
                <div class="row">
                  <div class="col-md-2 col-xs-2">
                    <div class="pic">
                      <a href="/#/contacts/show/6509108836433920" class="startup-link" title="Ilyes BOUDJELTHIA">
                        <img ng-hide="contact.profile_img_url" class="img-responsive profile-photo" height="40" width="40" src="/static/img/avatar_contact.jpg">
                        <img ng-show="contact.profile_img_url" class="img-responsive profile-photo" ng-src="https://docs.google.com/uc?id=" data-hasqtip="2" src="https://docs.google.com/uc?id=" style="display: none;">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-10 col-xs-10">
                   <div class="name">
                    <a href="/#/cases/show/<%= casee.id %>" class="profile-link" data-id="126085" data-type="Startup"><%= casee.name %>
                    </a>
                  </div>
                  <div class="pitch">
                      <p class="status  ng-binding">
                      <span  class="contact-title" style="font-size: 12px;
                        ">
                            <span class="">Date:</span> <span class=""> <%=casee.updated_at | date:'MMMM dd, yyyy- HH:mm:ss'%> </span>
                            </span>
                      <span class="pull-right" style="color:<%=getStatusColor(casee.current_status.name)%>"><%= casee.current_status.name %></span>
                        </p>
                  </div>
                <div class="tagsSection " ng-class="{hidden: casee.tags==null}">
                  <div class="">
                    <div class="sectionContent">
                      <a ng-repeat="tag in casee.tags" href="/#/search/type:casee tags:<%=tag.id%>"> <span draggable  ng-drag="dragTagItem(tag.edgeKey)"  class=" task-label task-tag badge ng-scope ng-binding" style="background-color: <%=tag.color%>;color:<%=idealTextColor(tag.color)%>;">  <%= tag.name %></span>
                      </a>
                    </div>
                    </div>
                  </div>
                  </div>
                </div>


              </div>
              <div class="clearfix"></div>
            </div>
            </div>
            <div class="clearfix"></div>
        </div>
        </div>
        </div>
        <div ng-show="blankStatecase" data-span="3" class="col-md-12 responsive" data-tablet="span6" data-desktop="span12">
          <div class="dashboard-stat cards">
            <div class="blank_slate_arrow"></div>
              <div class="thumbnail blank_slate_body">
                <img class="img-responsive" src="/static/img/cases_blank.png">
                  <p class="lead">{{ _('cases  pages includes a detailed page for each customer, partner, or investor in your ecosystem. You and your co-workers can collaborate to get a deep understanding.') }}
                  </p>
              </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!--/inner-cards-container-->
      <div ng-show="isFiltering * !cases"  class="col-md-12 " ng-show="blankStateaccount">
          <div  data-span="3" class="dashboard-stat cards" data-tablet="span6" data-desktop="span12">
            <div class="">
              <div class="blank_slate_arrow"></div>
              <div class="thumbnail blank_slate_body">
                <p class="lead">{{ _('No results found, try with another filter') }}</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div><!--/inner-cards-container-->
    </div>
    </div>
    </div>
    </div>
  </div>
      <div class="col-md-3 ">
      <div class="row">
       <div class="col-md-12">
        <div class="portlet showCard">
          <div class="portlet-title">
            <div class="caption">
                    <!-- class="fa fa-reorder"--><i></i>Labels
            </div>
          </div>
          <div class="portlet-body">
            <ul class="list-group tags-list">
              <li ng-repeat="tag_item in tags" class="list-group-item tags-list-item" ng-drag="dragTag(tag_item)" >
                <div class="row">
                  <span draggable class="with-color" ng-dblclick="editTag(tag_item)" ng-show="(tag_item!=edited_tag)||(!manage_tags)" style="background-color:<%=tag_item.color%>;color:<%=idealTextColor(tag_item.color)%>;">
                      <%= tag_item.name %>
                  </span>
                  <input type="checkbox" ng-show="!manage_tags" ng-click="selectTag(tag_item,$index,$event)" style="margin-right: 10px;" class="pull-right customCheck" ng-checked="isSelected()">
                  <form ng-submit="doneEditTag(tag_item)" ng-show="(tag_item==edited_tag)&&(manage_tags)">
                    <input ng-blur="doneEditTag(tag_item)" type="text" class="col-md-offset-1 col-md-7 form-control inlineEditTag " ng-model="tag_item.name">
                  </form>
                  <button ng-click="deleteTag(tag_item)" class="close_tag close pull-right" ng-show="manage_tags"></button>
                </div>
              </li>
              <li class="list-group-item tags-list-item" ng-hide="showNewTag" ng-click="showNewTag=true">
                <a ng-click="" class="btn-link addAnotherPhone">
                  <i class="fa fa-tags"></i>  Add a new label
                </a>
              </li>
            </ul>
            <form class="well newTagForm" role="form" ng-show="showNewTag">
              <button type="button" class="close"  aria-hidden="true" ng-click="showNewTag=false"></button>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="text" ng-model="tag.name" class="form-control" id="tag_name" placeholder="New label">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <ul class="color_pallet_menu">
                    <li ng-repeat="color in color_pallet" ng-click="checkColor(color)" class="color-<%=color.name%>" ng-class='{colorChecked: color.name==tag.color.name}' >
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <input type="submit"  ng-click="addNewtag(tag)" class="btn green pull-right" value="Add">
                </div>
              </div>
            </form>
            <div class="form-group btn-manage-tags" ng-show="tags">
              <button class="btn btn-default btn-block " ng-click="manage_tags=!manage_tags;manage()">        Manage Tags
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
      <!-- END PAGE CONTAINER-->
</div>


<div id="addCaseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("New Case")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addCase" name="addCase" ng-keyup="addCaseOnKey(casee)" class="form-horizontal">

                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Contact")}}</label>

                         <div class="col-md-9">
                          <input type="text" required ng-model="searchContactQuery" typeahead="contactResult as contactResult.firstname + ' '+  contactResult.lastname for contactResult in contactsResults | filter:$viewValue | limitTo:10" typeahead-on-select="selectContact()" class="form-control" placeholder="Search">

                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Account")}} </label>

                        <div class="col-md-9">
                          <input type="text" required  ng-model="searchAccountQuery" typeahead="accountResult as accountResult.name  for accountResult in accountsResults | filter:$viewValue | limitTo:10" typeahead-on-select="selectcasee()" class="form-control" placeholder="Search">

                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Subject")}} </label>

                        <div class="col-md-9">
                          <input type="text"  id="id_name" required class="form-control" ng-model="casee.name">

                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Priority")}} </label>

                        <div class="col-md-9">
                          <select class="form-control" ng-model="casee.priority">
                            <option value="1">1 - Low</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10 - Critical</option>
                          </select>

                        </div>

                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Status")}} </label>

                        <div class="col-md-9">
                           <select class="form-control" ng-model="status_selected" ng-options="stat.status for stat in casesatuses" >
                            <option value="">-- choose a status --</option>
                          </select>

                        </div>

                    </div>


                    <!--div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Labels")}} </label>

                        <div class="col-md-9">
                          <input type="text"  id="id_description" placeholder="Add #hashtags to categorize your cases" class="form-control" ng-model="casee.type_case">

                        </div>
                    </div-->

                    <hr/>
                    <p>Who can access?</p>
                     <div class="radio-list">



                            <label >
                            <input type="radio" name="optionsRadios" value="public" ng-model="casee.access" checked />
                            public: Anyone within your organization
                            </label>
                            <label >
                            <input type="radio" name="optionsRadios"  value="private" ng-model="casee.access" />
                            private: only you and your collaborators
                            </label>



                    </div>




              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                <input  ng-click="save(casee)" type="submit" class="btn green" value="Add this case">
                <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
              </div>
               </form>
                </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
     </div>
<script type="text/javascript">
  $("#select2_sample2").select2({
        placeholder: "Click to Select a label",
        allowClear: false
    });
  $('.waterfall').waterfall({
        colMinWidth: 315,
        defaultContainerWidth: 870,
        autoresize: true
      });
  var handleUniform = function () {
        if (!jQuery().uniform) {
            return;
        }
        var test = $("input[type=radio]:not(.toggle, .star)");
        if (test.size() > 0) {
            test.each(function () {
                if ($(this).parents(".checker").size() == 0) {
                    $(this).show();
                    $(this).uniform();
                }
            });
        }
    }
    handleUniform();
$('.textfill').textfill({debug: true, maxFontPixels: 16});
</script>
