<div class="nH anT" style="
    padding: 15px;
    padding-right: 0px;
">
    <img src="https://d1qb2nb5cznatu.cloudfront.net/users/62498-medium_jpg?1405474725">
    <ul>
      <li><span>Assem Chelli</span></li>
      <li>assem.ch@gmail.com</li> 
      <li>Algeria, jijel</li> 
    </ul>
    <ul>
      <li><span>Assem Chelli</span></li>
      <li>assem.ch@gmail.com</li> 
      <li>Algeria, jijel</li> 
    </ul>
    <a id="detailsOnIoGrow" href="http://www.iogrow.com/#/leads/show/5480755488620544" class="T-I J-J5-Ji T-I-KE L3 iogrow-sign-in" target="_blank" role="button" tabindex="1" style="-webkit-user-select: none;">Details on ioGrow</a>
    <div class="tasks">
      <h2 class="tasks-title">Tasks</h2>
      <form class="new-task">
        <input type="text" maxlength="225" ignoreesc="true" tabindex="0" placeholder="add a new task" id="iogrow-task-input">
        <input type="submit" class="T-I J-J5-Ji aoO T-I-atl L3" role="button" tabindex="1" style="-webkit-user-select: none;" id="iogrow-task-send-btn" value="Add this task">
      </form>
      <ul id="iogrow-tasks"></ul>
    </div>
</div>

<select value="Customer" ng-model="account.account_type" class="form-control ng-pristine ng-valid">
    <option value="Competitor"> Mohamed Amine </option>
    <option value="Customer"> Ilyes Boudjelthia </option>
    <option value="Distributor"> Tedj MEABIOU </option>
    <option value="Integrator"> Hadji Hicham </option>
    <option value="Investor"> Arezki Lebdiri </option>
    <option value="Partner"> Ben Belfodil </option>
    <option value="Press"> Hakim Karriche </option>
    <option value="Prospect"> Yacine Hamidia </option>
    <option value="Reseller"> Walid Boumaza </option>
    <option value="Supplier"> Karriche Hakim </option>
    <option value="Vendor"> Idriss Belamri </option>
    <option value="Other"> Meziane Hadjadj </option>
</select>
 <li><span>Assem Chelli</span></li>



 <div class="nH anT" style="
    padding: 15px;
    padding-right: 0px;
">
    <img src="https://d1qb2nb5cznatu.cloudfront.net/users/62498-medium_jpg?1405474725" style="
    width: 60px;
    border-radius: 15px;
    float: left;
    display: inline-block;
">
    <ul style="
    padding-left: 0;   list-style: none;
    margin-top: -3px;
    width: calc(100% - 75px);
    float: left;
    padding: 6px;
    display: inline-block;
    font-size: 16px;
">
      <li><span>Assem Chelli</span></li>
      <li style="
    font-size: 13px;
">assem.ch@gmail.com</li> 
      <li style="
    font-size: 13px;
">Algeria, jijel</li> 
    </ul>
    <ul style="
    clear: both;
    padding-left: 0; list-style: none;
    margin-bottom: 7px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
">
      <li style="
    font-size: 12px;
"><span style="
    font-size: 13px;
    font-weight: bold;
">Post :</span> CEO at Elfanous</li>
      <li>assem.ch@gmail.com</li> 
      <li>Algeria, jijel</li> 
    </ul>
    <a id="detailsOnIoGrow" href="http://www.iogrow.com/#/leads/show/5480755488620544" class="T-I J-J5-Ji T-I-KE L3 iogrow-sign-in" target="_blank" role="button" tabindex="1" style="-webkit-user-select: none;float: right;font-size: 12px;text-decoration: none;margin-right: 0px;">Details on ioGrow</a>
    <div class="tasks" style="
    clear: both;
">
      <h3 class="tasks-title">Tasks :</h3>
      <form class="new-task">
        <input type="text" maxlength="225" ignoreesc="true" tabindex="0" placeholder="add a new task" id="iogrow-task-input" style="
    font-size: 14px; font-weight: normal; color: #333333; background-color: #ffffff; border: 1px solid #e5e5e5; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 5px;
    width: 94%;
    margin-bottom: 5px;
">
  <select value="Customer" ng-model="account.account_type" class="form-control ng-pristine ng-valid" style="
    font-size: 14px; font-weight: normal; color: #333333; background-color: #ffffff; border: 1px solid #e5e5e5; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 3px;
    /* padding-left: 0px; */
    float: left;
    margin-left: 0px;
    margin-right: 0px;
">
    <option value="Competitor"> Mohamed Amine </option>
    <option value="Customer"> Ilyes Boudjelthia </option>
    <option value="Distributor"> Tedj MEABIOU </option>
    <option value="Integrator"> Hadji Hicham </option>
    <option value="Investor"> Arezki Lebdiri </option>
    <option value="Partner"> Ben Belfodil </option>
    <option value="Press"> Hakim Karriche </option>
    <option value="Prospect"> Yacine Hamidia </option>
    <option value="Reseller"> Walid Boumaza </option>
    <option value="Supplier"> Karriche Hakim </option>
    <option value="Vendor"> Idriss Belamri </option>
    <option value="Other"> Meziane Hadjadj </option>
</select>
        <input type="submit" class="T-I J-J5-Ji aoO T-I-atl L3" role="button" tabindex="1" style="-webkit-user-select: none;margin-top: 0px;margin-left: 10px;" id="iogrow-task-send-btn" value="Add">
      </form>
      <ul id="iogrow-tasks"></ul>
    </div>
</div>


*----------------------------------------------

<div class="nH anT" style="padding: 15px 0px 15px 15px; height: 332px;">
    <img src="https://d1qb2nb5cznatu.cloudfront.net/users/62498-medium_jpg?1405474725" style="
    width: 60px;
    border-radius: 30px;
    float: left;
    display: inline-block;
">
    <ul style="
    padding-left: 0;   list-style: none;
    margin-top: -3px;
    width: calc(100% - 75px);
    float: left;
    padding: 6px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2px;
">
      <li><span style="
    font-weight: bold;
">Assem Chelli</span></li>
      <li style="
    font-size: 12px;
">assem.ch@gmail.com</li> 
      <li style="
    font-size: 12px;
">Algeria, jijel</li> 
    </ul>
    <ul style="
    clear: both;
    padding-left: 0; list-style: none;
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 10px;
    margin-top: 2px;
">
      <li style="
    font-size: 12px;
    text-align: center;
    font-weight: bold;
"><span style="
    font-size: 13px;
    font-weight: bold;
"></span> CEO at Elfanous</li>
      <li>assem.ch@gmail.com</li> 
      <li>Algeria, jijel</li> 
    </ul>
    <a id="detailsOnIoGrow" href="http://www.iogrow.com/#/leads/show/5480755488620544" class="T-I J-J5-Ji T-I-KE L3 iogrow-sign-in" target="_blank" role="button" tabindex="1" style="-webkit-user-select: none;float: right;font-size: 12px;text-decoration: none;margin-right: 0px;text-transform: initial;width: 91%;margin-bottom: 7px;">Details on ioGrow</a>
    <div class="tasks" style="
    clear: both;
    border-top: 1px solid rgb(202, 200, 200);
    /* background-color: rgb(236, 236, 236); */
">
      <h4 class="tasks-title" style="
    margin-top: 10px;
    margin-bottom: 10px;
">Tasks :</h4>
      <form class="new-task" style="
    background-color: rgb(109, 87, 87);
    clear: both;
">
        <input type="text" maxlength="225" ignoreesc="true" tabindex="0" placeholder="add a new task" id="iogrow-task-input" style="
    font-size: 14px; font-weight: normal; color: #333333; background-color: #ffffff; border: 1px solid #e5e5e5; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 5px;
    width: 94%;
    margin-bottom: 5px;
    float: left;
">
<label style="
    float: left;
    padding-top: 5px;
    font-size: 13px;
">Assign to: </label>
  <select value="Customer" ng-model="account.account_type" class="form-control ng-pristine ng-valid" style="
    font-size: 14px; font-weight: normal; color: #333333; background-color: #ffffff; border: 1px solid #e5e5e5; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 3px;
    /* padding-left: 0px; */
    float: left;
    margin-left: 7px;
    margin-right: 0px;
    float: left;
    display: inline-block;
">
    <option value="Competitor"> Mohamed Amine </option>
    <option value="Customer"> Ilyes Boudjelthia </option>
    <option value="Distributor"> Tedj MEABIOU </option>
    <option value="Integrator"> Hadji Hicham </option>
    <option value="Investor"> Arezki Lebdiri </option>
    <option value="Partner"> Ben Belfodil </option>
    <option value="Press"> Hakim Karriche </option>
    <option value="Prospect"> Yacine Hamidia </option>
    <option value="Reseller"> Walid Boumaza </option>
    <option value="Supplier"> Karriche Hakim </option>
    <option value="Vendor"> Idriss Belamri </option>
    <option value="Other"> Meziane Hadjadj </option>
</select>
        <input type="submit" class="T-I J-J5-Ji aoO T-I-atl L3" role="button" tabindex="1" style="-webkit-user-select: none;margin-top: 5px;margin-right: auto;float: right;" id="iogrow-task-send-btn" value="Add">
      </form>
      <ul id="iogrow-tasks"></ul>
    </div>
</div>
**************
<div class="nH anT" style="padding: 15px 0px 15px 15px; height: 332px;">
    <img src="https://d1qb2nb5cznatu.cloudfront.net/users/62498-medium_jpg?1405474725" style="
    width: 60px;
    border-radius: 30px;
    float: left;
    display: inline-block;
">
    <ul style="
    padding-left: 0;   list-style: none;
    margin-top: -3px;
    width: calc(100% - 75px);
    float: left;
    padding: 6px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2px;
">
      <li><span style="
    font-weight: bold;
">Assem Chelli</span></li>
      <li style="
    font-size: 12px;
">assem.ch@gmail.com</li> 
      <li style="
    font-size: 12px;
">Algeria, jijel</li> 
    </ul>
    <ul style="
    clear: both;
    padding-left: 0; list-style: none;
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 10px;
    margin-top: 2px;
">
      <li style="
    font-size: 12px;
    text-align: center;
    font-weight: bold;
"><span style="
    font-size: 13px;
    font-weight: bold;
"></span> CEO at Elfanous</li>
      <li>assem.ch@gmail.com</li> 
      <li>Algeria, jijel</li> 
    </ul>
    <a id="detailsOnIoGrow" href="http://www.iogrow.com/#/leads/show/5480755488620544" class="T-I J-J5-Ji T-I-KE L3 iogrow-sign-in" target="_blank" role="button" tabindex="1" style="-webkit-user-select: none;float: right;font-size: 12px;text-decoration: none;margin-right: 0px;text-transform: initial;width: 91%;margin-bottom: 7px;">Details on ioGrow</a>
    <div class="tasks" style="
    clear: both;
    border-top: 1px solid rgb(202, 200, 200);
    /* background-color: rgb(236, 236, 236); */
">
      <h4 class="tasks-title" style="
    margin-top: 10px;
    margin-bottom: 10px;
">Tasks :</h4>
      <form class="new-task" style="
    background-color: rgb(235, 111, 111);
    clear: both;
    height: 100%;
">
        <input type="text" maxlength="225" ignoreesc="true" tabindex="0" placeholder="add a new task" id="iogrow-task-input" style="
    font-size: 14px; font-weight: normal; color: #333333; background-color: #ffffff; border: 1px solid #e5e5e5; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 5px;
    width: 94%;
    margin-bottom: 5px;
    float: left;
">
<label style="
    float: left;
    padding-top: 5px;
    font-size: 13px;
">Assign to: </label>
  <select value="Customer" ng-model="account.account_type" class="form-control ng-pristine ng-valid" style="
    font-size: 14px; font-weight: normal; color: #333333; background-color: #ffffff; border: 1px solid #e5e5e5; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 3px;
    /* padding-left: 0px; */
    float: left;
    margin-left: 7px;
    margin-right: 0px;
    float: left;
    display: inline-block;
">
    <option value="Competitor"> Mohamed Amine </option>
    <option value="Customer"> Ilyes Boudjelthia </option>
    <option value="Distributor"> Tedj MEABIOU </option>
    <option value="Integrator"> Hadji Hicham </option>
    <option value="Investor"> Arezki Lebdiri </option>
    <option value="Partner"> Ben Belfodil </option>
    <option value="Press"> Hakim Karriche </option>
    <option value="Prospect"> Yacine Hamidia </option>
    <option value="Reseller"> Walid Boumaza </option>
    <option value="Supplier"> Karriche Hakim </option>
    <option value="Vendor"> Idriss Belamri </option>
    <option value="Other"> Meziane Hadjadj </option>
</select>
        <input type="submit" class="T-I J-J5-Ji aoO T-I-atl L3" role="button" tabindex="1" style="-webkit-user-select: none;margin-top: 5px;margin-right: auto;float: right;text-align: center;" id="iogrow-task-send-btn" value="Add">
<div class="clearfix" style="
    display: table; content: &quot; &quot;;
"></div>
      </form>
      <ul id="iogrow-tasks" style="
    clear: both;
"></ul>
    </div>
</div>