/* Base Styles
--------------------------------------------------------------------- */

body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #000000;
	padding-top: 50px;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #333;
}

/* Paragraph & Typographic */

p {
	line-height: 28px;
	margin-bottom: 25px;
}

/* Links */

a {
	color: #000000;
	word-wrap: break-word;

	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
	color: #DD2913;
	text-decoration: none;
	outline: 0;
}

a:before,
a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
	display: block;
	width: 500px;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	padding: 0;
}

.pad-top {
	padding-top: 80px;
}

/* Button Modifications */

.btn-theme {
	background-color: #CA4242;
	color: #fff;
	border-color: #CA4242;
}

.btn-theme:hover,
.btn-theme:focus {
	border-color: #000000; /* change to darker hue than bg hover color */
	background-color: transparent;
	color: #000000;
	box-shadow: none;
}

.btn-theme2 {
	border-color: #fff;
	background-color: transparent;
	color: #fff;
}

.btn-theme2:hover,
.btn-theme2:active {
	border-color: #fff;
	background-color: #fff;
	color: #000000;
	box-shadow: none;
}


/* Navigation
--------------------------------------------------------------------- */

.navbar-default {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
}

.navbar-default .navbar-toggle {
	border: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle > .icon-bar {
	background-color: #000000;
}

.navbar-default .navbar-brand {
	color: #000000;
}

.navbar-default .navbar-brand:hover {
	color: #176DED;
}

.navbar-default .navbar-nav > li > a {
	color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #C91313;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #176DED;
}

.navbar-default .navbar-right a[type="button"] {
	padding: 6px 20px 6px 20px;
	color: #fff;
}

.navbar-default .navbar-right a[type="button"]:hover,
.navbar-default .navbar-right a[type="button"]:focus {
	background-color: transparent;
	color: #323232;
}


 /* Grow */

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* Buzz Out */
@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.buzz-out {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Pop */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pop {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pop:hover, .pop:focus, .pop:active {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Wrap Sections
--------------------------------------------------------------------- */

/* Header Wrap */

#headerwrap {
	background: url("http://storage.googleapis.com/iogrow-cdn/iogrow_background.jpg") no-repeat center top;
	background-size: cover;
	padding-top: 80px;
}

#headerwrap .col-lg-2 {
	padding-top: 40px;
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 39px;
	font-weight:bold;
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h4 {
	padding-top: 10px;
	padding-bottom: 20px;
	color: #fff;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: #fff;
}

/* Intro Wrap */

#intro {
	padding-top: 80px;
	padding-bottom: 80px;
}

#intro licon {
	font-size: 60px;
	color: #000000;
	padding: 20px;
	vertical-align: middle;
}

/* Features Wrap */

#featureswrap {
	background-color: #f5f5f5;
	padding-top: 80px;
	padding-bottom: 80px;
}

#featureswrap .col-lg-6 img {
	display: table;
	margin: 0 auto;
}

#featureswrap .ac a {
	font-size: 20px;
}

#featureswrap .col-lg-6 h4,
#featureswrap .col-lg-6 licon {
	font-size: 20px;
	color: #000000;
}

/* Divider 1 & 2 Wrap */

#divider01 {
	background: url("../img/divider1.jpg") no-repeat center center;
	background-size: cover;
	min-height: 400px;
	padding-top: 120px;
}

#divider01 h3 {
	font-size: 34px;
	color: #fff;
}

#divider01 h4 {
	padding-top: 15px;
	color: #fff;
}

#divider02 {
	background-color: #000000;
	height: 150px;
	padding-top: 55px;
}

#divider02 h3 {
	color: #fff;
	padding-right: 40px;
}

#divider02 h3,
#divider02 button {
	display: inline;
	vertical-align: middle;
}


/* Pricing Wrap */

#pricingwrap {
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 120px;
}

#pricingwrap small {
	padding-left: 10px;
}

/* Pricing Tables */

.panel {
	text-align: center;
}

.panel-custom {
	border-color: #000000;
}

.panel-custom > .panel-heading {
	background-color: #000000;
	color: #fff;
}

.panel-heading > .panel-title {
	font-weight: 900;
	text-transform: uppercase;
}

.panel-body {
	padding: 0px;
	text-align: center;
}

.the-price {
	background-color: rgba(220,220,220,0.17);
	box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #dcdcdc;
	padding: 20px;
	margin: 0;
}

.the-price h2 {
	font-size: 44px;
	font-weight: 700;
	line-height: 1em;
	padding: 0;
	margin: 0;
}

.subscript {
	font-size: 25px;
	font-weight: 400;
}

/* Footer Wrap */

#footerwrap {
	background-color: #333;
	color: #777;
	padding-top: 80px;
	padding-bottom: 100px;
}

#footerwrap h3 {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}

#footerwrap p {
	color: #fff;
	font-size: 14px;
}

#footerwrap #social {
	margin: 20px auto 0px auto;
	display: inline-block;
}

#footerwrap input:focus {
	outline: 0;
}

/* Copyright Wrap */

#copywrap {
	background: #222;
	padding-top: 20px;
	font-size: 14px;
	color: #176DED;
}


/* Sign In & Sign Up Modal */

.modal .nav-tabs {
	padding-left: 5px;
	padding-right: 5px;
}
 #headerwrap h1 b{
    color: #fff;
 }
/***********************custom****/
  .sm-padding{
    padding-left: 2px;
    padding-right: 2px;
  }
  .margin-bottom-30{
  	margin-bottom: 30px;
  }
  .features-description p{
  	font-size: 18px;
  }
@media (min-width: 356px) {
  .sm-padding{
    padding-left: 15px;
    padding-right: 15px;
  }

}
@media (min-width: 768px) {
  .custom-nav{
    display: table !important;
    margin: auto;
  }

}
@media (min-width: 768px) {
  .custom-nav{
    display: block;
  }

}
.playImg{
  width: 64px;
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 36px);
}
/***********************custom****/
