article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

h1 {
    font-size: 2em
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button, input {
    line-height: normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    padding: 0
}

a:hover {
    text-decoration: none
}

#maia-main, #maia-footer {
    margin: 0;
    max-width: none;
    position: relative;
    z-index: 1000
}

#maia-signature {
    background: #fff;
    margin-top: -8px;
    max-width: 1200px;
    position: relative;
    z-index: 1000
}

.signature-wrapper {
    background: #fff
}

#maia-footer {
    font-family: "Helvetica Neue", arial, sans-serif
}

.maia-aux {
    max-width: 1200px
}

.maia-button {
    font-family: "Open Sans", arial, sans-serif
}

@media only screen and (max-width: 767px) {
    .mobile-is-hidden {
        display: none !important;
        visibility: hidden !important
    }

    .mobile-is-visible, .tabs-content.with-select .tabs-detail.select-is-active {
        display: block !important;
        opacity: 1 !important;
        position: relative !important;
        visibility: visible !important
    }
}

@media only screen and (max-width: 948px) {
    .crushed-is-hidden {
        display: none !important;
        visibility: hidden !important
    }

    .crushed-is-visible {
        display: block !important;
        opacity: 1 !important;
        position: relative !important;
        visibility: visible !important
    }
}

.mobile-device .device-is-hidden {
    display: none !important
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
    margin-top: 0
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
    margin-bottom: 0
}

.section-headline {
    font-size: 60px;
    font-weight: 300
}

@media only screen and (max-width: 767px) {
    .section-headline {
        font-size: 36px
    }
}

.section-headline-white {
    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4)
}

.section-headline-gray {
    color: #404040
}

.section-headline-large {
    font-size: 60px
}

@media only screen and (max-width: 767px) {
    .section-headline-large {
        font-size: 36px
    }
}

.heading-headline {
    color: #404040;
    font-size: 48px;
    font-weight: 300;
    margin: 5px 0
}

@media only screen and (max-width: 767px) {
    .heading-headline {
        font-size: 24px
    }
}

.section-body {
    color: #555;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.4
}

@media only screen and (max-width: 767px) {
    .section-body {
        font-size: 16px
    }
}

.section-body-white {
    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4)
}

.section-body-large {
    font-size: 42px;
    line-height: 1.2
}

@media only screen and (max-width: 767px) {
    .section-body-large {
        font-size: 21px
    }
}

.footnotes {
    font-size: 12px;
    margin-left: 20px
}

.icon {
    display: inline-block;
    overflow: hidden
}

.icon-arrow-dropdown, .icon-arrow-hint, .icon-arrow-right, .icon-drive-logo, .icon-google-logo-dark, .icon-google-logo, .icon-mobile-close, .icon-mobile-open-dark, .icon-mobile-open, .icon-toggle_is-active {
    background: url("http://storage.googleapis.com/iogrow-gs/icons.png") no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap
}

[dir=rtl] .icon-arrow-right {
    display: none
}

[dir=rtl] .index .section-download .text-link {
    text-decoration: underline
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-arrow-dropdown, .icon-arrow-hint, .icon-arrow-right, .icon-drive-logo, .icon-google-logo-dark, .icon-google-logo, .icon-mobile-close, .icon-mobile-open-dark, .icon-mobile-open, .icon-toggle_is-active {
        background: url("../images/drive/icons-2x.png") no-repeat;
        background-size: 115px auto
    }
}

.icon-arrow-dropdown {
    background-image: url("http://storage.googleapis.com/iogrow-gs/icons.png");
    background-position: 0 0;
    height: 8px;
    width: 12px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-arrow-dropdown {
        background-image: url("../images/drive/icons-2x.png");
        background-position: 0 0
    }
}

.icon-arrow-hint {
    background-image: url("http://storage.googleapis.com/iogrow-gs/icons.png");
    background-position: 0 -8px;
    height: 16px;
    width: 24px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-arrow-hint {
        background-image: url("../images/drive/icons-2x.png");
        background-position: 0 -8px
    }
}

.icon-arrow-right {
    background-image: url("http://storage.googleapis.com/iogrow-gs/icons.png");
    background-position: 0 -24px;
    height: 10px;
    width: 8px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-arrow-right {
        background-image: url("../images/drive/icons-2x.png");
        background-position: 0 -24px
    }
}

.icon-drive-logo {
    background-image: url("http://storage.googleapis.com/iogrow-gs/icons.png");
    background-position: 0 -34px;
    height: 34px;
    width: 40px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-drive-logo {
        background-image: url("../images/drive/icons-2x.png");
        background-position: 0 -34px
    }
}

.icon-google-logo-dark {
    background-image: url("http://storage.googleapis.com/iogrow-gs/Logo-iogrow-gray.png");
    height: 32px;
    width: 144px;
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-google-logo-dark {
        background-image: url("../images/drive/icons-2x.png");
        background-position: 0 -68px
    }
}

.icon-google-logo {
    background-image: url("http://storage.googleapis.com/iogrow-gs/logo-iogrow-white.png");
    width: 144px;
    height: 33px;
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-google-logo {
        background-image: url("../images/drive/icons-2x.png");
        background-position: 0 -109px
    }
}

.icon-mobile-close {
    background-image: url("http://storage.googleapis.com/iogrow-gs/icons.png");
    background-position: 0 -150px;
    height: 24px;
    width: 24px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-mobile-close {
        background-image: url("../images/drive/icons-2x.png");
        background-position: 0 -150px
    }
}

.icon-mobile-open-dark {
    background-image: url("http://storage.googleapis.com/iogrow-gs/icons.png");
    background-position: 0 -174px;
    height: 22px;
    width: 30px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-mobile-open-dark {
        background-image: url("../images/drive/icons-2x.png");
        background-position: 0 -174px
    }
}

.icon-mobile-open {
    background-image: url("http://storage.googleapis.com/iogrow-gs/icons.png");
    background-position: 0 -196px;
    height: 22px;
    width: 30px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-mobile-open {
        background-image: url("../images/drive/icons-2x.png");
        background-position: 0 -196px
    }
}

.icon-toggle_is-active {
    background-image: url("http://storage.googleapis.com/iogrow-gs/icons.png");
    background-position: 0 -218px;
    height: 8px;
    width: 12px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .icon-toggle_is-active {
        background-image: url("../images/drive/icons-2x.png");
        background-position: 0 -218px
    }
}

.grid-content, .tabs-list, .tabs-detail {
    letter-spacing: -.3em;
    list-style: none;
    position: relative;
    text-align: left;
    text-rendering: optimizespeed
}

.grid-item, .tabs-tab, .select-menu-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: normal;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
    text-rendering: auto
}

.grid-content-center {
    text-align: center
}

.grid-content-center > .grid-item, .grid-content-center > .tabs-tab, .grid-content-center > .select-menu-wrapper {
    text-align: left
}

@media only screen and (min-width: 768px) {
    .one-whole {
        width: 100%
    }

    .one-half {
        width: 50%
    }

    .one-third {
        width: 33.333%
    }

    .two-thirds {
        width: 66.666%
    }

    .one-fourth, .one-quarter {
        width: 25%
    }

    .three-fourths {
        width: 75%
    }

    .three-fourths {
        width: 75%
    }

    .three-eighths {
        width: 37.5%
    }

    .seven-twentyfifths {
        width: 28.118%
    }

    .eighteen-twentyfifths {
        width: 71.779%
    }

    .seven-fiftieths {
        width: 14.11%%
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    position: relative;
    width: 100%
}

.content:after {
    clear: both;
    content: '';
    display: table
}

.content .content {
    max-width: none;
    min-width: 0;
    width: auto
}

@media (max-width: 1040px) {
    .content {
        width: 100%
    }
}

.column.with-copy, .column.with-example {
    width: 50%
}

@media (max-width: 767px) {
    .column.with-copy, .column.with-example {
        width: 100%
    }
}

@-webkit-keyframes arrow1 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    90% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 36px);
        transform: translate(0, 36px)
    }
}

@keyframes arrow1 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    90% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 36px);
        -ms-transform: translate(0, 36px);
        transform: translate(0, 36px)
    }
}

@-webkit-keyframes arrow2 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 36px);
        transform: translate(0, 36px)
    }
}

@keyframes arrow2 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 36px);
        -ms-transform: translate(0, 36px);
        transform: translate(0, 36px)
    }
}

body {
    background-image: -webkit-linear-gradient(#ececec, #f9f9f9 90%, #fff);
    background-image: linear-gradient(#ececec, #f9f9f9 90%, #fff);
    color: #4c4c4c;
    font: 400 16px/1.667 "Open Sans", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    position: relative
}

a {
    color: #66a0fd;
    text-decoration: none
}

a:visited {
    color: #66a0fd
}

img {
}

strong {
    color: #4c4c4c;
    font-weight: 600
}

::selection {
    background-color: #bbd3fd;
    color: #fff
}

::-moz-selection {
    background-color: #bbd3fd;
    color: #fff
}

section {
    overflow: hidden;
    padding: 100px 0
}

@media only screen and (max-width: 767px) {
    section {
        padding: 60px 0
    }
}

.section-intro {
    background-image: -webkit-linear-gradient(#ececec, #f9f9f9 90%, #fff);
    background-image: linear-gradient(#ececec, #f9f9f9 90%, #fff)
}

.section-intro .one-whole img, .section-download .one-whole img {
    height: 77px;
    margin: 0 auto 20px auto
}

@media only screen and (max-width: 767px) {
    .section-intro .one-whole img, .section-download .one-whole img {
        height: 60px;
        margin-bottom: 12px
    }
}

.js .section-intro, .js .unfixed-wrapper {
    opacity: 0;
    -webkit-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out
}

#nav-tick {
    height: 1px;
    position: absolute;
    width: 1px
}

.photo-wrapper {
    height: 500px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@media only screen and (max-width: 767px) {
    .photo-wrapper {
        height: 300px
    }
}

.section-photo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 700px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%
}

@media only screen and (max-width: 767px) {
    .section-photo {
        height: 300px
    }
}

.section-photo-fullscreen {
    position: absolute
}

.section-centered {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 980px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%
}

.section-centered img {
    max-width: 100%
}

.section-vertical-align {
    position: relative;
    top: 50%
}

.section-centered-text {
    text-align: center
}

.section-vertical-container {
    display: table-cell;
    vertical-align: middle
}

@media only screen and (max-width: 767px) {
    .section-mobile-gutterless {
        padding-left: 0;
        padding-right: 0
    }
}

.section-divider {
    background: #fff;
    border-bottom: 1px solid #f1f1f1
}

.section-panel-fullscreen {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    left: 0;
    min-height: 600px;
    overflow: hidden;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%
}

.section-panel-fullscreen .section-headline {
    margin: 0
}

.section-panel-fullscreen .button-download {
    margin-top: 30px
}

.section-panel-fullscreen .arrow-hint {
    bottom: 0;
    height: 88px;
    left: 50%;
    margin-left: -12px;
    overflow: hidden;
    position: absolute;
    width: 24px
}

.section-panel-fullscreen .icon-arrow-hint {
    display: block;
    margin-bottom: 20px
}

.section-panel-fullscreen .animated-arrow-1 {
    -webkit-animation: arrow1 3s infinite ease-out;
    animation: arrow1 3s infinite ease-out;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
}

.section-panel-fullscreen .animated-arrow-2 {
    -webkit-animation: arrow2 3s infinite ease-in;
    animation: arrow2 3s infinite ease-in;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}

.text-left {
    text-align: left !important
}

.text-center, .tabs-tab {
    margin-left: auto;
    margin-right: auto;
    text-align: center !important
}

.text-right {
    text-align: right !important
}

.button-download, .button-download.maia-button-secondary {
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 26px;
    text-decoration: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.button-download:hover, .button-download.maia-button-secondary:hover {
    background: #2263d6;
    text-decoration: none
}

@media only screen and (max-width: 767px) {
    .button-download, .button-download.maia-button-secondary {
        font-size: 12px
    }
}

.button-download {
    background: #4386fc
}

a.button-download.maia-button-secondary {
    color: #66a0fd !important;
    font-size: 16px;
    padding: 14px 18px
}

.button-large {
    font-size: 125%;
    padding: 10px 20px
}

.button-largest {
    font-size: 150%;
    padding: 10px 40px
}

.content, .header-item, .tabs-list {
    zoom: 1
}

.content:before, .header-item:before, .tabs-list:before, .content:after, .header-item:after, .tabs-list:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden
}

.content:after, .header-item:after, .tabs-list:after {
    clear: both
}

.absolute-center {
    bottom: 0;
    margin: auto;
    position: absolute;
    top: 0
}

.v-align-middle-parent, .column.with-copy {
    display: table
}

.v-align-middle-element, .column.with-copy .copy {
    display: table-cell;
    vertical-align: middle
}

.unfixed-wrapper {
    background: #fff;
    margin-bottom: 4px;
    position: relative;
    width: 100%;
    z-index: 1000
}

.content {
    height: 100%
}

@media only screen and (max-width: 767px) {
    .content {
        display: table-cell;
        vertical-align: middle;
        -webkit-overflow-scrolling: touch
    }
}

.column {
    height: 100%;
    position: relative
}

.column.with-copy {
    float: left
}

.column.with-copy .copy {
    padding-left: 10px;
    padding-right: 10px
}

.column-right.with-copy {
    margin-left: 55%;
    width: 45%
}

.column-left.with-copy {
    margin-right: 50%
}

.column.with-example {
    position: absolute;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.column-left.with-example .example {
    right: 10px
}

.column-right.with-example {
    left: 54.16667%
}

.example {
    bottom: 0;
    height: 420px;
    margin: auto;
    max-height: 100%;
    position: absolute;
    top: 0
}

[dir=rtl] .example {
}

.column.column-full-width {
    float: none;
    width: 100%
}

.column.column-full-width img, .column.column-full-width video {
    max-width: 100%
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 12px
    }

    .column {
        height: auto
    }

    .column.with-copy {
        display: block;
        float: none;
        margin: 0;
        width: 100%
    }

    .column.with-copy .copy {
        display: block;
        padding-left: 0;
        padding-right: 0;
        text-align: center !important
    }

    .column.with-example {
        margin-bottom: 24px
    }

    .example, .column.with-example {
        position: static
    }

    .example {
        display: block;
        height: auto;
        margin: 0 auto;
        max-height: none;
        position: static;
        width: 100% !important
    }

    .section-intro {
        position: absolute !important
    }
}

nav {
    float: right;
    margin-left: 4px
}

nav img {
    display: none
}

nav ul {
    font-size: 16px;
    list-style: none;
    margin: 0;
    position: relative;
    z-index: 10
}

nav li {
    float: left
}

nav a {
    display: block;
    line-height: 20px;
    padding: 24px 13px
}

nav a:hover {
    text-decoration: underline
}

nav .download-app {
    display: none
}

.nav-dark nav .go-to-drive, .nav-light nav .go-to-drive {
    background: #4386fc;
    color: #fff;
    padding-left: 22px;
    padding-right: 22px
}

.nav-dark nav .go-to-drive:visited, .nav-light nav .go-to-drive:visited {
    color: #fff
}

.nav-dark nav .go-to-drive:hover, .nav-light nav .go-to-drive:hover {
    background: #2263d6;
    text-decoration: none
}

nav .last-default {
    margin-right: 10px
}

.nav-light nav a, .nav-light .site-logo-link {
    color: #fff
}

.nav-light nav a:visited, .nav-light .site-logo-link:visited {
    color: #fff
}

.nav-dark nav a, .nav-dark .site-logo-link {
    color: #555
}

.nav-dark nav a:visited, .nav-dark .site-logo-link:visited {
    color: #555
}

.float-in {
    max-width: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    white-space: nowrap
}

.nav-dark .float-in {
    max-width: 300px
}

.download .float-in {
    display: none
}

body.index a.meet, body.using-drive a.using-drive, body.for-work a.work, body.download a.download, body.help a.help {
    font-weight: 700
}

body.index a.meet:hover, body.using-drive a.using-drive:hover, body.for-work a.work:hover, body.download a.download:hover, body.help a.help:hover {
    text-decoration: none
}

.mobile-nav-toggle {
    display: none;
    height: 28px;
    overflow: hidden;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 28px
}

.toggle-nav-open, .toggle-nav-closed {
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-tap-highlight-color: transparent
}

.is-active .toggle-nav-open {
    display: none
}

.toggle-nav-closed {
    display: none;
    left: 3px
}

.is-active .toggle-nav-closed {
    display: block
}

@media only screen and (max-width: 948px) {
    .mobile-nav-toggle {
        display: block
    }

    .nav-site {
        bottom: 0;
        display: none;
        left: 0;
        margin: 0;
        overflow: scroll;
        padding: 6px 0 16px 0;
        position: absolute;
        right: 0;
        top: 60px
    }

    .is-active .nav-site {
        display: block
    }

    nav img {
        display: block;
        height: 77px;
        margin: 40px auto
    }

    nav ul {
        margin: 0 30px
    }

    nav li {
        float: none;
        font-size: 21px;
        margin: 16px 0;
        text-align: center
    }

    nav a {
        color: #66a0fd !important;
        display: inline-block;
        padding: 12px
    }

    nav a.boxed-in {
        border: 1px solid #66a0fd;
        font-size: 16px;
        margin-top: 20px;
        padding: 24px
    }

    body.index a.meet, body.using-drive a.using-drive, body.for-work a.work, body.download a.download, body.help a.help {
        color: #555 !important;
        font-weight: 400
    }

    .download-app a {
        display: none;
        min-width: 40%
    }

    .go-to-drive {
        display: none !important
    }
}

@media only screen and (max-width: 948px) and (max-width: 767px) {
    nav img {
        height: 60px;
        margin: 24px auto
    }
}

@media only screen and (max-width: 948px) and (max-width: 767px) {
    nav li {
        font-size: 16px;
        margin: 8px
    }
}

@media only screen and (max-width: 948px) and (max-width: 767px) {
    nav a {
        padding: 8px
    }
}

@media only screen and (max-width: 948px) and (max-width: 767px) {
    nav a.boxed-in {
        font-size: 16px;
        padding: 18px
    }
}

.site-logo {
    display: block;
    line-height: 33px;
    margin: 0 0 0 22px;
    text-decoration: none
}

.site-logo:hover {
    text-decoration: none
}

@media only screen and (max-width: 767px) {
    .site-logo {
        margin-left: 0;
        padding: 0
    }
}

.site-logo-link {
    font-size: 28px;
    font-weight: 300;
    height: 40px;
    padding: 17px 12px 9px 12px;
    text-align: center;
    vertical-align: middle
}

@media only screen and (max-width: 767px) {
    .site-logo-link {
        padding: 10px 0 4px 0;
        -webkit-transform: scale(.7, .7);
        -ms-transform: scale(.7, .7);
        transform: scale(.7, .7)
    }
}

.site-logo-image {
    float: left;
    margin: 0 10px 0 0
}

.header {
    left: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    width: 100%;
    z-index: 3000;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.nav-dark .header {
    background: #fff;
    position: fixed;
    -webkit-transition: none;
    transition: none
}

.nav-dark .header:before {
    background: #e7e7e7;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1
}

@media only screen and (max-width: 767px) {
    .header.is-active {
        background: #fff
    }

    .header.is-active:before {
        display: none
    }
}

.header-item {
    display: block;
    float: left
}

@media only screen and (max-width: 767px) {
    .header-item {
        margin-left: -14px
    }
}

#maia-footer-local {
    padding: 50px 15px 30px
}

#maia-footer-local ul {
    font-size: 13px;
    list-style: none;
    margin: 0
}

#maia-footer-local ul li {
    display: inline;
    margin-right: 20px
}

.tabs {
    -webkit-transform: translateZ(.1px);
    -ms-transform: translateZ(.1px);
    transform: translateZ(.1px)
}

.tabs-list {
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

@media only screen and (max-width: 767px) {
    .tabs-list {
        display: table
    }
}

.tabs-list-no-border {
    border: 0
}

@media only screen and (max-width: 767px) {
    .tabs-list-mobile-hide {
        display: none !important
    }
}

.tabs-tab {
    border: 1px solid #f1f1f1;
    border-width: 0 0 1px 1px;
    color: #4386fc;
    cursor: pointer;
    font-size: 16px;
    height: 55px;
    -webkit-tap-highlight-color: transparent
}

[lang=bg] .tabs-tab, [lang=ca] .tabs-tab, [lang=es-419] .tabs-tab, [lang=et] .tabs-tab, [lang=fr-CA] .tabs-tab, [lang=gl] .tabs-tab, [lang=ko] .tabs-tab, [lang=lt] .tabs-tab, [lang=nl] .tabs-tab, [lang=no] .tabs-tab, [lang=pt-BR] .tabs-tab, [lang=pt-PT] .tabs-tab, [lang=ro] .tabs-tab, [lang=ru] .tabs-tab, [lang=sl] .tabs-tab, [lang=sr] .tabs-tab, [lang=sv] .tabs-tab, [lang=uk] .tabs-tab, [lang=vi] .tabs-tab {
    height: 80px
}

.tabs-tab:first-child {
    border-left: none
}

.hoverable .tabs-tab:hover {
    background: #4386fc;
    border-bottom-color: #4386fc;
    color: #fff
}

@media only screen and (max-width: 767px) {
    .tabs-tab {
        display: table-cell;
        font-size: 14px;
        line-height: 1.1;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
        vertical-align: middle
    }
}

@media only screen and (max-width: 948px) {
    .tabs-tab {
        width: 50%
    }
}

.tabs-tab.tab-is-active {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAFCAIAAADtz9qMAAAAEElEQVR4AWN0bvvDAAPkcABE0wjfWgkCyAAAAABJRU5ErkJggg==) left bottom repeat-x;
    border-bottom-color: #4386fc
}

.hoverable .tabs-tab.tab-is-active:hover {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAFCAIAAADtz9qMAAAAEElEQVR4AWN0bvvDAAPkcABE0wjfWgkCyAAAAABJRU5ErkJggg==) left bottom repeat-x;
    color: #4386fc
}

.tabs-tab-first {
    border-left-width: 0
}

.tabs-label {
    cursor: pointer;
    display: block;
    padding-bottom: 12px;
    padding-top: 12px
}

@media only screen and (max-width: 767px) {
    .tabs-label {
        display: inline-block
    }
}

.tab-is-active .tabs-label {
    cursor: default
}

.tabs-content {
    position: relative;
    width: 100%
}

@media only screen and (max-width: 767px) {
    .tabs-content-mobile-preserve-height {
        height: auto !important
    }
}

.tabs-detail {
    left: 0;
    letter-spacing: normal;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: -1
}

.tabs-detail.tab-is-active {
    z-index: 1
}

@media only screen and (max-width: 767px) {
    .tabs-detail-mobile-show {
        margin-bottom: 10px;
        opacity: 1 !important;
        position: relative;
        visibility: inherit !important;
        z-index: 1 !important
    }
}

.tabs {
    margin-top: 38px
}

@media only screen and (max-width: 1068px) {
    .tabs {
        overflow: hidden
    }
}

@media only screen and (max-width: 767px) {
    .tabs {
        margin-top: 16px
    }

    .tabs .tabs-detail {
        position: relative
    }
}

.tabs .tabs-content {
    margin-top: 90px
}

@media only screen and (max-width: 767px) {
    .tabs .tabs-content {
        margin-top: 40px;
        padding-top: 10px
    }
}

.tabs-content.with-select .select-menu-wrapper-devices {
    margin-top: 0
}

@media only screen and (max-width: 767px) {
    .tabs-content.with-select {
        height: auto !important;
        margin: 0
    }

    .tabs-content.with-select .select-menu-wrapper-devices {
        margin-bottom: 30px
    }

    .tabs-content.with-select .tabs-detail {
        display: none !important
    }

    .tabs-content.with-select .tabs-detail.select-is-active {
        z-index: 100
    }
}

.select-menu-wrapper {
    background-color: #fafafa;
    display: none;
    position: relative;
    vertical-align: middle;
    width: 100%
}

.select-menu-wrapper .icon {
    position: absolute;
    right: 16px;
    top: 46%
}

@media only screen and (max-width: 767px) {
    .select-menu-wrapper {
        display: table
    }
}

@media only screen and (max-width: 767px) {
    .select-menu-wrapper-devices {
        margin-top: 30px
    }
}

.select-menu {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #4386fc;
    cursor: pointer;
    display: none;
    font-size: 14px;
    height: 55px;
    letter-spacing: 0;
    outline: none;
    padding: 0 16px;
    position: relative;
    width: 100%;
    -webkit-tap-highlight-color: transparent
}

@media only screen and (max-width: 767px) {
    .select-menu {
        display: table-cell
    }
}

.select-menu-list {
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    height: 0;
    left: 0;
    list-style: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 42px;
    width: 100%
}

.select-menu-list.select-is-active {
    height: auto
}

.select-menu-option {
    display: block;
    padding: 8px;
    width: 100%
}

.select-menu-option:hover {
    background: #fafafa
}

.select-menu-option.select-is-active {
    background: #9acd00;
    color: #fff
}

@media only screen and (max-width: 767px) {
    .select-menu-item {
        display: none !important
    }

    .select-menu-item.select-is-active {
        display: block !important
    }
}

.buttons-sprite, .dropdown-list .download-desktop a, .dropdown-list .download-android a, .dropdown-list .download-ios a {
    background-image: url("../images/drive/buttons.png");
    background-repeat: no-repeat
}

.buttons-2x-sprite {
    background-image: url("../images/drive/buttons-2x.png");
    background-repeat: no-repeat
}

.dropdown-wrapper {
    float: left;
    font-size: 16px;
    min-width: 50%;
    position: relative;
    text-align: left;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

@media only screen and (max-width: 767px) {
    .dropdown-wrapper {
        float: none;
        max-width: 100%
    }
}

.dropdown-trigger {
    background: #4386fc;
    color: #fff;
    display: block;
    padding: 14px 54px 14px 22px;
    position: relative;
    text-decoration: none;
    white-space: nowrap
}

.dropdown-trigger:hover {
    text-decoration: none
}

.dropdown-trigger:visited {
    color: #fff
}

.dropdown-trigger .icon {
    margin-top: -6px;
    position: absolute;
    right: 22px;
    top: 56%;
    pointer-events: none
}

.dropdown-list {
    background: #fff;
    display: block;
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    width: 100%
}

@media only screen and (max-width: 767px) {
    .dropdown-list {
        position: static
    }
}

.dropdown-list a {
    background-size: 52px 312px;
    border: 1px solid #e7e7e7;
    border-width: 0 1px 1px 1px;
    color: #4c4c4c;
    display: block;
    padding: 14px 22px 14px 56px;
    white-space: nowrap
}

.dropdown-list a:visited {
    color: #4c4c4c
}

.dropdown-list a:hover {
    color: #4386fc
}

.dropdown-list .download-desktop a {
    background-position: 0 -104px
}

.dropdown-list .download-desktop a:hover, .dropdown-list .download-desktop a.dropdown-desktop-hover {
    background-position: 0 -156px
}

.dropdown-list .download-android a {
    background-position: 0 0
}

.dropdown-list .download-android a:hover, .dropdown-list .download-android a.dropdown-android-hover {
    background-position: 0 -52px
}

.dropdown-list .download-ios a {
    background-position: 0 -208px
}

.dropdown-list .download-ios a:hover, .dropdown-list .download-ios a.dropdown-ios-hover {
    background-position: 0 -260px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5) {
    .dropdown-list .download-desktop a, .dropdown-list .download-android a, .dropdown-list .download-ios a {
        background-image: url("../images/drive/buttons-2x.png")
    }
}

.dropdown-wrapper:hover .dropdown-list {
    max-height: 200px
}

.mobile-device .index .section-panel-fullscreen {
    min-height: 480px
}

@media only screen and (max-width: 767px) {
    .index .section-panel-fullscreen {
        min-height: 480px
    }
}

@media only screen and (max-width: 767px) {
    .index .section-filesanywhere, .index .section-filetypes, .index .section-share {
        height: auto !important;
        margin: 0 auto;
        max-width: 86%
    }
}

.index .section-filesanywhere .content, .index .section-filetypes .content, .index .section-share .content {
    min-height: 300px
}

@media only screen and (max-width: 767px) {
    .index .section-filesanywhere .content, .index .section-filetypes .content, .index .section-share .content {
        min-height: 40px
    }
}

.index .section-photo-pack {
    background-position: center bottom
}

.index .section-filesanywhere {
    padding: 50px 0
}

@media only screen and (min-width: 768px) {
    .index .section-filesanywhere p {
        width: 90%
    }

    .index .section-filesanywhere .example {
        height: 520px
    }
}

.index .section-share img, .index .section-share video {
    margin-bottom: 12px
}

.index .section-share p {
    margin-left: auto;
    margin-right: auto;
    max-width: 810px
}

@media only screen and (min-width: 768px) {
    .index .section-share p {
        width: 70%
    }
}

.index .section-download {
    position: static
}

.index .section-download .button-download {
    margin-bottom: 16px
}

.index .section-download .text-link {
    color: #bdbbbc;
    font-size: 16px;
    text-decoration: none
}

.index .section-download .text-link:hover {
    border-bottom: 1px solid #bdbbbc;
    text-decoration: none
}

.index .section-download .text-link .icon {
    margin-left: 6px
}

@media only screen and (max-width: 767px) {
    .index .section-download {
        height: auto !important;
        min-height: 400px;
        padding: 60px 0
    }

    .index .section-download .section-centered {
        margin-top: auto !important;
        position: static;
        top: 0
    }
}

.index .mobile-button-selector {
    display: none
}

.index .mobile-button-selector a {
    display: none
}

@media only screen and (max-width: 767px) {
    .index .mobile-button-selector {
        display: block
    }
}

@media only screen and (max-width: 767px) {
    .index .mobile-is-hidden {
        display: none
    }

    .index .section-intro .section-centered {
        padding-bottom: 100px;
        padding-top: 20px
    }
}

.mobile-device .using-drive .section-panel-fullscreen {
    min-height: 420px
}

@media only screen and (max-width: 767px) {
    .using-drive .section-panel-fullscreen {
        min-height: 420px
    }
}

.using-drive .unfixed-wrapper section {
    padding: 50px 0
}

.using-drive .tabs-content {
    margin-top: 20px
}

@media only screen and (max-width: 767px) {
    .using-drive .tabs-content {
        margin-top: 0
    }
}

@media only screen and (min-width: 768px) {
    .using-drive .tabs-detail .maia-cols {
        height: 400px
    }

    .using-drive .tabs-detail .maia-col-6 {
        display: table;
        height: 100%;
        table-layout: fixed
    }

    .using-drive .tabs-detail .maia-col-6 .copy-wrapper, .using-drive .tabs-detail .maia-col-6 .img-wrapper {
        display: table-cell;
        font-size: 21px;
        font-weight: 300;
        line-height: 1.5;
        vertical-align: middle
    }

    .using-drive .tabs-detail .maia-col-6 .copy-wrapper img, .using-drive .tabs-detail .maia-col-6 .img-wrapper img {
        display: block;
        margin: 0 auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 767px) {
    .using-drive .tabs-detail .maia-col-6 .copy-wrapper, .using-drive .tabs-detail .maia-col-6 .img-wrapper {
        font-size: 16px
    }
}

@media only screen and (max-width: 767px) {
    .using-drive .tabs-detail .maia-col-6 .img-wrapper img {
        display: block;
        margin: 30px auto 0 auto;
        max-height: 300px;
        max-width: 70%
    }

    .using-drive .section-divider {
        height: auto !important
    }

    .using-drive .js-hinted-fullscreen {
        height: auto !important
    }

    .using-drive .tablizer {
        display: table
    }

    .using-drive .tablizer .table-top {
        display: table-header-group
    }

    .using-drive .tablizer .table-bottom {
        display: table-footer-group
    }
}

body.download {
    background: #fff
}

.download .download-option {
    margin: 0 0 42px 0;
    max-width: 328px
}

.download .download-option p {
    font-size: 16px
}

.download .download-option .button-download {
    margin: 6px 0 0 0
}

.download .download-options-wrapper {
    display: none
}

.download .section-intro {
    background: #fff;
    min-height: 560px;
    overflow: visible
}

.download .section-intro .heading-headline {
    font-size: 60px;
    line-height: 1.2
}

@media only screen and (max-width: 767px) {
    .download .section-intro .heading-headline {
        font-size: 36px
    }
}

.download .section-intro p {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.3;
    margin: 18px 0 28px 0
}

@media only screen and (max-width: 767px) {
    .download .section-intro p {
        font-size: 16px
    }
}

@media only screen and (max-width: 767px) {
    .download .section-intro {
        height: auto !important;
        margin: 0 auto;
        max-width: 86%;
        padding-top: 80px;
        position: static !important
    }
}

@media only screen and (min-width: 768px) {
    .download .section-intro .example {
        height: 520px
    }
}

.download .content-alternate {
    display: none
}

.for-work section {
    padding: 66px 0 70px 0;
    text-align: center
}

.for-work .section-intro {
    background-repeat: none;
    background-size: cover;
    left: 0;
    padding: 120px 0;
    position: fixed;
    top: 0;
    width: 100%
}

.for-work .section-intro h1 {
    text-align: center
}

.for-work .button-download {
    font-size: 14px;
    margin-top: 22px;
    padding: 12px 18px
}

.for-work .button-download:hover {
    text-decoration: none
}

.for-work .section-centered h2 {
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto
}

.for-work .section-centered .maia-columns {
    text-align: left
}

.for-work .section-centered h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.667;
    margin: 0
}

@media only screen and (max-width: 767px) {
    .for-work .section-centered h3 {
        font-size: 14px
    }
}

.for-work .section-forwho {
    padding-bottom: 0
}

.for-work .section-forwho .section-body, .for-work .section-forwho .list-features {
    text-align: left
}

[dir=rtl] .for-work .section-forwho .section-body, [dir=rtl] .for-work .section-forwho .list-features {
    text-align: right
}

.for-work .section-forwho .content {
    border-bottom: 1px solid #e7e7e7;
    position: relative
}

.for-work .section-forwho .content:before {
    background: #e7e7e7;
    content: "\0020";
    display: block;
    height: 94%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px
}

@media only screen and (max-width: 1100px) {
    .for-work .section-forwho .maia-col-5 {
        width: 47.0238095238%
    }

    .for-work .section-forwho .maia-col-2 {
        display: none
    }
}

.for-work .section-learn {
    border-top: 1px solid #e7e7e7;
    padding-top: 50px
}

.for-work .section-learn h2 {
    margin-bottom: 38px
}

@media only screen and (max-width: 767px) {
    .for-work .section-forwho .content {
        padding-left: 20px;
        padding-right: 20px
    }

    .for-work .section-forwho .content:before {
        display: none
    }

    .for-work .section-forwho .section-body {
        min-height: 0 !important
    }

    .for-work .section-learn {
        padding-left: 20px;
        padding-right: 20px
    }

    .for-work .section-learn .team-features {
        min-height: 0 !important
    }
}

.for-work .float-in {
    display: none !important
}

.list-features {
    font-size: 14px;
    list-style: none;
    margin: 28px 0 40px 0;
    padding: 0
}

@media only screen and (max-width: 767px) {
    .list-features {
        font-size: 12px
    }
}

.list-features li {
    border-bottom: 1px solid #e7e7e7;
    padding: 8px 0 10px 0
}

.list-features li.heading {
    color: #4386fc
}

.list-features strong {
    color: #333
}

.team-feature {
    border: 1px solid #e7e7e7;
    font-size: 13px;
    padding: 0 0 12px 0;
    text-align: left
}

@media only screen and (max-width: 767px) {
    .team-feature {
        font-size: 12px
    }
}

.team-feature img {
    display: block;
    margin: 0 auto 12px auto
}

.team-feature img.poster {
    width: 100%
}

.team-feature blockquote {
    font-style: normal;
    margin: 6px 10px 20px 10px
}

.team-feature blockquote p {
    text-indent: -5px
}

.team-feature cite {
    display: block;
    margin: 0 10px
}

.team-feature a {
    margin: 0 10px
}

html.no-mq body {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%
}

@media only screen and (max-width: 767px) {
    .header {
        background: #fff;
        position: fixed;
        -webkit-transition: none;
        transition: none
    }

    .header:before {
        background: #e7e7e7;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1
    }

    .header .site-logo-link {
        color: #555 !important
    }

    .header .site-logo-link:visited {
        color: #555 !important
    }

    .site-logo-image {
        background-image: url("http://storage.googleapis.com/iogrow-gs/Logo-iogrow-gray.png");
        background-position: 0;
    !important
    }

    .toggle-nav-open {
        background-position: 0 -174px
    }

    .section-centered {
        opacity: 1 !important
    }
}

.mobile-device .button-download.mobile-is-hidden {
    display: none !important
}

.mobile-device .mobile-button-selector {
    display: block !important
}

.mobile-device .float-in {
    display: none !important
}

[dir="rtl"] .header {
    left: auto;
    right: 0
}

[dir="rtl"] .header-item {
    float: right
}

@media only screen and (max-width: 767px) {
    [dir="rtl"] .header-item {
        margin-left: 0;
        margin-right: -14px
    }
}

[dir="rtl"] .site-logo {
    margin-left: 0;
    margin-right: 22px
}

@media only screen and (max-width: 767px) {
    [dir="rtl"] .site-logo {
        margin-right: 0
    }
}

[dir="rtl"] nav {
    float: left;
    margin-left: 0;
    margin-right: 4px
}

[dir="rtl"] nav ul {
    margin: 0 !important
}

[dir="rtl"] nav li {
    float: right
}

[dir="rtl"] nav .last-default {
    margin-left: 10px;
    margin-right: 0
}

[dir="rtl"] .mobile-nav-toggle {
    left: 16px;
    right: auto
}

[dir="rtl"] .toggle-nav-open, [dir="rtl"] .toggle-nav-closed {
}

[dir="rtl"] .toggle-nav-closed {
    left: auto;
    right: 3px
}

@media only screen and (max-width: 948px) {
    [dir="rtl"] nav ul {
        margin: 0 30px
    }

    [dir="rtl"] nav li {
        float: none
    }
}

[dir="rtl"] .column.with-copy {
    float: right
}

[dir="rtl"] .column-right.with-copy {
    margin-left: 0;
    margin-right: 55%
}

[dir="rtl"] .column-left.with-copy {
    margin-left: 50%;
    margin-right: 0
}

[dir="rtl"] .column-left.with-example .example {
    left: 10px;
    right: auto
}

[dir="rtl"] .column-right.with-example {
    left: auto;
    right: 54.16667%
}

@media only screen and (max-width: 767px) {
    [dir="rtl"] .column.with-copy {
        float: none;
        margin: 0
    }
}

[dir="rtl"] .text-left, [dir="rtl"] .grid-content, [dir="rtl"] .tabs-list, [dir="rtl"] .tabs-detail, [dir="rtl"] .tabs-list, [dir="rtl"] .tabs-detail {
    text-align: right !important
}

[dir="rtl"] .footnotes {
    margin-right: 20px
}

[dir="rtl"] .dropdown-wrapper {
    float: right;
    text-align: right
}

[dir="rtl"] .dropdown-trigger {
    padding-left: 54px;
    padding-right: 22px
}

[dir="rtl"] .dropdown-trigger .icon {
    left: 22px;
    right: auto
}

[dir="rtl"] .dropdown-list {
    margin: 0
}

[dir="rtl"] .dropdown-list a {
    background-position-x: right !important;
    padding-left: 22px;
    padding-right: 56px
}

[dir="rtl"] .tabs-tab:first-child {
    border-left: 1px solid #f1f1f1
}

[dir="rtl"] .tabs-tab:last-child {
    border-left: none
}

[dir="rtl"] .select-menu-wrapper .icon {
    left: 16px;
    right: auto
}

[dir="rtl"] .index .section-share .static-example {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1)
}

[dir="rtl"] .for-work .section-centered .maia-columns, [dir="rtl"] .for-work .team-feature {
    text-align: right
}

#dci-butterBar-container {
    top: 317px !important
}

@media only screen and (max-width: 767px) {
    #dci-butterBar-container {
        top: 286px !important
    }
}

@media only screen and (max-width: 420px) {
    #dci-butterBar-container {
        top: 432px !important
    }
}

.action {
    padding-top: 22px
}

#dci-form-container {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 100%
}

#dci-email-widget-box {
    background: transparent;
    height: auto;
    width: auto
}

#dci-component-container, #dci-get-started {
    display: table-cell;
    float: none
}

#dci-component-container {
    margin-bottom: 0;
    padding-right: 8px;
    width: auto
}

#dci-get-started {
    width: 10px
}

#email-form-element {
    font-size: 14px;
    margin: 0 !important
}

#email-form-element label {
    display: block;
    text-align: left;
    width: 100%
}

#emailAddress {
    border-radius: 0;
    box-sizing: border-box;
    font-size: 14px;
    height: auto;
    padding: 12px 18px;
    width: 100%
}

#dci-email-widget-box #dci-form-container #dci-get-started #getStartedButton {
    background: #4386fc !important;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.54;
    margin-right: 0;
    padding: 12px 18px;
    text-shadow: none
}

#dci-email-widget-box #dci-form-container #dci-get-started #getStartedButton:hover {
    background: #2263d6
}

#getStartedButton {
    height: auto
}

#dci-no-email a {
    display: none
}

#emailAddress-errormsgcontainer {
    background: #fff9e8;
    border: 1px solid #ffe9a8;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    line-height: 1.54;
    margin: 8px 0 0 0;
    padding: 6px;
    position: static;
    text-align: center;
    width: 100%
}

#emailAddress-errormsgcontainer:before, #emailAddress-errormsgcontainer:after {
    display: none !important
}

#dci-verificationEmailSentMsgDiv {
    background: #fff9e8;
    border: 1px solid #ffe9a8;
    font-size: 14px;
    line-height: 1.4 !important;
    margin: 0 auto !important;
    padding: 20px !important
}

#dci-msg-sent, #dci-msg-resent {
    font-size: 14px !important;
    font-weight: 600;
    overflow: hidden
}

#dci-sent-msg-info {
    font-size: 14px !important;
    line-height: 1.54 !important;
    margin-top: 1.3em
}

#pricing {
}

@media (max-width: 768px) {
    .col4 {
        width: 100% !important;
    }

    .googleAppsImg {
        width: 60% !important;
    }
}

@media (max-width: 480px) {
    .googleAppsImg {
        width: 100% !important;
    }
}