<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- string for testing welcome page:  hala iogrow -->
        <meta charset="utf-8"
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title> ioGrow, CRM for Social Selling on Google</title>
        <meta name="description" content="io Grow is a beautiful Social CRM that is built on Google and for Social Selling, smoothly integrated with Google Apps and Social Networks." />
        <meta name="keywords" content="CRM, Social Selling, Sales, Social networks, Google, Pipeline, Leads, Prospects, Social crm, Google apps, " />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" id="mobile-viewport">
        <link rel="icon" type="image/png" href="/static/src/img/favicon.png">
        <!--[if IE]><link rel="shortcut icon" href="/static/src/img/favicon.ico"/><![endif]-->
        <link type="text/css" rel="stylesheet" media="screen, print" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic" />
        <link type="text/css" rel="stylesheet" media="screen, print" href="//fonts.googleapis.com/css?family=Actor%3Aregular&amp;subset=latin" />
        <link rel="stylesheet" href="/static/src/css/landing_styles.css">
        <script type="text/javascript">(function (e, b) {
            if (!b.__SV) {
                var a, f, i, g;
                window.mixpanel = b;
                b._i = [];
                b.init = function (a, e, d) {
                    function f(b, h) {
                        var a = h.split(".");
                        2 == a.length && (b = b[a[0]], h = a[1]);
                        b[h] = function () {
                            b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
                        }
                    }

                    var c = b;
                    "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
                    c.people = c.people || [];
                    c.toString = function (b) {
                        var a = "mixpanel";
                        "mixpanel" !== d && (a += "." + d);
                        b || (a += " (stub)");
                        return a
                    };
                    c.people.toString = function () {
                        return c.toString(1) + ".people (stub)"
                    };
                    i = "disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                    for (g = 0; g < i.length; g++)f(c, i[g]);
                    b._i.push([a, e, d])
                };
                b.__SV = 1.2;
                a = e.createElement("script");
                a.type = "text/javascript";
                a.async = !0;
                a.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === e.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
                f = e.getElementsByTagName("script")[0];
                f.parentNode.insertBefore(a, f)
            }
        })(document, window.mixpanel || []);
        mixpanel.init("793d188e5019dfa586692fc3b312e5d1");</script><!-- end Mixpanel -->
    </head>
    <body>
     <div>
        <div class="container">
            <div class="logoSection">
                <a href="/">
                    <img src="/static/src/img/iogrow-logo.png" alt="ioGrow crm logo">
                </a>
            </div>
            <div class="bigTitle">
                <h1>CRM for Social Selling, on Google.</h1>
            </div>
            <div class="smTitle">
                <h2>Integrated with LinkedIn, Twitter, Facebook & Gmail.</h2>
            </div>
            <div class="signIn">
                 <button class="g-signin"
                              data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/calendar  https://www.google.com/m8/feeds https://mail.google.com https://www.googleapis.com/auth/gmail.compose"
                              data-requestvisibleactions="http://schemas.google.com/AddActivity"
                              data-clientId="{{ CLIENT_ID }}"
                              data-callback="onSignInCallback"
                              data-theme="dark"
                              data-cookiepolicy="single_host_origin"
                              data-width="wide"
                              data-height="tall">
                </button>
            </div>
        </div>  
     </div>
     <div class="overviewImage bgGray">
        <div class="container">
            <div class="imageHolder">
                <img src="/static/src/img/main-img.png" alt="ioGrow overview image">
            </div>
        </div>
     </div>
     <div class="topFeatures">
        <div class="container">
            <div class="featuresTitle">
                <h2>Top Three ioGrow Features</h2>
            </div>
            <div class="featureDesc">
                <div class="imgBlock">
                    <img src="/static/src/img/new-lead.png">
                </div>
                <div class="descBlock">
                    <h3>No data entry, developed to be smart</h3>
                    <p>ioGrow is smoothly integrated with major social networks, you just enter your contact's name and last name and we will suggest you some potential profiles from LinkedIn and Twitter related to your contact. ioGrow brings LinkedIn and Twitter profiles right to you.</p>  
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="featureDesc">
                <div class="imgBlock hideLg">
                    <img src="/static/src/img/save-to-io.png">
                </div>
                <div class="descBlock">
                    <h3>Social CRM, designed to work social</h3>
                    <p> With io Grow Chrome extension, it's just one click
                        to add a new leads from Social networks to ioGrow. 
                        No need to spend time on data entry, focus on what matters the most, your customers.
                    </p>
                    <ul class="snList snTopList">
                        <li class="textLi">Works with: </li>
                        <li><img src="/static/src/img/linkedin.png"></li>
                        <li><img src="/static/src/img/twitter.png"></li>
                        <li><img src="/static/src/img/facebook.png"></li>
                        <li><img src="/static/src/img/angellist.png"></li>
                        <li><img src="/static/src/img/gmail.png"></li>
                        <div class="clearfix"></div>
                    </ul>
                    <p style="text-align: center;">
                        <a  style="width: 229px; height: 43px;" href="https://chrome.google.com/webstore/detail/iogrow-social-selling-too/eafcehcahfabjibkmffekmcnlnnopkni">
                            <input style="width: 229px; height: 43px;" class="image-button" type="image" alt="" src="/static/src/img/chrome-extension.png" style="margin-top: ;">
                        </a>
                    </p>
                </div>
                <div class="imgBlock hideSm">
                    <img src="/static/src/img/save-to-io.png">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
     </div>
     <div class="googleApps bgGray">
            <div class="containerGapps">
                    <div class="descBlock">
                        <h3>Built to speak with Google Apps</h3>
                        <p> ioGrow is designed to work the way you work. Seamlessly integrated with Google apps that you already love & use, it's much easier for your team to create, collaborate, communicate and share. 
                        </p>
                    </div>
                    <div class="imgBlock">
                        <img src="/static/src/img/gapps.png">
                    </div>
            </div>
     </div>
     <div class="syncOptions">
        <div class="container">
         <div class="gmailSync">
                <div class="imageBlock">
                    <img src="/static/src/img/gmail-big.png">
                </div>
                <div class="descBlock">
                    <h3>Sync Gmail With io Grow</h3>
                    <p> Our Chrome Extension delivers a seamless integration with Gmail, allowing users to save contacts as leads inside ioGrow CRM.
                    </p>
                </div>
        </div>
        <div class="driveSync">
                <div class="imageBlock">
                    <img src="/static/src/img/drive.png">
                </div>
                <div class="descBlock">
                    <h3>Store, sync & share from within</h3>
                    <p> Create, edit, share and manage Docs, Spreadsheets and Presentations with your contacts, search or browse your files in Google Drive, all from within ioGrow.
                    </p>
                </div>
        </div>
        <div class="calendarSync">
                <div class="imageBlock">
                    <img src="/static/src/img/calendar.png">
                </div>
                <div class="descBlock">
                    <h3>2-way sync with Google Calendar</h3>
                    <p> Spend less time planning and more time with customers, because ioGrow events, tasks & reminders are automatically synced with your Google calendar.
                    </p>
                </div>
        </div>
        <div class="clearfix"></div>
       </div>
     </div>
     <div class="ioGrowPlan bgGray">
        <div class="container">
            <div class="planTitle">
                <h2>Start using ioGrow for free</h2>
            </div>
            <div class="smPlanTitle">
                <h3>No credit card required. Get your freemium account now!</h3>
            </div>
            <div class="signIn">
                 <button class="g-signin"
                              data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/calendar  https://www.google.com/m8/feeds https://mail.google.com https://www.googleapis.com/auth/gmail.compose"
                              data-requestvisibleactions="http://schemas.google.com/AddActivity"
                              data-clientId="{{ CLIENT_ID }}"
                              data-callback="onSignInCallback"
                              data-theme="dark"
                              data-cookiepolicy="single_host_origin"
                              data-width="wide"
                              data-height="tall">
                </button>
            </div>
            <div class="ioPlan">
                <table class="planTable">
                    <tbody>
                        <tr>
                            <th style="background: #EFF2F5;"></th>
                            <th class="middleRow">Basic</th>
                            <th>Awesome</th>
                        </tr>
                        <tr>
                            <td class="planType">Features</td>
                            <td class="planType middleRow">Free</td>
                            <td class="planType">
                            <p style="margin: 0px"> 
                               <span> $15</span>
                            </p> 
                            <p style="margin: 0px"> 
                                <span style="font-size: 14px;line-height: 20px">per user per month</span>
                            </p>     
                            </td>        
                        </tr>
                        <tr class="planDetails">
                            <td class="title">Sales process management</td>
                            <td class="middleRow"><img src="/static/src/img/blue-check.png" alt="available option"></td>
                            <td><img src="/static/src/img/blue-check.png" alt="available option"></td>        
                        </tr>
                        <tr class="planDetails">
                            <td class="title">Lead Generation</td>
                            <td class="middleRow"><img src="/static/src/img/blue-check.png" alt="available option"></td>
                            <td><img src="/static/src/img/blue-check.png" alt="available option"></td>        
                        </tr>
                        <tr class="planDetails">
                            <td class="title">Contact Managment</td>
                            <td class="middleRow"><img src="/static/src/img/blue-check.png" alt="available option"></td>
                            <td><img src="/static/src/img/blue-check.png" alt="available option"></td>        
                        </tr>
                        <tr class="planDetails">
                            <td class="title">Tasks Management</td>
                            <td class="middleRow"><img src="/static/src/img/blue-check.png" alt="available option"></td>
                            <td><img src="/static/src/img/blue-check.png" alt="available option"></td>        
                        </tr>
                        <tr class="planDetails">
                            <td class="title">Team Collaboration</td>
                            <td class="middleRow"><img src="/static/src/img/blue-check.png" alt="available option"></td>
                            <td><img src="/static/src/img/blue-check.png" alt="available option"></td>        
                        </tr>
                        <tr class="planDetails">
                            <td class="title">Custom fields</td>
                            <td class="middleRow"><img src="/static/src/img/blue-check.png" alt="available option"></td>
                            <td><img src="/static/src/img/blue-check.png" alt="available option"></td>        
                        </tr>
                        <tr class="planDetails">
                            <td class="title">Google Calendar sync</td>
                            <td class="middleRow"><img src="/static/src/img/blue-check.png" alt="available option"></td>
                            <td><img src="/static/src/img/blue-check.png" alt="available option"></td>        
                        </tr>
                        <tr class="planDetails">
                            <td class="title">Tasks Management</td>
                            <td class="middleRow"><img src="/static/src/img/blue-check.png" alt="available option"></td>
                            <td><img src="/static/src/img/blue-check.png" alt="available option"></td>        
                        </tr>
                        <tr class="planDetails">
                            <td class="title">Records limit by organization</td>
                            <td class="middleRow planDiffs">LIMITED</td>
                            <td class="planDiffs">UNLIMITED</td>        
                        </tr>
                        <tr class="planDetails">
                            <td class="title">Social Network integration</td>
                            <td class="middleRow">
                                <ul class="snList">
                                    <li><img src="/static/src/img/linkedin.min.png"></li>
                                    <li><img src="/static/src/img/twitter.min.png"></li>
                                    <li><img src="/static/src/img/facebook.min.png"></li>
                                    <li><img src="/static/src/img/angellist.min.png"></li>
                                    <li><img src="/static/src/img/gmail.min.png"></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </td>
                            <td>
                                <ul class="snList">
                                    <li><img src="/static/src/img/linkedin.min.png"></li>
                                    <li><img src="/static/src/img/twitter.min.png"></li>
                                    <li><img src="/static/src/img/facebook.min.png"></li>
                                    <li><img src="/static/src/img/angellist.min.png"></li>
                                    <li><img src="/static/src/img/gmail.min.png"></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </td>        
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>
     </div>
     <div class="footer">
        <div class="container">
            <div class="footerContactContainer">
                <ul class="snList footerContact">
                    <li>228 Hamilton Avenue, Palo Alto, CA 94301</li>
                    <li>Tel : +1 (650) 353-2399</li>
                    <li>
                        <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Email us</a>, or follow us on Twitter:<a href="https://twitter.com/iogrow">@ioGrow</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/iogrow">Facebook</a>
                    </li>
                    <li>
                        <a href="http://blog.iogrow.com/">ioGrow Blog</a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="footerMenuContainer">
                <ul class="snList footerMenu">
                    <li>
                        <a href="http://app.iogrow.com/partners/">Partners</a>
                    </li>
                    <li>
                        <a href="http://www.copylead.com/">Salesforce</a>
                    </li>
                    <li>
                        <a href="/terms-of-services/"> Terms of service</a>
                    </li>
                    <li>
                        <a href="/privacy/">Privacy policy</a>
                    </li>
                    <li>
                        <a href="/security/">Security information</a>
                    </li>
                    <li>
                        <a href="https://gcdc2013-iogrow.appspot.com/_ah/api/explorer">API&DOCS</a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
     </div>
     <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
         <script type=text/javascript>!function () {
        var e = document.createElement("script");
        e.type = "text/javascript", e.async = !0, e.src = "https://plus.google.com/js/client:plusone.js";
        var t = document.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(e, t)
    }();</script>
    <script type=text/javascript>(function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    if (window.location.host != "localhost") {
        {%if user %}
            ga('create', 'UA-52188380-1', {'userId': {{user.google_user_id}}});
            ga('send', 'pageview');
        {% else %}
            ga('create', 'UA-52188380-1', 'auto');
            ga('send', 'pageview');
        {% endif %}
    }</script>
    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $('#loading').show();
        });
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results)
                return results[1] || 0;
            return 0;
        }
        var helper = (function () {
            var authResult = undefined;

            return {
                /**
                 * Hides the sign-in button and connects the server-side app after
                 * the user successfully signs in.
                 *
                 * @param {Object} authResult An Object which contains the access token and
                 *   other authentication information.
                 */
                onSignInCallback: function (authResult) {
                    $('#authResult').html('Auth Result:<br/>');

                    if (authResult['access_token']) {
                        // The user is signed in
                        this.authResult = authResult;
                        if (typeof(Storage) != "undefined") {
                            localStorage['is_signed_in'] = true;
                            localStorage['access_token'] = authResult.access_token;
                            localStorage['authResultexpiration'] = authResult.expires_at;
                        }
                        helper.connectServer();


                    } else if (authResult['error']) {
                        // There was an error, which means the user is not signed in.
                        // As an example, you can troubleshoot by writing to the console:
                        $('#authResult').append('Logged out');
                        $('#authOps').hide('slow');
                        $('#gConnect').show();
                    }
                },
                /**
                 * Retrieves and renders the authenticated user's Google+ profile.
                 */
                renderProfile: function () {
                    var request = gapi.client.plus.people.get({'userId': 'me'});
                    request.execute(function (profile) {
                        $('#profile').empty();
                        if (profile.error) {
                            $('#profile').append(profile.error);
                            return;
                        }
                        $('#profile').append(
                                $('<p><img src=\"' + profile.image.url + '\"></p>'));
                        $('#profile').append(
                                $('<p>Hello ' + profile.displayName + '!<br />Tagline: ' +
                                        profile.tagline + '<br />About: ' + profile.aboutMe + '</p>'));
                        if (profile.cover && profile.coverPhoto) {
                            $('#profile').append(
                                    $('<p><img src=\"' + profile.cover.coverPhoto.url + '\"></p>'));
                        }
                    });
                    $('#authOps').show('slow');
                    $('#gConnect').hide();
                },
                /**
                 * Calls the server endpoint to disconnect the app for the user.
                 */
                disconnectServer: function () {
                    // Revoke the server tokens
                    $.ajax({
                        type: 'POST',
                        url: window.location.href + '/disconnect',
                        async: false,
                        success: function (result) {
                            $('#authOps').hide();
                            $('#profile').empty();
                            $('#visiblePeople').empty();
                            $('#authResult').empty();
                            $('#gConnect').show();
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                },
                /**
                 * Calls the server endpoint to connect the app for the user. The client
                 * sends the one-time authorization code to the server and the server
                 * exchanges the code for its own tokens to use for offline API access.
                 * For more information, see:
                 *   https://developers.google.com/+/web/signin/server-side-flow
                 */
                connectServer: function () {
                    var userId = '{{ID}}';
                    $.ajax({
                        type: 'POST',
                        url: '/gconnect',
                        success: function (result) {
                            var urlParam = $.urlParam('continue_url');

                            if (urlParam) window.location.replace('/#/' + urlParam);
                            else window.location.replace('/');
                        },
                        data: {code: this.authResult.code, id: userId}
                    });
                },
                /**
                 * Calls the server endpoint to get the list of people visible to this app.
                 */
                people: function () {
                    $.ajax({
                        type: 'GET',
                        url: window.location.href + '/people',
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function (result) {
                            helper.appendCircled(result);
                        },
                        processData: false
                    });
                },
                /**
                 * Displays visible People retrieved from server.
                 *
                 * @param {Object} people A list of Google+ Person resources.
                 */
                appendCircled: function (people) {
                    $('#visiblePeople').empty();

                    $('#visiblePeople').append('Number of people visible to this app: ' +
                            people.totalItems + '<br/>');
                    for (var personIndex in people.items) {
                        person = people.items[personIndex];
                        $('#visiblePeople').append('<img src="' + person.image.url + '">');
                    }
                },
            };
        })();

        /**
         * Perform jQuery initialization and check to ensure that you up dated your
         * client ID.
         */

        function onSignInCallback(authResult) {
            helper.onSignInCallback(authResult);
            mixpanel.track("SIGNIN_CLICK");
        }
        /**
         * Calls the helper method that handles the authentication flow.
         *
         * @param {Object} authResult An Object which contains the access token and
         *   other authentication information.
         */



        function playIlyesVideo() {
            var ilyesVideo = $('.video-webm');
            if ($('.video-webm').get(0).paused) {
                $('.video-webm').get(0).play();
            }

        }
        window.IlyesVideoPlayed = false;
        if ($("html").hasClass("mobile-device")) {
            $("body").css("padding-top", "600px");
            $(".section-centered").css("margin-top", "-279.5px");
            $(".section-headline").css("font-size", "30px");
            $(".icon-mobile-close").click(function () {
                if ($(".icon-mobile-close").hasClass("to-close")) {
                    $("body").removeClass("nav-dark");
                    $(".icon-mobile-close").removeClass("to-close");
                    $("body").addClass("nav-light");
                    $("body").attr("style", "padding-top:600px;");
                    $("header").removeClass("is-active");
                    $("header").attr("style", "");
                } else {
                    $(".icon-mobile-close").addClass("to-close");
                }
                ;
            });
        }
        ;
    </script>
    <script type="text/javascript">
        mixpanel.track("WELCOME_PAGE_VISIT");
        mixpanel.track_links("#blog", "BLOG_CLICKED");
        mixpanel.track_links("#emailus", "EMAIL_US_CLICKED");
        mixpanel.track_links("#twitter", "TWITTER_CLICKED");
        mixpanel.track_links("#facebook", "FACEBOOK_CLICKED");
        mixpanel.track_links("#partners", "PARTNERS_CLICKED");
        mixpanel.track_links("#salesforce", "SALESFORCE_CLICKED");
        mixpanel.track_links("#terms", "TERMS_CLICKED");
        mixpanel.track_links("#privacy", "PRIVACY_CLICKED");
        mixpanel.track_links("#security", "SECURITY_CLICKED");
        mixpanel.track_links("#api", "API_CLICKED");
        mixpanel.track_links("#extension-iogrow", "EXTENSION_CLICKED");
    </script>
     <script src="/static/src/js/landing_scripts.js"></script>
    </body>
</html>