<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>io Grow, CRM for Social Selling on Google</title>
        <meta name="description" content="io Grow is a beautiful Social CRM that is built on Google and for Social Selling, smoothly integrated with Google Apps and Social Networks." />
        <meta name="keywords" content="CRM, Social Selling, Sales, Social networks, Google, Pipeline, Leads, Prospects, Social crm, Google apps, " />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" id="mobile-viewport">
        <link rel="icon" type="image/png" href="/static/src/img/favicon.png">
        <!--[if IE]><link rel="shortcut icon" href="/static/src/img/favicon.ico"/><![endif]-->
        <link type="text/css" rel="stylesheet" media="screen, print" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic" />
        <link type="text/css" rel="stylesheet" media="screen, print" href="//fonts.googleapis.com/css?family=Actor%3Aregular&amp;subset=latin" />
        <link rel="stylesheet" href="/static/build/css/landing.css">
    </head>
    <body>
     <div>
        <div class="container">
            <div class="logoSection">
                <a href="/">
                    <img src="/static/src/img/iogrow-logo.png" alt="ioGrow crm logo">
                </a>
            </div>
            <div class="pageContent">
                <div class="descBlock">
                    <h3>ioGrow Privacy Policy</h3>
                    <p>The privacy of your data — and it is your data, not ours! — is a big deal to us. We’ll only ever access your account to help you with a problem or squash a software bug. All your uploaded files will be securely stored on your own Google Drive account, You only can decide who can see and access those documents.</p>  
                </div>
                 <div class="descBlock">
                   <h3>Identity & access</h3>
                   <p>When you sign up for ioGrow, we ask for your name, company name, and email address. That's just so you can personalize your new account, and we can send you invoices, updates, or other essential information. We’ll never sell your personal info to third parties, and we won’t use your name or company in marketing statements without your permission, either. When you write ioGrow with a question or to ask for help, we'll keep that correspondence, and the email address, for future reference. When you browse our marketing pages, we'll track that for statistical purposes (like conversion rates and to test new designs). We also store any information you volunteer, like surveys, for as long as it makes sense. The only times we’ll ever share your info:</p>
                   <ul>
                       <li>To provide products or services you've requested, with your permission.</li>
                       <li>To investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our Terms of Service, or as otherwise required by law.</li>
                       <li>If ioGrow is acquired by or merged with another company, we’ll notify you well before any info about you is transferred and becomes subject to a different privacy policy.</li>
                   </ul> 
                </div>
                 <div class="descBlock">
                    <h3>Law enforcement</h3>
                    <p>ioGrow won’t hand your data over to law enforcement unless a court order says we have to. We flat-out reject requests from local and federal law enforcement when they seek data without a court order. And unless we're legally prevented from it, we’ll always inform you when such requests are made.</p>
                </div>
                 <div class="descBlock">
                    <h3>Encryption</h3>
                    <p>All data is encrypted via SSL/TLS when transmitted from our servers to your browser. The database backups are also encrypted. Data isn’t encrypted while it's live in our database (since it needs to be ready to send to you when you need it), but we go to great lengths to secure your data at rest — you can read more about that on our security page.</p>
                </div>
                 <div class="descBlock">
                    <h3>Deleted data</h3>
                    <p>When you cancel your account, we'll ensure that nothing is stored on our servers past 30 days. Anything you delete on your account while it's active will also be purged within 30 days (up until then it's available in the trash can).</p> 
                </div>
                 <div class="descBlock">
                    <h3>Changes & questions</h3>
                    <p>ioGrow may update this policy once in a blue moon — we’ll notify you about significant changes by emailing the account owner or by placing a prominent notice on our site. You can access, change or delete your personal information at any time by contacting support@iogrow.com.</p>  
                    <p class="bigPar">Questions about this privacy policy? Please get in touch at support@iogrow.com and we’ll be happy to answer them!</p>
                </div>
            </div>
        </div>  
     </div>
     <div class="footer">
        <div class="container">
            <div class="footerContactContainer">
                <ul class="snList footerContact">
                    <li>228 Hamilton Avenue, Palo Alto, CA 94301</li>
                    <li>Tel : +1 (650) 353-2399</li>
                    <li>
                        <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Email us</a>, or follow us on Twitter:<a href="https://twitter.com/iogrow">@ioGrow</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/iogrow">Facebook</a>
                    </li>
                    <li>
                        <a href="http://blog.iogrow.com/">ioGrow Blog</a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="footerMenuContainer">
                <ul class="snList footerMenu">
                    <li>
                        <a href="http://app.iogrow.com/partners/">Partners</a>
                    </li>
                    <li>
                        <a href="http://www.copylead.com/">Salesforce</a>
                    </li>
                    <li>
                        <a href="/terms-of-services/"> Terms of service</a>
                    </li>
                    <li>
                        <a href="/privacy/">Privacy policy</a>
                    </li>
                    <li>
                        <a href="/security/">Security information</a>
                    </li>
                    <li>
                        <a href="https://gcdc2013-iogrow.appspot.com/_ah/api/explorer">API&DOCS</a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
     </div>
     <script type="text/javascript">
              (function() {
                var po = document.createElement('script');
                po.type = 'text/javascript'; po.async = true;
                po.src = 'https://plus.google.com/js/client:plusone.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
              })();
     </script>
     <script src="/static/src/js/landing.js"></script>
    </body>
</html>