<div class="row subHeader actionsBar">
    <table style="width:100%;height: 55px;">
          <tbody><tr>
            <td class="appTd">
            <div class="btn-group">
                 <a class="filterItem" href="#" data-toggle="dropdown" style="margin-right:0px">
                  {% if active_app.label =="Relationships" %}
                      <img class="app_icon" src="../../static/src/img/sm-iogrow-true.png" style="display:inline-block;height: 20px;margin-right: 3px;">
                      {% else%}
                      <img class="app_icon" src="../../static/src/img/admin_min.png" style="display:inline-block;height: 20px;margin-right: 3px;">
                  {% endif %}
                  <span class="hide_sm">{{_(active_app.label)}}</span>   
                  <i class="icon-angle-down fa fa-angle-down"></i>
                 </a>
                 <ul class="dropdown-menu">
                  {%for application in apps %}
                        {% if application.label =="Relationships" %}
                          <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal"><img class="app_icon" src="../../static/src/img/sm-iogrow-true.png" style="display:inline-block;height: 20px;margin-right: 3px;">{{_(application.label)}}</a></li>
                          {% else%}
                           <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal"><img class="app_icon" src="../../static/src/img/admin_min.png" style="display:inline-block;height: 20px;margin-right: 3px;">{{_(application.label)}}</a></li>
                        
                          {% endif %}
                       

                  {%endfor%}
                 </ul>
             </div>
          </td>
      <td class="middleHeaderTd">
        <div class="subheadContient" style="float: left;vertical-align: middle;">
              <h2 class="page-title" style="margin-left: 5px; font-size:20px;float: left;vertical-align: middle;">
                {{ _("Discovery") }}
              </h2>
              <div class="subHeaderActions" style="vertical-align: middle;padding-left: 15px;">
                <a class="headerBtn" title="Refresh" ng-click="runTheProcess();"> 
                      <i class="fa fa-repeat" style="padding-top: 6px; font-size: 16px;"></i>
                </a>
                <!--<a class="" title="Preview" style="font-size: 16px;color: #737373;cursor: pointer;margin-left: 12px; margin-right: 12px;" ng-click="switchShow()"> 
                      <i class="fa fa-eye" style="padding-top: 6px; font-size: 16px;"></i>
                </a>
                <a class="" title="Share" style="font-size: 16px;color: #737373;cursor: pointer;margin-left: 12px; margin-right: 12px;" ng-click="switchShow()"> 
                      <i class="fa fa-share-square-o" style="padding-top: 6px; font-size: 16px;"></i>
                </a>
                <a class="" title="Convert" style="font-size: 16px;color: #737373;cursor: pointer;margin-left: 12px; margin-right: 12px;" ng-click="switchShow()"> 
                      <i class="fa  fa-refresh" style="padding-top: 6px; font-size: 16px;"></i>
                </a>-->
                <a id="tweets" class="headerBtn" title="Add tags" ng-class="{activeFilter: selectedOption =='my'}" ng-click="back_to_tweets();selectedOption ='my'" ng-hide=" selectedCards.length==0"> 
                      <i class="fa fa-twitter"></i> {{ _("Tweets") }}  
                </a>
                 <a id="influencers" class="headerBtn" title="Add tags" ng-class="{activeFilter: selectedOption =='my'}" ng-click="influencers_V2();selectedOption ='my'" ng-hide=" selectedCards.length==0"> 
                      <i class="fa fa-group"></i> {{ _("Influencers") }}  
                </a>
                 <a id="map" class="headerBtn" title="Add tags" ng-class="{activeFilter: selectedOption =='map'}" ng-click="showMaps();selectedOption ='map'" ng-hide=" selectedCards.length==0"> 
                      <i class="fa fa-map-marker"></i> {{ _("Map") }}  
                </a>
                <div class="btn-group show_md" style="margin-left: 8px; margin-right: 0px; vertical-align: baseline;">
                  <a class="headerBtn" title="More" data-toggle="dropdown"> 
                     <!-- <i class="fa  fa-ellipsis-vertical" style="padding-top: 6px; font-size: 16px;"></i>-->
                     {{ _("More")}}
                  </a>
                  <ul class="dropdown-menu drp-dwn-right">
                    <li>
                      <a class="hide_md" title="Upload" ng-click="showImportModal()"> 
                        <i class="fa fa-cloud-upload"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hide_md" title="Download"  ng-click="ExportCsvFile()"> 
                         <i class="fa fa-cloud-download"></i>
                      </a>
                    </li>                                                         
                  </ul>
              </div> 
              </div>
              <div class="clearfix"></div>
        </div>   
      </td> 
      <td class="settingsTd">
            <div style=" padding-left: 10px;" class="pull-right">
               <div class="btn-group" style="vertical-align: baseline;">
                  <a  class="headerBtn hide_sm" title="Help" style="margin-left: 20px; margin-right: 12px;"  href="#" data-toggle="dropdown" >
                    <i class="fa fa-question-circle" style="padding-top: 0px; font-size: 16px;"></i>
                  </a>
                   <ul class="dropdown-menu drp-dwn-right">
                   
                      <li><a  ng-click="discovery_wizard()" href="#"  data-toggle="modal">{{ _('Show tips ') }}</a></li>
                      <li><a target="new" href="https://www.youtube.com/channel/UCPfenS7B-qZ81sx6tanym0w/videos">{{ _('Videos Help') }}</a></li>
                          <li><a target="new" href="http://blog.iogrow.com/iogrow-faq">{{ _('Faq') }}</a></li> 
                    
                  </ul>
               </div>
               {%for application in apps %}
                 {%if application.label =="Settings" %}
                  <a  href="/apps/{{ application.key.id() }}" class="headerBtn hide_sm" title="Settings" style="margin-left: 20px; margin-right: 12px;" > 
                      <i class="fa fa-gear" style="padding-top: 6px; font-size: 16px;"></i>
                  </a>
                 {%endif%}
               {%endfor%}  
              <div class="btn-group show_sm" style="margin-left: 8px; margin-right: 0px; vertical-align: baseline;">
                  <a class="headerBtn" title="More" data-toggle="dropdown"> 
                      <i class="fa  fa-ellipsis-vertical" style="padding-top: 6px; font-size: 16px;"></i>
                  </a>
                  <ul class="dropdown-menu drp-dwn-right">
                    {%for application in apps %}
                       {%if application.label =="Settings" %}
                        <li>
                        <a  href="/apps/{{ application.key.id() }}" class="" title="Settings" > 
                            <i class="fa fa-gear" style="padding-top: 6px; font-size: 16px;"></i>
                            {{ _("Settings")}}
                        </a>
                        </li> 
                       {%endif%}
                    {%endfor%}                                      
                  </ul>
              </div>           
          </div>
      </td>
          </tr>
          
        </tbody>
  </table>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoadingtweets">
    <div class="loader-dialog col-md-4 col-md-offset-4 ">
      <div class="loader-content">
          {{ _('Loading...')}}
      </div>
    </div>
  </div>
        

  <div class="loader-container row" ng-show="markedAsLead">
    <div class="loader-dialog col-md-4 col-md-offset-4 ">
      <div class="loader-content">
          {{ _('Added to leads...')}}
      </div>
    </div>
  </div>
  <div class="dropOut"  ng-show="showUntag" >
    <div class="trash">
      <img alt="delete tag" droppable ng-drop="dropOutTag()" class="" src="/static/src/img/iotrash.png" >
    </div>
</div>

      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE CONTAINER-->
  <div class="" ng-show="immediateFailed">
    <div class="col-md-12">

        <span id="signin">
                  <span id="myGsignin"></span>
        </span>
    </div>
  </div>
  <div ng-show="isSignedIn" class="listContainer">

        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row subHeaderContainer">
   <!--div class=" col-md-9 col-sm-9 col-xs-9 subHeaderContent">
      <div class="row">
          <h2 class="page-title">{{ _("Discovery") }} </h2>
     </div>
  </div-->
  <!--div class="col-md-3 col-sm-3 col-xs-3">
      <div class="row">
        <div class="pull-right" >
         <a href="/#/discovers/new" class="btn red newBtn">
                       {{_('New Topic')}}
         </a>
      </div>
      </div>
  </div-->
</div>


    <div class="row">
    <div class="col-md-12">
  <div class="row">
  <div class="col-md-12">
    <div class="row ">
    <div class="tab-pane">
    <div class="row ">


    <div ng-show="mapshow" style="height:300px; width:1200px; margin-left:5px; margin-top:0px;" id="map-canvas"/>

    <div ng-show="mapshow && !map_tweets" class="thumbnail blank_slate_body ">
      <img class="col-md-2" src="http://www.brotzer-sport.ch/files/Layout/Bilder/map-icon-1106183457.png"></img>
                <p class="lead">{{ _('Click on any Location to show related tweets.')}}</p>
              </div>

<div class="col-md-12 waterfall2"   ng-hide="blankStatelead">

   <!-- <div ng-show=" !map_tweets && mapshow" class="col-md-12" style="margin-top:5px;" >
          <div  data-span="9" class=" dashboard-stat cards" data-tablet="span6" data-desktop="span12">
            <div class="col-md-12">
              <div class="blank_slate_arrow"></div>
              <div class="thumbnail blank_slate_body fa fa-map-marker">
                <p class="lead">{{ _('Choose Location to show related tweets.')}}</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div> -->
        <!--/inner-cards-container-->


    <div style="margin-top:10px;" ng-show="mapshow" droppable ng-repeat="tweet_map in map_tweets"  id="card_<%=$index%>" class="cardElement tweetCard" ng-drop="dropTag(lead,$index)" ng-mouseenter="showClose= true" ng-mouseleave="showClose = false" style="z-index:109;overflow: visible;">
       
          


                 <div class="detailsSection">
             <div class="head">
             
              <div class="pic">
                      <a href="/#/discovers/show/<%= tweet_map.idp %>*" ng-click="details_of_tweets(tweet_map.idp)"   target="new" class="startup-link" title="account.name">
                
                          <img href="/#/discovers/show/<%= tweet_map.idp %>*" ng-show="tweet_map._source.user.profile_image_url" ng-click="details_of_tweets(tweet_map.id)" target="new" class="img-responsive profile-photo" src="<%=tweet_map._source.user.profile_image_url %>">
                      </a>
              </div>
              <div class="text">
               <!-- <button type="button" class="close deleteLeadBtn" ng-show="showClose" ng-click="editbeforedelete(lead)"></button>-->
                <div class="name">

                   <a href="/#/discovers/show/<%= tweet_map._source.id %>*" target="new" class="profile-link">
                      <%= tweet_map._source.user.name %>
                   </a>
                  
                <span  class="contact-title followers_nb" >
                  <%=tweet_map._source.user.followers_count%> followers
                </span>
        
                </div>
                
              </div>
          </div> 
          <div class="textbody">
              <div class="pitch">
                <a href="/#/discovers/show/<%= tweet_map._source.id %>" target="new"  >
                <p  class="contact-title"> <%=tweet_map._source.text%>
                </p>
              </a>
              </div>
           <!--    <div class="pitch">
                <span  class="contact-title" >
                  <%=fromNow(tweet._source.created_at)%>
                </span>
              </div> -->
         
              <div class="clearfix"></div>
          </div>
          </div>
          <div class="actions-section">
             
              <div class="iogrow-actions pull-left">
                <a class="" href="#" data-toggle="modal" ng-click="markAsLead(tweet_map._source)"><i class="fa fa-road "></i>{{_('Mark as lead')}}</a>
              </div>
              <div class="clearfix"></div>
            </div>
          <div class="tagsSection" ng-class="{hidden: lead.tags==null}">
            <div class="sectionContent">
              <a ng-repeat="tag in lead.tags" href="/#/search/type:Lead tags:<%=tag.id%>"> <span draggable  ng-drag="dragTagItem(tag.edgeKey)" class="pull-right task-label task-tag badge ng-scope ng-binding" style="background-color: <%=tag.color%>;color:<%=idealTextColor(tag.color)%>;">  <%= tag.name %></span>
              </a>
            </div>
          </div>



        </div>



</div>

<div class="col-md-12 waterfall" ng-show="influencersshow" ng-hide="blankStatelead">

        <div  droppable ng-repeat="influencer in influencers_list"  id="card_<%=$index%>"class="cardElement tweetCard" ng-drop="dropTag(lead,$index)" ng-mouseenter="showClose= true" ng-mouseleave="showClose = false" style="z-index:109;overflow: visible;">
       
          


                 <div class="detailsSection">
             <div class="head">
             
              <div class="pic">
                      <a href="/#/discovers/show/<%= influencer.idp %>*" ng-click="details_of_tweets(influencer.idp)"   target="new" class="startup-link" title="account.name">
                
                          <img href="/#/discovers/show/<%= influencer.idp %>*" ng-show="influencer._source.user.profile_image_url" ng-click="details_of_tweets(influencer.id)" target="new" class="img-responsive profile-photo" src="<%=influencer._source.user.profile_image_url %>">
                      </a>
              </div>
              <div class="text">
               <!-- <button type="button" class="close deleteLeadBtn" ng-show="showClose" ng-click="editbeforedelete(lead)"></button>-->
                <div class="name">

                   <a href="/#/discovers/show/<%= influencer._source.id %>*" target="new" class="profile-link">
                      <%= influencer._source.user.name %>
                   </a>
                  
                <span  class="contact-title followers_nb" >
                  <%=influencer._source.user.followers_count%> followers
                </span>
        
                </div>
                
              </div>
          </div> 
          <div class="textbody">
              <div class="pitch">
                <a href="/#/discovers/show/<%= influencer._source.id %>" target="new"  >
                <p  class="contact-title"> <%=influencer._source.user.description%>
                </p>
              </a>
              </div>
           <!--    <div class="pitch">
                <span  class="contact-title" >
                  <%=fromNow(tweet._source.created_at)%>
                </span>
              </div> -->
         
              <div class="clearfix"></div>
          </div>
          </div>
          <div class="actions-section">
             
              <div class="iogrow-actions pull-left">
                <a class="" href="#" data-toggle="modal" ng-click="markAsLead(influencer._source)"><i class="fa fa-road "></i>Mark as lead</a>
              </div>
              <div class="clearfix"></div>
            </div>
          <div class="tagsSection" ng-class="{hidden: lead.tags==null}">
            <div class="sectionContent">
              <a ng-repeat="tag in lead.tags" href="/#/search/type:Lead tags:<%=tag.id%>"> <span draggable  ng-drag="dragTagItem(tag.edgeKey)" class="pull-right task-label task-tag badge ng-scope ng-binding" style="background-color: <%=tag.color%>;color:<%=idealTextColor(tag.color)%>;">  <%= tag.name %></span>
              </a>
            </div>
          </div>



        </div>


</div>

<div class="col-md-12 waterfall3" ng-hide="blankStatelead">

        
        <div ng-repeat="tweet in tweets" droppable  ng-show="tweetsshow" id="card_<%=$index%>"class="cardElement tweetCard" ng-drop="dropTag(lead,$index)" ng-mouseenter="showClose= true" ng-mouseleave="showClose = false" style="z-index:109;overflow: visible;">
       
          <div class="detailsSection">
             <div class="head">
             
              <div class="pic">
                      <a href="/#/discovers/show/<%= tweet.idp %>*" ng-click="details_of_tweets(tweet.idp)"   class="startup-link" title="account.name">
                
                          <img href="/#/discovers/show/<%= tweet.idp %>*" ng-show="tweet._source.user.profile_image_url" ng-click="details_of_tweets(tweet.id)"  class="img-responsive profile-photo" src="<%=tweet._source.user.profile_image_url %>">
                      </a>
              </div>
              <div class="text">
               <!-- <button type="button" class="close deleteLeadBtn" ng-show="showClose" ng-click="editbeforedelete(lead)"></button>-->
                <div class="name">

                   <a href="/#/discovers/show/<%= tweet._source.id %>*" target="new" class="profile-link">
                      <%= tweet._source.user.name %>
                   </a>
                  
                <span  class="contact-title followers_nb" >
                  <%=tweet._source.user.followers_count%> followers
                </span>
        
                </div>
                
              </div>
          </div> 
          <div class="textbody">
              <div class="pitch">
                <a href="/#/discovers/show/<%= tweet._source.id %>" target="new"  >
                <p  class="contact-title"> <%=tweet._source.text%>
                </p>
              </a>
              </div>
              <div class="pitch">
                <span  class="contact-title" >
                  <%=fromNow(tweet._source.created_at)%>
                </span>
              </div>
         
              <div class="clearfix"></div>
          </div>
          </div>
          <div class="actions-section">
              <div class="twitter-actions pull-right">
                
                <a class=""  ng-click="popitup('https://twitter.com/intent/tweet?in_reply_to=<%= tweet._source.id %>')"><i class="fa fa-reply"></i></a>
                <a class="" ng-click="popitup('https://twitter.com/intent/retweet?tweet_id=<%= tweet._source.id %>')"><i class="fa fa-retweet"></i></a>
                <a class="" ng-click="popitup('https://twitter.com/intent/favorite?tweet_id=<%= tweet._source.id %>')"><i class="fa fa-star"></i></a>
              </div>
              <div class="iogrow-actions pull-left">
                <a class="" href="#" data-toggle="modal" ng-click="markAsLead(tweet._source)"><i class="fa fa-road "></i> {{_('Mark as lead')}}</a>
              </div>
              <div class="clearfix"></div>
            </div>
          <div class="tagsSection" ng-class="{hidden: lead.tags==null}">
            <div class="sectionContent">
              <a ng-repeat="tag in lead.tags" href="/#/search/type:Lead tags:<%=tag.id%>"> <span draggable  ng-drag="dragTagItem(tag.edgeKey)" class="pull-right task-label task-tag badge ng-scope ng-binding" style="background-color: <%=tag.color%>;color:<%=idealTextColor(tag.color)%>;">  <%= tag.name %></span>
              </a>
            </div>
          </div>
        </div>
        <div class="loaderCard" ng-show="isLoadingtweets" data-span="all">
          <div class="loaderCardContent">
             <img class="img-responsive " src="/static/src/img/gloader.gif">
             <span>  {{_('Loading...')}}</span>
          </div>
        </div>
      </div><!--/inner-cards-container-->


      <!--$Blank state-->
      <div class="col-md-12 " ng-show="blankStatelead">
        <div  data-span="all" class="dashboard-stat cards" data-tablet="span6" data-desktop="span12">
          <div class="">
            <div class="blank_slate_arrow"></div>
            <div class="thumbnail blank_slate_body">
              <img class="img-responsive" src="/static/src/img/leads_blank.png">
              <p class="lead">
                {{ _('You have leads coming in from a wide variety of sources. Some leads come from lists you acquired, others from business cards and still more from the "contact us" form on your website. i/oGrow help you organize informations about leads so they can be followed up on and qualified quickly.') }}
              </p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!--/inner-cards-container-->
      <div ng-show="!tweets"  class="col-md-12 " ng-show="blankStateaccount">
          <div  data-span="3" class="dashboard-stat cards" data-tablet="span6" data-desktop="span12">
            <div class="">
              <div class="blank_slate_arrow"></div>
              <div class="thumbnail blank_slate_body">
                <p class="lead">{{ _('Now, your customers are talking about topics related to your business on social media. We provide you the right tool to discover them')}}</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div><!--/inner-cards-container-->
         <div ng-show="noresults"  class="col-md-12 " ng-show="blankStateaccount">
          <div  data-span="3" class="dashboard-stat cards" data-tablet="span6" data-desktop="span12">
            <div class="">
              <div class="blank_slate_arrow"></div>
              <div class="thumbnail blank_slate_body">
                <p class="lead">{{ _('No tweets related to those keywords, try another keyword')}}</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
      </div>
    </div>
  </div>
  </div>
  </div>

      <!-- END PAGE CONTAINER-->
</div>
</div>
<div class="fixed-labelsCard visible-md visible-lg">
  
  <div class="row" >
  <div class="col-md-12">
    <div class="portlet showCard" style="padding: 15px;">
      <div class="portlet-title fa-bullhorn">
        <div class="caption ">
                <!-- class="fa fa-reorder"--><i></i>{{_("Topics:")}}
        </div>  
      </div>
      <div class="portlet-body">
        <div class="row">
           
            <ul id="slimList" class="list-group tags-list relatedTags discoveryTags">

              <li ng-repeat="tag_item in tags" class="list-group-item tags-list-item"  ng-class="{selectedTopic: isSelected(tag_item)}">

                <div class="row">

                 <!-- <div class="with-color" style="background-color:<%=tag_item.color%>;color:<%=idealTextColor(tag_item.color)%>;display: inline-block;float: left;">
                       <a href="" ng-click="deleteTag(tag_item)" class="removeRelatedTag select2-search-choice-close" ng-hide="hideCheckBox"></a> 
                    <span  ng-drag="dragTag(tag_item)" id="iii"  draggable  ng-dblclick="editTag(tag_item)" ng-show="(tag_item!=edited_tag)||(!manage_tags)"  
                        ng-model='tag_item.name'  onbeforesave="inlinePatch('tag','', 'title',tag_item,$data)">                     
                        <%= tag_item.name %>
                    </span>
                  </div>-->
                  <div class="with-color" style="display: inline-block;float: left;">
                       <a href="" ng-click="deleteTag(tag_item)" class="removeRelatedTag select2-search-choice-close" ng-hide="hideCheckBox"></a> 
                        <span ng-show="(tag_item!=edited_tag)||(!manage_tags)"  
                            ng-model='tag_item.name' style="font-size: 14px;">                     
                            <%= tag_item.name %>
                        </span>
                  </div>
                  <div class="customCheckbox CustomSmallCheck pull-right" ng-hide="hideCheckBox" style="margin-right:8px">  
                    <input ng-show="accounts" title="Select Task" style=" padding-top: 4px; " type="checkbox" ng-checked="isSelected(tag_item)"  class="checkbox" id="discoveryTag_<%=$index%>"  ng-click="selectTag(tag_item,$index,$event)" >             
                    <label for="discoveryTag_<%=$index%>" class="labelElement">
                      <span class="check"></span>
                      <span class="box"></span>
                    </label>  
                  </div>
                </div>
              </li>
            </ul>
        </div>
        <form class=" newTagForm" role="form" >
            <div class="row">
              <div class="col-md-9 form-group">

                <input type="text" ng-model="tag.name" class="form-control" id="tag_name" placeholder="{{ _('Add a Topic')}}">

              </div>
              <div class="col-md-3">

                  <input type="submit"  ng-click="addNewtag(tag)" class="btn red pull-right" value="{{_('Add')}}">

              </div>
            </div>
            <div class="row">
                <!--<div class="col-md-6">

                  <ul class="color_pallet_menu">

                    <li ng-repeat="color in color_pallet" ng-click="checkColor(color)" class="color-<%=color.name%>" ng-class='{colorChecked: color.name==tag.color.name}' >
                    </li>

                  </ul>

                </div>-->
               <!-- <div class="col-md-3">

                  <input type="submit"  ng-click="addNewtag(tag)" class="btn red pull-right" value="{{_('Add')}}">

                </div>-->
            </div>
        </form>
    <!--     <div class="form-group btn-manage-tags" ng-show="tags">
          <button class="btn btn-default btn-block " ng-click="manage_tags=!manage_tags;manage()">{{ _('Manage Topics')}}
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
    <div ng-show="!mapshow" class="col-md-12">
    <div class="portlet showCard" style="padding: 15px;">
      <div class="portlet-title">
        <div class="caption">
                <!-- class="fa fa-reorder"--><i></i>{{_("Choose languages:")}}
        </div>  
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12">
              <select  class="form-control" ng-change="changeLanguage(discovery_language)" ng-model="discovery_language">
                  <option value="all">All</option>
                  <option value="en">English</option>
                  <option value="ar">Arabic</option>
                  <option value="da">Danish</option>
                  <option value="es">Spanish</option>
                  <option value="fa">Farsi</option>
                  <option value="fi">Finnish</option>
                  <option value="fil">Filipino</option>
                  <option value="fr">French</option>
                  <option value="he">Hebrew</option>
                  <option value="hi">Hindi</option>
                  <option value="hu">Hungarian</option>
                  <option value="id">Indonesian</option>
                  <option value="it">Italian</option>
                  <option value="ja">Japanese</option>
                  <option value="ko">Korean</option>
                  <option value="msa">Malay</option>
                  <option value="no">Norwegian</option>
                  <option value="nl">Dutch</option>
                  <option value="pl">Polish</option>
                  <option value="pt">Portuguese</option>
                  <option value="ru">Russian</option>
                  <option value="sv">Swedish</option>
                  <option value="th">Thai</option>
                  <option value="tr">Turkish</option>
                  <option value="zh-cn">Chinese (Simplified)</option>
                  <option value="zh-tw">Chinese (Traditional)</option>
              </select>
              </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
<div id="BeforedeleteLead" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
              aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel" class="modal-title">{{ _('Delete Lead')}}</h3>
              </div>
              <div class="modal-body">
                 <form id="seletesho" name="deletesho" class="form-horizontal">
                  <p>{{_("Are you sure you want to delete")}} :  <%= selectedLead.firstname %> <%= selectedLead.lastname %> .</p>
              </div>
              <div class="modal-footer">
                <button class="btn" ng-click="selectedLead={}" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>

                <input ng-click="deletelead()" type="submit" class="btn red" value="{{_('Delete this Lead')}}">
                <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
              </div>
               </form>
               </div>
          </div>
       </div>


<!--  maximum 3 keywords popup -->





  <div id="popup_keywords" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                  <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h3 id="myModalLabel">{{_("Upgrade:")}}</h3>
                        </div>
                <div class="modal-body">
                            <form id="addOppStage" name="addOppStage"   class="form-horizontal">
                            <fieldset>
                            <div class="form-group">
                <label  class="required control-label">{{_("You are allowed to just 3 keywords, you can upgrade your account for more keywords by ")}} </label>
                <label  class="required control-label">
                requesting us yo@iogrow.com</label>
                            </div>
                           

                          </fieldset>

                  </div>
                  <div class="modal-footer">
                   <button class="btn" data-dismiss="modal" ng-click="hide_maximum_keywords_popup()" aria-hidden="true">{{_("Cancel")}}</button>
                    
                   </div>
                   </form>
       </div>
       </div>
       </div>





      <!--assign tags model-->
   <div id="assigneeTagsToTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel" class="modal-title">{{_('Add Topics')}} </h3>
            </div>
            <div class="modal-body">
               <form id="seletesho" name="deletesho" class="form-horizontal">
               <div class="form-group">
                    <select id="select2_sample2" class="form-control select2" multiple>
                      <option ng-repeat="tag in tags"
                      value='<%=tag.entityKey%>'>
                        <%=tag.name%>
                      </option>
                    </select>
                </div>
            </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <input ng-hide="isLoadingTask" ng-click="addTagsTothis()" type="submit" class="btn green" value="{{_('Add')}}">
                <input ng-show="isLoadingTask" type="submit" class="btn green" value="Loading..." disabled>
              </div>
          </form>
        </div>
      </div>
  </div>
<script type="text/javascript">
  $("#select2_sample2").select2({
        placeholder: "{{ _('Click to Select a label')}}",
        allowClear: false
    });
  var handleUniform = function () {
        if (!jQuery().uniform) {
            return;
        }
        var test = $("input[type=radio]:not(.toggle, .star)");
        if (test.size() > 0) {
            test.each(function () {
                if ($(this).parents(".checker").size() == 0) {
                    $(this).show();
                    $(this).uniform();
                }
            });
        }
    }
    handleUniform();

    $('.waterfall').waterfall({
        colMinWidth: 200,
        defaultContainerWidth: 800,
        autoresize: true
      });
    $('.waterfall2').waterfall({
        colMinWidth: 200,
        defaultContainerWidth: 800,
        autoresize: true
      });
    $('.waterfall3').waterfall({
        colMinWidth: 200,
        defaultContainerWidth: 800,
        autoresize: true
      });
$('.textfill').textfill({debug: true, maxFontPixels: 16});
$('#slimList').lionbars({});
</script>
