<div class="row subHeader">
    <div class="currentApp">
         <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{active_app.label}}
            <i class="icon-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{application.label}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>

    <div class=" subHeaderContent">
      <h2 class="page-title">
                <a href="/#/discovers/" data-toggle="tooltip" data-placement="bottom" title="Back to users">
                    <img onload="this.__gwtLastUnhandledEvent = & quot;
                            load & quot;
                            ;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false">
                </a>
                {{_("Discovery")}} >
                
            </h2>
    </div>

</div>
<div  class="page-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                Loading...
            </div>
        </div>
    </div>
    <div class="" ng-show="immediateFailed">
        <div class="col-md-12">
            <h1>Sign-in Button;</h1>
            <span id="signin">
                <span id="myGsignin"></span>
            </span>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-9">
            <div class="row">
                
                <div class="showPage slimForm col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-9">
                                   
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <span>Create new topic related to your company</span>
                                                    <br>
                                                    <br>
                                                    <div class="col-md-12">
                                                        <input type="text" required id="id_topic" class="form-control" ng-model="topic" placeholder="topic">
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                   
                                                    
                                                </div>
                                            </div>

                                 
                                        </div>
                                       
                                </div>
                            </div>
                            <div class="col-md-12">
                                 <a class="btn red newBtn pull-right" href="/#/discovers" ng-click="addNewTopic()"  >
                                              Add    
                                            </a>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>

           
        </div>
        
   
    </div>
</div>



<script type="text/javascript">
    $(function() {
        $('#datetimepicker2').datetimepicker({
            language: 'fr',
            pickTime: false
        });
    });
</script>
