<div class="row subHeader">
    <div class="currentApp">
         <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{_(active_app.label)}}
            <i class="icon-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>
    <div class=" subHeaderContent">
        <div class="col-md-9">
            <h2 class="page-title">
                <a href="/#/admin/imports" data-toggle="tooltip" data-placement="bottom" title="Back to contacts">
                    <img onload="this.__gwtLastUnhandledEvent = & quot;
                            load & quot;
                            ;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false">
                </a>
                {{_("Imports")}} >
                
            </h2>
            <button class="btn red newAccountBtnOnscroll pull-right hidden" ng-click="save(contact)">{{_('Create')}}</button>
        </div>
    </div>

</div>
<div  class="page-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{_('Loading...')}}
            </div>
        </div>
    </div>
    <div class="" ng-show="immediateFailed">
        <div class="col-md-12">
            <h1>{{_('Sign-in Button;')}}</h1>
            <span id="signin">
                <span id="myGsignin"></span>
            </span>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-9">
            <div class="row">
                <div class="showPage col-md-12 newActionsBtn">
                    <span>{{_('Import from Highrise')}} </span>
                    <button class="btn red newAccountBtn pull-right" ng-click="import(highrise)">{{_('Import')}}</button>
                    <div class="clearfix"></div>
                </div>
                <div class="showPage slimForm col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                
                                <div class="col-md-9">
                                    <form class="form-horizontal ">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="text" required id="id_key" class="form-control" ng-model="highrise.key" placeholder="{{_('Key')}}">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="text"  required id="id_server_name" class="form-control" ng-model="highrise.server_name"
                                                         placeholder='{{_("Server Name")}}' />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </form>
                                    <span> {{_('How to get a Key? : in highrise welcome page go to [ Account & Setting ]  and choose [ My info ] and click on [ API token ]')}}.
                                    </span>
                                    <br/>
                                    <span>
                                        {{_('How to get a Server name? : in highrise welcoe page you have url with this form [https://iogrow3.highrisehq.com/] in this case your server name is [iogrow3]')}}
                                    </span>
                                    
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    </div>
</div>



<script type="text/javascript">
    $(function() {
        $('#datetimepicker2').datetimepicker({
            language: 'fr',
            pickTime: false
        });
    });
</script>
