<div class="row subHeader action-bar">
    <div class="currentApp">
        <a class="filterItem" href="#" data-toggle="dropdown">
            <span class="active-app"><i class="fa fa-cog"></i> {{ _(active_app.label) }}</span>
            <i class="icon-angle-down fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            {% for application in apps %}
                <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{ _(application.label) }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="subHeaderContent" style="border-right-width: 0;">
        <div class="col-md-4 active-app"><i class="fa fa-globe section-icon"></i>
            {{ _('Regional') }}
        </div>

        <a class="btn red save-btn pull-right" id="customButton" ng-click="saveUser()">
            <i class="fa fa-floppy-o"></i> {{ _("Save") }}
        </a>
        <a class="btn default pull-right" ng-click="resetToDefault()" style="margin-right: 10px">
            <i class="fa fa-reply"></i> {{ _("Default") }}
        </a>

    </div>
</div>

<div class="page-content admin-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Loading...') }}
            </div>
        </div>
    </div>
    <div ng-show="immediateFailed">
        <div class="col-md-12">
          <span id="signin">
            <span id="myGsignin"></span>
          </span>
        </div>
    </div>
    <div class="col-md-5 panel panel-default"
         style="border: 0px;border-top: #8BC54A solid;color: #A2A2A2;font-family: sans-serif;font-weight: 300;">
        <h2 style="color: #5F5D5D;margin-top: 10px;margin-bottom: 20px; font-family: sans-serif;">
            <i class="glyphicon glyphicon-globe" style="font-size: 24px"></i> {{ _('Regional Settings') }} </h2>

        <div class="form-group col-md-12" style="padding: 0px;">
            <i class="glyphicon glyphicon-flag"></i> {{ _('Country') }}
            <div class="col-md-12 margin-top-10 " style="padding: 0px">
                <select name="" id="country_list" class="form-control select2">
                    <option ng-repeat="value in contriesCodes" value="<%= value.code %>"> <%= value.name %></option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;">
            <div><i class="material-icons" style="font-size: 14px;">translate</i> {{ _('Language') }} </div>
            <div class="col-md-5  " style="padding: 0px">
                <select name="" id="language_picker" class="form-control select2 no-icon">
                    <option value="en">{{ _('English') }}</option>
                    <option value="ar">{{ _('Arabic') }}</option>
                    <option value="fr">{{ _('French') }}</option>
                    <option value="pt_BR">{{ _('Portuguese/Brazil') }}</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;">
            <hr>
            <i class="material-icons" style="font-size: 14px">language</i> {{ _('Time zone') }}
            <div class="col-md-12  " style="padding: 0px">
                <select name="" id="timezone_picker" class="form-control select2 no-icon">
                    <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0"
                            value="-12:00">(GMT-12:00) International Date Line West
                    </option>
                    <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0"
                            value="-11:00">(GMT-11:00) Midway Island, Samoa
                    </option>
                    <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0"
                            value="-10:00">(GMT-10:00) Hawaii
                    </option>
                    <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1"
                            value="-09:00">(GMT-09:00) Alaska
                    </option>
                    <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1"
                            value="-08:00">(GMT-08:00) Pacific Time (US & Canada)
                    </option>
                    <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1"
                            value="-08:00">(GMT-08:00) Tijuana, Baja California
                    </option>
                    <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0"
                            value="-07:00">(GMT-07:00) Arizona
                    </option>
                    <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1"
                            value="-07:00">(GMT-07:00) Chihuahua, La Paz, Mazatlan
                    </option>
                    <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1"
                            value="-07:00">(GMT-07:00) Mountain Time (US & Canada)
                    </option>
                    <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0"
                            value="-06:00">(GMT-06:00) Central America
                    </option>
                    <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1"
                            value="-06:00">(GMT-06:00) Central Time (US & Canada)
                    </option>
                    <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1"
                            value="-06:00">(GMT-06:00) Guadalajara, Mexico City, Monterrey
                    </option>
                    <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0"
                            value="-06:00">(GMT-06:00) Saskatchewan
                    </option>
                    <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0"
                            value="-05:00">(GMT-05:00) Bogota, Lima, Quito, Rio Branco
                    </option>
                    <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1"
                            value="-05:00">(GMT-05:00) Eastern Time (US & Canada)
                    </option>
                    <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1"
                            value="-05:00">(GMT-05:00) Indiana (East)
                    </option>
                    <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1"
                            value="-04:00">(GMT-04:00) Atlantic Time (Canada)
                    </option>
                    language value="-04:00">(GMT-04:00) Caracas, La Paz
                    </option>
                    <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0"
                            value="-04:00">(GMT-04:00) Manaus
                    </option>
                    <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1"
                            value="-04:00">(GMT-04:00) Santiago
                    </option>
                    <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1"
                            value="-03.30">(GMT-03:30) Newfoundland
                    </option>
                    <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1"
                            value="-03:00">(GMT-03:00) Brasilia
                    </option>
                    <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0"
                            value="-03:00">(GMT-03:00) Buenos Aires, Georgetown
                    </option>
                    <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1"
                            value="-03:00">(GMT-03:00) Greenland
                    </option>
                    <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1"
                            value="-03:00">(GMT-03:00) Montevideo
                    </option>
                    <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1"
                            value="-02:00">(GMT-02:00) Mid-Atlantic
                    </option>
                    <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0"
                            value="-01:00">(GMT-01:00) Cape Verde Is.
                    </option>
                    <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1"
                            value="-01:00">(GMT-01:00) Azores
                    </option>
                    <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0"
                            value="+00:00">(GMT+00:00) Casablanca, Monrovia, Reykjavik
                    </option>
                    <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1"
                            value="+00:00">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh,
                        Lisbon, London
                    </option>
                    <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1"
                            value="+01:00">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm,
                        Vienna
                    </option>
                    <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1"
                            value="+01:00">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana,
                        Prague
                    </option>
                    <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1"
                            value="+01:00">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris
                    </option>
                    <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1"
                            value="+01:00">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb
                    </option>
                    <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1"
                            value="+01:00">(GMT+01:00) West Central Africa
                    </option>
                    <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Amman
                    </option>
                    <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Athens, Bucharest, Istanbul
                    </option>
                    <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Beirut
                    </option>
                    <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Cairo
                    </option>
                    <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0"
                            value="+02:00">(GMT+02:00) Harare, Pretoria
                    </option>
                    <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius
                    </option>
                    <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Jerusalem
                    </option>
                    <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Minsk
                    </option>
                    <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Windhoek
                    </option>
                    <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0"
                            value="+03:00">(GMT+03:00) Kuwait, Riyadh, Baghdad
                    </option>
                    <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1"
                            value="+03:00">(GMT+03:00) Moscow, St. Petersburg, Volgograd
                    </option>
                    <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0"
                            value="+03:00">(GMT+03:00) Nairobi
                    </option>
                    <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0"
                            value="+03:00">(GMT+03:00) Tbilisi
                    </option>
                    <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1"
                            value="+03:30">(GMT+03:30) Tehran
                    </option>
                    <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0"
                            value="+04:00">(GMT+04:00) Abu Dhabi, Muscat
                    </option>
                    <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1"
                            value="+04:00">(GMT+04:00) Baku
                    </option>
                    <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1"
                            value="+04:00">(GMT+04:00) Yerevan
                    </option>
                    <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0"
                            value="+04:30">(GMT+04:30) Kabul
                    </option>
                    <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1"
                            value="+05:00">(GMT+05:00) Yekaterinburg
                    </option>
                    <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0"
                            value="+05:00">(GMT+05:00) Islamabad, Karachi, Tashkent
                    </option>
                    <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0"
                            value="+05:30">(GMT+05:30) Sri Jayawardenapura
                    </option>
                    <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0"
                            value="+05:30">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi
                    </option>
                    <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0"
                            value="+05:45">(GMT+05:45) Kathmandu
                    </option>
                    <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1"
                            value="+06:00">(GMT+06:00) Almaty, Novosibirsk
                    </option>
                    <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0"
                            value="+06:00">(GMT+06:00) Astana, Dhaka
                    </option>
                    <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0"
                            value="+06:30">(GMT+06:30) Yangon (Rangoon)
                    </option>
                    <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0"
                            value="+07:00">(GMT+07:00) Bangkok, Hanoi, Jakarta
                    </option>
                    <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1"
                            value="+07:00">(GMT+07:00) Krasnoyarsk
                    </option>
                    <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0"
                            value="+08:00">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi
                    </option>
                    <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0"
                            value="+08:00">(GMT+08:00) Kuala Lumpur, Singapore
                    </option>
                    <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0"
                            value="+08:00">(GMT+08:00) Irkutsk, Ulaan Bataar
                    </option>
                    <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0"
                            value="+08:00">(GMT+08:00) Perth
                    </option>
                    <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0"
                            value="+08:00">(GMT+08:00) Taipei
                    </option>
                    <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0"
                            value="+09:00">(GMT+09:00) Osaka, Sapporo, Tokyo
                    </option>
                    <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0"
                            value="+09:00">(GMT+09:00) Seoul
                    </option>
                    <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1"
                            value="+09:00">(GMT+09:00) Yakutsk
                    </option>
                    <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0"
                            value="+09:30">(GMT+09:30) Adelaide
                    </option>
                    <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0"
                            value="+09:30">(GMT+09:30) Darwin
                    </option>
                    <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0"
                            value="+10:00">(GMT+10:00) Brisbane
                    </option>
                    <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1"
                            value="+10:00">(GMT+10:00) Canberra, Melbourne, Sydney
                    </option>
                    <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1"
                            value="+10:00">(GMT+10:00) Hobart
                    </option>
                    <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0"
                            value="+10:00">(GMT+10:00) Guam, Port Moresby
                    </option>
                    <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1"
                            value="+10:00">(GMT+10:00) Vladivostok
                    </option>
                    <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1"
                            value="+11:00">(GMT+11:00) Magadan, Solomon Is., New Caledonia
                    </option>
                    <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1"
                            value="+12:00">(GMT+12:00) Auckland, Wellington
                    </option>
                    <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0"
                            value="+12:00">(GMT+12:00) Fiji, Kamchatka, Marshall Is.
                    </option>
                    <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0"
                            value="+13:00">(GMT+13:00) Nuku'alofa
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;    margin-top: 10px;">
            <div><i class="fa fa-calendar"></i> {{ _('Date and Time format') }}</div>
            <div class="col-md-12" style="padding: 0px">
                <select name="" id="date_time_format" class="form-control select2 no-icon">
                    <option ng-repeat="(key, value) in languagesCodes" value="<%= (key) ? key : '' %>">
                        <%= (key) ? value + " " + getDateFormat(key) : "" %>
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;">
            <div class="col-md-12" style="padding: 0px;">
                <i class="fa fa-calendar-o"></i> {{ _('Week starts on') }}</div>
            <div class="col-md-5" style="padding: 0px">
                <select name="" id="week_start" class="form-control select2 no-icon">
                    <!--<option value="saturday">Saturday</option>-->
                    <option value="sunday">Sunday</option>
                    <option value="monday">Monday</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;">
            <hr>
            <div class="col-md-12" style="padding: 0px;"><i class="fa fa-money"></i> {{ _('Currency') }} </div>
            <div class="col-md-3  " style="padding: 0px">
                <select name="" id="currency" class="form-control select2 no-icon">
                    <option value="USD">$ - USD</option>
                    <option value="EUR">€ - EUR</option>
                    <option value="CAD">$ - CAD</option>
                    <option value="GBP">£ - GBP</option>
                    <option value="AUD">$ - AUD</option>
                    <option value="">-&#45;&#45;</option>
                    <option value="AED">د.إ - AED</option>
                    <option value="ANG">ƒ - ANG</option>
                    <option value="AOA">AOA - AOA</option>
                    <option value="ARS">$ - ARS</option>
                    <option value="BAM">KM - BAM</option>
                    <option value="BBD">$ - BBD</option>
                    <option value="BGL">лв - BGL</option>
                    <option value="BHD">BD - BHD</option>
                    <option value="BND">$ - BND</option>
                    <option value="BRL">R$ - BRL</option>
                    <option value="BTC">฿ - BTC</option>
                    <option value="CHF">Fr - CHF</option>
                    <option value="CLF">UF - CLF</option>
                    <option value="CLP">$ - CLP</option>
                    <option value="CNY">¥ - CNY</option>
                    <option value="COP">$ - COP</option>
                    <option value="CRC">₡ - CRC</option>
                    <option value="CZK">Kč - CZK</option>
                    <option value="DKK">kr - DKK</option>
                    <option value="EEK">KR - EEK</option>
                    <option value="EGP">E£ - EGP</option>
                    <option value="FJD">FJ$ - FJD</option>
                    <option value="GTQ">Q - GTQ</option>
                    <option value="HKD">$ - HKD</option>
                    <option value="HRK">kn - HRK</option>
                    <option value="HUF">Ft - HUF</option>
                    <option value="IDR">Rp - IDR</option>
                    <option value="ILS">₪ - ILS</option>
                    <option value="INR">₨ - INR</option>
                    <option value="IRR">ریال - IRR</option>
                    <option value="ISK">kr - ISK</option>
                    <option value="JOD">د.ا - JOD</option>
                    <option value="JPY">¥ - JPY</option>
                    <option value="KES">KSh - KES</option>
                    <option value="KRW">₩ - KRW</option>
                    <option value="KWD">KD - KWD</option>
                    <option value="KYD">$ - KYD</option>
                    <option value="LTL">Lt - LTL</option>
                    <option value="LVL">Ls - LVL</option>
                    <option value="MAD">د.م. - MAD</option>
                    <option value="MVR">Rf - MVR</option>
                    <option value="MXN">$ - MXN</option>
                    <option value="MYR">RM - MYR</option>
                    <option value="NGN">₦ - NGN</option>
                    <option value="NOK">kr - NOK</option>
                    <option value="NZD">$ - NZD</option>
                    <option value="OMR">ر.ع - OMR</option>
                    <option value="PEN">S/. - PEN</option>
                    <option value="PHP">₱ - PHP</option>
                    <option value="PLN">zł - PLN</option>
                    <option value="QAR">ر.ق - QAR</option>
                    <option value="RON">L - RON</option>
                    <option value="RUB">руб. - RUB</option>
                    <option value="SAR">ر.س - SAR</option>
                    <option value="SEK">kr - SEK</option>
                    <option value="SGD">$ - SGD</option>
                    <option value="THB">฿ - THB</option>
                    <option value="TRY">TL - TRY</option>
                    <option value="TTD">$ - TTD</option>
                    <option value="TWD">$ - TWD</option>
                    <option value="UAH">₴ - UAH</option>
                    <option value="VEF">Bs F - VEF</option>
                    <option value="VND">₫ - VND</option>
                    <option value="XCD">$ - XCD</option>
                    <option value="ZAR">R - ZAR</option>
                    <option value="DZD">د.ج - DZD</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;">
            <div class="col-md-12" style="padding: 0px;"><i class="fa fa-money"></i> {{ _('Currency Format') }}</div>
            <div class="col-md-12  " style="padding: 0px">
                <select name="" id="currency_format" class="form-control select2 no-icon">
                    <option ng-repeat="(key, value) in languagesCodes" value="<%= key %>">
                        <%= value%> <%= getCurrencyFormat(key) %>
                    </option>
                </select>
            </div>
        </div>

        <!--<div class="from-group col-md-12" style="padding: 10px 0px;"><a class="btn red" style="padding: 5px 20px;border-radius: 0px !important;"> Save</a></div>-->
    </div>
</div>
<script>
    function format(state) {
        if (!state.id) return state.text;
        return "<img class='flag' src='static/src/img/flags_iso/" + state.id.toLowerCase() + ".png'/>&nbsp;&nbsp;" + state.text;
    }
    $("#country_list").select2({
        placeholder: "Select a Country",
        allowClear: true,
        formatResult: format,
        formatSelection: format,
        escapeMarkup: function (m) {
            return m;
        }
    });

    $("#timezone_picker").select2({
        placeholder: "Select a TimeZone",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });
    $("#date_time_format").select2({
        placeholder: "Select a date format",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });
    $("#language_picker").select2({
        placeholder: "Select a TimeZone",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });

    $("#currency_format").select2({
        placeholder: "Select a Currency format",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });
    $("#week_start").select2({
        placeholder: "Select the day the week start on",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });
    $("#currency").select2({
        placeholder: "Select a Currency",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });
</script>