<div class="row subHeader action-bar">
    <div class="currentApp">
        <a class="filterItem" href="#" data-toggle="dropdown">
            <span class="active-app"><i class="fa fa-cog"></i> Settings</span> <!--{{_(active_app.label)}}-->
            <i class="icon-angle-down fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            {%for application in apps %}
            <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>
            {%endfor%}
        </ul>
    </div>
    <div class="subHeaderContent" style="border-right-width: 0px;">
        <div class="col-md-4 active-app"><i class="fa fa-globe section-icon"></i>
            Regional
        </div>
        <a class="btn red save-btn pull-right" id="customButton" href="">
            <i class="fa fa-floppy-o"></i> {{_("Save")}}
        </a>
    </div>
</div>

<div class="page-content admin-content">
    <div class="col-md-5 panel panel-default"
         style="border: 0px;border-top: #8BC54A solid;color: #A2A2A2;font-family: sans-serif;font-weight: 300;">
        <h2 style="color: #5F5D5D;margin-top: 10px;margin-bottom: 20px; font-family: sans-serif;">
            <i class="glyphicon glyphicon-globe" style="font-size: 24px"></i> Regional Settings</h2>

        <div class="form-group col-md-12" style="padding: 0px;">
            <i class="glyphicon glyphicon-flag"></i> Country
            <div class="col-md-12 margin-top-10 " style="padding: 0px">
                <select name="" id="country_list" class="form-control select2">
                    <option value="AF">Afghanistan</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AS">American Samoa</option>
                    <option value="AD">Andorra</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antarctica</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrain</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BY">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermuda</option>
                    <option value="BT">Bhutan</option>
                    <option value="BO">Bolivia</option>
                    <option value="BA">Bosnia and Herzegowina</option>
                    <option value="BW">Botswana</option>
                    <option value="BV">Bouvet Island</option>
                    <option value="BR">Brazil</option>
                    <option value="IO">British Indian Ocean Territory</option>
                    <option value="BN">Brunei Darussalam</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="KH">Cambodia</option>
                    <option value="CM">Cameroon</option>
                    <option value="CA">Canada</option>
                    <option value="CV">Cape Verde</option>
                    <option value="KY">Cayman Islands</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CX">Christmas Island</option>
                    <option value="CC">Cocos (Keeling) Islands</option>
                    <option value="CO">Colombia</option>
                    <option value="KM">Comoros</option>
                    <option value="CG">Congo</option>
                    <option value="CD">Congo, the Democratic Republic of the</option>
                    <option value="CK">Cook Islands</option>
                    <option value="CR">Costa Rica</option>
                    <option value="CI">Cote d'Ivoire</option>
                    <option value="HR">Croatia (Hrvatska)</option>
                    <option value="CU">Cuba</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egypt</option>
                    <option value="SV">El Salvador</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Ethiopia</option>
                    <option value="FK">Falkland Islands (Malvinas)</option>
                    <option value="FO">Faroe Islands</option>
                    <option value="FJ">Fiji</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="GF">French Guiana</option>
                    <option value="PF">French Polynesia</option>
                    <option value="TF">French Southern Territories</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GR">Greece</option>
                    <option value="GL">Greenland</option>
                    <option value="GD">Grenada</option>
                    <option value="GP">Guadeloupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GN">Guinea</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="GY">Guyana</option>
                    <option value="HT">Haiti</option>
                    <option value="HM">Heard and Mc Donald Islands</option>
                    <option value="VA">Holy See (Vatican City State)</option>
                    <option value="HN">Honduras</option>
                    <option value="HK">Hong Kong</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Iceland</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IR">Iran (Islamic Republic of)</option>
                    <option value="IQ">Iraq</option>
                    <option value="IE">Ireland</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="JO">Jordan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KE">Kenya</option>
                    <option value="KI">Kiribati</option>
                    <option value="KP">Korea, Democratic People's Republic of</option>
                    <option value="KR">Korea, Republic of</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Lao People's Democratic Republic</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libyan Arab Jamahiriya</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MO">Macau</option>
                    <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                    <option value="MG">Madagascar</option>
                    <option value="MW">Malawi</option>
                    <option value="MY">Malaysia</option>
                    <option value="MV">Maldives</option>
                    <option value="ML">Mali</option>
                    <option value="MT">Malta</option>
                    <option value="MH">Marshall Islands</option>
                    <option value="MQ">Martinique</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">Mexico</option>
                    <option value="FM">Micronesia, Federated States of</option>
                    <option value="MD">Moldova, Republic of</option>
                    <option value="MC">Monaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="MS">Montserrat</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="MM">Myanmar</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NL">Netherlands</option>
                    <option value="AN">Netherlands Antilles</option>
                    <option value="NC">New Caledonia</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk Island</option>
                    <option value="MP">Northern Mariana Islands</option>
                    <option value="NO">Norway</option>
                    <option value="OM">Oman</option>
                    <option value="PK">Pakistan</option>
                    <option value="PW">Palau</option>
                    <option value="PA">Panama</option>
                    <option value="PG">Papua New Guinea</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="RE">Reunion</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russian Federation</option>
                    <option value="RW">Rwanda</option>
                    <option value="KN">Saint Kitts and Nevis</option>
                    <option value="LC">Saint LUCIA</option>
                    <option value="VC">Saint Vincent and the Grenadines</option>
                    <option value="WS">Samoa</option>
                    <option value="SM">San Marino</option>
                    <option value="ST">Sao Tome and Principe</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="SN">Senegal</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SG">Singapore</option>
                    <option value="SK">Slovakia (Slovak Republic)</option>
                    <option value="SI">Slovenia</option>
                    <option value="SB">Solomon Islands</option>
                    <option value="SO">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SH">St. Helena</option>
                    <option value="PM">St. Pierre and Miquelon</option>
                    <option value="SD">Sudan</option>
                    <option value="SR">Suriname</option>
                    <option value="SJ">Svalbard and Jan Mayen Islands</option>
                    <option value="SZ">Swaziland</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="SY">Syrian Arab Republic</option>
                    <option value="TW">Taiwan, Province of China</option>
                    <option value="TJ">Tajikistan</option>
                    <option value="TZ">Tanzania, United Republic of</option>
                    <option value="TH">Thailand</option>
                    <option value="TG">Togo</option>
                    <option value="TK">Tokelau</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad and Tobago</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="TM">Turkmenistan</option>
                    <option value="TC">Turks and Caicos Islands</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UG">Uganda</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB">United Kingdom</option>
                    <option value="US">United States</option>
                    <option value="UM">United States Minor Outlying Islands</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Viet Nam</option>
                    <option value="VG">Virgin Islands (British)</option>
                    <option value="VI">Virgin Islands (U.S.)</option>
                    <option value="WF">Wallis and Futuna Islands</option>
                    <option value="EH">Western Sahara</option>
                    <option value="YE">Yemen</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;">
            <div><i class="material-icons" style="font-size: 14px;">translate</i> Language</div>
            <div class="col-md-5  " style="padding: 0px">
                <select name="" id="language_picker" class="form-control select2 no-icon">
                    <option value="{{user.language}}"><%= languages['{{user.language}}'] %></option>
                    <option value="en">{{_('English')}}</option>
                    <option value="ar">{{_('Arabic')}}</option>
                    <option value="fr">{{_('French')}}</option>
                    <option value="pt_BR">{{_('Portuguese/Brazil')}}</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;">
            <i class="material-icons" style="font-size: 14px">language</i> Time zone
            <div class="col-md-12  " style="padding: 0px">
                <select name="" id="timezone_picker" class="form-control select2 no-icon">
                    <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0"
                            value="-12:00">(GMT-12:00) International Date Line West
                    </option>
                    <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0"
                            value="-11:00">(GMT-11:00) Midway Island, Samoa
                    </option>
                    <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0"
                            value="-10:00">(GMT-10:00) Hawaii
                    </option>
                    <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1"
                            value="-09:00">(GMT-09:00) Alaska
                    </option>
                    <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1"
                            value="-08:00">(GMT-08:00) Pacific Time (US & Canada)
                    </option>
                    <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1"
                            value="-08:00">(GMT-08:00) Tijuana, Baja California
                    </option>
                    <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0"
                            value="-07:00">(GMT-07:00) Arizona
                    </option>
                    <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1"
                            value="-07:00">(GMT-07:00) Chihuahua, La Paz, Mazatlan
                    </option>
                    <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1"
                            value="-07:00">(GMT-07:00) Mountain Time (US & Canada)
                    </option>
                    <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0"
                            value="-06:00">(GMT-06:00) Central America
                    </option>
                    <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1"
                            value="-06:00">(GMT-06:00) Central Time (US & Canada)
                    </option>
                    <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1"
                            value="-06:00">(GMT-06:00) Guadalajara, Mexico City, Monterrey
                    </option>
                    <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0"
                            value="-06:00">(GMT-06:00) Saskatchewan
                    </option>
                    <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0"
                            value="-05:00">(GMT-05:00) Bogota, Lima, Quito, Rio Branco
                    </option>
                    <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1"
                            value="-05:00">(GMT-05:00) Eastern Time (US & Canada)
                    </option>
                    <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1"
                            value="-05:00">(GMT-05:00) Indiana (East)
                    </option>
                    <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1"
                            value="-04:00">(GMT-04:00) Atlantic Time (Canada)
                    </option>
                    <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0"
                            value="-04:00">(GMT-04:00) Caracas, La Paz
                    </option>
                    <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0"
                            value="-04:00">(GMT-04:00) Manaus
                    </option>
                    <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1"
                            value="-04:00">(GMT-04:00) Santiago
                    </option>
                    <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1"
                            value="-03.30">(GMT-03:30) Newfoundland
                    </option>
                    <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1"
                            value="-03:00">(GMT-03:00) Brasilia
                    </option>
                    <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0"
                            value="-03:00">(GMT-03:00) Buenos Aires, Georgetown
                    </option>
                    <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1"
                            value="-03:00">(GMT-03:00) Greenland
                    </option>
                    <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1"
                            value="-03:00">(GMT-03:00) Montevideo
                    </option>
                    <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1"
                            value="-02:00">(GMT-02:00) Mid-Atlantic
                    </option>
                    <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0"
                            value="-01:00">(GMT-01:00) Cape Verde Is.
                    </option>
                    <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1"
                            value="-01:00">(GMT-01:00) Azores
                    </option>
                    <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0"
                            value="+00:00">(GMT+00:00) Casablanca, Monrovia, Reykjavik
                    </option>
                    <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1"
                            value="+00:00">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh,
                        Lisbon, London
                    </option>
                    <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1"
                            value="+01:00">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm,
                        Vienna
                    </option>
                    <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1"
                            value="+01:00">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana,
                        Prague
                    </option>
                    <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1"
                            value="+01:00">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris
                    </option>
                    <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1"
                            value="+01:00">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb
                    </option>
                    <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1"
                            value="+01:00">(GMT+01:00) West Central Africa
                    </option>
                    <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Amman
                    </option>
                    <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Athens, Bucharest, Istanbul
                    </option>
                    <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Beirut
                    </option>
                    <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Cairo
                    </option>
                    <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0"
                            value="+02:00">(GMT+02:00) Harare, Pretoria
                    </option>
                    <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius
                    </option>
                    <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Jerusalem
                    </option>
                    <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Minsk
                    </option>
                    <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1"
                            value="+02:00">(GMT+02:00) Windhoek
                    </option>
                    <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0"
                            value="+03:00">(GMT+03:00) Kuwait, Riyadh, Baghdad
                    </option>
                    <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1"
                            value="+03:00">(GMT+03:00) Moscow, St. Petersburg, Volgograd
                    </option>
                    <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0"
                            value="+03:00">(GMT+03:00) Nairobi
                    </option>
                    <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0"
                            value="+03:00">(GMT+03:00) Tbilisi
                    </option>
                    <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1"
                            value="+03:30">(GMT+03:30) Tehran
                    </option>
                    <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0"
                            value="+04:00">(GMT+04:00) Abu Dhabi, Muscat
                    </option>
                    <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1"
                            value="+04:00">(GMT+04:00) Baku
                    </option>
                    <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1"
                            value="+04:00">(GMT+04:00) Yerevan
                    </option>
                    <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0"
                            value="+04:30">(GMT+04:30) Kabul
                    </option>
                    <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1"
                            value="+05:00">(GMT+05:00) Yekaterinburg
                    </option>
                    <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0"
                            value="+05:00">(GMT+05:00) Islamabad, Karachi, Tashkent
                    </option>
                    <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0"
                            value="+05:30">(GMT+05:30) Sri Jayawardenapura
                    </option>
                    <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0"
                            value="+05:30">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi
                    </option>
                    <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0"
                            value="+05:45">(GMT+05:45) Kathmandu
                    </option>
                    <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1"
                            value="+06:00">(GMT+06:00) Almaty, Novosibirsk
                    </option>
                    <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0"
                            value="+06:00">(GMT+06:00) Astana, Dhaka
                    </option>
                    <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0"
                            value="+06:30">(GMT+06:30) Yangon (Rangoon)
                    </option>
                    <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0"
                            value="+07:00">(GMT+07:00) Bangkok, Hanoi, Jakarta
                    </option>
                    <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1"
                            value="+07:00">(GMT+07:00) Krasnoyarsk
                    </option>
                    <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0"
                            value="+08:00">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi
                    </option>
                    <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0"
                            value="+08:00">(GMT+08:00) Kuala Lumpur, Singapore
                    </option>
                    <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0"
                            value="+08:00">(GMT+08:00) Irkutsk, Ulaan Bataar
                    </option>
                    <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0"
                            value="+08:00">(GMT+08:00) Perth
                    </option>
                    <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0"
                            value="+08:00">(GMT+08:00) Taipei
                    </option>
                    <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0"
                            value="+09:00">(GMT+09:00) Osaka, Sapporo, Tokyo
                    </option>
                    <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0"
                            value="+09:00">(GMT+09:00) Seoul
                    </option>
                    <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1"
                            value="+09:00">(GMT+09:00) Yakutsk
                    </option>
                    <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0"
                            value="+09:30">(GMT+09:30) Adelaide
                    </option>
                    <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0"
                            value="+09:30">(GMT+09:30) Darwin
                    </option>
                    <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0"
                            value="+10:00">(GMT+10:00) Brisbane
                    </option>
                    <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1"
                            value="+10:00">(GMT+10:00) Canberra, Melbourne, Sydney
                    </option>
                    <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1"
                            value="+10:00">(GMT+10:00) Hobart
                    </option>
                    <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0"
                            value="+10:00">(GMT+10:00) Guam, Port Moresby
                    </option>
                    <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1"
                            value="+10:00">(GMT+10:00) Vladivostok
                    </option>
                    <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1"
                            value="+11:00">(GMT+11:00) Magadan, Solomon Is., New Caledonia
                    </option>
                    <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1"
                            value="+12:00">(GMT+12:00) Auckland, Wellington
                    </option>
                    <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0"
                            value="+12:00">(GMT+12:00) Fiji, Kamchatka, Marshall Is.
                    </option>
                    <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0"
                            value="+13:00">(GMT+13:00) Nuku'alofa
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12" style="padding: 0px">
            <div><i class="material-icons" style="font-size: 14px">access_time</i> Time format</div>
            <div class="col-md-3 " style="padding: 0px">
                <select name="" id="time_format_picker" class="form-control select2 no-icon">
                    <option value="pm/am">PM/AM</option>
                    <option value="24h">24H</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;    margin-top: 10px;">

            <div><i class="fa fa-calendar"></i> Date format</div>
            <div class="col-md-4  " style="padding: 0px">
                <select name="" id="date_format_picker" class="form-control select2 no-icon">
                    <option value="dd/mm/yyyy">DD/MM/YYYY</option>
                    <option value="dd.mm.yyyy">DD.MM.YYYY</option>
                    <option value="dd.mm.yyyy">DD-MM-YYYY</option>
                    <option value="dd.mm.yyyy">YYYY-MM-dd</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;">
            <div class="col-md-12" style="padding: 0px;"><i class="fa fa-money"></i> Currency</div>
            <div class="col-md-3  " style="padding: 0px">
                <select name="" id="currency_picker" class="form-control select2 no-icon">
                    <option value="USD" selected>$ - USD</option>
                    <option value="EUR">€ - EUR</option>
                    <option value="CAD">$ - CAD</option>
                    <option value="GBP">£ - GBP</option>
                    <option value="AUD">$ - AUD</option>
                    <option value="">-&#45;&#45;</option>
                    <option value="AED">د.إ - AED</option>
                    <option value="ANG">ƒ - ANG</option>
                    <option value="AOA">AOA - AOA</option>
                    <option value="ARS">$ - ARS</option>
                    <option value="BAM">KM - BAM</option>
                    <option value="BBD">$ - BBD</option>
                    <option value="BGL">лв - BGL</option>
                    <option value="BHD">BD - BHD</option>
                    <option value="BND">$ - BND</option>
                    <option value="BRL">R$ - BRL</option>
                    <option value="BTC">฿ - BTC</option>
                    <option value="CHF">Fr - CHF</option>
                    <option value="CLF">UF - CLF</option>
                    <option value="CLP">$ - CLP</option>
                    <option value="CNY">¥ - CNY</option>
                    <option value="COP">$ - COP</option>
                    <option value="CRC">₡ - CRC</option>
                    <option value="CZK">Kč - CZK</option>
                    <option value="DKK">kr - DKK</option>
                    <option value="EEK">KR - EEK</option>
                    <option value="EGP">E£ - EGP</option>
                    <option value="FJD">FJ$ - FJD</option>
                    <option value="GTQ">Q - GTQ</option>
                    <option value="HKD">$ - HKD</option>
                    <option value="HRK">kn - HRK</option>
                    <option value="HUF">Ft - HUF</option>
                    <option value="IDR">Rp - IDR</option>
                    <option value="ILS">₪ - ILS</option>
                    <option value="INR">₨ - INR</option>
                    <option value="IRR">ریال - IRR</option>
                    <option value="ISK">kr - ISK</option>
                    <option value="JOD">د.ا - JOD</option>
                    <option value="JPY">¥ - JPY</option>
                    <option value="KES">KSh - KES</option>
                    <option value="KRW">₩ - KRW</option>
                    <option value="KWD">KD - KWD</option>
                    <option value="KYD">$ - KYD</option>
                    <option value="LTL">Lt - LTL</option>
                    <option value="LVL">Ls - LVL</option>
                    <option value="MAD">د.م. - MAD</option>
                    <option value="MVR">Rf - MVR</option>
                    <option value="MXN">$ - MXN</option>
                    <option value="MYR">RM - MYR</option>
                    <option value="NGN">₦ - NGN</option>
                    <option value="NOK">kr - NOK</option>
                    <option value="NZD">$ - NZD</option>
                    <option value="OMR">ر.ع - OMR</option>
                    <option value="PEN">S/. - PEN</option>
                    <option value="PHP">₱ - PHP</option>
                    <option value="PLN">zł - PLN</option>
                    <option value="QAR">ر.ق - QAR</option>
                    <option value="RON">L - RON</option>
                    <option value="RUB">руб. - RUB</option>
                    <option value="SAR">ر.س - SAR</option>
                    <option value="SEK">kr - SEK</option>
                    <option value="SGD">$ - SGD</option>
                    <option value="THB">฿ - THB</option>
                    <option value="TRY">TL - TRY</option>
                    <option value="TTD">$ - TTD</option>
                    <option value="TWD">$ - TWD</option>
                    <option value="UAH">₴ - UAH</option>
                    <option value="VEF">Bs F - VEF</option>
                    <option value="VND">₫ - VND</option>
                    <option value="XCD">$ - XCD</option>
                    <option value="ZAR">R - ZAR</option>
                    <option value="DZD">د.ج - DZD</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;">
            <div class="col-md-12" style="padding: 0px;"><i class="fa fa-money"></i> Currency Format</div>
            <div class="col-md-5  " style="padding: 0px">
                </select>
                <select name="" id="currency_format_picker" class="form-control select2 no-icon">
                    <option ng-repeat="(key, value) in languagesCodes" value="<%= value %>">
                        <%= value%> <%= getCurrencyFormat(key) %>
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12" style="padding: 0px;">
            <div class="col-md-12" style="padding: 0px;"><i class="fa fa-calendar-o"></i> Week starts on</div>
            <div class="col-md-5  " style="padding: 0px">
                <select name="" id="week_start_picker" class="form-control select2 no-icon">
                    <option value="saturday">Saturday</option>
                    <option value="sunday">Sunday</option>
                    <option value="monday">Monday</option>
                </select>
            </div>
        </div>
        <!--<div class="from-group col-md-12" style="padding: 10px 0px;"><a class="btn red" style="padding: 5px 20px;border-radius: 0px !important;"> Save</a></div>-->
    </div>
</div>
<script>
    function format(state) {
        if (!state.id) return state.text; // optgroup
        return "<img class='flag' src='static/img/flags_iso/32/" + state.id.toLowerCase() + ".png'/>&nbsp;&nbsp;" + state.text;
    }
    $("#country_list").select2({
        placeholder: "Select a Country",
        allowClear: true,
        formatResult: format,
        formatSelection: format,
        escapeMarkup: function (m) {
            return m;
        }
    });

    $("#timezone_picker").select2({
        placeholder: "Select a TimeZone",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });
    $("#date_format_picker").select2({
        placeholder: "Select a date format",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });
    $("#time_format_picker").select2({
        placeholder: "Select a time format",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });

    $("#language_picker").select2({
        placeholder: "Select a TimeZone",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });

    $("#currency_format_picker").select2({
        placeholder: "Select a Currency format",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    })
    $("#week_start_picker").select2({
        placeholder: "Select the day the week start on",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });
    $("#currency_picker").select2({
        placeholder: "Select a Currency",
        allowClear: true,
        escapeMarkup: function (m) {
            return m;
        }
    });
</script>