<div class="row subHeader">
     <div class="currentApp">
       <div class="btn-group">
           <a class="filterItem" href="#" data-toggle="dropdown" >
            {{_(active_app.label)}}
            <i class="icon-angle-down fa fa-angle-down"></i>
           </a>
           <ul class="dropdown-menu">
            {%for application in apps %}

                  <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{_(application.label)}}</a></li>

            {%endfor%}
           </ul>
        </div>
    </div>
    <div class=" subHeaderContent">
        <div class="col-md-9">
            <h2 class="page-title">
                <a href="/#/contacts" data-toggle="tooltip" data-placement="bottom" title="Back to contacts">
                    <img onload="this.__gwtLastUnhandledEvent = & quot;
                            load & quot;
                            ;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false">
                </a>
                {{_("Contacts")}} >
                <a editable-text="contact.firstname" onbeforesave="inlinePatch('Contact','', 'firstname',contact.entityKey,$data)">
                    <%= contact.firstname %>
                </a>
                <a editable-text="contact.lastname" onbeforesave="inlinePatch('Contact','', 'lastname',contact.entityKey,$data)" >
                    <%= contact.lastname %>
                </a>
            </h2>
            <button class="btn red newAccountBtnOnscroll pull-right hidden" ng-click="save(contact)">Create</button>
        </div>

        
          
    </div>

</div>
<div  class="page-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Loading...')}}
            </div>
        </div>
    </div>
    <div class="" ng-show="immediateFailed">
        <div class="col-md-12">
            <h1>{{ _('Sign-in Button;')}}</h1>
            <span id="signin">
                <span id="myGsignin"></span>
            </span>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-9">
            <div class="row">
                <div class="showPage col-md-12 newActionsBtn">
                    <span>{{ _('Creating now Contact')}} </span>
                    <button class="btn red newAccountBtn pull-right" ng-click="save(contact)">{{ _('Create')}}</button>
                    <div class="clearfix"></div>
                </div>
                <div class="showPage slimForm col-md-12 margin-bottom-15">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="portlet">
                                        <div class="portlet-body left-sidebar" id="chats">
                                            <div class="pic">
                                                <img alt="<%=contact.firstname%> <%=contact.lastname%>" ng-src="<%=imageSrc%>" class="img-responsive profile-photo-large">
                                                <a ng-click="createPickerUploader()" href="" class="btn-upload btn-upload-contact" data-toggle="modal">
                                                    <img src="/static/img/upload_logo.png" class="" >
                                                </a>
                                                <div  class="responsivePhotoIcon"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <form class="form-horizontal ">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="text" required id="id_firstname" class="form-control" ng-model="contact.firstname" placeholder="{{ _('First Name')}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="text"  required id="id_lastname" class="form-control" ng-model="contact.lastname" placeholder="{{ _('Last Name')}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="text"  id="id_lastname" class="form-control" ng-model="contact.title" placeholder="{{ _('Title')}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="text"  ng-model="searchAccountQuery" typeahead="result as result.name  for result in accountsResults | filter:$viewValue | limitTo:10" typeahead-on-select="selectAccount()" class="form-control"placeholder="{{ _('Company')}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="news-blocks blank-card blank-card-yellow">
                                        <h3>{{ _('Contact Informations')}}</h3>


                                        <!-- let's try it here -->
                                        <!-- *****************************************-->
                                         <ul class="list-unstyled contact-infos infoslist">
                                      <li ng-repeat="phone in phones"> 
                                        <i class="fa fa-phone"></i>
                                          <%=phone.number%> 
                                          <button type="button" class="close closeContactForm" tabindex='-1' ng-click="deleteInfos(phones,$index)" data-dismiss="alert"></button>
                                     </li>
                                  </ul>
                                  <form class="form-inline newLeadForm" role="form">
                                      <div class="input-icon">
                                         <i class="fa fa-phone"></i>
                                        <input
                                          type="text"
                                          class="form-control"
                                          ng-enter="pushElement(phone,phones,'phones')"
                                          ng-blur="pushElement(phone,phones,'phones')"
                                          id="exampleInputEmail2"
                                          ng-model="phone.number"
                                          placeholder="{{_('Add a number')}}"
                                          >
                                      </div>
                                  </form> 
                                  <!-- *****************************************-->
                                        <!--end of here -->
                                       
                                        <!-- email here -->
                                        <!-- ********************************** -->
                            <ul class="list-unstyled contact-infos infoslist">                                    
                                    <li ng-repeat="email in emails"> 
                                       <i class="fa fa-envelope"></i>
                                       <%=email.email %>
                                       <button type="button" class="close closeContactForm" tabindex='-1' ng-click="deleteInfos(emails,$index)" data-dismiss="alert"></button>
                                    </li>
                                  </ul>
                                  <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-icon  margin-top-10">
                                            <i class="fa fa-envelope"></i>
                                            <input ng-blur="pushElement(email,emails,'emails')" ng-enter="pushElement(pushElement(email,emails,'emails')" type="email" class="form-control" id="exampleInputEmail2" ng-model="email.email" placeholder="{{_('Add an email')}}">
                                        </div>
                                    </div>
                                  </div>
                                        <!-- **************************************-->
                                        <!-- end email here  -->

                                                 <!-- here web site  -->
                                            <ul class="list-unstyled contact-infos infoslist" >
                                    <li ng-repeat="website in websites">
                                        <a   tabindex='-1' href="<%=prepareUrl(website.url)%>"  target="_blank" >  
                                          <i class="fa fa-globe"></i><%=website.url%></a>
                                         <button type="button" class="close closeContactForm" tabindex='-1' ng-click="deleteInfos(websites,$index)" data-dismiss="alert"></button>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-icon  margin-top-10">
                                            <i class="fa fa-globe"></i>
                                            <input ng-blur="pushElement(website,websites,'websites')"  ng-enter="pushElement(website,websites,'websites')" ng-model="website.url" class="form-control" id="exampleInputEmail2" placeholder="{{_('Add a Website')}}">
                                        </div>
                                    </div>
                                </div>
                                        <!--end website -->

                                        <!-- adress here -->
                                              <ul class="list-unstyled contact-infos infoslist">
                                    <li ng-repeat="address in addresses">
                                       <a ng-click="setLocation(address)" ng-show="address.lng" href="" style="color:blue" ><i class="fa  fa-map-marker"></i></a><i style="color:red" ng-hide="address.lat" class="fa fa-exclamation"></i>
                                       <span  editable-text="address.country" onbeforesave="inlinePatch('Infonode','addresses', 'street',address.entityKey,$data)" ng-show="address.street"><%=address.street%>, </span>
                                       <span editable-text="address.city" onbeforesave="inlinePatch('Infonode','addresses', 'city',address.entityKey,$data)" ng-show="address.city"><%=address.city%>, </span>
                                       <span editable-text="address.state" onbeforesave="inlinePatch('Infonode','addresses', 'state',address.entityKey,$data)" ng-show="address.state"><%=address.state%>, </span>
                                       <span editable-text="address.country" onbeforesave="inlinePatch('Infonode','addresses', 'country',address.entityKey,$data)" ng-show="address.country"><%=address.country%></span>
                                       <span ng-show="address.formatted"><%=address.formatted%></span>                                    
                                       <button type="button" class="close closeContactForm" tabindex='-1' ng-click="deleteInfos(addresses,$index)" data-dismiss="alert"></button>
                                    </li>
                                   <!-- <a href="#addressmodal"
                                      class="btn-link addAnotherPhone"
                                      data-toggle="modal">
                                      <i class="icon-plus"></i>{{_('Add a new address')}}
                                    </a>
                                    </li>-->
                                  </ul>
                                  <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-icon  margin-top-10">
                                            <i class="fa fa-map-marker"></i>
                                            <input id="pac-input" class="form-control address-input" type="text" placeholder="Add a location">
                                        </div>
                                    </div>
                                </div>                                  
                                 <div id="gmap_canvas" style="width:100%;height:300px;"></div>
                                        <!-- end adress -->

                             <!--            <div class="news-block-tags">
                                            <strong>{{ _('Address')}}</strong>
                                        </div>
                                        <ul class="list-unstyled contact-infos">
                                            <li ng-repeat="address in addresses">
                                                -
                                                <span editoptions editdataattr="deleteInfos(addresses,$index)" editable-text="address.country" onbeforesave="inlinePatch('Infonode','addresses', 'street',address.entityKey,$data)" ng-show="address.street">
                                                    <%=address.street%>,
                                                </span>
                                                <span editable-text="address.city" onbeforesave="inlinePatch('Infonode','addresses', 'city',address.entityKey,$data)" ng-show="address.city"
                                                      ><%=address.city%>,
                                                </span> 
                                                <span editable-text="address.state" onbeforesave="inlinePatch('Infonode','addresses', 'state',address.entityKey,$data)" ng-show="address.state"
                                                      ><%=address.state%>,
                                                </span>
                                                <span editable-text="address.country" onbeforesave="inlinePatch('Infonode','addresses', 'country',address.entityKey,$data)" ng-show="address.country">
                                                    <%=address.country%>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#addressmodal" class="btn-link addAnotherPhone" data-toggle="modal">
                                                    <i class="icon-plus"></i> {{ _('Add a new address')}}
                                                </a>
                                            </li>
                                        </ul> -->




                                    </div>
                                   
                                </div>
                                <div class="col-md-6">
                                   <div class="news-blocks blank-card blank-card-blue  relatedBlock">
                                <h3>{{_('Social links')}} <i class="fa fa-twitter"></i>
                                <i class="fa fa-facebook-square"></i>
                                <i class="fa fa-linkedin-square"></i></h3>                              
                                <ul class="list-unstyled contact-infos infoslist" >
                                  <li ng-repeat="sociallink in sociallinks">

                                    <a  href="<%=prepareUrl(sociallink.url)%>" target="_blank">    <i class="fa fa-globe"></i> <%=sociallink.url%> </a>

                                    <button type="button" class="close closeContactForm" tabindex='-1' ng-click="deleteInfos(sociallinks,$index)" data-dismiss="alert"></button>
                                  </li>
                                </ul>
                                <form class="form-inline newLeadForm" role="form">                                            
                                      <div class="" style="">
                                        <label class="sr-only" for="exampleInputEmail2">{{_('Social link')}}</label>
                                        <input ng-enter="pushElement(sociallink,sociallinks,'sociallinks')"  ng-blur="pushElement(sociallink,sociallinks,'sociallinks')"  class="form-control" id="exampleInputEmail2" ng-model='sociallink.url' placeholder="{{_('Add a social link')}}" required>
                                      </div>
                                </form>
                              </div>
                                    <div class="news-blocks blank-card blank-card-red">
                                        <h3>{{ _('Story')}}</h3>
                                        <div class="news-block-tags">
                                            <!--strong>Tagline </strong>
                          
                                            <span class="page-meta"><i class="icon-pencil">
                                              <a ng-click="edittagline()" class="btn-link addAnotherPhone" data-toggle="modal">
                                                {{_("Edit")}}
                                              </a></i>
                                            </span-->
                                         <!--    <div class="form-group row">
                                                <label class="control-label col-md-4">{{ _('Tagline')}}</label>
                                                <div class="col-md-8">
                                                    <input type="text" required id="id_tagline" class="form-control" ng-model="contact.tagline">
                                                </div>
                                            </div> -->
                                        </div>

                                        <div class="news-block-tags">
                                            <!--strong>Introduction</strong>
                                            <span class="page-meta">
                                              <i class="icon-pencil">
                                              <a ng-click="editintro()" class="btn-link addAnotherPhone" data-toggle="modal" >
                                                {{_("Edit")}}
                                              </a></i>
                                            </span-->
                                            <div class="form-group row">
                                                <label class="control-label col-md-4">{{ _('Introduction')}}</label>
                                                <div class="col-md-8">
                                                    <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="contact.introduction"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- custom field here -->
                                    <div class="news-blocks blank-card blank-card-bluep">
                                <h3>{{ _('Custom Fields') }}</h3>
                                <ul class="list-unstyled contact-infos infoslist" >
                                    <li ng-repeat="custom in customfields">
                                    <span>
                                    <%= custom.field%>  : <%= custom.value%> </span>
                                      <button type="button" class="close closeContactForm" tabindex="-1" ng-click="deleteInfos(customfields,$index)" data-dismiss="alert"></button>
                                    </li>
                                </ul>
                                <form class="form-inline customField" role="form">
                                    <div class="form-group sm-group l-sm-inline" style="">
                                      <label class="sr-only" for="exampleInputEmail2">{{_('Field')}}</label>
                                      <input type="text" class="form-control" id="exampleInputEmail2" ng-model="customfield.field" placeholder="{{_('Add field name')}}">
                                    </div>
                                    <div class="form-group sm-group r-sm-inline" style="">
                                      <label class="sr-only" for="exampleInputEmail2">{{_('Value')}}</label>
                                      <input ng-enter="pushElement(customfield,customfields,'customfields')" ng-blur="pushElement(customfield,customfields,'customfields')" type="text" class="form-control" id="exampleInputEmail2" ng-model="customfield.value" placeholder="{{_('Add a value')}}">
                                    </div>
                                    <!-- <button type="submit" class="btn blue jfk-button jfk-button-action" ng-click="pushElement(customfield,customfields,'customfields')">{{_('Add')}}</button>-->
                                </form>
                              </div>
                                    <!-- end -->
                                <!--     <div class="news-blocks blank-card blank-card-yellow">
                                        <h3>{{ _('Custom Fields')}}</h3>
                                        <ul class="list-unstyled contact-infos" >
                                            <li ng-show="showCustomFieldForm">
                                                <div class="row">
                                                    <form class="form-inline newLeadForm" role="form">
                                                        <div class="form-group sm-group" style="">
                                                            <label class="sr-only" for="exampleInputEmail2">{{ _('Field')}}</label>
                                                            <input type="text" class="form-control" id="exampleInputEmail2" ng-model="customfield.field" placeholder="{{ _('Enter field name')}}">
                                                        </div>
                                                        <div class="form-group sm-group" style="">
                                                            <label class="sr-only" for="exampleInputEmail2">{{ _('Value')}}</label>
                                                            <input type="text" class="form-control" id="exampleInputEmail2" ng-model="customfield.value" placeholder="{{ _('Enter a value')}}">
                                                        </div>
                                                        <button type="submit" class="btn blue jfk-button jfk-button-action" ng-click="pushElement(customfield, customfields, 'customfields')">{{ _('Add')}}</button>
                                                        <button type="submit" class="btn btn-default" ng-click="showCustomFieldForm = false">X</button>
                                                    </form>
                                                </div>
                                            </li>
                                            <li ng-repeat="custom in customfields">

                                                <a editoptions editdataattr="deleteInfos(customfields,$index)" editable-text="custom.field" onbeforesave="inlinePatch('Infonode','customfields', 'field',custom.entityKey,$data)" href="<%=custom.field%>" target="_blank"> <%=custom.field%>
                                                </a>
                                                <a editoptions editdataattr="deleteInfos(customfields,$index)" editable-text="custom.value" onbeforesave="inlinePatch('Infonode','customfields', 'value',custom.entityKey,$data)" href="<%=custom.value%>" target="_blank"> <%=custom.value%>
                                                </a>

                                            </li>
                                            <li>
                                                <a ng-click="showCustomFieldForm = true" ng-hide="showCustomFieldForm"class="btn-link addAnotherPhone" data-toggle="modal">
                                                    <i class="icon-plus"></i> {{ _('Add a new custom field')}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet showPage rightCardContent">
                        <div class="portlet-title line">
                            <div class="caption">
                                <i class="fa fa-lock"></i>{{ _('Who can access ?')}}
                            </div>
                        </div>
                        <div class="portlet-body" id="chats">
                            <label class="radio line">
                                <input type="radio" value="public" ng-model="contact.access" ng-click="share()" />
                                {{ _('public: Anyone within your organization can access and find')}}
                            </label>
                            <label class="radio line">
                                <input type="radio"  value="private" ng-model="contact.access" ng-click="share()"/>
                                {{ _('private: only you and your collaborators')}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addressmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Add Address")}}</h3>
            </div>
            <div class="modal-body">
                <form id="addAddress" name="addemail"  class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Street")}} </label>
                        <div class="col-md-9">
                            <input type="text"   class="form-control" id="id_street" ng-model="address.street">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("City")}} </label>
                        <div class="col-md-9">
                            <input type="text"  class="form-control" id="id_city" ng-model="address.city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("State/Province")}} </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control"  id="id_state" ng-model="address.state">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Postal Code")}} </label>
                        <div class="col-md-9">
                            <input type="text"   class="form-control" id="id_postal" ng-model="address.postal">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Country")}} </label>
                        <div class="col-md-9">
                            <input type="text"  class="form-control"  id="id_country" ng-model="address.country">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel')}}</button>
                <input  type="submit" ng-disabled="!address.country" ng-click="pushElement(address, addresses, 'addresses')" class="btn green" value="{{_('Add this address')}}">
            </div>
        </div>
    </div>
</div>
<div id="EditTagModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Lead")}}</h3>
            </div>
            <div class="modal-body">
                <form id="editTagline" name="editlead" class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">{{_("Tagline")}} </label>
                        <div class="col-md-9">
                            <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="lead.tagline"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow" ng-click="updateTagline(lead)">{{_("Save")}} </button>
            </div>
        </div>
    </div>
</div>
<div id="EditIntroModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("Edit Lead")}}</h3>
            </div>
            <div class="modal-body">
                <form id="editTagline" name="edittag" ng-submit="updateintro(lead)" class="form-horizontal">
                    <div class="form-group">
                        <label  class=" col-md-3 control-label">{{_("Introduction")}} </label>
                        <div class="col-md-9">
                            <textarea id="noteBody" class="form-control ng-pristine ng-valid" rows="3" ng-model="lead.introduction"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
                <button  type="submit" class="btn btn-primary addContactNow">{{_("Save")}} </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#datetimepicker2').datetimepicker({
            language: 'fr',
            pickTime: false
        });
    });
</script>