<div class="row subHeader">
    <div class="currentApp">
       <h2 class="page-title">
       {{active_app.label}}
       <!--  <img class="platform_icons" height="25" width="25" src="static/img/admin_console.png"> -->
      </h2>
    </div>
    <div class=" subHeaderContent">
      <div class="col-md-9">
      <div class="row">
      <div class="col-md-10 col-xs-10">
        <div class="filterOptions">
            <span role="button" class="filterItem activeFilter" ng-click="filterByOwner();selectedOption ='all'" ng-class="{activeFilter: selectedOption =='all'}">All <span class="hidden-xs hiddenOnxs">Contacts</span> </span>
            <span role="button" class="filterItem" ng-class="{activeFilter: selectedOption =='my'}" ng-click="filterByOwner('{{ME}}');selectedOption ='my'">My <span class="hidden-xs hiddenOnxs">Contacts</span></span>
            <div class="btn-group">
                <a class="filterItem" href="#" data-toggle="dropdown"  ng-class="{activeFilter: selectedOption =='sort'}" >
                  Sort by
                  <i class="icon-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-click="orderBy('-updated_at')" href="#" data-toggle="modal">{{ _('Last modified') }}</a>
                  </li>
                  <li>
                    <a ng-click="orderBy('lastname')" href="#" data-toggle="modal">{{ _('Lastname') }}</a>
                  </li>
                  <li>
                    <a ng-click="orderBy('firstname')" href="#" data-toggle="modal">{{ _('Firstname') }}</a>
                  </li>
                </ul>
          </div>
          </div>
      </div>
      <div class="col-md-2 col-xs-2">
      <a href="/#/contacts/new" class="btn red newAccountBtnOnscroll pull-right hidden afterScrollBtn">
           New <span class="hidden-xs hiddenOnxs">Contact</span>
         </a>
      </div>
      </div>
    </div>
    </div>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoading">
    <div class="loader-dialog col-md-4 col-md-offset-4 ">
      <div class="loader-content">
            Loading...
      </div>
    </div>
  </div>
  <div class="dropOut"  ng-show="showUntag" >
    <div class="trash">
      <img alt="delete tag" droppable ng-drop="dropOutTag()" class="" src="/static/img/iotrash.png" >
    </div>
</div>
  <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <!-- BEGIN PAGE CONTAINER-->
  <div ng-show="immediateFailed">
    <div class="col-md-12">
      <h1>Sign-in Button;</h1>
        <span id="signin">
          <span id="myGsignin"></span>
        </span>
    </div>
  </div>
  <div ng-show="isSignedIn" class="row">
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
<div class="col-md-9">
    <div class="row subHeaderContainer">
        <div class=" col-md-9 col-sm-9 col-xs-9 subHeaderContent">
           <div class="row">
              <h2 class="page-title">{{ _("Contacts") }} </h2>
           </div>
        </div>
     <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="row">
         <div class="pull-right" >
           <a href="/#/contacts/new" class="btn red newBtn">
                        New Contact
          </a>
            <div class="btn-group newBtn">
          <button  ng-click="showImportModal()" id="sample_editable_1_new" class="btn red">
            <i class="icon-upload-alt"></i>
          </button>
        </div>
         </div>
         </div>
    </div>
  </div>
 <div class="row">
   <div class="col-md-12">

     <div class="row">
      <div class="tab-pane">
      <div class="row">
        <div class="col-md-12 waterfall" ng-hide="blankStateaccount">
          <div ng-repeat="contact in contacts"  droppable id="card_<%=$index%>"class="cardElement" ng-drop="dropTag(contact,$index)">
            <div class="detailsSection">
              <div class="head">
                <div class="pic">
                  <a href="/#/contacts/show/<%= contact.id %>" class="startup-link" title="<%=contact.firstname%> <%=contact.lastname%>">
                    <img ng-hide="contact.profile_img_url"  class="img-responsive profile-photo" src="/static/img/avatar_contact.jpg" >
                    <img ng-show="contact.profile_img_url"  class="img-responsive profile-photo" ng-src="https://docs.google.com/uc?id=<%= contact.profile_img_id %>" data-hasqtip="2">
                  </a>
                </div>
                <div class="text">
                  <div class="name">
                    <a href="/#/contacts/show/<%= contact.id %>" class="profile-link">
                       <%= contact.firstname %> <%=contact.lastname%>
                    </a>
                  </div>
                  <div class="pitch">
                    <span ng-show="contact.title">
                      <a  class="desc" ng-show="contact.title" href="/#/search/type:Contact <%=contact.title%>">
                        #<%=contact.title%>
                      </a>
                    </span>
                    <span ng-show="contact.account.name">
                      <span ng-show="contact.account.name + contact.title" class="contact-title">
                        at
                      </span>
                      <a  class="desc" href="/#/search/type:Contact <%=contact.account.name%>">
                        #<%=contact.account.name%>
                      </a>
                    </span>
                    <span>
                        <%=fromNow(contact.updated_at)%>
                    </span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="tagsSection" ng-class="{hidden: contact.tags==null}">
              <div class="sectionContent">
                <a ng-repeat="tag in contact.tags" href="/#/search/type:Contact tags:<%=tag.id%>">
                  <span draggable  ng-drag="dragTagItem(tag.edgeKey)" class="pull-right task-label task-tag badge ng-scope ng-binding" style="background-color: <%=tag.color%>;color:<%=idealTextColor(tag.color)%>;">
                    <%= tag.name %>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div><!--innercardcontaine-->
        <!--$Blank state-->
        <div class="col-md-12" ng-show="blankStatecontact">
          <div  data-span="3" class="dashboard-stat cards" data-tablet="span6" data-desktop="span12">
            <div class="">
              <div class="blank_slate_arrow"></div>
              <div class="thumbnail blank_slate_body">
                <img class="img-responsive" src="/static/img/contacts_blank.png">
                <p class="lead">
                  {{ _('Each contact gets a page in i/oGrow. You and your co-workers can add notes from calls,conversations, meetings, or any other historic information about this person.') }}
                </p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div><!--/inner-cards-container-->
        <div ng-show="isFiltering * !contacts"  class="col-md-12 " ng-show="blankStateaccount">
          <div  data-span="3" class="dashboard-stat cards" data-tablet="span6" data-desktop="span12">
            <div class="">
              <div class="blank_slate_arrow"></div>
              <div class="thumbnail blank_slate_body">
                <p class="lead">{{ _('No results found, try with another filter') }}</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div><!--/inner-cards-container-->
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
      <div class="col-md-3 fixed-labelsCard">
      <div class="row">
      <div class="col-md-12">
        <div class="portlet showCard">
          <div class="portlet-title">
            <div class="caption">
                    <!-- class="fa fa-reorder"--><i></i>Labels
            </div>
          </div>
          <div class="portlet-body">
            <ul class="list-group tags-list">
              <li ng-repeat="tag_item in tags" class="list-group-item tags-list-item" ng-click="selectTag(tag_item,$index,$event)" ng-drag="dragTag(tag_item)" >
                <div class="row">
                  <span draggable class="with-color" ng-dblclick="editTag(tag_item)" ng-show="(tag_item!=edited_tag)||(!manage_tags)" style="background-color:<%=tag_item.color%>;color:<%=idealTextColor(tag_item.color)%>;">
                      <%= tag_item.name %>
                  </span>
                  <span class="pull-right tag-checked" ng-show="selected_tags.indexOf(tag_item) != -1">
                      <i class="fa fa-check-circle-o" style="color:idealTextColor(<%=tag_item.color%>);"></i>
                  </span>
                  <form ng-submit="doneEditTag(tag_item)" ng-show="(tag_item==edited_tag)&&(manage_tags)">
                    <input ng-blur="doneEditTag(tag_item)" type="text" class="col-md-offset-1 col-md-7 form-control inlineEditTag " ng-model="tag_item.name">
                  </form>
                  <button ng-click="deleteTag(tag_item)" class="close_tag close pull-right" ng-show="manage_tags"></button>
                </div>
              </li>
              <li class="list-group-item tags-list-item" ng-hide="showNewTag" ng-click="showNewTag=true">
                <a ng-click="" class="btn-link addAnotherPhone">
                  <i class="fa fa-tags"></i>  Add a new label
                </a>
              </li>
            </ul>
            <form class="well newTagForm" role="form" ng-show="showNewTag">
              <button type="button" class="close"  aria-hidden="true" ng-click="showNewTag=false"></button>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="text" ng-model="tag.name" class="form-control" id="tag_name" placeholder="New label">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <ul class="color_pallet_menu">
                    <li ng-repeat="color in color_pallet" ng-click="checkColor(color)" class="color-<%=color.name%>" ng-class='{colorChecked: color.name==tag.color.name}' >
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <input type="submit"  ng-click="addNewtag(tag)" class="btn green pull-right" value="Add">
                </div>
              </div>
            </form>
            <div class="form-group btn-manage-tags" ng-show="tags">
              <button class="btn btn-default btn-block " ng-click="manage_tags=!manage_tags;manage()">        Manage Tags
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
      <!-- END PAGE CONTAINER-->
</div>

<script type="text/javascript">
 $('#slimtest1').slimScroll({
                    height: '20px'
  });
  $("#select2_sample2").select2({
        placeholder: "Click to Select a label",
        allowClear: false
  });
  var handleUniform = function () {
        if (!jQuery().uniform) {
            return;
        }
        var test = $("input[type=radio]:not(.toggle, .star)");
        if (test.size() > 0) {
            test.each(function () {
                if ($(this).parents(".checker").size() == 0) {
                    $(this).show();
                    $(this).uniform();
                }
            });
        }
    }
    handleUniform();
   $('.waterfall').waterfall({
        colMinWidth: 210,
        defaultContainerWidth: 800,
        autoresize: true
  });
  $('.textfill').textfill({debug: true, maxFontPixels: 16});
</script>
