<div  class="page-content">
 <div class="loader-container row" ng-show="isLoading">
      <div class="loader-dialog col-md-4 col-md-offset-4 ">
        <div class="loader-content">
          Loading...
        </div>
      </div>
      
    </div>

   <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <div id="portlet-config" class="modal hide">
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button"></button>
          <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
          <p>Here will be a configuration form</p>
        </div>
      </div>
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE CONTAINER-->
      <div  ng-show="immediateFailed">
         <div class="col-md-12">  
          <h1>Sign-in Button;</h1>
              <span id="signin">
                  <span id="myGsignin"></span>
              </span>
        </div>
      </div>
      <div id="addContactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="modal-title">{{_("New Contact")}}</h3>
              </div>
              <div class="modal-body">
                 <form id="addContact" name="addcontact" ng-keyup="addContactOnKey(contact)" class="form-horizontal"> 
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("First Name")}} </label>
                       
                        <div class="col-md-9">
                          <input type="text" required id="id_firstname" class="form-control" ng-model="contact.firstname">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Last Name")}}</label>
                       
                        <div class="col-md-9">
                          <input type="text"  required id="id_lastname" class="form-control" ng-model="contact.lastname">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Title")}}</label>
                       
                        <div class="col-md-9">
                          <input type="text"  id="id_lastname" class="form-control" ng-model="contact.title">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="required col-md-3 control-label">{{_("Account")}} </label>
                       
                        <div class="col-md-9">
                          <input type="text" required ng-model="searchAccountQuery" typeahead="result as result.name  for result in results | filter:$viewValue | limitTo:10" typeahead-on-select="selectAccount()" class="form-control" placeholder="Search">
                          
                        </div>
                    </div>
                    <hr/>
                    <p>Who can access?</p>
                     
                     
                     <div class='radio-list'>
                     
                          
                            <label  >
                            <input type="radio" name="optionsRadios" value="public" ng-model="contact.access" checked />
                            public: Anyone within your organization
                            </label>
                            <label  >
                            <input type="radio" name="optionsRadios"  value="private" ng-model="contact.access" />
                            private: only you and your collaborators
                            </label>  
                           
                       
                     
                    </div>
              </div>
              <div class="modal-footer">
                 <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                
                <input  ng-click="save(contact)" type="submit" class="btn green" value="Add this contact">
                <!--input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled-->
              </div>
               </form>
               </div>
               </div>
       </div>
      <div ng-show="isSignedIn">
        
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row ">
            <div class="col-md-12"> <h2 class="page-title">{{ _("Contacts") }} </h2></div>
          </div>
        <div class="row">
        
          <div class="col-md-2" > 
                    <button  ng-click="showModal()" id="sample_editable_1_new" class="btn red">
                    {{ _("New Contact") }} <i class="icon-plus"></i>
                    </button> 
          </div>
          <div class="col-md-2" ng-show="contacts+isFiltering">
              <div class="btn-group btn-filter">
                                    <a class="btn btn-default" href="#" data-toggle="dropdown">
                                      {{ _('Filter by') }}
                                    <i class="icon-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a  ng-click="filterByOwner()" href="#" data-toggle="modal">{{ _('All contacts') }}</a></li>
                                      <li><a ng-click="filterByOwner('{{ME}}')" href="#" data-toggle="modal">{{ _('My contacts') }}</a></li>
                                    </ul>
              </div>
          </div>
          <div class="col-md-5" ng-show="contacts+isFiltering">  
                    <form clss="ng-pristine ng-valid" ng-submit="executeSearch(searchQuery)">
                      <div class="input-group">

                        <input type="text" ng-model="searchQuery" typeahead="result as result.firstname + ' ' + result.lastname + ' - ' + result.position +' at ' + result.account_name + ' '  for result in results | filter:$viewValue | limitTo:8" typeahead-on-select="selectResult()" class="form-control" placeholder="{{ _('Quick Filtering') }}">
                        <span class="input-group-btn">  
                       <button class="gbqfb gbqfb-hvr"><i class="icon-filter"></i></button>
                       </span>
                      </div>
                    </form>
          </div>
          <div class="col-md-2" ng-show="contacts+isFiltering">
              <div class="btn-group  tbtn-sort">
                                    <a class="btn btn-default" href="#" data-toggle="dropdown">
                                    Sort by
                                    <i class="icon-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a  ng-click="orderBy('-updated_at')" href="#" data-toggle="modal">{{ _('Last modified') }}</a></li>
                                      <li><a ng-click="orderBy('firstname')" href="#" data-toggle="modal">{{ _('First Name') }}</a></li>
                                      <li><a ng-click="orderBy('lastname')" href="#" data-toggle="modal">{{ _('Last Name') }}</a></li>
                                      <li><a ng-click="orderBy('title')" href="#" data-toggle="modal">{{ _('Title') }}</a></li>
                                      <li><a ng-click="orderBy('account_name')" href="#" data-toggle="modal">{{ _('Company') }}</a></li>
                                      
                                     
                                    </ul>
              </div>

            </div>

        </div>
           <hr/>
           
            <div class="row cards-container">
            <div class="col-md-9">
            <div class="inner-cards-container">
            
              <div droppable ng-repeat="contact in contacts"  data-column="<%=getPosition($index)%>" class="cardElement"  ng-drop="dropTag(contact)" >
               
                  <div class="cardHeader">
                      <a href="/#/contacts/show/<%= contact.id %>"><h2 class="cardTitle">
                      <%= contact.firstname %> <%=contact.lastname%>
                    </h2></a>
                  </div>
                  <hr>
                  <div class="cardDetails">
                    
                      <div class="desc">
                        <div class="row margin-bottom-5">
                          <div class="col-md-12">
                            <span ng-show="contact.title"><a  class="desc" ng-show="contact.title" href="/#/search/type:Contact <%=contact.title%>">#<%=contact.title%></a></span><span ng-show="contact.account.name"> <span ng-show="contact.account.name + contact.title" class="contact-title">at </span> <a  class="desc" href="/#/search/type:Contact <%=contact.account.name%>">#<%=contact.account.name%></a></span>
                          </div>
                          
                        </div>
                      </div>

                    <br/>
                    <div class="row cardTags">
                          <div class="col-md-12">
                               <a ng-repeat="tag in contact.tags" href="/#/search/type:Contact tags:<%=tag.id%>"> <span class="pull-right task-label task-tag badge ng-scope ng-binding" style="background-color: <%=tag.color%>;color:<%=idealTextColor(tag.color)%>;">  <%= tag.name %></span>
                               </a>
                          </div>
                          
                    </div>                         
                      
                    
                    </div>
                </div>
              <script type="text/javascript">
                  $('.inner-cards-container').waterfall({ 
                      colMinWidth: 200, 
                      defaultContainerWidth: 800,
                      autoresize: true
                    });
               </script>
               <div ng-show="blankStatecontact" data-span="3" class="col-md-12 responsive" data-tablet="span6" data-desktop="span12">
                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="blank_slate_body">
                      <img src="/static/src/img/contacts_blank.png">
                      <p class="lead">Each contact gets a page in i/oGrow. You and your co-workers can add notes from calls,conversations, meetings, or any other historic information about this person.</p>
                  </div>
               
                                  
                </div>
              </div>
              <div ng-show="isFiltering * !contacts" data-span="3" class="col-md-12 responsive" data-tablet="span6" data-desktop="span12">
                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="thumbnail blank_slate_body">
                      
                      <p class="lead">No results found, try with another filter</p>
                  </div>
               
                                  
                </div>
              </div>
              <div class="clearfix"></div>
              </div>
              <div class="row">
          <div class="col-md-12">
            <div class="pagination pull-right" >
                  
                  
                    <button ng-click="listPrevPageItems()" id="sample_editable_1_new" class="btn" ng-show="contactpagination.prev">
                    {{_("Prev")}} 
                    </button>
                    <li ng-repeat="page in contactpagination.pages" ng-class='{active: page.isCurrent}'><a  href="#/accounts/p/<%= page.id %>"><%= page.id %></a></li>
                   <button ng-click="listNextPageItems()"  class="btn" ng-show="contactpagination.next">
                    {{_("Next")}} 
                    </button>
                  </ul>
                </div>
                <!--h3 class="pagination pull-right" ng-show="isLoading">Loading...</h3-->
            </div>
          </div>
          
              </div>
          <script type="text/javascript">
              $('#slimtest1').slimScroll({
                    height: '20px'
                });
          </script>
          <div class="col-md-3">
              <div class="portlet">
                <div class="portlet-title">
                  <div class="caption">
                    <!-- class="fa fa-reorder"--><i></i>Labels
                  </div>
                  
                </div>
                <div class="portlet-body">
                <ul class="list-group tags-list">
                  <li  ng-repeat="tag_item in tags" class="list-group-item tags-list-item" ng-click="selectTag(tag_item,$index,$event)" ng-drag="dragTag(tag_item)" >
                  <div class="row">
                    <!--div class="tag-color" style="border-left: 4px solid <%=tag_item.color%>;">
                    </div-->
                    <span draggable class="with-color" ng-dblclick="editTag(tag_item)" ng-show="(tag_item!=edited_tag)||(!manage_tags)" style="background-color:<%=tag_item.color%>;color:<%=idealTextColor(tag_item.color)%>;"><%= tag_item.name %></span>
                    <span class="pull-right tag-checked" ng-show="selected_tags.indexOf(tag_item) != -1">
                      <i class="fa fa-check-circle-o" style="color:idealTextColor(<%=tag_item.color%>);"></i>  
                    </span>
                    <form ng-submit="doneEditTag(tag_item)" ng-show="(tag_item==edited_tag)&&(manage_tags)">
                      <input ng-blur="doneEditTag(tag_item)" type="text" class="col-md-offset-1 col-md-7 form-control inlineEditTag " ng-model="tag_item.name">
                    </form>
                    <button ng-click="deleteTag(tag_item)" class="close_tag close pull-right" ng-show="manage_tags"></button>
                  </li>
                  <li class="list-group-item tags-list-item" ng-hide="showNewTag" ng-click="showNewTag=true">
                       <a ng-click="" class="btn-link addAnotherPhone">
                        <i class="fa fa-tags"></i>  Add a new label</a>
                  </li>
                  </div>
                </ul>
                
                <form class="well newTagForm" role="form" ng-show="showNewTag">
                 <button type="button" class="close"  aria-hidden="true" ng-click="showNewTag=false"></button>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" ng-model="tag.name" class="form-control" id="tag_name" placeholder="New label">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <!-- <input id="tag-col-pick" type="text" class="colorpicker-default form-control" value="#8fff00">-->
                      <ul class="color_pallet_menu">
                        <li ng-repeat="color in color_pallet" ng-click="checkColor(color)" class="color-<%=color.name%>" ng-class='{colorChecked: color.name==tag.color.name}' >
                        </li>
                      </ul>

                  </div>
                  <div class="col-md-6">
                    <input type="submit"   ng-click="addNewtag(tag)" class="btn green pull-right" value="Add">
                    <!--input type="submit" ng-show="isLoading" class="btn green pull-right" value="{{ _('Loading...') }}"-->
                  </div>
                  </div>
                </form>
                <div class="form-group" ng-show="tags">
                  <button class="btn btn-default btn-block" ng-click="manage_tags=!manage_tags;manage()"> Manage Tags</button>
                </div>
                  
                </div>
              </div>
            </div>
            
            </div>
         
           
          
        
        <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE CONTAINER--> 
</div>
<script type="text/javascript">
  $("#select2_sample2").select2({
        placeholder: "Click to Select a label",
        allowClear: false
    });
  var handleUniform = function () {
        if (!jQuery().uniform) {
            return;
        }
        var test = $("input[type=radio]:not(.toggle, .star)");
        if (test.size() > 0) {
            test.each(function () {
                if ($(this).parents(".checker").size() == 0) {
                    $(this).show();
                    $(this).uniform();
                }
            });
        }
    }
    handleUniform();
</script>

