<div class="row subHeader action-bar">
    <div class="currentApp">
        <a class="filterItem" href="#" data-toggle="dropdown">
            <span class="active-app"><i class="fa fa-cog"></i> {{_(active_app.label)}}</span>
            <i class="icon-angle-down fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            {% for application in apps %}
            <li><a href="/apps/{{ application.key.id() }}" data-toggle="modal">{{ _(application.label) }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="subHeaderContent" style="border-right-width: 0;">
        <div class="col-md-4 active-app"><i class="fa fa-group section-icon"></i> {{ _('Opportunity Stages') }} </div>
        <a title="New user" class="btn red save-btn newAccountBtnOnscroll pull-right" ng-click="addOppStageModal()">
            <i class="fa fa-plus"></i> {{ _('New') }}
        </a>
    </div>
</div>

<div class="page-content admin-content">
    <div class="loader-container row" ng-show="isLoading">
        <div class="loader-dialog col-md-4 col-md-offset-4 ">
            <div class="loader-content">
                {{ _('Loading...') }}
            </div>
        </div>
    </div>
    <div ng-show="immediateFailed">
        <div class="col-md-12">
          <span id="signin">
            <span id="myGsignin"></span>
          </span>
        </div>
    </div>
    <div class="col-md-12 waterfall" ng-hide="blankStateaccount">
        <div ng-repeat="stage in notEditableStatus"
                class="col-md-8" class="well grid">
            <div class="detailsSection stageCard">
                <div class="head">
                    <div class="text">
                        <div class="name col-md-offset-2">
                            <%= stage.stage_number %> - <%=stage.name%>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr class="col-md-8">
        <div class="sortable-container grid" sv-root sv-part="editableStatus"
             sv-on-sort="onOrderChange($item, $partFrom, $partTo, $indexFrom, $indexTo)">
            <div ng-repeat="stage in editableStatus"
                 class="col-md-8" sv-element="opts" class="well grid" ng-drop="dropTag(contact)">
                <div class="detailsSection stageCard">
                    <div class="head">
                        <div class="text">
                            <div class="name">
                                <div class="col-sm-2" sv-handle style="cursor: move;">
                                    <i class="fa fa-reorder"></i>
                                </div>
                                <%= stage.stage_number %> - <%=stage.name%>
                            </div>
                            <div class="pull-right">
                            <span class="page-meta">
                                    <a ng-click="editopportunitystage(stage)" class="btn default addAnotherPhone"
                                       data-toggle="modal"> <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                <button data-toggle="modal" class="btn default addAnotherPhone"
                                data-target="#confirm-deletion" ng-click="showDeletionModal(stage)" >
                                    <i class="fa fa-trash-o"></i><%= slectedStage %>
                                </button>

                            </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="addOppStagetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>{{_("New Opportunity Stage")}}</h3>
            </div>
            <form name="addOppStage" ng-submit="saveOppStage(oppstage)" class="form-horizontal">
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="required control-label">{{_("Name")}} *</label>
                            <input type="text" class="form-control" required ng-model="oppstage.name">
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button type="submit" class="btn green">{{_("Add a new Opportunity stage")}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="EditOppsStage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>{{_("Edit Opportunity Stage")}}</h3>
            </div>
            <form name="addOppStage" class="form-horizontal" ng-submit="updateOppStage(oppstageedit)">
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="required control-label">{{_("Name")}} *</label>
                            <input type="text" class="form-control" required ng-model="oppstageedit.name">
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button type="submit" class="btn green" >{{_("save")}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="confirm-deletion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <h3>{{_("Confirm deletion")}}</h3>
            </div>

                <div class="modal-body">
                   <h3>{{_("You will delete the")}} <b> <%= selectedStage.name %> </b>{{_("stage")}}</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button class="btn green" ng-click="deleteOppStage(selectedStage)"
                    data-dismiss="modal" aria-hidden="true">{{_("Delete")}} </button>
                </div>
        </div>
    </div>
</div>
