<div class="row subHeader">
  <div class="currentApp">
    <h2 class="page-title">
      {{active_app.label}}
    </h2>
  </div>
  <div class=" subHeaderContent">
    <div class="pull-right sharebuttonDiv"> 
      
    </div> 
    <h2 class="page-title" >
         
      {{_("Settings")}} 
      
    </h2>
  </div>
</div>
<div  class="page-content">
  <div class="loader-container row" ng-show="isLoading">
    <div class="loader-dialog col-md-4 col-md-offset-4 ">
      <div class="loader-content">
        Loading...
      </div>
    </div>
  </div>
  <div class="container" ng-show="immediateFailed">
    <div class="col-md-12">  
      <h1>{{ _("Sign-in Button;") }}</h1>
      <span id="signin">
        <span id="myGsignin"></span>
      </span>
    </div>
  </div>
  <div  class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="showPage custom-show margin-bottom-15  col-md-12">
          <div class="row margin-bottom-10">
            
            <div class="col-md-10">
              
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                  <li class="ng-tab" ng-class="{active: selectedTab == 1}">
                    <a ng-click="waterfall(); selectedTab = 1;">Opportunity Stages</a>
                  </li>
                  <li class="ng-tab" ng-class="{active: selectedTab == 2}">
                    <a ng-click="waterfall(); selectedTab = 2;">Case Status</a>
                  </li>
                  <li class="ng-tab sm-menu" ng-class="{active: selectedTab ==3}">
                    <a ng-click="waterfall(); selectedTab = 3;">Lead Status</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="col-md-12">
          <div class="row">
            <div class="">
              <!-- $ tabs -->
              <div class="tab-content">
                <div class="tab-pane active" id="tab_1_3" ng-show="selectedTab == 1" style="display: none;">
                  <div class="row cards-container">     
                    <div class="btn-group relbutton">
                      <button  ng-click="addOppStagetModal()" id="sample_editable_1_new" class="btn red">
                               {{_("Add a new stage")}}
                      </button>                              
                    </div>
                    <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12 waterfall" ng-hide="blankStateaccount">
                                <div droppable  ng-repeat="stage in opportunitystages" data-column="<%=getPosition($index)%>" class="cardElement" ng-drop="dropTag(contact)" ng-class="{rightcards: getPosition($index)==4}">
                                    <div class="detailsSection">
                                      <div class="head">
                                        <div easypiechart class="chart pic" options="chartOptions" percent="stage.probability">
                                          
                                        </div>
                                        <div class="text">
                                            <div class="name">
                                              <%=stage.name%>  
                                            </div>
                                             <div class="pitch">
                                                <span>
                                                  <%=stage.probability%> %
                                                </span>
                                                <br/>
                                                <span class="page-meta"><i class="icon-pencil"><a ng-click="editopportunitystage(stage)" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i> |<i class="icon-trash"></i>  <a ng-click="deleteoppstage(stage)" class="btn-link addAnotherPhone">{{_("Delete")}}</a></span> 
                                              </div>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>
                            </div>
                            <div class="clearfix"></div>
                                          
                            </div><!--/inner-cards-container-->
                              </div><!--/inner-cards-container-->
                              </div>
                            </div>
                            
                       
                      </div>
                      <div class="tab-pane active" id="tab_1_2" ng-show="selectedTab == 2" style="display: none;">
                  <div class="row cards-container">     
                    <div class="btn-group relbutton">
                      <button  ng-click="addCasestatustModal()" id="sample_editable_1_new" class="btn red">
                          {{_("Add a Case status")}}<i class="icon-plus"></i>
                      </button>                              
                    </div>
                    <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12 waterfall-case" ng-hide="blankStateaccount">
                                <div droppable  ng-repeat="casestate in casesatuses" data-column="<%=getPosition($index)%>" class="cardElement" ng-drop="dropTag(contact)" ng-class="{rightcards: getPosition($index)==4}">
                                    <div class="detailsSection">
                                      <div class="head">
                                        
                                        <div class="text">
                                            <div class="name">
                                             <%=casestate.status%> 
                                            </div>
                                             <div class="pitch">
                                                <span class="page-meta"><i class="icon-pencil"><a ng-click="editcasestatus(casestate)" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i> |<i class="icon-trash"></i>  <a ng-click="deletecasestatus(casestate)" class="btn-link addAnotherPhone">{{_("Delete")}}</a></span> 
                                              </div>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>
                            </div>
                            <div class="clearfix"></div>
                                          
                            </div><!--/inner-cards-container-->
                              </div><!--/inner-cards-container-->
                              </div>
                            </div>
                            
                       
                      </div>


                      <div class="tab-pane active" id="tab_1_3" ng-show="selectedTab == 3" style="display: none;">
                  <div class="row cards-container">     
                    <div class="btn-group relbutton">
                      <button  ng-click="addLeadstatustModal()" id="sample_editable_1_new" class="btn red">
                               {{_("Add a Lead status")}}<i class="icon-plus"></i>
                      </button>                              
                    </div>
                    <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12 waterfall-lead" ng-hide="blankStateaccount">
                                <div droppable  ng-repeat="leadstat in leadstatuses" data-column="<%=getPosition($index)%>" class="cardElement" ng-drop="dropTag(contact)" ng-class="{rightcards: getPosition($index)==4}">
                                    <div class="detailsSection">
                                      <div class="head">
                                        
                                        <div class="text">
                                            <div class="name">
                                              <%=leadstat.status%> 
                                            </div>
                                             <div class="pitch">
                                                <span class="page-meta"><i class="icon-pencil"><a ng-click="editleadstatus(leadstat)" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i> |<i class="icon-trash"></i>  <a ng-click="deletleadstatus(leadstat)" class="btn-link addAnotherPhone">{{_("Delete")}}</a></span> 
                                              </div>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>
                            </div>
                            <div class="clearfix"></div>
                                          
                            </div><!--/inner-cards-container-->
                              </div><!--/inner-cards-container-->
                              </div>
                            </div>
                            
                       
                      </div>
               
                      
                      
                      
                    </div>
                  </div>
                  <!--END TABS-->
                </div>
              </div>
    
  </div>
</div>

</div>

<div id="addOppStagetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                  <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h3 id="myModalLabel">{{_("New Opportunity Stage")}}</h3>
                        </div>
                <div class="modal-body">
                            <form id="addOppStage" name="addOppStage"   class="form-horizontal"> 
                            <fieldset>
                            <div class="form-group">
                              <label  class="required control-label">{{_("Name")}} *</label>
                       
                              
                              <input type="text" class="form-control" required id="id_firstname" ng-model="oppstage.name">
                          
                              
                            </div>
                           <div class="form-group">
                              <label  class=" control-label">{{_("Probability")}}</label>
                             
                              <input type="text" class="form-control"  id="id_lastname" ng-model="oppstage.probability">
                          
                              
                           </div>
                          
                          </fieldset>
                
                  </div>
                  <div class="modal-footer">
                   <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                     <button  type="submit" class="btn green" ng-click="saveOppStage(oppstage)">{{_("Add a new Opportunity stage")}}</button>
                   </div>
                   </form>
       </div>
       </div>
       </div>
       <!-- HKA 15.12.2013 Edit Opportunity stage -->
       <div id="EditOppsStage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
       <div class="modal-dialog">
       <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h3 id="myModalLabel">{{_("Edit Opportunity Stage")}}</h3>
                        </div>
                <div class="modal-body">
                            <form id="addOppStage" name="addOppStage"   class="form-horizontal"> 
                            <fieldset>
                            <div class="form-group">
                              <label  class="required control-label">{{_("Name")}} *</label>
                       
                              
                              <input type="text"  class="form-control" required id="id_firstname" ng-model="oppstageedit.name">
                          
                              
                            </div>
                           <div class="form-group">
                              <label  class=" control-label">{{_("Probability")}}</label>
                              
                              <input type="text" class="form-control" id="id_lastname" ng-model="oppstageedit.probability">
                          
                              
                           </div>
                           
                          
                          </fieldset>
                
                  </div>
                  <div class="modal-footer">
                   <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                     <button  type="submit" class="btn green" ng-click="updateOppStage(oppstageedit)">{{_("save")}}</button>
                     
                   </div>
                   </form>
       </div>
       </div>
       </div>

<div id="addCasestatustModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h3 id="myModalLabel">{{_("New Case Status")}}</h3>
                        </div>
                        <div class="modal-body">
                            <form id="addcasestatus" name="addcasestatus"   class="form-horizontal"> 
                            <fieldset>
                            <div class="form-group">
                              <label  class="required control-label">{{_("Case Status")}} *</label>
                       
                              
                              <input type="text" class="form-control" required id="id_firstname" ng-model="casestatus.status">
                          
                               
                            </div>
                          
                    </fieldset>
                
                    </div>
                         <div class="modal-footer">
                           <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                           <button  type="submit" class="btn green" ng-click="saveCaseStatus(casestatus)">{{_("Add Case Status")}}</button>
                         </div>
                          </form>
                    </div>
                     </div>
                     </div>   
                      </div>
                       <!--HKA 19.12.2013 Edit Case status -->
                <div id="EditCaseStatus" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h3 id="myModalLabel">{{_("Edit Case Status")}}</h3>
                        </div>
                        <div class="modal-body">
                            <form id="addcasestatus" name="addcasestatus"   class="form-horizontal"> 
                   <fieldset>
                            <div class="form-group">
                              <label  class="required control-label">{{_("Case Status")}} *</label>
                       
                              
                              <input type="text" class="form-control" required id="id_firstname" ng-model="casestatusedit.status">
                          
                               
                            </div>
                          
                    </fieldset>
                
                    </div>
                         <div class="modal-footer">
                           <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                           <button  type="submit" class="btn green" ng-click="updateCasestatus(casestatusedit)">{{_("Save")}}</button>
                         </div>
                          </form>
                    </div>
                    </div>
                    </div>
                        
                      </div>

<div id="addLeadstatustModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h3 id="myModalLabel">{{_("New Lead status")}}</h3>
                        </div>
                        <div class="modal-body">
                            <form id="saveLeadtatus" name="addleadstatus"   class="form-horizontal"> 
                            <fieldset>
                            <div class="form-group">
                              <label  class="required control-label">{{_("Lead Status")}} *</label>
                       
                              
                              <input type="text" class="form-control" required id="id_firstname" ng-model="lead.status">
                          
                               
                            </div>
                           
                           
                    </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn green" ng-click="saveLeadtatus(lead)">{{_("Add Lead Status")}}</button>
              </div>
               </form>
        </div>
        </div>
       </div>

    <!--End Lead Modal -->
    <!-- HKA 19.12.2013 Edit Lead status -->
         <div id="EditLeadStatus" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
         <div class="modal-dialog">
         <div class="modal-content">

                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h3 id="myModalLabel">{{_("Edit Lead status")}}</h3>
                        </div>
                        <div class="modal-body">
                            <form id="saveLeadtatus" name="addleadstatus"   class="form-horizontal"> 
                            <fieldset>
                            <div class="form-group">
                              <label  class="required control-label">{{_("Lead Status")}} *</label>
                       
                              <input type="text" class="form-control" required id="id_firstname" ng-model="leadstat.status">
                          
                              
                            </div>
                           
                           
                    </fieldset>
                
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                <button  type="submit" class="btn green" ng-click="updateLeadstatus(leadstat)">{{_("Save")}}</button>
              </div>
               </form>
       </div>        
       </div>
       </div>
<script type="text/javascript">

  $('.waterfall').waterfall({ 
              colMinWidth: 210, 
              defaultContainerWidth: 840,
              autoresize: true
          });
  $('.waterfall-case').waterfall({ 
              colMinWidth: 210, 
              defaultContainerWidth: 840,
              autoresize: true
          });
  $('.waterfall-lead').waterfall({ 
              colMinWidth: 210, 
              defaultContainerWidth: 840,
              autoresize: true
          });

       
</script>