{% extends "/templates/live/live_base.html" %}


{% block title %} Home {%endblock%}
{% block content %}
     <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
           <div class="span8">
                <h1><a href="/live/" data-toggle="tooltip" data-placement="bottom" title="Back to Shows">
            <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false"> Shows </a>      > All upcomings shows  </h1>
            </div>
            <div class="span4">
                <div class="pull-right get-in">
                      <button id="myBtn" class="btn green g-interactivepost"
    data-clientid="987765099891.apps.googleusercontent.com"
    data-contenturl="http://gcdc2013-iogrow.appspot.com/live/"
    data-calltoactionlabel="DISCOVER"
    data-calltoactionurl="http://gcdc2013-iogrow.appspot.com/live/allupcomings/"
    data-cookiepolicy="single_host_origin"
    data-prefilltext="Come Discover  i/oGrow Live :)">
     <i class="icon-share"></i>
  Tell your friends
</button>
                    
                </div>
            </div>
        </div>
    </div>
    

    <div class="container min-hight">
        <!-- BEGIN FILTER -->     
        <h2>Check out our upcoming shows </h2>
        
        <ul class="grid-v1 thumbnails">
                 {%if upcoming_shows%}
                {%for upcoming in upcoming_shows%}
                <li class="span3 mix category_1">
                
                <a href="/live/shows/{{upcoming.id}}/" target="new">
                    <img class="hangout-icon" src="https://developers.google.com/_static/frontend/a39d39a910/images/hangout.png">
                 <span> {{upcoming.name}} :  ({{upcoming.starts_at}} to {{upcoming.ends_at}})</span> </a>
                 By {{upcoming.organization_name}}  
                                                          
                </li>
                {%endfor%}
                {%else%}
                  <div class="span6 responsive" data-tablet="span6" data-desktop="span4">
                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="blank_slate_body">
                      <img src="/static/img/blankshow.png" align="center">
                      <p class="lead">{{ _('Big companies can spend lot of money on advertising, but small companies can’t . So why not following a new way: Instead of trying to out-advertise your competitors, try to build your own audience. Speak, share information that’s valuable with people and you will create a whole different connection. You will gain more trust and more respect. The audience care often about what you have to say') }}</p>
                  </div>
               
                                  
                </div>
              </div>
                {%endif%}

                
        </ul>     
        
    
        <!-- END FILTER -->           
    </div>
    <!-- END CONTAINER -->
{% endblock %}