<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>ioGrow - Grow your business live - {% block title %} {% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/static/frontend/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/frontend/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/frontend/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/static/frontend/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="/static/frontend/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/frontend/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/frontend/plugins/fancybox/source/jquery.fancybox.css">

    <link href="/static/frontend/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES --> 
    <link href="/static/frontend/css/pages/portfolio.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->    
    <link href="/static/frontend/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>    
    <link  rel="shortcut icon" href="favicon.ico"/>

    <script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body>
  
  
    <!-- BEGIN HEADER -->
    <div class="front-header" ng-controller="LiveHeaderController">
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <!-- BEGIN LOGO (you can use logo image instead of text)-->
                    <a class="brand logo-v1" href="/welcome/">
                        <img src="/static/frontend/img/iogrow_gool.png" id="logoimg" alt="" width="130">
                    </a>
                    <!-- END LOGO -->

                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                   
                    <!-- END RESPONSIVE MENU TOGGLER -->

                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <ul class="nav search-form-top" ng-controller="SearchFormController"> 
                          <li>    
                            <form class="form-inline ng-pristine ng-valid">
                              <div class="input-append row-fluid">
                                <input type="text" ng-model="searchQuery" typeahead="result as result.title + ' (' + result.organization + ')' for result in results | filter:$viewValue | limitTo:8" typeahead-on-select="selectResult()" class="input-xlarge" placeholder="Search">
                               <button class="gbqfb gbqfb-hvr"><span class="gbqfi"></span></button>
                              </div>
                            </form>
                          </li> 
                      </ul>
                    <ul class="nav pull-right">
         
          <li class="dropdown user">
                    
                         {% if user %}
                         <a href="{{user.google_public_profile_url}}" target="_blank" class="dropdown-toggle" >
                            <img alt="" src="{{user.google_public_profile_photo_url}}" width="29" />
                            <span class="username">{{user.google_display_name}}</span>
                            
                        </a>
                        {% else %}
                        <a ng-show="userinfo" ng-href="<%=userinfo.google_public_profile_url%>" target="_blank" class="dropdown-toggle" >
                          <img alt="" ng-src="<%=userinfo.photo%>" width="29" />
                          <span class="username"ng-bind="userinfo.display_name"></span>
                        </a>

                        <div id="gConnect" ng-hide="userinfo">

                             <span id="myGsignin"></span>
                        </div>
                        {% endif %}
                       
                      
                   
          </li>
          <!-- END USER LOGIN DROPDOWN -->
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
        <ul class="nav pull-right">
          
          <li class="dropdown user">
            <a href="/sign-in" >
            <img alt="" src="/static/frontend/img/glyphicons_156_show_thumbnails.png" width="20" />
            
            <span class="username">Platform</span>
            
            </a>

           
          </li>
          <!-- END USER LOGIN DROPDOWN -->
          <!-- END USER LOGIN DROPDOWN -->
        </ul> 
        <ul class="nav pull-right">
          <!-- BEGIN NOTIFICATION DROPDOWN -->   
          
          <!-- END NOTIFICATION DROPDOWN -->
          <!-- BEGIN INBOX DROPDOWN -->
          
          <!-- END INBOX DROPDOWN -->
          <!-- BEGIN TODO DROPDOWN -->
          
          <!-- END TODO DROPDOWN -->               
          <!-- BEGIN USER LOGIN DROPDOWN -->
          <li>
            <a href="/live/" >
            
            
            <span class="username">Shows</span>
            </a>
          </li>

          <!-- END USER LOGIN DROPDOWN -->
          <!-- END USER LOGIN DROPDOWN -->
        </ul>

        <ul class="nav pull-right">
          <!-- BEGIN NOTIFICATION DROPDOWN -->   
          
          <!-- END NOTIFICATION DROPDOWN -->
          <!-- BEGIN INBOX DROPDOWN -->
          
          <!-- END INBOX DROPDOWN -->
          <!-- BEGIN TODO DROPDOWN -->
          
          <!-- END TODO DROPDOWN -->               
          <!-- BEGIN USER LOGIN DROPDOWN -->
           <li>
            <a href="/welcome/">
            
            
            <span class="username">Home</span>
            </a>
          </li>
          <li>
            <a href="/live/companies/">
            
            
            <span class="username">Companies</span>
            </a>
          </li>
          

          <!-- END USER LOGIN DROPDOWN -->
          <!-- END USER LOGIN DROPDOWN -->
        </ul>

                    <!-- BEGIN TOP NAVIGATION MENU -->
                </div>
            </div>
        </div>      
    </div>  
    <!-- END HEADER -->

    <!-- BEGIN BREADCRUMBS -->   
    {% block content %}

    {% endblock %}
   


    <!-- END FOOTER -->

    <!-- BEGIN COPYRIGHT -->
    <div class="front-copyright">
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <p>
                        <span class="margin-right-10">2014 © i/oGrow. ALL Rights Reserved.</span> 
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="span4">
                    <ul class="social-footer">
                        <li><a href="https://plus.google.com/110820504821255547625/posts" target="new"><i class="icon-google-plus" ></i></a></li>
                        <li><a href="https://www.facebook.com/iogrow" target="new"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/ioGrow"><i class="icon-twitter"></i></a></li>
                        
                        <!--li><a href="#"><i class="icon-dropbox"></i></a></li-->
                    </ul>                
                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <script type="text/javascript">
    function loadGapi() {
      window.is_signed_in = false;
      window.authResult = undefined;
      var apisToLoad;
     //var ROOT = '/_ah/api';
      var ROOT = 'https://gcdc2013-iogrow.appspot.com/_ah/api';
      var callback = function() {
        if (--apisToLoad == 0) {
          apiLoaded();
        }
      }
      apisToLoad = 1; // must match number of calls to gapi.client.load()
      console.log('before loading');
      gapi.client.load('iogrowlive', 'v1', callback, ROOT);
    }
    function apiLoaded(){
      // When the API is loaded start angularJS app
      var $injector = angular.bootstrap(document, ['ioGrowLive']); 
      console.log('angular bootstraped');
      
    }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=loadGapi">
    </script>
    
    <script src="/static/frontend/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="/static/frontend/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="/static/src/js/angular.min.js" ></script>
    <script src="/static/frontend/app/scripts/app.js" ></script>
   <script src="/static/frontend/app/scripts/controllers/iogrowlivecontrollers.js" ></script>
    <script src="/static/frontend/app/scripts/controllers/companylivecontrollers.js" ></script>
    
    <script src="/static/frontend/app/scripts/controllers/livesearchcontrollers.js" ></script>
    <script src="/static/frontend/app/scripts/services/livesearchservices.js" ></script>
    <script src="/static/frontend/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/src/js/ui-bootstrap-0.5.0.js" ></script>
    <script src="/static/src/js/ui-bootstrap-tpls-0.5.0.js"></script>
    <script type="text/javascript" src="/static/frontend/plugins/back-to-top.js"></script>    
      <script type="text/javascript" src="/static/frontend/plugins/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/static/frontend/plugins/fancybox/source/jquery.fancybox.pack.js"></script> 
    <script src="/static/frontend/plugins/jquery.mixitup.min.js"></script>      
    <script type="text/javascript" src="/static/frontend/plugins/hover-dropdown.js"></script>                
    <!--[if lt IE 9]>
    <script src="/static/frontend/plugins/respond.min.js"></script>  
    <![endif]-->   
    <!-- END CORE PLUGINS -->
     
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script src="/static/src/js/jquery.ui.map.min.js"></script>
    
    <script>
        jQuery(document).ready(function() {    
           App.init();
           App.gridOption1();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>