{% extends "/templates/live/live_base.html" %}


{% block title %} Home {%endblock%}
{% block content %}
     <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="span8">
                <h1>The Best companies share all what they know, they are here to help you</h1>
            </div>
            <div class="span4">
                <div class="btn-group pull-right get-in">
            
                    <button  ng-click="showModal()" id="sample_editable_1_new" class="btn green">
                    Share 
                    </button>
            </div>
            </div>
        </div>
    </div>
    

    <div class="container min-hight">
        <!-- BEGIN FILTER -->     
        <h2>Check out our upcoming shows <a href="#"><small>(View all)</small></a></h2>
        
        <ul class="grid-v1 thumbnails">
                
                <li class="span3 mix category_1">
                
                    <a href="#"><img class="hangout-icon" src="https://developers.google.com/_static/frontend/a39d39a910/images/hangout.png"><span> How to grow your startup: Buffer experience (3/12 6:00 p.m.)</span></a>
                                                          
                </li>
                <li class="span3 mix category_1">
                
                    <a href="#"><img class="hangout-icon" src="https://developers.google.com/_static/frontend/a39d39a910/images/hangout.png"><span> How to grow your startup: Buffer experience (3/12 6:00 p.m.)</span></a>
                                                          
                </li>
                <li class="span3 mix category_1">
                
                    <a href="#"><img class="hangout-icon" src="https://developers.google.com/_static/frontend/a39d39a910/images/hangout.png"><span> How to grow your startup: Buffer experience (3/12 6:00 p.m.)</span></a>
                                                          
                </li>
               <li class="span3 mix category_1">
                
                    <a href="#"><img class="hangout-icon" src="https://developers.google.com/_static/frontend/a39d39a910/images/hangout.png"><span> How to grow your startup: Buffer experience (3/12 6:00 p.m.)</span></a>
                                                          
                </li>
                <li class="span3 mix category_1">
                
                    <a href="#"><img class="hangout-icon" src="https://developers.google.com/_static/frontend/a39d39a910/images/hangout.png"><span> How to grow your startup: Buffer experience (3/12 6:00 p.m.)</span></a>
                                                          
                </li>
                <li class="span3 mix category_1">
                
                    <a href="#"><img class="hangout-icon" src="https://developers.google.com/_static/frontend/a39d39a910/images/hangout.png"><span> How to grow your startup: Buffer experience (3/12 6:00 p.m.)</span></a>
                                                          
                </li>
                <li class="span3 mix category_1">
                
                    <a href="#"><img class="hangout-icon" src="https://developers.google.com/_static/frontend/a39d39a910/images/hangout.png"><span> How to grow your startup: Buffer experience (3/12 6:00 p.m.)</span></a>
                                                          
                </li>
                
               <li class="span3 mix category_1">
                
                    <a href="#"><img class="hangout-icon" src="https://developers.google.com/_static/frontend/a39d39a910/images/hangout.png"><span> How to grow your startup: Buffer experience (3/12 6:00 p.m.)</span></a>
                                                          
                </li>
            </ul>     
        <h2>Recently aired <a href="#"><small>(View all)</small></a></h2>
          
        <div class="filter-v1 margin-bottom-40">
            <!--
            <ul class="filter-category">
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter="category_1">UI Design</li>
                <li class="filter" data-filter="category_2">Web Development</li>
                <li class="filter" data-filter="category_3">Photography</li>
                <li class="filter" data-filter="category_3 category_1">Wordpress and Logo</li>
            </ul>
            -->
            <ul class="grid-v1 thumbnails">
                <li class="span3 mix category_1"><a href="/live/shows/5821843504103424">
                    <img class="video-thumbnail" src="https://i.ytimg.com/vi/7y2VlKJtXsI/mqdefault.jpg">
                    Google App Engine, explorando la plataforma
                  </a>
                </li>
                <li class="span3 mix category_2"><a href="/live/shows/5821843504103424">
                    <img class="video-thumbnail" src="https://i.ytimg.com/vi/OfYLG6FXtqE/mqdefault.jpg">
                    Google App Engine, explorando la plataforma
                  </a>
                </li>
                <li class="span3 mix category_3"><a href="/live/shows/5821843504103424">
                    <img class="video-thumbnail" src="https://i.ytimg.com/vi/9jUN1cc2iWg/mqdefault.jpg">
                    Google App Engine, explorando la plataforma
                  </a>
                </li>
                <li class="span3 mix category_4"><a href="/live/shows/5821843504103424">
                    <img class="video-thumbnail" src="https://i.ytimg.com/vi/KQEv90hZsCk/mqdefault.jpg">
                    Google App Engine, explorando la plataforma
                  </a>
                </li>

            </ul>
        </div>
        <h2>Featured shows <a href="#"><small>(View all)</small></a></h2>
          
        <div class="filter-v1 margin-bottom-40">
            <!--
            <ul class="filter-category">
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter="category_1">UI Design</li>
                <li class="filter" data-filter="category_2">Web Development</li>
                <li class="filter" data-filter="category_3">Photography</li>
                <li class="filter" data-filter="category_3 category_1">Wordpress and Logo</li>
            </ul>
            -->
            <ul class="grid-v1 thumbnails">
                <li class="span3 mix category_1"><a href="/live/shows/5821843504103424">
                    <img class="video-thumbnail" src="https://i.ytimg.com/vi/7y2VlKJtXsI/mqdefault.jpg">
                    Google App Engine, explorando la plataforma
                  </a>
                </li>
                <li class="span3 mix category_2"><a href="/live/shows/5821843504103424">
                    <img class="video-thumbnail" src="https://i.ytimg.com/vi/OfYLG6FXtqE/mqdefault.jpg">
                    Google App Engine, explorando la plataforma
                  </a>
                </li>
                <li class="span3 mix category_3"><a href="/live/shows/5821843504103424">
                    <img class="video-thumbnail" src="https://i.ytimg.com/vi/9jUN1cc2iWg/mqdefault.jpg">
                    Google App Engine, explorando la plataforma
                  </a>
                </li>
                <li class="span3 mix category_4"><a href="/live/shows/5821843504103424">
                    <img class="video-thumbnail" src="https://i.ytimg.com/vi/KQEv90hZsCk/mqdefault.jpg">
                    Google App Engine, explorando la plataforma
                  </a>
                </li>

            </ul>
        </div>
        <!-- END FILTER -->           
    </div>
    <!-- END CONTAINER -->
{% endblock %}