{% extends "/templates/live/live_base.html" %}


{% block title %} Home {%endblock%}
{% block content %}

     <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="span8">
                <h1><a href="/live/" data-toggle="tooltip" data-placement="bottom" title="Back to Shows">
            <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false"></a>     <a href="/live/" >Shows</a> > <a href="/live/companies/{{organization_id}}/">{{companyprofile.name}}</a> > {{show.name}} </h1>
            </div>
            <div class="span4">
                <div class="pull-right get-in">
                      <button id="myBtn" class="btn green g-interactivepost"
    data-clientid="987765099891.apps.googleusercontent.com"
    data-contenturl="http://gcdc2013-iogrow.appspot.com/live/shows/{{show.id}}"
    data-calltoactionlabel="DISCOVER"
    data-calltoactionurl="http://gcdc2013-iogrow.appspot.com/live/shows/{{show.id}}"
    data-cookiepolicy="single_host_origin"
    data-prefilltext="Come Discover this show at {{companyprofile.name}} :)">
     <i class="icon-share"></i>
  Tell your friends
</button>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->

    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight" ng-controller="LiveShowController">
          <div id="giveFeedbackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">{{_("Ask a question or give a feedback")}}</h3>
            </div>
            <div class="modal-body">
            {%if user %}  
                      <div>
                        <img class="avatar" ng-src="{{user.google_public_profile_photo_url}}"/>
                        <strong>{{user.google_display_name }} </strong>
                      </div>
                     <form  class="horizontal-form margin-bottom-40">
                                  <div class="control-group">
                                      <label class="control-label">Subject</label>
                                      <div class="controls">
                                          <input type="text" class="input-block-level" ng-model="feedback.name" />
                                      </div>
                                  </div>
                                 
                                  <div class="control-group">
                                      <label class="control-label" >Message</label>
                                      <div class="controls">
                                          <textarea class="input-block-level" rows="8" ng-model="feedback.content"></textarea>
                                      </div>
                                  </div>
                                
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              
               <input ng-hide="isLoading" ng-click="sendFeedback(feedback)" type="submit" class="btn green" value="Send" >
                <input ng-show="isLoading" type="submit" class="btn green" value="Loading..." disabled>
                                        
            </form>
            {% else %}
             <div id="googleConnect" ng-hide="userinfo" class="text-center">

                             <span id="gSignInFeedback" ng-hide="userinfo"></span>
             </div>
            
                

            {%endif%}
            </div>
</div>
        <!-- BEGIN PORTFOLIO ITEM -->
        <div class="row-fluid margin-bottom-30">
            <!-- BEGIN CAROUSEL -->  

            <div class="span8">
            {% if show.youtube_url %}
              <iframe width="100%" height="450" src="http://www.youtube.com/embed/{{show.youtube_url}}?rel=0" frameborder="0" allowfullscreen></iframe>  
            {% else %}
              <img src="/static/img/gdl-stay-tuned.png" height="450"/>
            {% endif %}           
            </div>
            
            <!-- END CAROUSEL -->                             

            <!-- BEGIN PORTFOLIO DESCRIPTION -->            
            <div class="span4">
                
                <h2>About</h2>
                {% if show.description %}
                <p>{{show.description}}</p>
                {% else %}
                No description available.
                {% endif %}
                
                <h2>When?</h2>
                    <p>{{show.starts_at}} - {{show.ends_at}}</p>
                    <p><a class="add-calendar" href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text={{show.name}}&amp;dates={{starts_at}}/{{ends_at}}&amp;sprop=name%3AioGrow&amp;sprop=website%3Aiogrow.com&amp;details=http://gcdc2013-iogrow.appspot.com/live/shows/{{show.id}}" target="_blank" data-event="{{show.name}}">

        
                <img class="small-cal-icon" src="https://developers.google.com/_static/a39d39a910/images/calendar-42.png" width="25" alt="Add to calendar">
                Add to calendar
                </a></p>
                
               
                <button class="btn green" ng-click="showFeedbackModal()"> Ask a question or give a feedback</button>
               
               <br><br>
               {%if companyprofile.youtube_channel %}
               <div class="g-ytsubscribe" data-layout="full" data-channel="{{companyprofile.youtube_channel}}">
               </div>
               {%endif%}
               
            
               
            </div>
            <!-- END PORTFOLIO DESCRIPTION -->            
        </div>
        <!-- END PORTFOLIO ITEM --> 

        

          
        <!-- END RECENT WORKS --> 
    </div>
{% endblock %}