{% extends "/templates/live/live_base.html" %}


{% block title %} Comapny Page {%endblock%}
{% block content %}
      <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="span8">
                <h1><a href="/live/companies/" data-toggle="tooltip" data-placement="bottom" title="Back to Accounts">
            <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;" src="https://admin.google.com/a/cpanel/gwt/cpanelnew/resources/clear.cache.gif" style="width: 21px; height: 21px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAP0lEQVR42mNgGAXDApRT28AGIP5PCwP/08LA/9QKw/9kYLyggxaGYjMYHyApiBpoYSixSYqsyGwYzf+jgDQAAJylMNOnx10yAAAAAElFTkSuQmCC); background-position: 0px 0px; background-repeat: no-repeat no-repeat;" border="0" class="gwt-Image GI4HA0EPK cbarOpacity" aria-hidden="false"></a> <a href="/live/companies/" >Companies</a> >  <a >{{companyprofile.name}}</a> </h1>  
            </div>
            <div class="span4">
                <div class="btn-group pull-right get-in">
            
  <button id="myBtn" class="btn green g-interactivepost"
    data-clientid="987765099891.apps.googleusercontent.com"
    data-contenturl="http://gcdc2013-iogrow.appspot.com/live"
    data-calltoactionlabel="INVITE"
    data-calltoactionurl="https://developers.google.com/+/web/share/interactive?invite=true"
    data-cookiepolicy="single_host_origin"
    data-prefilltext="Come Discover this {{companyprofile.name}}">
     <i class="icon-share"></i>
  Tell your friends
</button>          
  
            </div>
            </div>
        </div>

        

    <div class="container min-hight">
    <div class="container">
        
                    
                    <div class="tab-style-1">
                      
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-1" data-toggle="tab">Shows</a></li>
                            <li><a href="#tab-2" data-toggle="tab">About</a></li>
                            <li><a href="#tab-3" data-toggle="tab">Products & Services</a></li>
                            <li><a href="#tab-4" data-toggle="tab">Customer Stories</a></li>
                            <li><a href="#tab-5" data-toggle="tab">Get in touch</a></li>
                        </ul>
                       
                        <div class="tab-content">
                            <div class="tab-pane row-fluid fade in active" id="tab-1">
                                   
                                  <h2>Check out our upcoming shows <a href="#"><small>(View all)</small></a></h2>
                                  <ul class="grid-v1 thumbnails">
                                          
                                       
                                           {%if upcoming_shows %}
                                             {%for upcoming_show in upcoming_shows%}
                                      <li class="span3 mix category_1"><a href="/live/shows/{{upcoming_show.id}}/">
                                      {% if upcoming_show.youtube_url %}
                                            <img class="video-thumbnail" src="http://img.youtube.com/vi/{{upcoming_show.youtube_url}}/0.jpg">

                                      {% else %}
                                           <img src="/static/img/gdl-stay-tuned.png" height="450"/>
                                      {% endif %}    
                                         {{upcoming_show.name}}
                                        </a>
                                      </li>
                                      {%endfor%}
                                      {%else%}
                                <div class="span6 responsive" data-tablet="span6" data-desktop="span4">
                                <div class="dashboard-stat cards">
                                <div class="blank_slate_arrow"></div>
                                <div class="blank_slate_body">
                                   <img src="/static/img/blankshow.png" align="center">
                                  <p class="lead"></p>
                                </div>
                                </div>
                                </div>
                                      {%endif%}
                                                                                    
                                        
                                         
                                        </ul>

                                      <h2>Recently aired <a href="#"><small>(View all)</small></a></h2>
                                      <div class="filter-v1 margin-bottom-40">
                                                                        
                                      <ul class="grid-v1 thumbnails"> 
                                       {%if recentlyshows%}
                                       {%for recentshow in recentlyshows%}
                                    <li class="span3 mix category_1"><a href="/live/shows/{{recentshow.id}}/" target="new">
                                         {% if recentshow.youtube_url %}
                                           <img class="video-thumbnail" src="http://img.youtube.com/vi/{{recentshow.youtube_url}}/0.jpg">
                                         {% else %}
                                          <img src="/static/img/gdl-stay-tuned.png" height="450"/>
                                         {% endif %}    
                                         {{recentshow.name}} 
                                        </a>
                                      </li>
                                      {%endfor%}
                                      {%else%}
                                      <div class="span6 responsive" data-tablet="span6" data-desktop="span4">
                                <div class="dashboard-stat cards">
                                <div class="blank_slate_arrow"></div>
                                <div class="blank_slate_body">
                                   <img src="/static/img/blankshow.png" align="center">
                                  <p class="lead"></p>
                                </div>
                                </div>
                                </div>

                                      {%endif%}

                                      </ul>
                                  </div>
                                  
                            </div>
                            <div class="tab-pane fade" id="tab-2">
                                <div class="row-fluid">
                          <div class="span6">
                            
                                <div class="news-blocks blank-card blank-card-yellow">
                                <h3>Company Profile Information</h3>
                                <div class="news-block-tags">
                                  <strong>Phone</strong>
                                 
                                </div>
                                  <ul class="unstyled contact-infos">
                                   {%for phone in companyprofile.phones%}
                                    <li > {{phone.number}} - {{phone.type_number}} <a ><!--img class="ctodeal" src="static/img/phone-icon.png" /--></a>
                                    </li>
                                    {%endfor%}
                                    <br>
          
                                    <!--li><a href="#phonemodal"  class="btn-link addAnotherPhone" data-toggle="modal"><i class="icon-plus"></i>Add a new Phone</a></li-->

                                  </ul>
                                <div class="news-block-tags">
                                  <strong>Email</strong>
                                 
                                </div>
                                  <ul class="unstyled contact-infos">
                                    {%for email in companyprofile.emails%}
                                    <li > {{email.email}}  
                                    </li>
                                    {%endfor%}
                                    <br>

                                  </ul>
                                <div class="news-block-tags">
                                  <strong>Address</strong>
                                 
                                </div>
                                 <ul class="unstyled contact-infos">
                                   {%for addr in companyprofile.addresses%}
                                    <li >{{addr.street}}, {{addr.city}} ,  {{addr.postal_code}} {{addr.state}}  </li>
                                    {%endfor%}
                 
                                  </ul>
                                  <br>                                                              
                                                          
                              </div>
                              <div class="news-blocks blank-card blank-card-bluep">
                                <h3>Links</h3>
                                <div class="news-block-tags">
                                  <strong>Website</strong>
                                  
                                </div>
                                <ul class="unstyled contact-infos" >
                                    {%for web in companyprofile.websites%}
                                    <li ><a href="http://{{web.website}}" target="new">{{web.website}}</a>  </li>
                                    {%endfor%}
                                    <br>
                                    
                                </ul>
                                 
                                <div class="news-block-tags">
                                  <strong>Social Links</strong>
                                  
                                </div>
                                <ul class="unstyled contact-infos" >
                                 {%for social in companyprofile.sociallinks%}
                                    <li > <a href="{{social.sociallink}}" target="new" >{{social.sociallink}}</a>  </li>
                                    {%endfor%}
                                      
                                </ul><br>
                                <div class="news-block-tags">
                                <strong>Youtube Channel</strong><br>
                                {%if companyprofile.youtube_channel %}
                                   <div class="g-ytsubscribe" data-layout="full" data-channel="{{companyprofile.youtube_channel}}">
                                     
                                   </div>
                                 {%endif%}
                               
                                  
                                </div>
                                                  
                              </div>
                          </div>
                          <div class="span6">
                          
                            <div class="news-blocks blank-card blank-card-red">
                                <h3>Story</h3>
                                <div class="news-block-tags">
                                  <strong>Tagline </strong>
                                  <!--span class="page-meta"><i class="icon-pencil"><a ng-click="edittagline()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span-->
                                </div>
                                
                                
                                <p>{{companyprofile.tagline}} </p>
                               
                                

                                <div class="news-block-tags">
                                  <strong>Introduction</strong>
                                  <!--span class="page-meta"><i class="icon-pencil"><a ng-click="editintro()" class="btn-link addAnotherPhone" data-toggle="modal" > {{_("Edit")}} </a></i></span-->
                                  
                                </div>
                                <p>{{companyprofile.introduction}}</p>                         
                              </div>
                            
                          </div>
                          
                        </div>
                      </div>
                      <div class="tab-pane row-fluid fade" id="tab-3">
                                  <h2>Products <a href="#"><small></small></a></h2>
                                  {%if productvideo%}
                                  <div >
                              
                                <ul class="grid-v1 thumbnails">
                                  
                                   {%for prodvid in productvideo%}
                                     <li class="span3 mix category_1"><a href="/live/shows/{{prodvid.id}}/">
                                    {%if prodvid.youtube_url %}
                                      <img class="video-thumbnail" src="http://img.youtube.com/vi/{{prodvid.youtube_url}}/0.jpg">
                                     {%else%}
                                       <img src="/static/img/gdl-stay-tuned.png" height="450"/>
                                       {% endif %}
                                      {{prodvid.name}} 
                                    </li>
                                      {%endfor%}

                                 </ul>
                              </div>
                               {%else%}
                <div class="span6 responsive" data-tablet="span6" data-desktop="span4">
                <div class="dashboard-stat cards">
                  
                  
                  <div class="blank_slate_arrow"></div>
                  <div class="blank_slate_body">
                      <img src="/static/img/blankshow.png" align="center">
                      <p class="lead"></p>
                  </div>
               
                                  
                </div>
              </div>
              {%endif%}
                                  
              
                                  
                            </div>
                        <div class="tab-pane row-fluid fade" id="tab-4">
                                  <h2>Customer Stories <a href="#"><small></small></a></h2>
                                   {%if customerstory%}
                                  <div >
                              
                                    <ul class="grid-v1 thumbnails">
                                      {%for custstory in customerstory%}
                                      <li class="span3 mix category_1"><a href="/live/shows/{{custstory.id}}/">
                                      {%if custstory.youtube_url %}
                                     <img class="video-thumbnail" src="http://img.youtube.com/vi/{{custstory.youtube_url}}/0.jpg">
                                     {%else%}
                                      <img src="/static/img/gdl-stay-tuned.png" height="450"/>
                                      {%endif%}

                                          {{custstory.name}} 
                                        </a>
                                      </li>
                                      {%endfor%}
                                      
                              

                                    </ul>
                                  </div> 
                                  {%else%}
                                     <div class="span6 responsive" data-tablet="span6" data-desktop="span4">
                                         <div class="dashboard-stat cards">         
                                         <div class="blank_slate_arrow"></div>
                                     <div class="blank_slate_body">
                                        <img src="/static/img/blankshow.png" align="center">
                                      <p class="lead"></p>
                                       </div>              
                                      </div>
                                  </div>
                                 {%endif%}
                              </div>
                           
                            <div class="tab-pane row-fluid fade" id="tab-5" ng-controller="CompanyLiveShowController">
                                  <form action="#" class="horizontal-form margin-bottom-40">
                                  <div class="control-group">
                                      <label class="control-label">Subject</label>
                                      <div class="controls">
                                          <input type="text" class="m-wrap span12"  ng-model="feedback.name"/>
                                      </div>
                                  </div>
                                 
                                  <div class="control-group">
                                      <label class="control-label" >Message</label>
                                      <div class="controls">
                                          <textarea class="m-wrap span12" rows="8" ng-model="feedback.content"></textarea>
                                      </div>
                                  </div>
                                  <button ng-click="sendFeedback(feedback)" type="submit" class="btn theme-btn green">Send</button>
                                  <button type="button" class="btn">Cancel</button>
                              </form>
                                  
                            </div>

                        </div>
                    </div>
                </div>
        

    </div>
    

        <!-- BEGIN FILTER -->     
         
        
        
        <!-- END FILTER -->           
    </div>
{% endblock %}