{% extends "/templates/live/live_base.html" %}


{% block title %} Comapny Page {%endblock%}
{% block content %}
      <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="span8">
                <h1>See how startups and small companies are growing fast & live!</h1>
            </div>
            <div class="span4">
            <div class="pull-right get-in">
                <button id="myBtn" class="btn green g-interactivepost"
    data-clientid="987765099891.apps.googleusercontent.com"
    data-contenturl="http://gcdc2013-iogrow.appspot.com/welcome/"
    data-calltoactionlabel="DISCOVER"
    data-calltoactionurl="http://gcdc2013-iogrow.appspot.com/welcome/"
    data-cookiepolicy="single_host_origin"
    data-prefilltext="#ioGrow is a platfrom that helps startups to #grow their business">
     <i class="icon-share"></i>
  Tell your friends
</button>
</div>
          
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->

    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight" ng-controller="mapsController">
        <!-- BEGIN ABOUT INFO -->   
        <div class="row-fluid margin-bottom-30">
            <!-- BEGIN INFO BLOCK -->               
            <div class="span12 space-mobile">
              <div id="map_canvas" style="width:100%;height:400px;"></div>
               
            </div>
            <!-- END INFO BLOCK -->   

                      
        </div>
        <!-- END ABOUT INFO -->   

        <!-- BEGIN TESTIMONIALS AND PROGRESS BAR -->
       
        <!-- END TESTIMONIALS AND PROGRESS BAR --> 

        <!-- BEGIN OUR TEAM -->
        
        <!-- END OUR TEAM -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}