{% extends "/templates/live/live_base.html" %}


{% block title %} Comapny Page {%endblock%}
{% block content %}
      <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="span8">
                <h1>See how startups and small companies are growing fast & live!</h1>
            </div>
            <div class="span4">
            <div class="pull-right get-in">
                <button id="myBtn" class="btn green g-interactivepost"
    data-clientid="987765099891.apps.googleusercontent.com"
    data-contenturl="http://gcdc2013-iogrow.appspot.com/welcome"
    data-calltoactionlabel="DISCOVER"
    data-calltoactionurl="http://gcdc2013-iogrow.appspot.com/welcome/"
    data-cookiepolicy="single_host_origin"
    data-prefilltext="#ioGrow is a platfrom that helps startups to #grow their business">
     <i class="icon-share"></i>
  Tell your friends
</button>
</div>
          
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->

    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight">
        <!-- BEGIN ABOUT INFO -->   
        <div class="row-fluid margin-bottom-30">
            <!-- BEGIN INFO BLOCK -->               
            <div class="span7 space-mobile">
                <h2>Talk to your customers to grow your business</h2>
                <p>ioGrow is a platform that helps startups and small companies to grow their business by talking to customers, and help people to find and discover the best companies and get in touch with them in real time.<br>
<strong>In fact very few startups fail for lack of technology or funding. They almost always fail for lack of customers.</strong> <br>
We believe that entrepreneurs need to turn their guesses into facts as soon as possible by talking to customers and getting feedbacks from them.<br>
Startups need to understand in details who are their customers, what are their problems or needs.<br>
Another problem for startups and small companies is <strong>how to buy people’s attention.</strong> Big companies can spend a lots of money on advertising, but small companies can’t. So why don’t think about a new way:  <strong>Instead of trying to outspend, out-advertise, your competitors, try to build an audience.</strong> Speak, share information that’s valuable with people and you will form a whole different connection. They’ll trust you more. They’ll respect you more.<br>
An audience returns often to see what you have to say. 
</p>
               
            </div>
            <!-- END INFO BLOCK -->   

            <!-- BEGIN CAROUSEL -->            
            <div class="span5 front-carousel">
                <img src="https://developers.google.com/maps/images/gdl-banner.png"/>                
            </div>
            <!-- END CAROUSEL -->             
        </div>
        <!-- END ABOUT INFO -->   

        <!-- BEGIN TESTIMONIALS AND PROGRESS BAR -->
       
        <!-- END TESTIMONIALS AND PROGRESS BAR --> 

        <!-- BEGIN OUR TEAM -->
        
        <!-- END OUR TEAM -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}