<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ioGrow - Great customer relationship management for startups">
        <meta name="keywords" content="">
        <meta name="author" content="Daniely Wright">
        <link href="/static/welcome/ico/favicon.png" rel="shortcut icon" >
        <title>ioGrow - Customer Relationship Management for startups</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/welcome/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/static/welcome/css/style.css" rel="stylesheet">
        <link href="/static/welcome/css/responsive.css" rel="stylesheet">
        <link href="/static/welcome/css/linecons.css" rel="stylesheet">
        <link href="/static/welcome/css/social-icons.css" rel="stylesheet">
        <link href="/static/welcome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/welcome/css/lightbox.css" rel="stylesheet" />
        <link rel='stylesheet' href="/static/welcome/css/typicons.min.css" />


        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/static/welcome/js/modernizr.custom.js"></script>
        <script src="/static/welcome/js/jquery-1.11.0.min.js"></script>
        <script src="/static/welcome/js/lightbox.min.js"></script>



    <!-- Place this asynchronous JavaScript just before your </body> tag -->
  <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script type="text/javascript">
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js?onload=render';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();

  function render() {
    console.log(gapi);
    console.log('***');
    gapi.signin.render('buttonText', {
      'approvalprompt':'force',
      'callback': 'signinCallback',
      'clientid': '987765099891.apps.googleusercontent.com',
      'cookiepolicy': 'none',
      'requestvisibleactions': 'http://schemas.google.com/AddActivity',
      'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/calendar https://www.google.com/m8/feeds',
      'accesstype':'offline'

    });


  }


  function signinCallback(){

       gapi.client.load('plus','v1', function(){
         var request = gapi.client.plus.people.get({
           'userId': 'me'
         });
         request.execute(function(resp) {
           email = resp.emails[0].value;
           image = resp['image']['url']
           name = resp.displayName;

           // add to keen io

           var trackSubscribers = function () {

                    var subscriber = {
                        item: email,
                        name: name,
                        image:image,
                        keen: {
                                timestamp: new Date()
                            }
                    };

                    Keen.addEvent("subscribers", subscriber);
                };

                if (email != "")
                {
                    console.log(email);
                    trackSubscribers();
                    console.log("added to the list");
                }

         });
        });


    }
  </script>



  <style type="text/css">
    .white-link{
      color:white;
      font-weight:bold;
      font-size:14px;
    }
    #customBtn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 300px;
      border-radius: 5px;
      white-space: nowrap;
    }
    #customBtn a{
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 300px;
      border-radius: 5px;
      white-space: nowrap;
      padding-top:5px;
      padding-bottom:5px;
    }
    #customBtn:hover {
      background: #dd4b39;
      cursor: hand;
    }

    span.label {
      font-weight: bold;
    }
    span.icon {
      background: url('/static/welcome/img/btn_red_32.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-right: #dd4b39 1px solid;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left:15px;
      padding-right: 35px;
      font-size: 16px;
      font-weight:bold;
      letter-spacing: normal !important;
      text-transform: none !important;
      font-weight: bolder;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto',arial,sans-serif;
    }
  </style>
  <!-- In the callback, you would hide the gSignInWrapper element on a
  successful sign in -->


        <script type="text/javascript">
            var Keen=Keen||{configure:function(e){this._cf=e},addEvent:function(e,t,n,i){this._eq=this._eq||[],this._eq.push([e,t,n,i])},setGlobalProperties:function(e){this._gp=e},onChartsReady:function(e){this._ocrq=this._ocrq||[],this._ocrq.push(e)}};(function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"==document.location.protocol?"https://":"http://")+"dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();

    // Configure the Keen object with your Project ID and (optional) access keys.
            Keen.configure({
            projectId: "5383793ece5e43557f000012",
            writeKey: "76bf630ec41d8fcaec86767f38ce51cc0fd6cb8792c4e6aed3cce9865ac450e681bc578ffe8b274e0ee0e8129ae67bcdadf0138053cc93c440415a5d14eb5a1088c154124b62d57f68e8d8e22d658600e8ed543ab1c8ca7a2758fefceebd6950950ac1c41bccc7578c1beb1d4439107f", // required for sending events
            readKey: "260c85b3e9510925a8cae6675db9449b14acd2e37e89ba8e82d2c75c64775e9d783266614fb0dea034d6a2a7f441b6f000016413b84a8360068ec2c3b98742c584515b0499d2eaee8745368066351e0b69e004dfe3703a0aaec77cb3d34f4ececf1c490ffa63e597aab9b576def5bd9d"    // required for doing analysis
        });
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53aef4a2107c3e52"></script>
    </head>

    <body data-spy="scroll" data-offset="0" data-target="#navigation">

        <!-- Fixed navbar -->
        <div id="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/welcome/">
                        <img src="http://storage.googleapis.com/iogrow-gs/static/img/ioGrow_welcome_logo.png" style="margin-top: -28px;padding-top: 10px;height:45px;">
                    </a>
                </div>

                <div class="navbar-collapse collapse custom-nav">
                    <ul class="nav navbar-nav cl-effect-13">
                        <li class="active" align="center"><a href="#home" class="smoothScroll" <a href="#home" class="smoothScroll">Home</a></li>
                        <li><a href="#features" align="center" class="smoothScroll">Features</a></li>
                        <li><a href="#pricing" align="center" class="smoothScroll">Pricing</a></li>
                        <li><a href="#contact" align="center" class="smoothScroll">Contact</a></li>
                        <li><a href="/blog" align="center" class="smoothScroll">Blog</a></li>
                        <li><div class="addthis_sharing_toolbox" style="margin-top: 6px;"></div></li>
                    </ul>

                    <!-- Sign In / Sign Up -->
                    <ul class="nav navbar-nav navbar-right cl-effect-13 visible-md visible-lg">
                        <!-- <li class="dropdown"><a href="#signin" data-toggle="modal" data-target=".bs-modal-sm"><i class="fa fa-lock"></i> Sign In</a></li> -->
                        <div class="navbar-form">

                           <div id="gSignInWrapper" align="center">
                              <div id="customBtn" class="customGPlusSignIn">
                                <a href="/sign-in" >
                                <span class="icon"></span>
                                <span class="buttonText">Start using ioGrow for free!</span></a>
                              </div>
                            </div>
                        <!-- <span id="signinButton">
                     <span
                            class="g-signin"
                            data-callback="signinCallback"
                            data-clientid="987765099891.apps.googleusercontent.com"
                            data-cookiepolicy="single_host_origin"
                            data-requestvisibleactions="http://schemas.google.com/AddActivity"
                            data-scope="https://www.googleapis.com/auth/plus.login">
                    </span>
                        </span> -->

                        </div>
                    </ul>
                </div><!--/nav-collapse -->
            </div><!-- /container -->
        </div><!-- /fixed-navbar -->

        <!-- Sign In / Sign Up Modal -->
        <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <br>
                    <div class="bs-example bs-example-tabs">
                        <ul id="myTab" class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                            <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div id="myTabContent" class="tab-content">
                            <!-- Sign In Form -->
                            <div class="tab-pane fade active in" id="signin">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="Email">Email:</label>
                                            <div class="controls">
                                                <input id="Email" name="Email" class="form-control" type="text" placeholder="Your email address" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Password input-->
                                        <div class="control-group">
                                            <label class="control-label" for="passwordinput">Password:</label>
                                            <div class="controls">
                                                <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                                            </div>
                                        </div>

                                        <!-- Multiple Checkboxes (inline) -->
                                        <div class="control-group">
                                            <label class="control-label" for="rememberme"></label>
                                            <div class="controls">
                                                <label class="checkbox inline" for="rememberme-0">
                                                    <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                                                    Remember me
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="control-group">
                                            <label class="control-label" for="signin"></label>
                                            <div class="controls">
                                                <button id="signin" name="signin" class="btn btn-theme btn-block">Sign In</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div><!-- /signin -->

                            <!-- Sign Up Form -->
                            <div class="tab-pane fade" id="signup">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="Email">Email:</label>
                                            <div class="controls">
                                                <input id="Email" name="Email" class="form-control" type="text" placeholder="Your email address" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Password input-->
                                        <div class="control-group">
                                            <label class="control-label" for="password">Password:</label>
                                            <div class="controls">
                                                <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                                                <em>1-8 Characters</em>
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                            <div class="controls">
                                                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Multiple Radios (inline) -->
                                        <br>
                                        <div class="control-group">
                                            <label class="control-label" for="humancheck">Humanity Check:</label>
                                            <div class="controls">
                                                <label class="radio inline" for="humancheck-0">
                                                    <input type="radio" name="humancheck" id="humancheck-0" value="robot" checked="checked">I'm a Robot</label>
                                                <label class="radio inline" for="humancheck-1">
                                                    <input type="radio" name="humancheck" id="humancheck-1" value="human">I'm Human</label>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="control-group">
                                            <label class="control-label" for="confirmsignup"></label>
                                            <div class="controls">
                                                <button id="confirmsignup" name="confirmsignup" class="btn btn-theme btn-block">Sign Up</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div><!-- /signup -->
                        </div><!-- /tab-content -->
                    </div><!-- /modal-body -->

                    <div class="modal-footer">
                        <center>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </center>
                    </div>
                </div><!-- /modal-content -->
            </div><!-- /modal-dialog -->
        </div><!-- /modal -->


        <!-- Header Wrap -->
        <section id="home" name="home"></section>
        <div id="headerwrap">
            <div class="container">
                <div class="row text-center">
                    <div class="sm-padding col-lg-12">
                        <div id="gSignInWrapper" align="center" class="visible-xs visible-sm ">
                            <div id="customBtn" class="customGPlusSignIn">
                              <a href="/early-bird">
                              <span class="icon"></span>
                              <span class="buttonText">Start using ioGrow for free!</span></a>
                            </div>
                          </div>
                        <h1>Focus on your Customers and all else will follow</h1>
<br>
                        

                    </div>


                    <div class="col-lg-2 hidden-xs hidden-sm hidden-md">

                    </div>

                    <div class="col-lg-8">
  <iframe width="753" height="400" src="//www.youtube.com/embed/vom8MUTyFuk" frameborder="0" allowfullscreen=""></iframe>
                       
                    </div>
                    <div class="col-lg-2 hidden-xs hidden-sm hidden-md">

                    </div>
                </div>
            </div> <!-- /container -->
        </div><!-- /headerwrap -->


        <!-- Intro Wrap -->
        <div id="intro">
            <div class="container">
                <div class="row text-center">

                    <div class="col-lg-3">

                        <span class="typcn typcn-group-outline"><span>
                        <h3>Grow your network</h3>
                        <p>Add contacts right from Linkedin , Gmail and Twitter and stay up to date on what's happening with them.<a href="http://iogrow.nerdroid.com/"> </a></p>
                    </div>
                    <div class="col-lg-3">

                        <span class="typcn typcn-star-outline"><span>
                        <h3>Easy to Use</h3>
                        <p>There is no learning curve to follow, we simplify the experience for you so you can focus on what matters, your relationships.</p>
                    </div>
                    <div class="col-lg-3">
                        <span class="typcn typcn-lock-closed-outline"><span>

                        <h3>Privacy & scalability first</h3>
                        <p>We'll never share your contacts, our core solution is built on top of the same secured, scalable infrastructure that powers Google search</p>
                    </div>
                    <div class="col-lg-3">
                        <span class="typcn typcn-weather-cloudy"><span>

                        <h3>Google Apps integration</h3>
                        <p>We are fully integrated with Google Apps from Calender, Drive to Gmail. boost your network using the tools you already know and love</p>
                    </div>
                </div>
                <br>
            </div> <!-- /container -->
        </div><!-- /introwrap -->


         <!-- Features Wrap -->
        <section id="features" name="features"></section>
        <div id="featureswrap">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">Capture potential contacts</h2>
                    <hr>
                    <br>
                    <br>
                    <div class="col-lg-6 features-description">


                  <a href="/static/welcome/img/mark_as_lead.gif" data-lightbox="image-1" data-title="My caption"><img class="img-responsive" src="/static/welcome/img/mark_as_lead.png" alt="" style="
                      width: 350px;
                      /* border: 2px #333 !important; */
                      border: 1px solid rgb(207, 201, 201);
                      padding: 3px;
                      -webkit-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); -moz-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); box-shadow: 4px 9px 16px -4px rgba(163,160,163,1);
                  "> </a><a href="/static/welcome/img/mark_as_lead.gif" data-lightbox="image-1" data-title="My caption"><img class="img-responsive playImg" src="/static/img/play.png" alt=""></a>
                    </div>

                    <div class="col-lg-6 features-description">
                        <br>
                        <!-- Accordion -->
                        <div class="accordion ac" id="accordion2">
                            <div class="accordion-group active">
                                <div class="accordion-heading">
                                    <i class=""></i>
                                    </a>
                                </div><!-- /accordion-heading -->
                                <div id="collapseOne" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                    <p>If you are looking to build a potential network of contacts, it's not just a matter of adding them manually, you can do better!
                                    Use the free Google Chrome extension that allows you to add people right from Linkedin, Twitter and Gmail in one click. Keep the experience you know and connect with the people you need.</p>
                                    </div><!-- /accordion-inner -->
                                </div><!-- /collapse -->
                            </div><!-- /accordion-group -->

                            <br>
                        </div><!-- /accordion -->
                    </div>
                </div><!-- /row -->
                <br><br>
                <div class="row">
                    <h2 class="text-center">Instant Access</h2>
                    <hr><br><br>
                    <div class="col-lg-6 features-description">
                        <br><br>
                        <h4><i class=" "></i>  </h4>
                        <p>When you're calling someone on your contact list, you can instantly access his profile for a detailed look at his information and your common interactions such as notes and tasks.
                        So that you can make each conversation more personal and productive.
                        </p>
                        <br><br>
                    </div>

                    <div class="col-lg-6">
                        <a href="/static/welcome/img/instant_access.gif" data-lightbox="image-1" data-title="My caption"><img class="img-responsive" src="/static/welcome/img/instant_access.png" alt="" style="
    width: 430px;
    /* border: 2px #333 !important; */
    border: 1px solid rgb(207, 201, 201);
    padding: 3px;
    -webkit-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); -moz-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); box-shadow: 4px 9px 16px -4px rgba(163,160,163,1);
"> </a><a href="/static/welcome/img/instant_access.gif" data-lightbox="image-1" data-title="My caption"><img class="img-responsive playImg" src="/static/img/play.png" alt=""></a>
                    </div>

                </div>

<div class="row">
                    <h2 class="text-center">Clear & Concise</h2>
                    <hr>
                    <br>
                    <br>
                    <div class="col-lg-6 features-description">


<a href="/static/welcome/img/clear_concise.gif" data-lightbox="image-1" data-title="My caption"><img class="img-responsive" src="/static/welcome/img/clear_concise.png" alt="" style="
    width: 430px;
    /* border: 2px #333 !important; */
    border: 1px solid rgb(207, 201, 201);
    padding: 3px;
    -webkit-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); -moz-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); box-shadow: 4px 9px 16px -4px rgba(163,160,163,1);
"> </a><a href="/static/welcome/img/clear_concise.gif" data-lightbox="image-1" data-title="My caption"><img class="img-responsive playImg" src="/static/img/play.png" alt=""></a>
                    </div>

                    <div class="col-lg-6 features-description">
                        <br>
                        <!-- Accordion -->
                        <div class="accordion ac" id="accordion2">
                            <div class="accordion-group active">
                                <div class="accordion-heading">
                                    <i class=" "></i>
                                    </a>
                                </div><!-- /accordion-heading -->
                                <div id="collapseOne" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                    <p> We’ve cut the clutter out to provide a clean tool without unnecessary complexities. Organize all of your contacts and tasks, share them with the appropriate people without redundancy and confusion.</p>
                                    </div><!-- /accordion-inner -->
                                </div><!-- /collapse -->
                            </div><!-- /accordion-group -->

                            <br>

                        </div><!-- /accordion -->

                    </div>
                </div><!-- /row -->
                <div class="row">
                    <h2 class="text-center">Everything neatly in one place</h2>
                    <hr><br><br>
                    <div class="col-lg-6 features-description">
                        <br><br>
                        <p>Stop wasting time struggling with spreadsheets, forms, or emails and start focusing on growing your network.
                        A clean, simple interface that collects all your contacts' data, can dramatically saves you time and increase your productivity
                        </p>
                        <br><br>
                    </div>

                    <div class="col-lg-6">
                        <a href="/static/welcome/img/neatly.gif" data-lightbox="image-1" data-title="My caption"><img class="img-responsive" src="/static/welcome/img/neatly.png" alt="" style="
    width: 430px;
    /* border: 2px #333 !important; */
    border: 1px solid rgb(207, 201, 201);
    padding: 3px;
    -webkit-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); -moz-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); box-shadow: 4px 9px 16px -4px rgba(163,160,163,1);
"> </a><a href="/static/welcome/img/neatly.gif" data-lightbox="image-1" data-title="My caption"><img class="img-responsive playImg" src="/static/img/play.png" alt=""></a>
                    </div>

                </div>
                <br>

            </div><!-- /container -->
        </div><!-- /featureswrap -->





        <!-- Pricing Section -->
        <section id="pricing" name="pricing"></section>
        <div id="pricingwrap">
            <div class="container text-center">
                <div class="row">
                    <div class="">
                        <div id="customBtn" class="customGPlusSignIn">
                          <a href="/early-bird" >
                          <span class="icon"></span>
                          <span class="buttonText"><b>Start Now. It's free!</b></span></a>
                        </div>
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /pricingwrap -->

        <!-- Footer Wrap -->
        <section id="contact" name="contact"></section>
        <div id="footerwrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Contact Us</h3>
                        <br>
                        <p>
                            <i class="fa fa-envelope-o"></i> <a href="mailto:contact@iogrow.com" class="white-link">contact@iogrow.com</a>
                        </p>
                    </div>

                    <div class="col-lg-4">

                        <div id="social">
                            <a href="https://www.facebook.com/iogrow" rel="tooltip" title="Facebook" class="facebook">Facebook</a>
                            <a href="https://twitter.com/iogrow" rel="tooltip" title="Twitter" class="twitter">Twitter</a>
                            <a href="#" rel="tooltip" title="LinkedIn" class="linkedin">LinkedIn</a>
                            <a href="#" rel="tooltip" title="YouTube" class="youtube">YouTube</a>
                        </div>
                    </div>


                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /footerwrap -->


        <!-- Copyright Wrap -->
        <div id="copywrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <p>Copyright &copy;2014 ioGrow. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-2">
                        <p><a href="#" class="white-link">Terms</a> | <a href="#" class="white-link">Privacy</a> | <a href="#" class="white-link">Legal</a></p>
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /copywrap (copyright) -->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/welcome/js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/welcome/js/bootstrap.min.js"></script>
        <script src="/static/welcome/js/smoothscroll.js"></script>
        <script>
            $('.carousel').carousel({
                interval: 3500,
                pause: "none"
            })
        </script>
         <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-52188380-1', 'iogrow.com');
          ga('send', 'pageview');

        </script>

    </body>
</html>
