<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ioGrow - a better way for startups to do CRM">
        <meta name="keywords" content="">
        <meta name="author" content="Daniely Wright">
        <link href="/static/welcome/ico/favicon.png" rel="shortcut icon" >
        <title>ioGrow - Generate Leads, Close more Deals and Grow faster</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/welcome/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/static/welcome/css/style.css" rel="stylesheet">
        <link href="/static/welcome/css/responsive.css" rel="stylesheet">
        <link href="/static/welcome/css/linecons.css" rel="stylesheet">
        <link href="/static/welcome/css/social-icons.css" rel="stylesheet">
        <link href="/static/welcome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/welcome/css/lightbox.css" rel="stylesheet" />
        <link rel='stylesheet' href="/static/welcome/css/typicons.min.css" />


        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/static/welcome/js/modernizr.custom.js"></script>
        <script src="/static/welcome/js/jquery-1.11.0.min.js"></script>
        <script src="/static/welcome/js/lightbox.min.js"></script>



    <!-- Place this asynchronous JavaScript just before your </body> tag -->
  <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
 


  <style type="text/css">
    .white-link{
      color:white;
      font-weight:bold;
      font-size:14px;
    }
    #customBtn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 300px;
      border-radius: 5px;
      white-space: nowrap;
    }
    #customBtn a{
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 300px;
      border-radius: 5px;
      white-space: nowrap;
      padding-top:5px;
      padding-bottom:5px;
    }
    #customBtn:hover {
      background: #dd4b39;
      cursor: hand;
    }

    span.label {
      font-weight: bold;
    }
    span.icon {
      background: url('/static/welcome/img/btn_red_32.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-right: #dd4b39 1px solid;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left:15px;
      padding-right: 35px;
      font-size: 16px;
      font-weight:bold;
      letter-spacing: normal !important;
      text-transform: none !important;
      font-weight: bolder;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto',arial,sans-serif;
    }
  </style>
  <!-- In the callback, you would hide the gSignInWrapper element on a
  successful sign in -->


        
    </head>

    <body data-spy="scroll" data-offset="0" data-target="#navigation">

        <!-- Fixed navbar -->
        <div id="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/welcome/">
                        <img src="http://storage.googleapis.com/iogrow-gs/static/iogrow_material_design_logo_welcome.png" style="margin-top: -28px;padding-top: 10px;height:68px;">
                    </a>
                </div>

                <div class="navbar-collapse collapse custom-nav">
                    <ul class="nav navbar-nav cl-effect-13">
                        <li class="active" align="center"><a href="#home" class="smoothScroll" <a href="#home" class="smoothScroll">Home</a></li>
                        <li><a href="#features" align="center" class="smoothScroll">Features</a></li>
                        <li><a href="#pricing" align="center" class="smoothScroll">Pricing</a></li>
                        <li><a href="http://blog.iogrow.com/" target="new" align="center" class="smoothScroll">Blog</a></li>
                        <li><a href="http://chat.iogrow.com/" target="new" align="center" class="smoothScroll"> Support</a></li>
                        <li><div class="addthis_sharing_toolbox" style="margin-top: 6px;"></div></li>
                    </ul>

                    <!-- Sign In / Sign Up -->
                    <ul class="nav navbar-nav navbar-right cl-effect-13 visible-md visible-lg">
                        <!-- <li class="dropdown"><a href="#signin" data-toggle="modal" data-target=".bs-modal-sm"><i class="fa fa-lock"></i> Sign In</a></li> -->
                        <div class="navbar-form">

                           <div id="gSignInWrapper" align="center">
                              <div id="customBtn" class="customGPlusSignIn">
                                <a href="/sign-in" >
                                <span class="icon"></span>
                                <span class="buttonText">Signup for ioGrow</span></a>
                              </div>
                            </div>
                    
                        </div>
                    </ul>
                </div><!--/nav-collapse -->
            </div><!-- /container -->
        </div><!-- /fixed-navbar -->

        <!-- Sign In / Sign Up Modal -->
        <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <br>
                    <div class="bs-example bs-example-tabs">
                        <ul id="myTab" class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                            <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div id="myTabContent" class="tab-content">
                            <!-- Sign In Form -->
                            <div class="tab-pane fade active in" id="signin">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="Email">Email:</label>
                                            <div class="controls">
                                                <input id="Email" name="Email" class="form-control" type="text" placeholder="Your email address" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Password input-->
                                        <div class="control-group">
                                            <label class="control-label" for="passwordinput">Password:</label>
                                            <div class="controls">
                                                <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                                            </div>
                                        </div>

                                        <!-- Multiple Checkboxes (inline) -->
                                        <div class="control-group">
                                            <label class="control-label" for="rememberme"></label>
                                            <div class="controls">
                                                <label class="checkbox inline" for="rememberme-0">
                                                    <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                                                    Remember me
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="control-group">
                                            <label class="control-label" for="signin"></label>
                                            <div class="controls">
                                                <button id="signin" name="signin" class="btn btn-theme btn-block">Sign In</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div><!-- /signin -->

                            <!-- Sign Up Form -->
                            <div class="tab-pane fade" id="signup">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="Email">Email:</label>
                                            <div class="controls">
                                                <input id="Email" name="Email" class="form-control" type="text" placeholder="Your email address" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Password input-->
                                        <div class="control-group">
                                            <label class="control-label" for="password">Password:</label>
                                            <div class="controls">
                                                <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                                                <em>1-8 Characters</em>
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                            <div class="controls">
                                                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Multiple Radios (inline) -->
                                        <br>
                                        <div class="control-group">
                                            <label class="control-label" for="humancheck">Humanity Check:</label>
                                            <div class="controls">
                                                <label class="radio inline" for="humancheck-0">
                                                    <input type="radio" name="humancheck" id="humancheck-0" value="robot" checked="checked">I'm a Robot</label>
                                                <label class="radio inline" for="humancheck-1">
                                                    <input type="radio" name="humancheck" id="humancheck-1" value="human">I'm Human</label>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="control-group">
                                            <label class="control-label" for="confirmsignup"></label>
                                            <div class="controls">
                                                <button id="confirmsignup" name="confirmsignup" class="btn btn-theme btn-block">Sign Up</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div><!-- /signup -->
                        </div><!-- /tab-content -->
                    </div><!-- /modal-body -->

                    <div class="modal-footer">
                        <center>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </center>
                    </div>
                </div><!-- /modal-content -->
            </div><!-- /modal-dialog -->
        </div><!-- /modal -->


        <!-- Header Wrap -->
        <section id="home" name="home"></section>
        <div id="headerwrap">
            <div class="container">
                <div class="row text-center">
                    <div class="sm-padding col-lg-12">
                        <div id="gSignInWrapper" align="center" class="visible-xs visible-sm ">
                            <div id="customBtn" class="customGPlusSignIn">
                              <a href="/early-bird">
                              <span class="icon"></span>
                              <span class="buttonText">Start using ioGrow!</span></a>
                            </div>
                          </div>
                        <h1>Generate Leads, Close more Deals and Grow faster</h1>
<br>
                        

                    </div>

                    </div>


                    <img src="http://storage.googleapis.com/iogrow-cdn/iogrow_screenshot.png"
                    style="margin-top:10px;"
                    class="img-responsive">

                      
                    </div>
                </div>
            </div> <!-- /container -->
        </div><!-- /headerwrap -->


        <!-- Intro Wrap -->
        <div id="intro">
            <div class="container">
                <div class="row text-center">

                    <div class="col-lg-3">

                        <span class="typcn typcn-archive"><span>
                        <h3>Zero Data Entry</h3>
                        <p>Manual data entry is oldschool, Add contacts right from Linkedin and  Gmail using our Chrome extension and stay up to date on what's happening with them.<a href="http://iogrow.nerdroid.com/"> </a></p>
                    </div>
                    <div class="col-lg-3">

                        <span class="typcn typcn-heart-full-outline"><span>
                        <h3>Easy to use</h3>
                        <p>You can get started in no time, We've built the freshest CRM out there by simplifying the experience for you, so you can focus on what matters. your relationships.</p>
                    </div>
                    <div class="col-lg-3">
                        <span class="typcn typcn-news"><span>

                        <h3>Contextual data</h3>
                        <p>We bring all the information related to your contacts and organizations in one place, so you can get the right information at the time you need it, No Googling for your contacts again!</p>
                    </div>
                    <div class="col-lg-3">
                        <span class="typcn typcn-support"><span>

                        <h3>Free Support, Forever</h3>
                        <p>Our desk is open 7 days a week, Free videos and guides and Helpful experts advice, Got a question to ask?<a href="mailto:contact@iogrow.com"> shoot us an email</a>, Our advisors are here to answer your questions and guide you every step of the way</p>
                    </div>
                </div>
                <br>
            </div> <!-- /container -->
        </div><!-- /introwrap -->


         <!-- Features Wrap -->
        <section id="features" name="features"></section>
        <div id="featureswrap">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">Capture potential contacts</h2>
                    <hr>
                    <br>
                    <br>
                    <div class="col-lg-6 features-description">


                  <a href="https://dl.dropboxusercontent.com/u/20304109/s1.png" data-lightbox="image-1" data-title="Mark as lead"><img class="img-responsive" src="https://dl.dropboxusercontent.com/u/20304109/s1.png" alt="" style="
                      width: 350px;
                      /* border: 2px #333 !important; */
                      border: 1px solid rgb(207, 201, 201);
                      padding: 3px;
                      -webkit-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); -moz-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); box-shadow: 4px 9px 16px -4px rgba(163,160,163,1);
                  "> </a>
                    </div>

                    <div class="col-lg-6 features-description">
                        <br>
                        <!-- Accordion -->
                        <div class="accordion ac" id="accordion2">
                            <div class="accordion-group active">
                                <div class="accordion-heading">
                                    <i class=""></i>
                                    </a>
                                </div><!-- /accordion-heading -->
                                <div id="collapseOne" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                    <p>If you are looking to build a potential network of contacts, it's not just a matter of adding them manually, you can do better!
                                    Use the free Google Chrome extension that allows you to add people right from Linkedin and Gmail in one click. Keep the experience you know and connect with the people you need.</p>
                                    </div><!-- /accordion-inner -->
                                </div><!-- /collapse -->
                            </div><!-- /accordion-group -->

                            <br>
                        </div><!-- /accordion -->
                    </div>
                </div><!-- /row -->
                <br><br>
                <div class="row">
                    <h2 class="text-center">Social Discovery</h2>
                    <hr><br><br>
                    <div class="col-lg-6 features-description">
                        <br><br>
                        <h4><i class=" "></i>  </h4>
                        <p> As in real life, you can still keep track on topics you're interested right from ioGrow! sit back, grab some popcorn and we'll get the right information you need from social networks right when you need it.
                        </p>
                        <br><br>
                    </div>

                    <div class="col-lg-6">
                        <a href="https://dl.dropboxusercontent.com/u/20304109/s2.png" data-lightbox="image-1" data-title="Social Discovery"><img class="img-responsive" src="https://dl.dropboxusercontent.com/u/20304109/s2.png" alt="" style="
    width: 430px;
    /* border: 2px #333 !important; */
    border: 1px solid rgb(207, 201, 201);
    padding: 3px;
    -webkit-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); -moz-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); box-shadow: 4px 9px 16px -4px rgba(163,160,163,1);
"> </a>
                    </div>

                </div>

<div class="row">
                    <h2 class="text-center">Simplicity out of the box</h2>
                    <hr>
                    <br>
                    <br>
                    <div class="col-lg-6 features-description">


<a href="https://dl.dropboxusercontent.com/u/20304109/s3.png" data-lightbox="image-1" data-title="My caption"><img class="img-responsive" src="https://dl.dropboxusercontent.com/u/20304109/s3.png" alt="" style="
    width: 430px;
    /* border: 2px #333 !important; */
    border: 1px solid rgb(207, 201, 201);
    padding: 3px;
    -webkit-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); -moz-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); box-shadow: 4px 9px 16px -4px rgba(163,160,163,1);
"> </a>
                    </div>

                    <div class="col-lg-6 features-description">
                        <br>
                        <!-- Accordion -->
                        <div class="accordion ac" id="accordion2">
                            <div class="accordion-group active">
                                <div class="accordion-heading">
                                    <i class=" "></i>
                                    </a>
                                </div><!-- /accordion-heading -->
                                <div id="collapseOne" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                    <p> We’ve cut the clutter out to provide a clean tool without unnecessary complexities. Organize all of your contacts and tasks, share them with the appropriate people without redundancy and confusion.</p>
                                    </div><!-- /accordion-inner -->
                                </div><!-- /collapse -->
                            </div><!-- /accordion-group -->

                            <br>

                        </div><!-- /accordion -->

                    </div>
                </div><!-- /row -->
                <div class="row">
                    <h2 class="text-center">More data</h2>
                    <hr><br><br>
                    <div class="col-lg-6 features-description">
                        <br><br>
                        <p>We believe you need more than what you typed, ioGrow is built to help you ditch data entry, adding an account name will get you the whole information about the company you're looking in no time. Let us give you the information and focus on making the decisions.
                        </p>
                        <br><br>
                    </div>

                    <div class="col-lg-6">
                        <a href="https://dl.dropboxusercontent.com/u/20304109/s4.png" data-lightbox="image-1" data-title="My caption"><img class="img-responsive" src="https://dl.dropboxusercontent.com/u/20304109/s4.png" alt="" style="
    width: 430px;
    /* border: 2px #333 !important; */
    border: 1px solid rgb(207, 201, 201);
    padding: 3px;
    -webkit-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); -moz-box-shadow: 4px 9px 16px -4px rgba(163,160,163,1); box-shadow: 4px 9px 16px -4px rgba(163,160,163,1);
"> </a></div>

                </div>
                <br>

            </div><!-- /container -->
        </div><!-- /featureswrap -->





        <!-- Pricing Section -->
        <section id="pricing" name="pricing"></section>
    
    <div id="pricingwrap">
      <div class="container text-center">
        <br>
        <h2>Our Payment Options</h2>
        <hr><br><br>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="panel panel-custom">
              <div class="panel-heading">
                <h3 class="panel-title">With credit card</h3>
              </div>
              <div class="panel-body">
                <div class="the-price">
                  <h2>$30<span class="subscript"></span></h2>
                  <small>/user/month</small>
                </div>


              </div>
              
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="panel panel-custom">
              <div class="panel-heading">
                <h3 class="panel-title">With Bitcoin</h3>
              </div>
              <div class="panel-body">
                <div class="the-price">
                  <h2>0.02 <img src="https://en.bitcoin.it/w/images/en/c/cb/BC_Logotype.png" style="height:33px;"></h2>
                  <small>/user/month</small>
                </div>
              </div>
              
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="panel panel-custom">
              <div class="panel-heading">
                <h3 class="panel-title">With a Tweet</h3>
              </div>
              <div class="panel-body">
              <div class="the-price">
                <h2>Share a tweet<span class="subscript"></span></h2>
                <small>One month free!</small>
              </div>
              </div>
              
            </div>
          </div>
        </div><!-- /row -->
        <div class="row">
            <div id="gSignInWrapper" align="center">
                              <div id="customBtn" class="customGPlusSignIn">
                                <a href="/sign-in" >
                                <span class="icon"></span>
                                <span class="buttonText">Start using ioGrow (Free Trial)</span></a>
                              </div>
            </div>
        </div>
      </div><!-- /container -->
    </div><!-- /pricingwrap -->
        <!-- Footer Wrap -->
        <section id="contact" name="contact"></section>
        <div id="footerwrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Contact Us</h3>
                        <br>
                        <p>
                            <i class="fa fa-envelope-o"></i> <a href="mailto:contact@iogrow.com" class="white-link">contact@iogrow.com</a>
                        </p>
                    </div>

                    <div class="col-lg-4">

                        <div id="social">
                            <a href="https://www.facebook.com/iogrow" target="new" rel="tooltip" title="Facebook" class="facebook">Facebook</a>
                            <a href="https://twitter.com/iogrow" rel="tooltip" target="new" title="Twitter" class="twitter">Twitter</a>
                            <a href="https://plus.google.com/110820504821255547625" target="new" rel="tooltip" title="gplus" class="googleplus">Google plus</a>
                        </div>
                    </div>


                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /footerwrap -->


        <!-- Copyright Wrap -->
        <div id="copywrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <p>Copyright &copy;2014 ioGrow. All Rights Reserved</p>
                    </div>
                    <div class="col-lg-2">
                        <p><a href="https://hackpad.com/ep/pad/static/tmLKLxTWMDR" target="new" class="white-link">Terms & Services</a>  <!--a href="#" class="white-link">Privacy</a> | <a href="#" class="white-link">Legal</a--></p>
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /copywrap (copyright) -->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/welcome/js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/welcome/js/bootstrap.min.js"></script>
        <script src="/static/welcome/js/smoothscroll.js"></script>
        <script>
            $('.carousel').carousel({
                interval: 3500,
                pause: "none"
            })
        </script>
         <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-52188380-1', 'iogrow.com');
          ga('send', 'pageview');

        </script>
        <!--script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/2I3RB4gt8stvq2jV6fs9A.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
 
//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//
 
// Set colors
UserVoice.push(['set', {
  accent_color: '#e23a39',
  trigger_color: 'white',
  trigger_background_color: '#e23a39'
}]);
 
// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);
 
// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'satisfaction', trigger_position: 'top-right' }]);
 
// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'satisfaction' }]);
 
// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>

<script type="text/javascript">
$(document).ready(function(){

  $("#pricingIndex").text("0")
  $("#price").text(9.99+ "$");
  $("#note").text("Paid Monthly")

$("#nextPricing").click(function(){

 var pricings= [{"price":9.99,"note":"Paid monthly","plan":"Starter"},
                {"price":49.99,"note":"Paid per 6 months","plan":"Awesome"},
                {"price":99.99,"note":"Paid annually","plan":"Super Duper"}]

var current = parseInt($("#pricingIndex").text())
current++;
if (current > 2) current = 0;
$("#price").text(pricings[current].price+ "$");
$("#note").text(pricings[current].note)
$("#plan").text(pricings[current].plan)
$("#pricingIndex").text(current)

})

})
</script-->



 <script type="text/javascript">
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js?onload=render';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();

  function render() {
    console.log(gapi);
    console.log('***');
    gapi.signin.render('buttonText', {
      'approvalprompt':'force',
      'callback': 'signinCallback',
      'clientid': '935370948155-qm0tjs62kagtik11jt10n9j7vbguok9d.apps.googleusercontent.com',
      'cookiepolicy': 'none',
      'requestvisibleactions': 'http://schemas.google.com/AddActivity',
      'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/calendar https://www.google.com/m8/feeds',
      'accesstype':'offline'

    });


  }


  function signinCallback(){

       gapi.client.load('plus','v1', function(){
         var request = gapi.client.plus.people.get({
           'userId': 'me'
         });
         request.execute(function(resp) {
           email = resp.emails[0].value;
           image = resp['image']['url']
           name = resp.displayName;

           // add to keen io

           var trackSubscribers = function () {

                    var subscriber = {
                        item: email,
                        name: name,
                        image:image,
                        keen: {
                                timestamp: new Date()
                            }
                    };

                    Keen.addEvent("subscribers", subscriber);
                };

                if (email != "")
                {
                    console.log(email);
                    trackSubscribers();
                    console.log("added to the list");
                }

         });
        });


    }
  </script>



<script type="text/javascript">
            var Keen=Keen||{configure:function(e){this._cf=e},addEvent:function(e,t,n,i){this._eq=this._eq||[],this._eq.push([e,t,n,i])},setGlobalProperties:function(e){this._gp=e},onChartsReady:function(e){this._ocrq=this._ocrq||[],this._ocrq.push(e)}};(function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"==document.location.protocol?"https://":"http://")+"dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();

    // Configure the Keen object with your Project ID and (optional) access keys.
            Keen.configure({
            projectId: "5383793ece5e43557f000012",
            writeKey: "76bf630ec41d8fcaec86767f38ce51cc0fd6cb8792c4e6aed3cce9865ac450e681bc578ffe8b274e0ee0e8129ae67bcdadf0138053cc93c440415a5d14eb5a1088c154124b62d57f68e8d8e22d658600e8ed543ab1c8ca7a2758fefceebd6950950ac1c41bccc7578c1beb1d4439107f", // required for sending events
            readKey: "260c85b3e9510925a8cae6675db9449b14acd2e37e89ba8e82d2c75c64775e9d783266614fb0dea034d6a2a7f441b6f000016413b84a8360068ec2c3b98742c584515b0499d2eaee8745368066351e0b69e004dfe3703a0aaec77cb3d34f4ececf1c490ffa63e597aab9b576def5bd9d"    // required for doing analysis
        });
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53aef4a2107c3e52"></script>
    </body>
</html>
